docs/automate-image-validation-tasks-using-ai-vision-MUBsRB17anjiTCdo.json
{"createdAt":"2025-01-29T02:07:00.447Z","updatedAt":"2025-02-01T00:11:07.874Z","id":"MUBsRB17anjiTCdo","name":"Automate Image Validation Tasks using AI Vision","active":false,"nodes":[{"parameters":{},"id":"6c78b4c7-993b-410d-93e7-e11b3052e53b","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","position":[440,1740],"typeVersion":1},{"parameters":{"schemaType":"manual","inputSchema":"{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"is_valid\": { \"type\": \"boolean\" },\n        \"photo_description\": {\n          \"type\": \"string\",\n          \"description\": \"describe the appearance of the person(s), object(s) if any and the background in the image. Mention any colours of each if possible.\"\n        },\n\t\t\"reasons\": {\n          \"type\": \"array\",\n          \"items\": { \"type\": \"string\" }\n        }\n\t}\n}"},"id":"c2ab6497-6d6d-483b-bd43-494ae95394c0","name":"Structured Output Parser","type":"@n8n/n8n-nodes-langchain.outputParserStructured","position":[1920,420],"typeVersion":1.2},{"parameters":{"assignments":{"assignments":[{"id":"6baa3e08-8957-454e-8ee9-d5414a0ff990","name":"data","type":"array","value":"={{\n[\n{\n  \"name\": \"portrait_1\",\n  \"url\": \"https://drive.google.com/file/d/1zs963iFkO-3g2rKak8Hcy555h55D8gjF/view?usp=sharing\"\n},\n{\n  \"name\": \"portrait_2\",\n  \"url\": \"https://drive.google.com/file/d/19FyDcs68dZauQSEf6SEulJMag51SPsFy/view?usp=sharing\"\n},\n{\n  \"name\": \"portrait_3\",\n  \"url\": \"https://drive.google.com/file/d/1gbXjfNYE7Tvuw_riFmHMKoqPPu696VfW/view?usp=sharing\",\n\n},\n{\n  \"name\": \"portrait_4\",\n  \"url\": \"https://drive.google.com/file/d/1s19hYdxgfMkrnU25l6YIDq-myQr1tQMa/view?usp=sharing\"\n},\n{\n  \"name\": \"portrait_5\",\n  \"url\": \"https://drive.google.com/file/d/193FqIXJWAKj6O2SmOj3cLBfypHBkgdI5/view?usp=sharing\"\n}\n]\n}}"}]},"options":{}},"id":"b23f5298-17c7-49ac-a8ca-78e006b2d294","name":"Photo URLs","type":"n8n-nodes-base.set","position":[820,200],"typeVersion":3.4},{"parameters":{"fieldToSplitOut":"data","options":{}},"id":"8d445f73-dff7-485b-87e2-5b64da09cbf0","name":"Photos To List","type":"n8n-nodes-base.splitOut","position":[1000,200],"typeVersion":1},{"parameters":{"operation":"download","fileId":{"__rl":true,"mode":"url","value":"={{ $json.url }}"},"options":{}},"id":"7fb3b829-88a7-42ec-abfd-3ddaa042c916","name":"Download Photos","type":"n8n-nodes-base.googleDrive","position":[1160,200],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"5LP9aPOCoDSbZsTa","name":"Google Drive account"}}},{"parameters":{"operation":"resize","width":1024,"height":1024,"resizeOption":"onlyIfLarger","options":{}},"id":"b8644f6d-691f-49bc-b0fe-33a68c59638d","name":"Resize For AI","type":"n8n-nodes-base.editImage","position":[1540,260],"typeVersion":1},{"parameters":{"content":"## 1. Import Photos To Validate\n[Read more about using Google Drive](https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.googledrive)\n\nIn this demonstration, we'll import 5 different portraits to test our AI vision model. For convenience, we'll use Google Drive but feel free to swap this out for other sources such as other storage or by using webhooks.","height":438,"width":594,"color":7},"id":"ecb266f2-0d2d-4cbe-a641-26735f0bdf18","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[760,0],"typeVersion":1},{"parameters":{"content":"## 2. Verify Passport Photo Validity Using AI Vision Model\n[Learn more about Basic LLM Chain](https://docs.n8n.io/integrations/builtin/cluster-nodes/root-nodes/n8n-nodes-langchain.chainllm)\n\nVerifying if a photo is suitable for a passport photo is a great use-case for AI vision and to automate the process is an equally great use-case for using n8n. Here's we've pasted in the UK governments guidelines copied from gov.uk and have asked the AI to validate the incoming photos following those rules. A structured output parser is used to simplify the AI response which can be used to update a database or backend of your choosing.","height":589.25,"width":774,"color":7},"id":"a1034923-0905-4cdd-a6bf-21d28aa3dd71","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[1380,0],"typeVersion":1},{"parameters":{"content":"## Try It Out!\n\n### This workflow takes a portrait and verifies if it makes for a valid passport photo. It achieves this by using an AI vision model following the UK government guidance.\n\nOpenAI's vision model was found to perform well for understanding photographs and so is recommended for this type of workflow. However, any capable vision model should work.\n\n### Need Help?\nJoin the [Discord](https://discord.com/invite/XPKeKXeB7d) or ask in the [Forum](https://community.n8n.io/)!","height":610.0104651162792,"width":386},"id":"af231ee5-adff-4d27-ba5f-8c04ddd4892d","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[340,-180],"typeVersion":1},{"parameters":{"modelName":"models/gemini-1.5-flash","options":{}},"id":"0a36ba22-90b2-4abf-943b-c1cc8e7317d5","name":"Google Gemini Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","position":[1720,420],"typeVersion":1,"credentials":{"googlePalmApi":{"id":"HaVC7pJc5uUNt90e","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"promptType":"define","text":"Assess if the image is a valid according to the passport photo criteria as set by the UK Government.","hasOutputParser":true,"messages":{"messageValues":[{"message":"=You help verify passport photo validity.\n\n## Rules for digital photos\nhttps://www.gov.uk/photos-for-passports\n\n### The quality of your digital photo\nYour photo must be:\n* clear and in focus\n* in colour\n* unaltered by computer software\n* at least 600 pixels wide and 750 pixels tall\n* at least 50KB and no more than 10MB\n\n### What your digital photo must show\nThe digital photo must:\n* contain no other objects or people\n* be taken against a plain white or light-coloured background\n* be in clear contrast to the background\n* not have ‘red eye’\n* If you’re using a photo taken on your own device, include your head, shoulders and upper body. Do not crop your photo - it will be done for you.\n\nIn your photo you must:\n* be facing forwards and looking straight at the camera\n* have a plain expression and your mouth closed\n* have your eyes open and visible\n* not have hair in front of your eyes\n* not have a head covering (unless it’s for religious or medical reasons)\n* not have anything covering your face\n* not have any shadows on your face or behind you - shadows on light background are okay\n* Do not wear glasses in your photo unless you have to do so. If you must wear glasses, they cannot be sunglasses or tinted glasses, and you must make sure your eyes are not covered by the frames or any glare, reflection or shadow.\n\n### Photos of babies and children\n* Children must be on their own in the picture. Babies must not be holding toys or using dummies.\n* Children under 6 do not have to be looking directly at the camera or have a plain expression.\n* Children under one do not have to have their eyes open. You can support their head with your hand, but your hand must not be visible in the photo.\n* Children under one should lie on a plain light-coloured sheet. Take the photo from above.\n\n"},{"type":"HumanMessagePromptTemplate","messageType":"imageBinary"}]}},"id":"e07e1655-2683-4e21-b2b7-e0c0bfb569c0","name":"Passport Photo Validator","type":"@n8n/n8n-nodes-langchain.chainLlm","position":[1720,260],"typeVersion":1.4},{"parameters":{"schemaType":"manual","inputSchema":"{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"is_valid\": { \"type\": \"boolean\" },\n\t\t\"photo_description\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"description\": \"Describe la apariencia de los objetos en la imagen, incluyendo la factura, y el fondo. Menciona colores y detalles relevantes.\"\n\t\t},\n\t\t\"invoice_data\": {\n\t\t\t\"type\": \"object\",\n\t\t\t\"properties\": {\n\t\t\t\t\"invoice_number\": { \"type\": \"string\" },\n\t\t\t\t\"issue_date\": { \"type\": \"string\", \"format\": \"date\" },\n\t\t\t\t\"due_date\": { \"type\": \"string\", \"format\": \"date\" },\n\t\t\t\t\"total_amount\": { \"type\": \"number\" },\n\t\t\t\t\"client_name\": { \"type\": \"string\" },\n\t\t\t\t\"company_name\": { \"type\": \"string\" },\n\t\t\t\t\"amount_due\": { \"type\": \"number\" },\n\t\t\t\t\"payments\": {\n\t\t\t\t\t\"type\": \"array\",\n\t\t\t\t\t\"items\": {\n\t\t\t\t\t\t\"type\": \"object\",\n\t\t\t\t\t\t\"properties\": {\n\t\t\t\t\t\t\t\"payment_date\": { \"type\": \"string\", \"format\": \"date\" },\n\t\t\t\t\t\t\t\"payment_amount\": { \"type\": \"number\" },\n\t\t\t\t\t\t\t\"payment_method\": { \"type\": \"string\" }\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"required\": [\"payment_date\", \"payment_amount\"]\n\t\t\t\t\t}\n\t\t\t\t},\n\t\t\t\t\"charges\": {\n\t\t\t\t\t\"type\": \"array\",\n\t\t\t\t\t\"items\": {\n\t\t\t\t\t\t\"type\": \"object\",\n\t\t\t\t\t\t\"properties\": {\n\t\t\t\t\t\t\t\"charge_description\": { \"type\": \"string\" },\n\t\t\t\t\t\t\t\"charge_amount\": { \"type\": \"number\" }\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"required\": [\"charge_description\", \"charge_amount\"]\n\t\t\t\t\t}\n\t\t\t\t}\n\t\t\t},\n\t\t\t\"required\": [\n\t\t\t\t\"invoice_number\",\n\t\t\t\t\"issue_date\",\n\t\t\t\t\"due_date\",\n\t\t\t\t\"total_amount\",\n\t\t\t\t\"client_name\",\n\t\t\t\t\"company_name\"\n\t\t\t]\n\t\t},\n\t\t\"reasons\": {\n\t\t\t\"type\": \"array\",\n\t\t\t\"items\": { \"type\": \"string\" }\n\t\t}\n\t},\n\t\"required\": [\"is_valid\", \"invoice_data\"]\n}"},"id":"478892df-702b-42fe-b4ee-99027b0c797e","name":"Structured Output Parser1","type":"@n8n/n8n-nodes-langchain.outputParserStructured","position":[1960,1940],"typeVersion":1.2},{"parameters":{"assignments":{"assignments":[{"id":"6baa3e08-8957-454e-8ee9-d5414a0ff990","name":"data","type":"array","value":"={{\n[\n{\n  \"name\": \"Factura UTE\",\n  \"url\": \"https://drive.google.com/file/d/1B0wwFDg3VVBRwsJNrn0pniZQIHEyo8EP/view?usp=sharing\"\n},\n{\n  \"name\": \"Credito\",\n  \"url\": \"https://drive.google.com/file/d/1G39v2Oeb1l_u1_FF0s3TFMk76kvqCHrx/view?usp=sharing\",\n},\n]\n}}"}]},"options":{}},"id":"f69847c7-1f4c-4fe5-a419-87e227c20f48","name":"Photo URLs1","type":"n8n-nodes-base.set","position":[840,1700],"typeVersion":3.4},{"parameters":{"fieldToSplitOut":"data","options":{}},"id":"bd5cd3d3-41e1-4bd4-b06f-e4b731f39d72","name":"Photos To List1","type":"n8n-nodes-base.splitOut","position":[1020,1700],"typeVersion":1},{"parameters":{"operation":"download","fileId":{"__rl":true,"mode":"url","value":"={{ $json.url }}"},"options":{}},"id":"d923d687-27e7-427f-8fcf-dcc3dc4b9931","name":"Download Photos1","type":"n8n-nodes-base.googleDrive","position":[1180,1700],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"5LP9aPOCoDSbZsTa","name":"Google Drive account"}}},{"parameters":{"operation":"resize","width":1024,"height":1024,"resizeOption":"onlyIfLarger","options":{}},"id":"97541986-d52b-4c3c-8534-9b1634066315","name":"Resize For AI1","type":"n8n-nodes-base.editImage","position":[1500,1760],"typeVersion":1},{"parameters":{"content":"## 1. Import Photos To Validate\n[Read more about using Google Drive](https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.googledrive)\n\nIn this demonstration, we'll import 5 different portraits to test our AI vision model. For convenience, we'll use Google Drive but feel free to swap this out for other sources such as other storage or by using webhooks.","height":438,"width":594,"color":7},"id":"019c3983-5673-48a6-8795-61b62d5e73fb","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[780,1500],"typeVersion":1},{"parameters":{"content":"## 2. Verify Passport Photo Validity Using AI Vision Model\n[Learn more about Basic LLM Chain](https://docs.n8n.io/integrations/builtin/cluster-nodes/root-nodes/n8n-nodes-langchain.chainllm)\n\nVerifying if a photo is suitable for a passport photo is a great use-case for AI vision and to automate the process is an equally great use-case for using n8n. Here's we've pasted in the UK governments guidelines copied from gov.uk and have asked the AI to validate the incoming photos following those rules. A structured output parser is used to simplify the AI response which can be used to update a database or backend of your choosing.","height":589.25,"width":774,"color":7},"id":"ba051cd8-0759-4d7f-9732-9e3a858156b7","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[1400,1500],"typeVersion":1},{"parameters":{"content":"## Try It Out!\n\n### This workflow takes a portrait and verifies if it makes for a valid passport photo. It achieves this by using an AI vision model following the UK government guidance.\n\nOpenAI's vision model was found to perform well for understanding photographs and so is recommended for this type of workflow. However, any capable vision model should work.\n\n### Need Help?\nJoin the [Discord](https://discord.com/invite/XPKeKXeB7d) or ask in the [Forum](https://community.n8n.io/)!","height":610.0104651162792,"width":386},"id":"b8517519-2fe0-40f4-b9f5-dd6dc117eba8","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[360,1320],"typeVersion":1},{"parameters":{"modelName":"models/gemini-1.5-flash","options":{}},"id":"56d58375-8ebc-4fb0-ba98-e1cd4bcad477","name":"Google Gemini Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","position":[1520,1940],"typeVersion":1,"credentials":{"googlePalmApi":{"id":"HaVC7pJc5uUNt90e","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"content":"## First Version","height":1100,"width":2100,"color":4},"type":"n8n-nodes-base.stickyNote","position":[200,-360],"typeVersion":1,"id":"96778002-4b41-4414-83a0-db21141ce973","name":"Sticky Note6"},{"parameters":{"promptType":"define","text":"Assess if the image meets the criteria set by Uruguayan regulations for document photographs, such as invoices or receipts. Consider aspects such as size, quality, background, and other specific requirements that may be relevant for document validation in Uruguay.","hasOutputParser":true,"messages":{"messageValues":[{"message":"=Reglas para fotos digitales de facturas\nhttps://www.gub.uy/direccion-general-impositiva/comunicacion/publicaciones/documentacion-operaciones-parte-contribuyentes\n\nGuía Completa de Análisis de Documentos Financieros para Uruguay\n\n1. Requisitos Técnicos de la Imagen\nLa foto debe cumplir con:\nResolución mínima de 600x750 píxeles\nTamaño entre 50KB y 10MB\nColor (no blanco y negro)\nSin ediciones ni alteraciones digitales\nFormato JPG, PNG o PDF\n\n2. Requisitos de Captura\nElementos Fundamentales:\nDocumento completo visible en el encuadre\nTodas las esquinas visibles\nSin sombras que oculten información\nSin reflejos o brillos\nFondo claro y limpio\nTexto completamente legible\n\n3. Información Crítica a Identificar\nA. Datos de Identificación:\nRUT de la empresa emisora\nNúmero de factura/documento\nTipo de comprobante (factura, e-ticket, recibo de sueldo)\nPeríodo de emisión y vencimiento\n\nB. Información del Beneficiario/Cliente:\nNombre completo\nNúmero de documento (CI/RUT)\nDomicilio\nCargo o rol (en caso de recibos de sueldo)\n\nC. Identificación de Montos Clave\nPara Recibos de Sueldo:\n**NOMINAL**: Monto bruto antes de descuentos\n**LÍQUIDO**: Monto final después de todos los descuentos\nDesglose de:\n  - Salario base\n  - Complementos\n  - Horas extras\n  - Aguinaldo\n  - Otros beneficios\n\nDescuentos y Retenciones:\nSNIS (Sistema Nacional Integrado de Salud)\nIASS (Impuesto de Asistencia a la Seguridad Social)\nRetenciones legales\nOtros descuentos específicos\n\nD. Para Facturas:\nSubtotal\nIVA desglosado\nTotal final\nForma de pago\nEstado del pago\n\n4. Elementos de Verificación\nSubtotales claramente visibles\nCálculos correctos entre montos\nPeríodo de pago correspondiente\nFechas de emisión y vencimiento\nFirmas y sellos necesarios\n\n5. Tipos de Documentos Aceptados\nRecibos de sueldo\nFacturas (e-Facturas)\nE-tickets\nRecibos de pago\nEstados de cuenta\nConstancias de pago\nComprobantes de transferencias bancarias\n\n6. Verificación de Autenticidad\nCódigo QR (si aplica)\nNúmero de CAE\nTimbres digitales\nFirmas autorizadas\nSellos institucionales\n\n7. Consideraciones Especiales\nPara documentos múltiples, fotografiar cada página por separado\nDocumentos continuos requieren captura completa\nDocumentos con información en ambas caras requieren ambas fotografías\nPreferir versiones digitales originales cuando estén disponibles\n\n8. Advertencias y Restricciones\nNo se aceptan documentos:\n  - Cortados o parcialmente visibles\n  - Con tachaduras o correcciones manuales\n  - Vencidos o fuera de vigencia\n  - Con información personal sensible no relevante\n  - Ilegibles o borrosos\n\n9. Elementos de Validación Final\nVerificar que todos los montos cuadren correctamente\nConfirmar que las fechas sean coherentes\nAsegurar que toda la información crítica sea visible\nValidar que los descuentos y retenciones sean acordes a la normativa vigente\n\n10. Información Adicional Requerida\nPeríodo de facturación\nModalidad de pago\nEntidad pagadora\nNúmero de control o referencia\nInformación de contacto del emisor"},{"type":"HumanMessagePromptTemplate","messageType":"imageBinary"}]}},"id":"458b8f36-7da1-4ebd-94cb-7c334b39d5f8","name":"Bill and charge Photo Validator","type":"@n8n/n8n-nodes-langchain.chainLlm","position":[1740,1760],"typeVersion":1.4},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{"responseFormat":"text"}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1680,1940],"id":"299cc321-377c-45cd-8ee5-548dcab4658f","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"Xhw7jhGubqs4BVIn","name":"OpenAi ai_agent"}}}],"connections":{"Photo URLs":{"main":[[{"node":"Photos To List","type":"main","index":0}]]},"Resize For AI":{"main":[[{"node":"Passport Photo Validator","type":"main","index":0}]]},"Photos To List":{"main":[[{"node":"Download Photos","type":"main","index":0}]]},"Download Photos":{"main":[[{"node":"Resize For AI","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Passport Photo Validator","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Passport Photo Validator","type":"ai_outputParser","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Photo URLs1","type":"main","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"Bill and charge Photo Validator","type":"ai_outputParser","index":0}]]},"Photo URLs1":{"main":[[{"node":"Photos To List1","type":"main","index":0}]]},"Photos To List1":{"main":[[{"node":"Download Photos1","type":"main","index":0}]]},"Download Photos1":{"main":[[{"node":"Resize For AI1","type":"main","index":0}]]},"Resize For AI1":{"main":[[{"node":"Bill and charge Photo Validator","type":"main","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Bill and charge Photo Validator","type":"ai_languageModel","index":0}]]}},"settings":{},"staticData":null,"meta":{"templateId":"2420","templateCredsSetupCompleted":true},"pinData":{},"versionId":"ea26ecfb-bc92-460a-994d-d03d6bd435b3","triggerCount":0,"tags":[]}