docs/automate-image-validation-with-openai-MUBsRB17anjiTCdo.json
{"createdAt":"2025-01-29T02:07:00.447Z","updatedAt":"2025-02-01T18:02:59.742Z","id":"MUBsRB17anjiTCdo","name":"Automate Image Validation with OpenAi","active":false,"nodes":[{"parameters":{},"id":"6c78b4c7-993b-410d-93e7-e11b3052e53b","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","position":[540,2040],"typeVersion":1},{"parameters":{"schemaType":"manual","inputSchema":"{\n    \"type\": \"object\",\n    \"properties\": {\n        \"is_valid\": { \n            \"type\": \"boolean\" \n        },\n        \"photo_quality\": {\n            \"type\": \"object\",\n            \"properties\": {\n                \"description\": {\n                    \"type\": \"string\",\n                    \"description\": \"Describe la apariencia del documento y calidad de la imagen\"\n                },\n                \"meets_requirements\": {\n                    \"type\": \"boolean\"\n                },\n                \"resolution\": {\n                    \"width\": { \"type\": \"number\" },\n                    \"height\": { \"type\": \"number\" }\n                },\n                \"file_size\": { \"type\": \"number\" }\n            }\n        },\n        \"document_data\": {\n            \"type\": \"object\",\n            \"properties\": {\n                \"document_type\": {\n                    \"type\": \"string\",\n                    \"enum\": [\"salary_receipt\", \"invoice\", \"payment_receipt\", \"bank_statement\"]\n                },\n                \"control_number\": { \"type\": \"string\" },\n                \"issue_date\": { \"type\": \"string\", \"format\": \"date\" },\n                \"due_date\": { \"type\": \"string\", \"format\": \"date\" },\n                \"period\": {\n                    \"start_date\": { \"type\": \"string\", \"format\": \"date\" },\n                    \"end_date\": { \"type\": \"string\", \"format\": \"date\" }\n                },\n                \"issuer\": {\n                    \"type\": \"object\",\n                    \"properties\": {\n                        \"name\": { \"type\": \"string\" },\n                        \"rut\": { \"type\": \"string\" },\n                        \"address\": { \"type\": \"string\" }\n                    }\n                },\n                \"recipient\": {\n                    \"type\": \"object\",\n                    \"properties\": {\n                        \"name\": { \"type\": \"string\" },\n                        \"document_id\": { \"type\": \"string\" },\n                        \"address\": { \"type\": \"string\" },\n                        \"position\": { \"type\": \"string\" }\n                    }\n                },\n                \"amounts\": {\n                    \"type\": \"object\",\n                    \"properties\": {\n                        \"nominal\": { \"type\": \"number\" },\n                        \"liquid\": { \"type\": \"number\" },\n                        \"currency\": { \"type\": \"string\" }\n                    }\n                },\n                \"deductions\": {\n                    \"type\": \"array\",\n                    \"items\": {\n                        \"type\": \"object\",\n                        \"properties\": {\n                            \"description\": { \"type\": \"string\" },\n                            \"amount\": { \"type\": \"number\" },\n                            \"type\": { \"type\": \"string\" }\n                        }\n                    }\n                },\n                \"earnings\": {\n                    \"type\": \"array\",\n                    \"items\": {\n                        \"type\": \"object\",\n                        \"properties\": {\n                            \"description\": { \"type\": \"string\" },\n                            \"amount\": { \"type\": \"number\" },\n                            \"type\": { \"type\": \"string\" }\n                        }\n                    }\n                },\n                \"payment_info\": {\n                    \"type\": \"object\",\n                    \"properties\": {\n                        \"method\": { \"type\": \"string\" },\n                        \"status\": { \"type\": \"string\" },\n                        \"payment_date\": { \"type\": \"string\", \"format\": \"date\" }\n                    }\n                },\n                \"authentication\": {\n                    \"type\": \"object\",\n                    \"properties\": {\n                        \"has_qr\": { \"type\": \"boolean\" },\n                        \"has_digital_stamp\": { \"type\": \"boolean\" },\n                        \"has_signature\": { \"type\": \"boolean\" },\n                        \"cae_number\": { \"type\": \"string\" }\n                    }\n                }\n            },\n            \"required\": [\n                \"document_type\",\n                \"control_number\",\n                \"issue_date\",\n                \"issuer\",\n                \"recipient\",\n                \"amounts\"\n            ]\n        },\n        \"validation_errors\": {\n            \"type\": \"array\",\n            \"items\": { \"type\": \"string\" }\n        }\n    },\n    \"required\": [\"is_valid\", \"photo_quality\", \"document_data\"]\n}"},"id":"478892df-702b-42fe-b4ee-99027b0c797e","name":"Structured Output Parser1","type":"@n8n/n8n-nodes-langchain.outputParserStructured","position":[2100,2080],"typeVersion":1.2},{"parameters":{"assignments":{"assignments":[{"id":"6baa3e08-8957-454e-8ee9-d5414a0ff990","name":"data","type":"array","value":"={{\n[\n{\n  \"name\": \"Factura UTE\",\n  \"url\": \"https://drive.google.com/file/d/1B0wwFDg3VVBRwsJNrn0pniZQIHEyo8EP/view?usp=sharing\"\n},\n{\n  \"name\": \"Credito\",\n  \"url\": \"https://drive.google.com/file/d/1G39v2Oeb1l_u1_FF0s3TFMk76kvqCHrx/view?usp=sharing\",\n},\n]\n}}"}]},"options":{}},"id":"f69847c7-1f4c-4fe5-a419-87e227c20f48","name":"Photo URLs1","type":"n8n-nodes-base.set","position":[940,2020],"typeVersion":3.4},{"parameters":{"fieldToSplitOut":"data","options":{}},"id":"bd5cd3d3-41e1-4bd4-b06f-e4b731f39d72","name":"Photos To List1","type":"n8n-nodes-base.splitOut","position":[1120,2020],"typeVersion":1},{"parameters":{"operation":"download","fileId":{"__rl":true,"mode":"url","value":"={{ $json.url }}"},"options":{}},"id":"d923d687-27e7-427f-8fcf-dcc3dc4b9931","name":"Download Photos1","type":"n8n-nodes-base.googleDrive","position":[1280,2020],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"5LP9aPOCoDSbZsTa","name":"Google Drive account"}}},{"parameters":{"operation":"resize","width":1024,"height":1024,"resizeOption":"onlyIfLarger","options":{}},"id":"97541986-d52b-4c3c-8534-9b1634066315","name":"Resize For AI1","type":"n8n-nodes-base.editImage","position":[1640,1880],"typeVersion":1},{"parameters":{"content":"## 1. Import Photos To Validate\n[Read more about using Google Drive](https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.googledrive)\n\nIn this demonstration, we'll import 5 different portraits to test our AI vision model. For convenience, we'll use Google Drive but feel free to swap this out for other sources such as other storage or by using webhooks.","height":438,"width":594,"color":7},"id":"019c3983-5673-48a6-8795-61b62d5e73fb","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[880,1820],"typeVersion":1},{"parameters":{"content":"## 2. AI-Powered Financial Document Analyzer for Uruguayan Credit Assessment\n[Learn more about Basic LLM Chain](https://docs.n8n.io/integrations/builtin/cluster-nodes/root-nodes/n8n-nodes-langchain.chainllm)\n\nVerifying financial documents for credit assessment in Uruguay is a crucial use-case for AI vision, and automating this process through n8n provides significant efficiency gains. We've incorporated the guidelines from Uruguay's financial regulators (BCU and DGI) and have configured the AI to validate incoming document images following these regulations. The system analyzes critical elements such as nominal and liquid amounts, payment details, and document authenticity, while ensuring compliance with local financial requirements.\n\nThe AI model has been trained to:\n\nValidate document authenticity and legibility\nExtract and verify key financial information\nIdentify both nominal and liquid amounts\nVerify compliance with Uruguayan financial regulations\nEnsure document quality meets processing standards\nA structured output parser is used to organize the AI's analysis into a standardized format, which can be easily integrated into your existing credit assessment systems, databases, or any backend of your choosing. This automated approach significantly reduces processing time while maintaining high accuracy in document verification.","height":849,"width":774,"color":7},"id":"ba051cd8-0759-4d7f-9732-9e3a858156b7","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[1560,1420],"typeVersion":1},{"parameters":{"content":"### This workflow analyzes financial documents (invoices, salary receipts, and payment vouchers) and verifies if they are valid for credit processes in Uruguay. This is achieved using an AI vision model that follows the regulations of the Central Bank of Uruguay (BCU) and the General Tax Directorate (DGI), focusing especially on the validation of nominal and liquid amounts, as well as the authenticity and legibility of the document.\n\nOpenAI's vision model was found to perform well for understanding photographs and so is recommended for this type of workflow. However, any capable vision model should work.\n","height":610.0104651162792,"width":386},"id":"b8517519-2fe0-40f4-b9f5-dd6dc117eba8","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[420,1640],"typeVersion":1},{"parameters":{"content":"## First Version - Financial Document Analyzer for Credit Assessment\n### This workflow demonstrates how to use AI vision to analyze and validate financial documents (such as salary receipts, invoices, and payment vouchers) for credit assessment in Uruguay. The system follows specific guidelines from Uruguayan financial regulators (BCU and DGI) to verify document authenticity and extract critical financial information.","height":1100,"width":2100,"color":4},"type":"n8n-nodes-base.stickyNote","position":[340,1280],"typeVersion":1,"id":"96778002-4b41-4414-83a0-db21141ce973","name":"Sticky Note6"},{"parameters":{"promptType":"define","text":"Assess if the image meets the criteria set by Uruguayan regulations for document photographs, such as invoices or receipts. Consider aspects such as size, quality, background, and other specific requirements that may be relevant for document validation in Uruguay.","hasOutputParser":true,"messages":{"messageValues":[{"message":"=Reglas para fotos digitales de facturas\nhttps://www.gub.uy/direccion-general-impositiva/comunicacion/publicaciones/documentacion-operaciones-parte-contribuyentes\n\nGuía Completa de Análisis de Documentos Financieros para Uruguay\n\n1. Requisitos Técnicos de la Imagen\nLa foto debe cumplir con:\nResolución mínima de 600x750 píxeles\nTamaño entre 50KB y 10MB\nColor (no blanco y negro)\nSin ediciones ni alteraciones digitales\nFormato JPG, PNG o PDF\n\n2. Requisitos de Captura\nElementos Fundamentales:\nDocumento completo visible en el encuadre\nTodas las esquinas visibles\nSin sombras que oculten información\nSin reflejos o brillos\nFondo claro y limpio\nTexto completamente legible\n\n3. Información Crítica a Identificar\nA. Datos de Identificación:\nRUT de la empresa emisora\nNúmero de factura/documento\nTipo de comprobante (factura, e-ticket, recibo de sueldo)\nPeríodo de emisión y vencimiento\n\nB. Información del Beneficiario/Cliente:\nNombre completo\nNúmero de documento (CI/RUT)\nDomicilio\nCargo o rol (en caso de recibos de sueldo)\n\nC. Identificación de Montos Clave\nPara Recibos de Sueldo:\n**NOMINAL**: Monto bruto antes de descuentos\n**LÍQUIDO**: Monto final después de todos los descuentos\nDesglose de:\n  - Salario base\n  - Complementos\n  - Horas extras\n  - Aguinaldo\n  - Otros beneficios\n\nDescuentos y Retenciones:\nSNIS (Sistema Nacional Integrado de Salud)\nIASS (Impuesto de Asistencia a la Seguridad Social)\nRetenciones legales\nOtros descuentos específicos\n\nD. Para Facturas:\nSubtotal\nIVA desglosado\nTotal final\nForma de pago\nEstado del pago\n\n4. Elementos de Verificación\nSubtotales claramente visibles\nCálculos correctos entre montos\nPeríodo de pago correspondiente\nFechas de emisión y vencimiento\nFirmas y sellos necesarios\n\n5. Tipos de Documentos Aceptados\nRecibos de sueldo\nFacturas (e-Facturas)\nE-tickets\nRecibos de pago\nEstados de cuenta\nConstancias de pago\nComprobantes de transferencias bancarias\n\n6. Verificación de Autenticidad\nCódigo QR (si aplica)\nNúmero de CAE\nTimbres digitales\nFirmas autorizadas\nSellos institucionales\n\n7. Consideraciones Especiales\nPara documentos múltiples, fotografiar cada página por separado\nDocumentos continuos requieren captura completa\nDocumentos con información en ambas caras requieren ambas fotografías\nPreferir versiones digitales originales cuando estén disponibles\n\n8. Advertencias y Restricciones\nNo se aceptan documentos:\n  - Cortados o parcialmente visibles\n  - Con tachaduras o correcciones manuales\n  - Vencidos o fuera de vigencia\n  - Con información personal sensible no relevante\n  - Ilegibles o borrosos\n\n9. Elementos de Validación Final\nVerificar que todos los montos cuadren correctamente\nConfirmar que las fechas sean coherentes\nAsegurar que toda la información crítica sea visible\nValidar que los descuentos y retenciones sean acordes a la normativa vigente\n\n10. Información Adicional Requerida\nPeríodo de facturación\nModalidad de pago\nEntidad pagadora\nNúmero de control o referencia\nInformación de contacto del emisor"},{"type":"HumanMessagePromptTemplate","messageType":"imageBinary"}]}},"id":"458b8f36-7da1-4ebd-94cb-7c334b39d5f8","name":"Bill and charge Photo Validator","type":"@n8n/n8n-nodes-langchain.chainLlm","position":[1880,1880],"typeVersion":1.4},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{"responseFormat":"text"}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1820,2080],"id":"299cc321-377c-45cd-8ee5-548dcab4658f","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"Xhw7jhGubqs4BVIn","name":"OpenAi ai_agent"}}}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Photo URLs1","type":"main","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"Bill and charge Photo Validator","type":"ai_outputParser","index":0}]]},"Photo URLs1":{"main":[[{"node":"Photos To List1","type":"main","index":0}]]},"Photos To List1":{"main":[[{"node":"Download Photos1","type":"main","index":0}]]},"Download Photos1":{"main":[[{"node":"Resize For AI1","type":"main","index":0}]]},"Resize For AI1":{"main":[[{"node":"Bill and charge Photo Validator","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Bill and charge Photo Validator","type":"ai_languageModel","index":0}]]}},"settings":{},"staticData":null,"meta":{"templateId":"2420","templateCredsSetupCompleted":true},"pinData":{},"versionId":"22801727-9541-4377-841c-3b9e09e7b0b4","triggerCount":0,"tags":[]}