docs/call-ia-agent-vapi-&-n8n-ilQH8dtr0ljhBotu.json
{"createdAt":"2025-02-16T22:33:09.608Z","updatedAt":"2025-02-22T03:50:22.108Z","id":"ilQH8dtr0ljhBotu","name":"Call IA Agent Vapi & n8n","active":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"request","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-940,1720],"id":"50a09132-f290-448a-a06a-3972c9ed67f3","name":"Webhook","webhookId":"9dd6f1ca-9f47-4fe6-af8e-740366823398"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"25e99b1b-574a-427f-8e6c-ed5f12fb9f58","leftValue":"={{ $json.body.data.fields[6].value }}","rightValue":"=","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"657c1dd5-b340-46fd-a2dc-730bbcb02f24","leftValue":"={{ $json.body.data.fields[7].options[0].id }}","rightValue":"={{ $json.body.data.fields[7].options[0].id }}","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-240,1700],"id":"fb360f54-5455-4a41-864c-a0324924abcb","name":"If"},{"parameters":{"useJson":true,"claimsJson":"={\n  \"orgId\": \"936d3611-e664-40a8-83f3-6639f9df24de\",\n  \"exp\": {{ Math.floor(Date.now()/1000) + 3600 }},\n  \"iat\": {{ Math.floor(Date.now()/1000) }},\n  \"iss\": \"vapi\"\n}","options":{"algorithm":"HS256"}},"type":"n8n-nodes-base.jwt","typeVersion":1,"position":[-40,1520],"id":"697cd8ba-e9bd-4362-8ca0-ef2b35dc7a71","name":"JWT","credentials":{"jwtAuth":{"id":"wTrwCVpWM6SRvcM2","name":"JWT Auth account"}}},{"parameters":{"sendTo":"={{ $json['Email Address'] }}","subject":"Thanks for your interest","emailType":"text","message":"=Estimado/a {{ $json['Full Name'] }},\n\nGracias por tu interés en los servicios de automatización e IA de Modtecs. Entendemos que nuestra propuesta actual podría no ajustarse a tu presupuesto, sin embargo, nos gustaría ofrecerte una consulta estratégica gratuita (30 minutos) donde podremos:\n\n• Analizar los procesos actuales de tu negocio\n• Identificar oportunidades de automatización\n• Sugerir soluciones que se ajusten a tu presupuesto\n• Compartir casos de éxito similares a tu industria\n\nPuedes agendar tu consulta gratuita aquí: [Agenda](https://cal.com/modtecs/30min)\n\nEstamos comprometidos con el crecimiento tecnológico de la comunidad latina en Pittsburgh.\n\n¡Esperamos poder ayudarte!\n\nAlexander\nModtecs - Miembro PHDC","options":{"appendAttribution":false}},"id":"8e9d7074-40cb-458b-9846-d62909034b56","name":"Guide message","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-100,2400],"webhookId":"4a8eb44e-fc4c-47de-962b-20d0e2444e5c","credentials":{"gmailOAuth2":{"id":"TDGC962mg5h85KHo","name":"Gmail account"}}},{"parameters":{},"id":"d8e899a4-2774-4b2f-a582-42de3f306a59","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-700,2420]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"66b3b75a-50ce-4b7f-a4f2-fbb9c9127653","leftValue":"={{ $json.body.message.analysis.successEvaluation }}\n","rightValue":"true","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"id":"5befb634-b997-4364-9281-e7b84a513e23","name":"Call Success?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-700,2160]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d1be90de-4520-44d1-87ad-53116a8d048e","leftValue":"={{ $json.body.message.analysis.structuredData.qualified }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"a0216029-3e8e-480a-ad6c-e2cfefde4006","name":"Qualified","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-320,2140]},{"parameters":{"content":"## 2. Make call based on new sign up\n","height":627,"width":1238},"id":"bc170d78-ee2b-4008-b6f1-afcada8abaf3","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-380,1360]},{"parameters":{"content":"## 3. Tools Assistant VAPI Create Booking\n\n","height":592,"width":1070,"color":3},"id":"63761ffb-07e9-45cb-85ff-f859c4a5f79b","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1020,720]},{"parameters":{"content":"# 4. End of Call Closing Report and update data.\n\n","height":607,"width":1866,"color":5},"id":"99dc420b-eb0e-472a-a10f-9d01a193b34f","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1000,2020]},{"parameters":{"sendTo":"={{ $('Update Record').item.json.fields['Email Address'] }}","subject":"={{ $json.message.content.email.subject }}","emailType":"text","message":"={{ $json.message.content.email.body }}","options":{"appendAttribution":false}},"id":"d50fa174-391b-4926-a632-e34a790705db","name":"Email Personalized Email","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[480,2120],"webhookId":"980f857b-6973-4715-bcf7-802ea85dfe9f","credentials":{"gmailOAuth2":{"id":"TDGC962mg5h85KHo","name":"Gmail account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=[Email Generation Instructions]\n\nTask: Generate a personalized follow-up email for {{ $json.fields['Full Name'] }} based on the call summary: {{ $json.body.message.analysis.summary }}\n\nKey Requirements:\n- Do not mention pricing or financial commitments\n- Must be in Spanish\n- Must maintain professional but warm tone\n- Must reference specific details from the call summary\n- Must include next steps with Cal.com booking link\n\nEmail Structure Guidelines:\n1. Opening: Personal greeting referencing specific business context\n2. Body:\n   - Reference key points from conversation\n   - Highlight identified automation opportunities\n   - Suggest relevant solutions based on their needs\n3. Call to Action:\n   - Include scheduling link for technical consultation\n   - [https://cal.com/modtecs/30min]\n   - Make next steps clear and actionable\n4. Closing:\n   - Professional signature\n   - Modtecs and PHDC affiliation\n\nTone and Style:\n- Friendly but professional\n- Solution-focused\n- Value-oriented\n- Culturally appropriate for Latino business community\n\nImportant Notes:\n- Exclude any pricing discussions\n- Focus on value proposition\n- Personalize based on call details\n- Keep it concise and action-oriented\n\nVariables to include:\n- Name: {{ $json.fields['Full Name'] }}\n- Call Summary: {{ $json.body.message.analysis.summary }}"},{"content":"[Email Format Example]\n\nHola {{first_name}},\n\nExcelente nuestra conversación sobre {{business_context}}. Me entusiasma ver cómo podemos automatizar los procesos que mencionaste para {{specific_pain_point}}.\n\nAgendemos tu consulta técnica aquí: [https://cal.com/modtecs/30min]\n\n¡Gracias por tu interés!\n\nAlexander\nModtecs | PHDC"},{}]},"jsonOutput":true,"options":{}},"id":"d5c4bcf7-58f7-4ba3-b4fe-6461443c6554","name":"OpenAI2","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.7,"position":[100,2120],"credentials":{"openAiApi":{"id":"Xhw7jhGubqs4BVIn","name":"OpenAi ai_agent"}}},{"parameters":{"operation":"verify","token":"={{ $json.token }}","options":{"complete":true}},"type":"n8n-nodes-base.jwt","typeVersion":1,"position":[180,1520],"id":"9c0dae71-4b43-4f3a-ba34-ef0292b86d2a","name":"JWT1","credentials":{"jwtAuth":{"id":"wTrwCVpWM6SRvcM2","name":"JWT Auth account"}}},{"parameters":{"content":"# 1. Request form Tally.io and Vapi.ai\n## Principal Webhook","height":620,"width":600,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-1020,1360],"typeVersion":1,"id":"6c8cc6f8-5a16-45d5-9cbc-cd32c174f699","name":"Sticky Note3"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.eventId }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"tally-forms"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7c24fb81-b322-45ed-afb7-2917fcd6cd37","leftValue":"={{ $json.body.message.type }}","rightValue":"end-of-call-report","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"closingCall"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-700,1720],"id":"f1e59b7c-e8ae-4dd5-8dbd-3c7612d7929a","name":"Switch"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1yNmneH13wRBhUS1gZFVxGH1x3hgFByS2vXubc2sbBY4","mode":"list","cachedResultName":"List Business PHDC Pitt","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yNmneH13wRBhUS1gZFVxGH1x3hgFByS2vXubc2sbBY4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":946107849,"mode":"list","cachedResultName":"Tally Forms Response","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yNmneH13wRBhUS1gZFVxGH1x3hgFByS2vXubc2sbBY4/edit#gid=946107849"},"columns":{"mappingMode":"defineBelow","value":{"formName":"={{ $json.body.data.formName }}","name":"={{ $json.body.data.fields[0].value }}","nameCompany":"={{ $json.body.data.fields[2].value }}","websiteCompany":"={{ $json.body.data.fields[2].value }}","rolCompany":"={{ $json.body.data.fields[4].value }}","objetive":"={{ $json.body.data.fields[5].value }}","phone_number":"={{ $json.body.data.fields[6].value }}","IACall":"={{ $json.body.data.fields[7].options[0].text }}","email":"={{ $json.body.data.fields[1].value }}","userId":"={{ $json.body.data.responseId }}"},"matchingColumns":["userId"],"schema":[{"id":"userId","displayName":"userId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"formName","displayName":"formName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"nameCompany","displayName":"nameCompany","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"websiteCompany","displayName":"websiteCompany","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"rolCompany","displayName":"rolCompany","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"objetive","displayName":"objetive","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"phone_number","displayName":"phone_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"IACall","displayName":"IACall","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"recordId","displayName":"recordId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"transcript","displayName":"transcript","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Call Summary","displayName":"Call Summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Qualified","displayName":"Qualified","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"user_learning","displayName":"user_learning","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"headers","displayName":"headers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"params","displayName":"params","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"body","displayName":"body","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"webhookUrl","displayName":"webhookUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"executionMode","displayName":"executionMode","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-240,1520],"id":"abc51ccd-0710-4313-a38e-9927cde6e42e","name":"Save data positive","credentials":{"googleSheetsOAuth2Api":{"id":"aEdSCFYMafgqbWmJ","name":"Google Sheets account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1yNmneH13wRBhUS1gZFVxGH1x3hgFByS2vXubc2sbBY4","mode":"list","cachedResultName":"List Business PHDC Pitt","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yNmneH13wRBhUS1gZFVxGH1x3hgFByS2vXubc2sbBY4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":946107849,"mode":"list","cachedResultName":"Tally Forms Response","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yNmneH13wRBhUS1gZFVxGH1x3hgFByS2vXubc2sbBY4/edit#gid=946107849"},"columns":{"mappingMode":"defineBelow","value":{"formName":"={{ $json.body.data.formName }}","name":"={{ $json.body.data.fields[0].value }}","nameCompany":"={{ $json.body.data.fields[2].value }}","websiteCompany":"={{ $json.body.data.fields[2].value }}","rolCompany":"={{ $json.body.data.fields[4].value }}","objetive":"={{ $json.body.data.fields[5].value }}","phone_number":"={{ $json.body.data.fields[6].value }}","IACall":"={{ $json.body.data.fields[7].options[0].text }}","email":"={{ $json.body.data.fields[1].value }}","userId":"{{ $json.body.data.userId }}"},"matchingColumns":["userId"],"schema":[{"id":"userId","displayName":"userId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"formName","displayName":"formName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"nameCompany","displayName":"nameCompany","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"websiteCompany","displayName":"websiteCompany","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"rolCompany","displayName":"rolCompany","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"objetive","displayName":"objetive","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"phone_number","displayName":"phone_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"IACall","displayName":"IACall","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"recordId","displayName":"recordId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"transcript","displayName":"transcript","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Call Summary","displayName":"Call Summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Qualified","displayName":"Qualified","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"user_learning","displayName":"user_learning","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[0,1720],"id":"8787b149-041f-45fe-aa06-8a9fd79a74c8","name":"Save data negative","credentials":{"googleSheetsOAuth2Api":{"id":"aEdSCFYMafgqbWmJ","name":"Google Sheets account"}}},{"parameters":{"httpMethod":"POST","path":"request_booking","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-840,820],"id":"648e3729-f829-4b83-a30e-672988a92872","name":"Triggers getReservation Tool","webhookId":"efcd0315-c3e1-4759-bd3d-f2916a5a6e5f"},{"parameters":{"promptType":"define","text":"={{ $json.body.message }}","options":{"systemMessage":"=The current date is {{ $now.format('yyyy-MM-dd') }}}\n\nYou are a calendar assistant. Your responsibilities include creating, getting, and deleting events in the user's calendar.\n\n- From the following conversation with the user, I want you to extract the date of the reservation, the name of the person making the reservation and the start time of the reservation schedule a meet of 30 minutes(Always 30 minutes).\nProceed to make the reservation with the extracted data.\n\nBe sure not to mention where we can view or manage the reservation.\n\n**Calendar Management Tools**\n- Use \"Get Events\" to fetch calendar schedules when requested.\n- Use \"Create Event with Attendee\" when an event includes a participant and check avaliable in this time in the calendar.\n- Use \"Create Event\" for solo events.\n- Use \"Delete Event\" to delete an event. You must use \"Get Events\" first to\nget the ID of the event to delete.\n- Use \"Update Event\" to update an event. You must use \"Get Events\" first to get the ID of the event to update.\n\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-620,820],"id":"972210a2-642e-484a-83ec-f092eee2a5d0","name":"Analyzes Conversation"},{"parameters":{"respondWith":"json","responseBody":"={\n    \"results\": [\n        {\n            \"toolCallId\": \"{{ $('Triggers getReservation Tool').item.json.body.message.toolCalls[0].id }}\",\n            \"result\": {{ JSON.stringify($json.output) }}\n        }\n    ]\n}\n","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-220,820],"id":"e09188d7-d57b-460a-9e5f-627d89265f68","name":"Voice AI Response"},{"parameters":{"model":"gpt-4o","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.1,"position":[-700,1100],"id":"288082d5-49bb-4699-9229-e0fbf11e7a42","name":"GPT Model","credentials":{"openAiApi":{"id":"Xhw7jhGubqs4BVIn","name":"OpenAi ai_agent"}}},{"parameters":{"calendar":{"__rl":true,"value":"rodersolutions@gmail.com","mode":"list","cachedResultName":"rodersolutions@gmail.com"},"start":"={{ $fromAI(\"startTime\",\"find the starting time for the reservation\") }}","end":"={{ $fromAI('End', `Always assume that the end time is 30 minutes after the startTime`, 'string') }}","additionalFields":{"attendees":["={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Attendees', ``, 'string') }}","={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Attendees', ``, 'string') }}"],"color":"3","conferenceDataUi":{"conferenceDataValues":{"conferenceSolution":"hangoutsMeet"}},"description":"={{ $fromAI(\"totalGuests\",\"the total number of guests for the booking, make this say Guests: [Total Number of Guests]\") }}","guestsCanInviteOthers":true,"guestsCanSeeOtherGuests":true,"maxAttendees":5,"sendUpdates":"all","summary":"=AI Automation with {{ $fromAI(\"title\",\"the title of the meet person making the reservation\") }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.2,"position":[-220,1100],"id":"e2a04aba-296d-48c9-876d-49575186c26f","name":"Create Booking Vapi","credentials":{"googleCalendarOAuth2Api":{"id":"XXXcBcRUCvPMdvbp","name":"Google Calendar ACTIVE"}}},{"parameters":{"method":"POST","url":"https://api.vapi.ai/call","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('JWT').item.json.token }}"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={\n  \"assistantId\": \"89aa504f-022f-4bbb-9ce2-6bee0b236973\",\n  \"assistantOverrides\": {\n    \"variableValues\": {\n      \"firstname\": \"{{ $('Save data positive').item.json.name }}\",\n      \"email\": \"{{ $('Save data positive').item.json.email }}\",\n      \"userid\":\"{{ $('Save data positive').item.json.userId }}\"\n    }\n  },\n  \"customer\": {\n    \"number\": \"{{ $('Save data positive').item.json.phone_number }}\"\n  },\n  \"phoneNumberId\": \"d7d41e42-391c-498a-9344-c989576024a1\"\n}\n","options":{}},"id":"8b25cdc9-7ebf-4387-a92b-e7ddf538489e","name":"Start Call Vapi Number","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[380,1520]},{"parameters":{"content":"## Explain function workflow \n\n### Formulario para comenzar el flujo de llamadas y agendas\n[Tally Forms](https://tally.so/r/nPGOEV)\n\n### Agenda Cal.com\n[Alex Meet IA Automation](https://cal.com/modtecs/30min)\n\n### 1- Activacion del webhook\nVerificamos si es un inicio de llamada o cierre de llamada con el nodo [Switch]\n\n### 2- Validamos si desea una llamada con IA!\nCreacion del user en el sheet con el true/false de la llamada\nSI es true procedemos a hacer la llamada\n\n### 3- Tool Assistant \nLa llamada hace la consulta al calendario para agendar la meet en los horarios disponbles.\n\n### 4- Closing Call Report\nEsto hace un reporte general de la llamada.\nActualizamos el Sheet con la informacion actual\nEnviamos mail diferenciados dependiendo si esta cualificado como para ser un posible cliente.","height":600,"width":780,"color":6},"type":"n8n-nodes-base.stickyNote","position":[80,720],"typeVersion":1,"id":"b853a124-ead9-45f7-8c7a-7f1b0a69fe8d","name":"Sticky Note5"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1yNmneH13wRBhUS1gZFVxGH1x3hgFByS2vXubc2sbBY4","mode":"list","cachedResultName":"List Business PHDC Pitt","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yNmneH13wRBhUS1gZFVxGH1x3hgFByS2vXubc2sbBY4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":946107849,"mode":"list","cachedResultName":"Tally Forms Response","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yNmneH13wRBhUS1gZFVxGH1x3hgFByS2vXubc2sbBY4/edit#gid=946107849"},"columns":{"mappingMode":"defineBelow","value":{"formName":"=","name":"=","nameCompany":"=","websiteCompany":"=","rolCompany":"=","objetive":"=","phone_number":"={{ $('Webhook').item.json.body.message.customer.number }}","IACall":"=","user_learning":"={{ $json.body.message.analysis.structuredData.user_learning }}","Call Summary":"={{ $json.body.message.analysis.summary }}","Qualified":"={{ $json.body.message.analysis.structuredData.qualified }}","transcript":"={{ $json.body.message.artifact.transcript }}"},"matchingColumns":["userId"],"schema":[{"id":"userId","displayName":"userId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"formName","displayName":"formName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"nameCompany","displayName":"nameCompany","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"websiteCompany","displayName":"websiteCompany","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"rolCompany","displayName":"rolCompany","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"objetive","displayName":"objetive","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"phone_number","displayName":"phone_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"IACall","displayName":"IACall","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"recordId","displayName":"recordId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"transcript","displayName":"transcript","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Call Summary","displayName":"Call Summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Qualified","displayName":"Qualified","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"user_learning","displayName":"user_learning","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"headers","displayName":"headers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"params","displayName":"params","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"body","displayName":"body","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"webhookUrl","displayName":"webhookUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"executionMode","displayName":"executionMode","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-100,2120],"id":"e9be7044-554c-4b11-9d89-f240e57e0188","name":"Qualified Update TRUE","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"aEdSCFYMafgqbWmJ","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1yNmneH13wRBhUS1gZFVxGH1x3hgFByS2vXubc2sbBY4","mode":"list","cachedResultName":"List Business PHDC Pitt","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yNmneH13wRBhUS1gZFVxGH1x3hgFByS2vXubc2sbBY4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":946107849,"mode":"list","cachedResultName":"Tally Forms Response","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yNmneH13wRBhUS1gZFVxGH1x3hgFByS2vXubc2sbBY4/edit#gid=946107849"},"filtersUI":{"values":[{"lookupColumn":"recordId","lookupValue":"{{ $json.body.message.call.assistantOverrides.variableValues.record_id }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-320,2400],"id":"db162b30-0871-4692-8d16-73799bc8ff65","name":"Qualified Update FALSE","credentials":{"googleSheetsOAuth2Api":{"id":"aEdSCFYMafgqbWmJ","name":"Google Sheets account"}}},{"parameters":{"resource":"calendar","calendar":{"__rl":true,"value":"rodersolutions@gmail.com","mode":"list","cachedResultName":"rodersolutions@gmail.com"},"timeMin":"={{ $fromAI(\"startTime\",\"find the starting time for the reservation\") }}","timeMax":"={{ $fromAI('End', `Always assume that the end time is 30 minutes after the startTime`, 'string') }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.2,"position":[-380,1100],"id":"99e0f8e6-be04-4cf2-98f3-c32705dde016","name":"Get Avaliable","credentials":{"googleCalendarOAuth2Api":{"id":"XXXcBcRUCvPMdvbp","name":"Google Calendar ACTIVE"}}},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"rodersolutions@gmail.com","mode":"list","cachedResultName":"rodersolutions@gmail.com"},"options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-540,1100],"id":"c67f54d6-b938-4c4d-98e3-521cb4958ce1","name":"Get All Event","credentials":{"googleCalendarOAuth2Api":{"id":"XXXcBcRUCvPMdvbp","name":"Google Calendar ACTIVE"}}}],"connections":{"Webhook":{"main":[[{"node":"Switch","type":"main","index":0}]]},"If":{"main":[[{"node":"Save data positive","type":"main","index":0}],[{"node":"Save data negative","type":"main","index":0}]]},"JWT":{"main":[[{"node":"JWT1","type":"main","index":0}]]},"Call Success?":{"main":[[{"node":"Qualified","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Qualified":{"main":[[{"node":"Qualified Update TRUE","type":"main","index":0}],[{"node":"Qualified Update FALSE","type":"main","index":0}]]},"OpenAI2":{"main":[[{"node":"Email Personalized Email","type":"main","index":0}]]},"Switch":{"main":[[{"node":"If","type":"main","index":0}],[{"node":"Call Success?","type":"main","index":0}]]},"JWT1":{"main":[[{"node":"Start Call Vapi Number","type":"main","index":0}]]},"Save data positive":{"main":[[{"node":"JWT","type":"main","index":0}]]},"Triggers getReservation Tool":{"main":[[{"node":"Analyzes Conversation","type":"main","index":0}]]},"Analyzes Conversation":{"main":[[{"node":"Voice AI Response","type":"main","index":0}]]},"GPT Model":{"ai_languageModel":[[{"node":"Analyzes Conversation","type":"ai_languageModel","index":0}]]},"Create Booking Vapi":{"ai_tool":[[{"node":"Analyzes Conversation","type":"ai_tool","index":0}]]},"Qualified Update TRUE":{"main":[[{"node":"OpenAI2","type":"main","index":0}]]},"Qualified Update FALSE":{"main":[[{"node":"Guide message","type":"main","index":0}]]},"Get Avaliable":{"ai_tool":[[{"node":"Analyzes Conversation","type":"ai_tool","index":0}]]},"Get All Event":{"ai_tool":[[{"node":"Analyzes Conversation","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.youchatbot.io","x-real-ip":"34.96.41.225","x-forwarded-for":"34.96.41.225","x-forwarded-proto":"https","connection":"upgrade","content-length":"1449","accept":"application/json, text/plain, */*","content-type":"application/json","user-agent":"Tally Webhooks","accept-encoding":"gzip, compress, deflate, br"},"params":{},"query":{},"body":{"eventId":"8cdef7f7-fba9-4e97-8443-d20813c83f96","eventType":"FORM_RESPONSE","createdAt":"2025-02-22T03:46:09.163Z","data":{"responseId":"76evBz","submissionId":"76evBz","respondentId":"NgKeQb","formId":"nPGOEV","formName":"IA Automatizacion para tu negocio","createdAt":"2025-02-22T03:46:09.000Z","fields":[{"key":"question_7b5D9L","label":"Cual es su nombre?","type":"INPUT_TEXT","value":"mauricio"},{"key":"question_zNo8bk","label":"Cual es tu email preferencial?","type":"INPUT_EMAIL","value":"mauriciovulin@gmail.com"},{"key":"question_gerAZd","label":"Cual es el nombre de tu empresa?","type":"INPUT_TEXT","value":"pepegrillo"},{"key":"question_yNkyv4","label":"Cual es el sitio web de tu empresa?","type":"INPUT_TEXT","value":"pepegrillo.com"},{"key":"question_XryGY4","label":"Cual es tu rol principal en la empresa?","type":"INPUT_TEXT","value":"manganga"},{"key":"question_8z5k8x","label":"Cual es tu principal objetivo con conocer un poco mas acerca de IA?","type":"INPUT_TEXT","value":"por que se me canta"},{"key":"question_zNvzJq","label":"Cual es su numero de telefono?","type":"INPUT_PHONE_NUMBER","value":"+14129293058"},{"key":"question_545kvd","label":"Le gustaria recibir una llamada telefonica de un agente de ventas IA?","type":"MULTIPLE_CHOICE","value":["555afdc8-2a0b-4288-adb4-2ca2f31f0b9f"],"options":[{"id":"555afdc8-2a0b-4288-adb4-2ca2f31f0b9f","text":"SI"},{"id":"846c706d-911d-4c12-8564-01d135c7d2a8","text":"NO"}]}]}},"webhookUrl":"https://n8n.youchatbot.io/webhook/request","executionMode":"production"}}]},"versionId":"67919869-7d4d-4674-ba76-5fe2b0e3b75a","triggerCount":2,"tags":[]}