docs/call-ia-agent-vapi-&-n8n-ilQH8dtr0ljhBotu.json
{"createdAt":"2025-02-16T22:33:09.608Z","updatedAt":"2025-02-21T04:48:21.952Z","id":"ilQH8dtr0ljhBotu","name":"Call IA Agent Vapi & n8n","active":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"request","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-940,1720],"id":"50a09132-f290-448a-a06a-3972c9ed67f3","name":"Webhook","webhookId":"9dd6f1ca-9f47-4fe6-af8e-740366823398"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"25e99b1b-574a-427f-8e6c-ed5f12fb9f58","leftValue":"={{ $json.body.data.fields[6].value }}","rightValue":"=","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"657c1dd5-b340-46fd-a2dc-730bbcb02f24","leftValue":"={{ $json.body.data.fields[7].options[0].id }}","rightValue":"={{ $json.body.data.fields[7].options[0].id }}","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-240,1700],"id":"fb360f54-5455-4a41-864c-a0324924abcb","name":"If"},{"parameters":{"useJson":true,"claimsJson":"={\n  \"orgId\": \"936d3611-e664-40a8-83f3-6639f9df24de\",\n  \"exp\": {{ Math.floor(Date.now()/1000) + 3600 }},\n  \"iat\": {{ Math.floor(Date.now()/1000) }},\n  \"iss\": \"vapi\"\n}","options":{"algorithm":"HS256"}},"type":"n8n-nodes-base.jwt","typeVersion":1,"position":[-40,1520],"id":"697cd8ba-e9bd-4362-8ca0-ef2b35dc7a71","name":"JWT","credentials":{"jwtAuth":{"id":"wTrwCVpWM6SRvcM2","name":"JWT Auth account"}}},{"parameters":{"sendTo":"={{ $json['Email Address'] }}","subject":"Thanks for your interest","emailType":"text","message":"=Estimado/a {{ $json['Full Name'] }},\n\nGracias por tu interés en los servicios de automatización e IA de Modtecs. Entendemos que nuestra propuesta actual podría no ajustarse a tu presupuesto, sin embargo, nos gustaría ofrecerte una consulta estratégica gratuita (30 minutos) donde podremos:\n\n• Analizar los procesos actuales de tu negocio\n• Identificar oportunidades de automatización\n• Sugerir soluciones que se ajusten a tu presupuesto\n• Compartir casos de éxito similares a tu industria\n\nPuedes agendar tu consulta gratuita aquí: [Agenda](https://cal.com/modtecs/30min)\n\nEstamos comprometidos con el crecimiento tecnológico de la comunidad latina en Pittsburgh.\n\n¡Esperamos poder ayudarte!\n\nAlexander\nModtecs - Miembro PHDC","options":{"appendAttribution":false}},"id":"8e9d7074-40cb-458b-9846-d62909034b56","name":"Guide message","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-100,2400],"webhookId":"4a8eb44e-fc4c-47de-962b-20d0e2444e5c","credentials":{"gmailOAuth2":{"id":"TDGC962mg5h85KHo","name":"Gmail account"}}},{"parameters":{},"id":"d8e899a4-2774-4b2f-a582-42de3f306a59","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-700,2420]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"66b3b75a-50ce-4b7f-a4f2-fbb9c9127653","leftValue":"={{ $json.body.message.analysis.successEvaluation }}\n","rightValue":"true","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"id":"5befb634-b997-4364-9281-e7b84a513e23","name":"Call Success?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-700,2160]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d1be90de-4520-44d1-87ad-53116a8d048e","leftValue":"={{ $json.body.message.analysis.structuredData.qualified }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"a0216029-3e8e-480a-ad6c-e2cfefde4006","name":"Qualified","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-320,2140]},{"parameters":{"content":"## 2. Make call based on new sign up\n","height":627,"width":1238},"id":"bc170d78-ee2b-4008-b6f1-afcada8abaf3","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-380,1360]},{"parameters":{"content":"## 3. Tools Assistant VAPI Create Booking\n\n","height":612,"width":1070,"color":3},"id":"63761ffb-07e9-45cb-85ff-f859c4a5f79b","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1020,720]},{"parameters":{"content":"# 4. End of Call Closing Report and update data.\n\n","height":607,"width":1866,"color":5},"id":"99dc420b-eb0e-472a-a10f-9d01a193b34f","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1000,2020]},{"parameters":{"sendTo":"={{ $('Update Record').item.json.fields['Email Address'] }}","subject":"={{ $json.message.content.email.subject }}","emailType":"text","message":"={{ $json.message.content.email.body }}","options":{"appendAttribution":false}},"id":"d50fa174-391b-4926-a632-e34a790705db","name":"Email Personalized Email","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[480,2120],"webhookId":"980f857b-6973-4715-bcf7-802ea85dfe9f","credentials":{"gmailOAuth2":{"id":"TDGC962mg5h85KHo","name":"Gmail account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=[Email Generation Instructions]\n\nTask: Generate a personalized follow-up email for {{ $json.fields['Full Name'] }} based on the call summary: {{ $('End of Call Report').item.json.body.message.analysis.summary }}\n\nKey Requirements:\n- Do not mention pricing or financial commitments\n- Must be in Spanish\n- Must maintain professional but warm tone\n- Must reference specific details from the call summary\n- Must include next steps with Cal.com booking link\n\nEmail Structure Guidelines:\n1. Opening: Personal greeting referencing specific business context\n2. Body:\n   - Reference key points from conversation\n   - Highlight identified automation opportunities\n   - Suggest relevant solutions based on their needs\n3. Call to Action:\n   - Include scheduling link for technical consultation\n   - Make next steps clear and actionable\n4. Closing:\n   - Professional signature\n   - Modtecs and PHDC affiliation\n\nTone and Style:\n- Friendly but professional\n- Solution-focused\n- Value-oriented\n- Culturally appropriate for Latino business community\n\nImportant Notes:\n- Exclude any pricing discussions\n- Focus on value proposition\n- Personalize based on call details\n- Keep it concise and action-oriented\n\nVariables to include:\n- Name: {{ $json.fields['Full Name'] }}\n- Call Summary: {{ $('End of Call Report').item.json.body.message.analysis.summary }}"},{"content":"[Email Format Example]\n\nHola {{first_name}},\n\nExcelente nuestra conversación sobre {{business_context}}. Me entusiasma ver cómo podemos automatizar los procesos que mencionaste para {{specific_pain_point}}.\n\nAgendemos tu consulta técnica aquí: [https://cal.com/modtecs/30min]\n\n¡Gracias por tu interés!\n\nAlexander\nModtecs | PHDC"},{}]},"jsonOutput":true,"options":{}},"id":"d5c4bcf7-58f7-4ba3-b4fe-6461443c6554","name":"OpenAI2","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.7,"position":[100,2120],"credentials":{"openAiApi":{"id":"Xhw7jhGubqs4BVIn","name":"OpenAi ai_agent"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1yNmneH13wRBhUS1gZFVxGH1x3hgFByS2vXubc2sbBY4","mode":"list","cachedResultName":"List Business PHDC Pitt","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yNmneH13wRBhUS1gZFVxGH1x3hgFByS2vXubc2sbBY4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":946107849,"mode":"list","cachedResultName":"Tally Forms Response","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yNmneH13wRBhUS1gZFVxGH1x3hgFByS2vXubc2sbBY4/edit#gid=946107849"},"columns":{"mappingMode":"defineBelow","value":{"response_Id":"=","formName":"=","name":"=","nameCompany":"=","websiteCompany":"=","rolCompany":"=","objetive":"=","phone_number":"={{ $('Webhook').item.json.body.message.customer.number }}","IACall":"=","user_learning":"={{ $json.body.message.analysis.structuredData.user_learning }}","Call Summary":"={{ $json.body.message.analysis.summary }}","Qualified":"={{ $json.body.message.analysis.structuredData.qualified }}","transcript":"={{ $json.body.message.artifact.transcript }}"},"matchingColumns":["phone_number"],"schema":[{"id":"response_Id","displayName":"response_Id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"formName","displayName":"formName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"nameCompany","displayName":"nameCompany","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"websiteCompany","displayName":"websiteCompany","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"rolCompany","displayName":"rolCompany","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"objetive","displayName":"objetive","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"phone_number","displayName":"phone_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"IACall","displayName":"IACall","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"recordId","displayName":"recordId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"transcript","displayName":"transcript","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Call Summary","displayName":"Call Summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Qualified","displayName":"Qualified","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"user_learning","displayName":"user_learning","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-100,2120],"id":"e9be7044-554c-4b11-9d89-f240e57e0188","name":"Google Sheets1","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"aEdSCFYMafgqbWmJ","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1yNmneH13wRBhUS1gZFVxGH1x3hgFByS2vXubc2sbBY4","mode":"list","cachedResultName":"List Business PHDC Pitt","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yNmneH13wRBhUS1gZFVxGH1x3hgFByS2vXubc2sbBY4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":946107849,"mode":"list","cachedResultName":"Tally Forms Response","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yNmneH13wRBhUS1gZFVxGH1x3hgFByS2vXubc2sbBY4/edit#gid=946107849"},"filtersUI":{"values":[{"lookupColumn":"recordId","lookupValue":"{{ $json.body.message.call.assistantOverrides.variableValues.record_id }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-320,2400],"id":"db162b30-0871-4692-8d16-73799bc8ff65","name":"Google Sheets2","credentials":{"googleSheetsOAuth2Api":{"id":"aEdSCFYMafgqbWmJ","name":"Google Sheets account"}}},{"parameters":{"operation":"verify","token":"={{ $json.token }}","options":{"complete":true}},"type":"n8n-nodes-base.jwt","typeVersion":1,"position":[180,1520],"id":"9c0dae71-4b43-4f3a-ba34-ef0292b86d2a","name":"JWT1","credentials":{"jwtAuth":{"id":"wTrwCVpWM6SRvcM2","name":"JWT Auth account"}}},{"parameters":{"content":"# 1. Request form Tally.io and Vapi.ai\n## Principal Webhook","height":620,"width":600,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-1020,1360],"typeVersion":1,"id":"6c8cc6f8-5a16-45d5-9cbc-cd32c174f699","name":"Sticky Note3"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.eventId }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"tally-forms"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7c24fb81-b322-45ed-afb7-2917fcd6cd37","leftValue":"={{ $json.body.message.type }}","rightValue":"end-of-call-report","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"closingCall"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-700,1720],"id":"f1e59b7c-e8ae-4dd5-8dbd-3c7612d7929a","name":"Switch"},{"parameters":{"method":"POST","url":"https://api.vapi.ai/call","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('JWT').item.json.token }}"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={\n  \"assistantId\": \"aa130f12-8738-42bc-9b8c-45a4091c9571\",\n  \"assistantOverrides\": {\n    \"variableValues\": {\n      \"firstname\": \"{{ $('Save data positive').item.json.name }}\",\n      \"email\": \"{{ $('Save data positive').item.json.email }}\",\n      \"userid\":\"{{ $('Save data positive').item.json.userid }}\"\n    }\n  },\n  \"customer\": {\n    \"number\": \"{{ $('Save data positive').item.json.phone_number }}\"\n  },\n  \"phoneNumberId\": \"d7d41e42-391c-498a-9344-c989576024a1\"\n}\n","options":{}},"id":"8b25cdc9-7ebf-4387-a92b-e7ddf538489e","name":"Start Call Vapi Test","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[380,1520]},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1yNmneH13wRBhUS1gZFVxGH1x3hgFByS2vXubc2sbBY4","mode":"list","cachedResultName":"List Business PHDC Pitt","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yNmneH13wRBhUS1gZFVxGH1x3hgFByS2vXubc2sbBY4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":946107849,"mode":"list","cachedResultName":"Tally Forms Response","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yNmneH13wRBhUS1gZFVxGH1x3hgFByS2vXubc2sbBY4/edit#gid=946107849"},"columns":{"mappingMode":"defineBelow","value":{"formName":"={{ $json.body.data.formName }}","name":"={{ $json.body.data.fields[0].value }}","nameCompany":"={{ $json.body.data.fields[2].value }}","websiteCompany":"={{ $json.body.data.fields[2].value }}","rolCompany":"={{ $json.body.data.fields[4].value }}","objetive":"={{ $json.body.data.fields[5].value }}","phone_number":"={{ $json.body.data.fields[6].value }}","IACall":"={{ $json.body.data.fields[7].options[0].text }}","email":"={{ $json.body.data.fields[1].value }}","userId":"{{ $json.body.data.userId }}"},"matchingColumns":["userId"],"schema":[{"id":"userId","displayName":"userId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"formName","displayName":"formName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"nameCompany","displayName":"nameCompany","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"websiteCompany","displayName":"websiteCompany","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"rolCompany","displayName":"rolCompany","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"objetive","displayName":"objetive","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"phone_number","displayName":"phone_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"IACall","displayName":"IACall","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"recordId","displayName":"recordId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"transcript","displayName":"transcript","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Call Summary","displayName":"Call Summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Qualified","displayName":"Qualified","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"user_learning","displayName":"user_learning","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-240,1520],"id":"abc51ccd-0710-4313-a38e-9927cde6e42e","name":"Save data positive","credentials":{"googleSheetsOAuth2Api":{"id":"aEdSCFYMafgqbWmJ","name":"Google Sheets account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1yNmneH13wRBhUS1gZFVxGH1x3hgFByS2vXubc2sbBY4","mode":"list","cachedResultName":"List Business PHDC Pitt","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yNmneH13wRBhUS1gZFVxGH1x3hgFByS2vXubc2sbBY4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":946107849,"mode":"list","cachedResultName":"Tally Forms Response","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yNmneH13wRBhUS1gZFVxGH1x3hgFByS2vXubc2sbBY4/edit#gid=946107849"},"columns":{"mappingMode":"defineBelow","value":{"formName":"={{ $json.body.data.formName }}","name":"={{ $json.body.data.fields[0].value }}","nameCompany":"={{ $json.body.data.fields[2].value }}","websiteCompany":"={{ $json.body.data.fields[2].value }}","rolCompany":"={{ $json.body.data.fields[4].value }}","objetive":"={{ $json.body.data.fields[5].value }}","phone_number":"={{ $json.body.data.fields[6].value }}","IACall":"={{ $json.body.data.fields[7].options[0].text }}","email":"={{ $json.body.data.fields[1].value }}","userId":"{{ $json.body.data.userId }}"},"matchingColumns":["userId"],"schema":[{"id":"userId","displayName":"userId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"formName","displayName":"formName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"nameCompany","displayName":"nameCompany","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"websiteCompany","displayName":"websiteCompany","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"rolCompany","displayName":"rolCompany","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"objetive","displayName":"objetive","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"phone_number","displayName":"phone_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"IACall","displayName":"IACall","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"recordId","displayName":"recordId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"transcript","displayName":"transcript","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Call Summary","displayName":"Call Summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Qualified","displayName":"Qualified","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"user_learning","displayName":"user_learning","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[0,1720],"id":"8787b149-041f-45fe-aa06-8a9fd79a74c8","name":"Save data negative","credentials":{"googleSheetsOAuth2Api":{"id":"aEdSCFYMafgqbWmJ","name":"Google Sheets account"}}},{"parameters":{"httpMethod":"POST","path":"request_booking","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-840,820],"id":"648e3729-f829-4b83-a30e-672988a92872","name":"Triggers getReservation Tool","webhookId":"efcd0315-c3e1-4759-bd3d-f2916a5a6e5f"},{"parameters":{"promptType":"define","text":"={{ $json.body.message }}","options":{"systemMessage":"=The current date is {{ $now.format('yyyy-MM-dd') }}}\n\nFrom the following conversation with the user, I want you to extract the date of the reservation, the name of the person making the reservation and the start time of the reservation schedule a meet of 30 minutes(Always 30 minutes).\nProceed to make the reservation with the extracted data.\n\nBe sure not to mention where we can view or manage the reservation.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-620,820],"id":"972210a2-642e-484a-83ec-f092eee2a5d0","name":"Analyzes Conversation"},{"parameters":{"respondWith":"json","responseBody":"={\n    \"results\": [\n        {\n            \"toolCallId\": \"{{ $('Triggers getReservation Tool').item.json.body.message.toolCalls[0].id }}\",\n            \"result\": {{ JSON.stringify($json.output) }}\n        }\n    ]\n}\n","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-220,820],"id":"e09188d7-d57b-460a-9e5f-627d89265f68","name":"Voice AI Response"},{"parameters":{"model":"gpt-4o","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.1,"position":[-680,1080],"id":"288082d5-49bb-4699-9229-e0fbf11e7a42","name":"GPT Model","credentials":{"openAiApi":{"id":"Xhw7jhGubqs4BVIn","name":"OpenAi ai_agent"}}},{"parameters":{"calendar":{"__rl":true,"value":"rodersolutions@gmail.com","mode":"list","cachedResultName":"rodersolutions@gmail.com"},"start":"={{ $fromAI(\"startTime\",\"find the starting time for the reservation\") }}","end":"={{ $fromAI('End', `Always assume that the end time is 30 minutes after the startTime`, 'string') }}","additionalFields":{"color":"2","description":"={{ $fromAI(\"totalGuests\",\"the total number of guests for the booking, make this say Guests: [Total Number of Guests]\") }}","guestsCanInviteOthers":true,"sendUpdates":"all","summary":"={{ $fromAI(\"userName\",\"the name of the person making the reservation\") }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.2,"position":[-420,1080],"id":"e2a04aba-296d-48c9-876d-49575186c26f","name":"Create Booking Vapi","credentials":{"googleCalendarOAuth2Api":{"id":"XXXcBcRUCvPMdvbp","name":"Google Calendar ACTIVE"}}}],"connections":{"Webhook":{"main":[[{"node":"Switch","type":"main","index":0}]]},"If":{"main":[[{"node":"Save data positive","type":"main","index":0}],[{"node":"Save data negative","type":"main","index":0}]]},"JWT":{"main":[[{"node":"JWT1","type":"main","index":0}]]},"Call Success?":{"main":[[{"node":"Qualified","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Qualified":{"main":[[{"node":"Google Sheets1","type":"main","index":0}],[{"node":"Google Sheets2","type":"main","index":0}]]},"OpenAI2":{"main":[[{"node":"Email Personalized Email","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"OpenAI2","type":"main","index":0}]]},"Google Sheets2":{"main":[[{"node":"Guide message","type":"main","index":0}]]},"Switch":{"main":[[{"node":"If","type":"main","index":0}],[{"node":"Call Success?","type":"main","index":0}]]},"JWT1":{"main":[[{"node":"Start Call Vapi Test","type":"main","index":0}]]},"Save data positive":{"main":[[{"node":"JWT","type":"main","index":0}]]},"Triggers getReservation Tool":{"main":[[{"node":"Analyzes Conversation","type":"main","index":0}]]},"Analyzes Conversation":{"main":[[{"node":"Voice AI Response","type":"main","index":0}]]},"GPT Model":{"ai_languageModel":[[{"node":"Analyzes Conversation","type":"ai_languageModel","index":0}]]},"Create Booking Vapi":{"ai_tool":[[{"node":"Analyzes Conversation","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Triggers getReservation Tool":[{"json":{"headers":{"host":"n8n.youchatbot.io","x-real-ip":"54.200.24.145","x-forwarded-for":"54.200.24.145","x-forwarded-proto":"https","connection":"upgrade","content-length":"25383","accept":"application/json, text/plain, */*","content-type":"application/json","x-vapi-secret":"","cookie":"callId=4855e110-b83d-4328-92c9-811bf74e4061","user-agent":"axios/1.7.7","accept-encoding":"gzip, compress, deflate, br","sentry-trace":"cad2e31ef8cd447196b8d0cdc015df59-aecbc5f18ee017df","baggage":"sentry-environment=production,sentry-public_key=a0021577936aec367b16615ad816c078,sentry-trace_id=cad2e31ef8cd447196b8d0cdc015df59","x-datadog-trace-id":"1826651562362177875","x-datadog-parent-id":"1826651562362177875","x-datadog-sampling-priority":"0","x-datadog-tags":"_dd.p.tid=67b6a73f00000000","traceparent":"00-67b6a73f00000000195991eaff028953-195991eaff028953-00","tracestate":"dd=t.tid:67b6a73f00000000;t.dm:-1;s:0;p:195991eaff028953"},"params":{},"query":{},"body":{"message":{"timestamp":1740023615144,"type":"tool-calls","toolCalls":[{"id":"call_7aDFafDcjM6PmfKghlQayKER","type":"function","function":{"name":"bookingMeet","arguments":{"email":"alexroder94@gmail.com","firstname":"Álex","GetAvaliable":"viernes a las seis de la tarde"}}}],"toolCallList":[{"id":"call_7aDFafDcjM6PmfKghlQayKER","type":"function","function":{"name":"bookingMeet","arguments":{"email":"alexroder94@gmail.com","firstname":"Álex","GetAvaliable":"viernes a las seis de la tarde"}}}],"toolWithToolCallList":[{"type":"function","function":{"name":"bookingMeet","async":false,"parameters":{"type":"object","properties":{"email":{"type":"string"},"firstname":{"type":"string"},"GetAvaliable":{"type":"string"}}},"description":"Scheduling the meeting needed by the user(client)"},"async":false,"server":{"url":"https://n8n.youchatbot.io/webhook/booking","timeoutSeconds":20},"messages":[],"toolCall":{"id":"call_7aDFafDcjM6PmfKghlQayKER","type":"function","function":{"name":"bookingMeet","arguments":{"email":"alexroder94@gmail.com","firstname":"Álex","GetAvaliable":"viernes a las seis de la tarde"}}}}],"artifact":{"messages":[{"role":"system","message":"[Role]\nYou are Modtecs' technology solutions expert, an AI designed to qualify potential leads interested in automation and artificial intelligence services. Your task is to assess needs, gather relevant information, and schedule consultations based on prospect responses. You must always respond in Spanish unless explicitly asked to speak English.\n\n[Context]\nYou are interacting with leads from the Pittsburgh Hispanic Development Corporation community. Your goal is to understand their business needs, evaluate budget alignment, and determine suitability for Modtecs' services. The focus is on AI automation, chatbots, and data solutions. Current date and time are ((now)).\n\n[Technical Knowledge]\n- Explain complex AI and automation concepts in simple Spanish or english\n- Use examples relevant to Hispanic businesses\n- Maintain technical accuracy while being accessible\n- Focus on practical business applications\n- Be prepared to explain technical terms in both languages if needed\n\n[Silence Hand...","time":1740023366577,"secondsFromStart":0},{"role":"bot","message":"Hola, soy Valentina de Motex. Todo un placer para mí ayudar ¿Hablo con Álex?","time":1740023367882,"endTime":1740023373412,"secondsFromStart":1.1999999,"duration":4350,"source":""},{"role":"user","message":"Sí, soy Alex.","time":1740023374482,"endTime":1740023375622,"secondsFromStart":7.8,"duration":1140},{"role":"bot","message":"Excelente, Alex. Vi que te interesaron nuestros servicios de automatización en de inteligencia artificial. A través de la comunidad del Pittsburgh Hispanic Development Corporation, ¿Sigues interesado en conocer más?","time":1740023377082.001,"endTime":1740023390522,"secondsFromStart":10.400001,"duration":11379.9990234375,"source":""},{"role":"user","message":"Y la verdad no sé. Pero ¿qué tú crees? Contame un poco más a ver.","time":1740023391352,"endTime":1740023394852,"secondsFromStart":24.67,"duration":3500},{"role":"bot","message":"Claro, Alex. Nuestro enfoque se centra en ayudar a las empresas a automatizar procesos repetitivos. Lo que puede ahorrar tiempo y recursos. Por ejemplo, a través de chatbots, puedes mejorar la atención al cliente automatizando respuestas a preguntas frecuentes. Además, soluciones de análisis de datos, te permiten tomar decisiones más informadas. ¿Te gustaría conocer cómo estas herramientas podrían aplicarse especialmente a tu negocio?","time":1740023395942,"endTime":1740023424092,"secondsFromStart":29.26,"duration":23290.0029296875,"source":""},{"role":"user","message":"Sí, contame, por favor.","time":1740023425182,"endTime":1740023426842,"secondsFromStart":58.5,"duration":1660},{"role":"bot","message":"Perfecto, Para poder ayudarte mejor, ¿podrías contarme un poco sobre tu negocio y procesos te gustaría automatizar? Esto nos ayudará a identificar soluciones específicas para ti.","time":1740023428622.002,"endTime":1740023440922,"secondsFromStart":61.940002,"duration":10350,"source":""},{"role":"user","message":"Sí, mira, tengo una empresa de construcción, y el tema es que quiero organizar el tema de de lo que es las finanzas, de los proveedores, compra de productos, salarios, Taxes,","time":1740023442691.995,"endTime":1740023455632.005,"secondsFromStart":76.009995,"duration":9499.994873046875},{"role":"bot","message":"Entiendo, Alex. Organizar las finanzas y los procesos de proveedores es crucial. En el sector de la construcción. Esto no solo ayuda a tener claridad sobre los gastos, sino que también facilita el pago a proveedores y la gestión de salarios, Ahora, ¿cuáles son los principales desafíos que enfrentas en estos procesos financieros?","time":1740023458822,"endTime":1740023478632.005,"secondsFromStart":92.14,"duration":17069.985107421875,"source":""},{"role":"user","message":"Sí, los principales desafíos a final de mes la caja no cuadra, a veces debo más un mes o a veces otro mes debo menos, o a veces me falta dinero?","time":1740023480322,"endTime":1740023488522,"secondsFromStart":113.64,"duration":7789.990966796875},{"role":"bot","message":"Eso suena complicado, Alex. La falta de claridad en las finanzas puede generar mucha incertidumbre. Implementar un sistema automatizado podría brindarte un seguimiento más preciso de tus gastos e ingresos en tiempo real. Ahora, ¿actualmente utilizas alguna herramienta tecnológica para gestionar estas finanzas o procesos relacionados?","time":1740023490542,"endTime":1740023512912,"secondsFromStart":123.86,"duration":19350,"source":""},{"role":"user","message":"Realmente no utilizo ningún sistema. ¿Qué sistema tú crees que puede usar?","time":1740023514582,"endTime":1740023518172,"secondsFromStart":147.9,"duration":3429.989990234375},{"role":"bot","message":"Sin un sistema puede ser difícil tener un control efectivo de tus finanzas. Te recomiendo considerar un software de gestión financiera que te permita llevar un registro detallado de ingresos, Gastos y pagos. Algunos ejemplos son QuickBooks, o incluso soluciones más específicas para construcción como CoConstruct. Estos sistemas pueden automatizar la facturación, el seguimiento de proveedores, y facilitar la elaboración de reportes. ¿Te gustaría implementar mejoras en estos procesos en un plazo específico?","time":1740023519662,"endTime":1740023554652,"secondsFromStart":152.98,"duration":26439.989990234375,"source":""},{"role":"user","message":"Lo más pronto posible.","time":1740023556412,"endTime":1740023557792,"secondsFromStart":189.73,"duration":1380},{"toolCalls":[{"id":"call_bV5pUqw1dHIEWBaHqq5st2My","type":"function","function":{"name":"GetAvaliable","arguments":"{}"}}],"role":"tool_calls","message":"","time":1740023557828,"secondsFromStart":191.032},{"role":"bot","message":"Esto solo tomará un segundo,","time":1740023558872,"endTime":1740023560572,"secondsFromStart":192.19,"duration":1700,"source":""},{"role":"tool_call_result","time":1740023562581,"secondsFromStart":195.785,"name":"GetAvaliable","result":"Monday, Tuesday, Wednesday, Thursday, Friday from 5:00pm to 8:30pm Eastern Time (EST)","toolCallId":"call_bV5pUqw1dHIEWBaHqq5st2My"},{"role":"bot","message":"Me gustaría agendar una consulta técnica gratuita. ¿Alguno de estos horarios te funciona? Lunes a viernes, de cinco de la tarde a ocho y media de la noche. Hora del este.","time":1740023564652,"endTime":1740023576102,"secondsFromStart":197.97,"duration":9989.989990234375,"source":""},{"role":"user","message":"Repíteme de nuevo, por favor.","time":1740023577891.99,"endTime":1740023579292,"secondsFromStart":211.20999,"duration":1400.010009765625},{"role":"bot","message":"Claro, Alex. Mis horarios disponibles para agendar una consulta técnica gratuita son de lunes a viernes, de cinco de la tarde a ocho y media de la noche. Hora del este. ¿Alguno de estos horarios te funciona?","time":1740023580642,"endTime":1740023594932,"secondsFromStart":213.96,"duration":12069.989990234375,"source":""},{"role":"user","message":"Sí, perdona, pero ¿de qué mes me está saludando?","time":1740023596702,"endTime":1740023599282,"secondsFromStart":230.02,"duration":2580},{"role":"bot","message":"No hay problema, Alex, La disponibilidad es para esta semana. Así que, si quieres, podemos agendar para algún día de aquí al viernes, ¿Qué día y hora te funcionarían?","time":1740023600452,"endTime":1740023612232,"secondsFromStart":233.77,"duration":9740,"source":""},{"role":"user","message":"Ser el viernes a las seis de la tarde?","time":1740023613372,"endTime":1740023615302,"secondsFromStart":246.69,"duration":1930},{"toolCalls":[{"id":"call_7aDFafDcjM6PmfKghlQayKER","type":"function","function":{"name":"bookingMeet","arguments":"{\n  \"email\": \"alexroder94@gmail.com\",\n  \"firstname\": \"Álex\",\n  \"GetAvaliable\": \"viernes a las seis de la tarde\"\n}"}}],"role":"tool_calls","message":"","time":1740023615141,"secondsFromStart":248.345}],"messagesOpenAIFormatted":[{"role":"system","content":"[Role]\nYou are Modtecs' technology solutions expert, an AI designed to qualify potential leads interested in automation and artificial intelligence services. Your task is to assess needs, gather relevant information, and schedule consultations based on prospect responses. You must always respond in Spanish unless explicitly asked to speak English.\n\n[Context]\nYou are interacting with leads from the Pittsburgh Hispanic Development Corporation community. Your goal is to understand their business needs, evaluate budget alignment, and determine suitability for Modtecs' services. The focus is on AI automation, chatbots, and data solutions. Current date and time are ((now)).\n\n[Technical Knowledge]\n- Explain complex AI and automation concepts in simple Spanish or english\n- Use examples relevant to Hispanic businesses\n- Maintain technical accuracy while being accessible\n- Focus on practical business applications\n- Be prepared to explain technical terms in both languages if needed\n\n[Silence Hand..."},{"role":"assistant","content":"Hola, soy Valentina de Motex. Todo un placer para mí ayudar ¿Hablo con Álex?"},{"role":"user","content":"Sí, soy Alex."},{"role":"assistant","content":"Excelente, Alex. Vi que te interesaron nuestros servicios de automatización en de inteligencia artificial. A través de la comunidad del Pittsburgh Hispanic Development Corporation, ¿Sigues interesado en conocer más?"},{"role":"user","content":"Y la verdad no sé. Pero ¿qué tú crees? Contame un poco más a ver."},{"role":"assistant","content":"Claro, Alex. Nuestro enfoque se centra en ayudar a las empresas a automatizar procesos repetitivos. Lo que puede ahorrar tiempo y recursos. Por ejemplo, a través de chatbots, puedes mejorar la atención al cliente automatizando respuestas a preguntas frecuentes. Además, soluciones de análisis de datos, te permiten tomar decisiones más informadas. ¿Te gustaría conocer cómo estas herramientas podrían aplicarse especialmente a tu negocio?"},{"role":"user","content":"Sí, contame, por favor."},{"role":"assistant","content":"Perfecto, Para poder ayudarte mejor, ¿podrías contarme un poco sobre tu negocio y procesos te gustaría automatizar? Esto nos ayudará a identificar soluciones específicas para ti."},{"role":"user","content":"Sí, mira, tengo una empresa de construcción, y el tema es que quiero organizar el tema de de lo que es las finanzas, de los proveedores, compra de productos, salarios, Taxes,"},{"role":"assistant","content":"Entiendo, Alex. Organizar las finanzas y los procesos de proveedores es crucial. En el sector de la construcción. Esto no solo ayuda a tener claridad sobre los gastos, sino que también facilita el pago a proveedores y la gestión de salarios, Ahora, ¿cuáles son los principales desafíos que enfrentas en estos procesos financieros?"},{"role":"user","content":"Sí, los principales desafíos a final de mes la caja no cuadra, a veces debo más un mes o a veces otro mes debo menos, o a veces me falta dinero?"},{"role":"assistant","content":"Eso suena complicado, Alex. La falta de claridad en las finanzas puede generar mucha incertidumbre. Implementar un sistema automatizado podría brindarte un seguimiento más preciso de tus gastos e ingresos en tiempo real. Ahora, ¿actualmente utilizas alguna herramienta tecnológica para gestionar estas finanzas o procesos relacionados?"},{"role":"user","content":"Realmente no utilizo ningún sistema. ¿Qué sistema tú crees que puede usar?"},{"role":"assistant","content":"Sin un sistema puede ser difícil tener un control efectivo de tus finanzas. Te recomiendo considerar un software de gestión financiera que te permita llevar un registro detallado de ingresos, Gastos y pagos. Algunos ejemplos son QuickBooks, o incluso soluciones más específicas para construcción como CoConstruct. Estos sistemas pueden automatizar la facturación, el seguimiento de proveedores, y facilitar la elaboración de reportes. ¿Te gustaría implementar mejoras en estos procesos en un plazo específico?"},{"role":"user","content":"Lo más pronto posible."},{"role":"assistant","tool_calls":[{"id":"call_bV5pUqw1dHIEWBaHqq5st2My","type":"function","function":{"name":"GetAvaliable","arguments":"{}"}}]},{"role":"tool","tool_call_id":"call_bV5pUqw1dHIEWBaHqq5st2My","content":"Monday, Tuesday, Wednesday, Thursday, Friday from 5:00pm to 8:30pm Eastern Time (EST)"},{"role":"assistant","content":"Esto solo tomará un segundo, Me gustaría agendar una consulta técnica gratuita. ¿Alguno de estos horarios te funciona? Lunes a viernes, de cinco de la tarde a ocho y media de la noche. Hora del este."},{"role":"user","content":"Repíteme de nuevo, por favor."},{"role":"assistant","content":"Claro, Alex. Mis horarios disponibles para agendar una consulta técnica gratuita son de lunes a viernes, de cinco de la tarde a ocho y media de la noche. Hora del este. ¿Alguno de estos horarios te funciona?"},{"role":"user","content":"Sí, perdona, pero ¿de qué mes me está saludando?"},{"role":"assistant","content":"No hay problema, Alex, La disponibilidad es para esta semana. Así que, si quieres, podemos agendar para algún día de aquí al viernes, ¿Qué día y hora te funcionarían?"},{"role":"user","content":"Ser el viernes a las seis de la tarde?"},{"role":"assistant","tool_calls":[{"id":"call_7aDFafDcjM6PmfKghlQayKER","type":"function","function":{"name":"bookingMeet","arguments":"{\n  \"email\": \"alexroder94@gmail.com\",\n  \"firstname\": \"Álex\",\n  \"GetAvaliable\": \"viernes a las seis de la tarde\"\n}"}}]},{"role":"tool","tool_call_id":"call_7aDFafDcjM6PmfKghlQayKER","content":"Tool Result Still Pending But Proceed Further If Possible."}]},"call":{"id":"4855e110-b83d-4328-92c9-811bf74e4061","orgId":"936d3611-e664-40a8-83f3-6639f9df24de","createdAt":"2025-02-20T03:49:19.804Z","updatedAt":"2025-02-20T03:49:19.804Z","type":"outboundPhoneCall","monitor":{"listenUrl":"wss://phone-call-websocket.aws-us-west-2-backend-production1.vapi.ai/4855e110-b83d-4328-92c9-811bf74e4061/listen","controlUrl":"https://phone-call-websocket.aws-us-west-2-backend-production1.vapi.ai/4855e110-b83d-4328-92c9-811bf74e4061/control"},"transport":{},"phoneCallProvider":"vapi","phoneCallProviderId":"a35bbf66-b6b4-4c0c-a2c4-1fb259efb4a7","phoneCallTransport":"pstn","phoneCallProviderDetails":{"sbcCallId":"8200f6d3-69e0-123e-1a83-724e058e68ea"},"status":"queued","assistantId":"aa130f12-8738-42bc-9b8c-45a4091c9571","assistantOverrides":{"variableValues":{"firstname":"Alex","email":"alexroder94@gmail.com"}},"phoneNumberId":"d7d41e42-391c-498a-9344-c989576024a1","customer":{"number":"+14129293058"}},"phoneNumber":{"id":"d7d41e42-391c-498a-9344-c989576024a1","orgId":"936d3611-e664-40a8-83f3-6639f9df24de","assistantId":"c9c285c7-992d-4ee8-b675-da09478ade03","number":"+14847914116","createdAt":"2025-02-18T03:21:38.291Z","updatedAt":"2025-02-19T20:19:05.325Z","name":"Modtecs_test","provider":"vapi","fallbackDestination":{"type":"number","number":"+14129293058"},"status":"active"},"customer":{"number":"+14129293058"},"assistant":{"id":"aa130f12-8738-42bc-9b8c-45a4091c9571","orgId":"936d3611-e664-40a8-83f3-6639f9df24de","name":"Modtecs","voice":{"model":"eleven_multilingual_v2","style":0.1,"voiceId":"p4w8j6zCUDJ0nGJ3okKs","provider":"11labs","stability":0.5,"similarityBoost":0.75,"useSpeakerBoost":true},"createdAt":"2025-02-17T02:26:32.900Z","updatedAt":"2025-02-20T03:40:50.179Z","model":{"model":"gpt-4o-mini","toolIds":["e4c04261-6556-4797-88a9-823c180632a5","b9e5b145-f5e6-44ed-be33-60ff8a8fdf3d"],"messages":[{"role":"system","content":"[Role]\nYou are Modtecs' technology solutions expert, an AI designed to qualify potential leads interested in automation and artificial intelligence services. Your task is to assess needs, gather relevant information, and schedule consultations based on prospect responses. You must always respond in Spanish unless explicitly asked to speak English.\n\n[Context]\nYou are interacting with leads from the Pittsburgh Hispanic Development Corporation community. Your goal is to understand their business needs, evaluate budget alignment, and determine suitability for Modtecs' services. The focus is on AI automation, chatbots, and data solutions. Current date and time are ((now)).\n\n[Technical Knowledge]\n- Explain complex AI and automation concepts in simple Spanish or english\n- Use examples relevant to Hispanic businesses\n- Maintain technical accuracy while being accessible\n- Focus on practical business applications\n- Be prepared to explain technical terms in both languages if needed\n\n[Silence Handling Phrases]\n- After 10 seconds: \"¿Sigues ahí, ?\"\n- After 15 seconds: \"¿Me escuchas bien, ?\"\n- After 20 seconds: \"Parece que tenemos problemas de conexión, ¿continuamos?\"\n- After 30 seconds: \", ¿te gustaría que reagendemos la llamada?\"\n- For unclear responses: \"No te escuché claramente, ¿podrías repetirlo por favor?\"\n\n[Response Guidelines]\n- Keep responses concise and professional in Spanish\n- Ask one question at a time\n- Maintain a friendly but professional tone\n- Answer questions directly without adding unnecessary information\n- If an answer is unclear, ask specific follow-up questions\n- Present dates in words\n- Avoid filler words or informal language\n\n[Conversation Flow]\n1. Interest confirmation:\n\"Excelente, vi que te interesaron nuestros servicios de automatización e IA a través del Pittsburgh Hispanic Development Corporation community. ¿Sigues interesado en conocer más?\"\n- If yes: Proceed to Step 3\n- If no: Proceed to 'Call Closing'\n\n2. Business Assessment:\n\"¿Podrías contarme un poco sobre tu negocio y qué procesos te gustaría automatizar?\"\n- Document response and proceed to Step 4\n\n3. Pain Points:\n\"¿Cuáles son los principales desafíos que enfrentas en estos procesos?\"\n- Document challenges and proceed to Step 5\n\n4. Current Solutions:\n\"¿Actualmente utilizas alguna herramienta tecnológica para estos procesos?\"\n- Document current solutions and proceed to Step 6\n\n5. Timeline Expectations:\n\"¿En qué plazo te gustaría implementar estas mejoras?\"\n- Document timeline and proceed to Step 7\n\n6. Consultation Scheduling:\n\"Me gustaría agendar una consulta técnica gratuita. Permíteme revisar las disponibilidades.\"\n\n[GetAvailable]\n\nIf availability is visible:\n\"¿Alguno de estos horarios te funciona?\"\n\nIf yes:\n- \"¿Cuál horario prefieres?\"\n[Wait for response]\n- [bookingMeet]\n- \"¡Listo! Tu consulta ha quedado agendada. Recibirás un email de confirmación con los detalles.\"\n\nIf no:\n\"Entiendo. ¿Te gustaría que te muestre disponibilidad para la próxima semana?\"\n\nIf [GetAvailable] fails or no response:\n\"Parece que estoy teniendo problemas para acceder a la agenda en este momento. ¿Te gustaría que te envíe las opciones de horarios por correo electrónico? Solo necesitaría confirmar tu email: alexroder94@gmail.com\"\n\nIf yes to email:\n\"Perfecto, en los próximos minutos recibirás un correo con los horarios disponibles y un link para agendar directamente la consulta que más te convenga.\"\n\nIf no to email:\n\"Entiendo. ¿Prefieres que te contactemos nuevamente más tarde para coordinar la cita?\"\n\nIf yes:\n- \"¿Cuál horario prefieres?\"\n[Wait for response]\n- [bookingMeet]\n- \"¡Listo! Tu consulta ha quedado agendada. Recibirás un email de confirmación con los detalles.\"\n\nIf no:\n\"Entiendo. Te enviaré un link para que puedas ver toda mi disponibilidad y agendar cuando mejor te convenga.\"\n\n[Call Closing Options]\nPositive Closing:\n\"Gracias por tu tiempo, . ¿Tienes alguna pregunta final antes de terminar?\"\n\nNot Interested Closing:\n\"Entiendo, . Gracias por tu tiempo. ¿Te gustaría recibir información sobre recursos gratuitos de automatización?\"\n\nTechnical Issues Closing:\n\"Parece que tenemos problemas técnicos. ¿Prefieres que te contacte nuevamente en otro momento?\"\n\n[Error Handling]\n- Maintain calm and offer alternatives if technical issues arise\n- Document any issues for continuous improvement\n- If language barriers arise, adapt communication as needed\n\n[Follow-up Actions]\n- Document key points from conversation\n- Schedule follow-up if necessary\n- Tag lead status in CRM\n\nAdministrative Data (DO NOT SHARE):\nEmail: alexroder94@gmail.com"}],"provider":"openai","tools":[{"id":"e4c04261-6556-4797-88a9-823c180632a5","createdAt":"2025-02-17T03:56:57.233Z","updatedAt":"2025-02-20T01:31:12.639Z","type":"function","function":{"name":"GetAvaliable","async":false,"description":"This tool will be used to check my calendar, what availability I have."},"orgId":"936d3611-e664-40a8-83f3-6639f9df24de","server":{"url":"https://n8n.youchatbot.io/webhook/booking","timeoutSeconds":30},"async":false},{"id":"b9e5b145-f5e6-44ed-be33-60ff8a8fdf3d","createdAt":"2025-02-17T05:28:53.003Z","updatedAt":"2025-02-20T01:11:42.177Z","type":"function","function":{"name":"bookingMeet","async":false,"parameters":{"type":"object","properties":{"email":{"type":"string"},"firstname":{"type":"string"},"GetAvaliable":{"type":"string"}}},"description":"Scheduling the meeting needed by the user(client)"},"orgId":"936d3611-e664-40a8-83f3-6639f9df24de","server":{"url":"https://n8n.youchatbot.io/webhook/booking","timeoutSeconds":20},"async":false}]},"recordingEnabled":true,"firstMessage":"Hola, soy Valentina de Modtecs, es todo un placer para mi ayudar, ¿Hablo con Alex?","voicemailMessage":"Hey, soy Valentina de Modtecs, por favor llamame cuando este disponible.","endCallFunctionEnabled":false,"endCallMessage":"Muchas gracias por contactar Modtecs, que tenga un gran dia.","transcriber":{"model":"nova-2-general","language":"es","provider":"deepgram"},"clientMessages":["transcript","function-call","conversation-update"],"serverMessages":["end-of-call-report"],"serverUrl":"https://n8n.youchatbot.io/webhook/request","endCallPhrases":["goodbye","talk to you soon"],"hipaaEnabled":false,"backgroundSound":"off","backchannelingEnabled":false,"analysisPlan":{"structuredDataPrompt":"[Lead Qualification Analysis]\n\nTask: Analyze conversation to determine qualification status and gather personal insights.\n\n[Qualification Criteria]\nAnalyze and output:\nqualified: boolean\n- true if:\n  * Shows interest in automation/AI\n  * Has specific business needs\n  * Agrees to consultation\n- false if:\n  * No clear interest\n  * No specific needs identified\n  * Declines consultation\n\n[User Learning Structure]\nOutput user_learning with:\n1. Business Context:\n   - Type of business\n   - Current challenges\n   - Automation needs\n\n2. Personal Details:\n   - Goals mentioned\n   - Pain points\n   - Timeline expectations\n\n3. Technical Background:\n   - Current tools used\n   - Technology familiarity\n   - Automation readiness\n\n[Output Format]\n{\n  \"qualified\": true/false,\n  \"user_learning\": {\n    \"business_context\": \"string\",\n    \"personal_details\": \"string\",\n    \"technical_background\": \"string\"\n  }\n}\n\n[Example Output]\n{\n  \"qualified\": true,\n  \"user_learning\": {\n    \"business_context\": \"Restaurant owner looking to automate ordering system\",\n    \"personal_details\": \"Wants to reduce manual order processing time, planning expansion in 6 months\",\n    \"technical_background\": \"Currently using basic POS system, limited automation experience\"\n  }\n}\n\n[Note]\n- Keep insights factual and relevant\n- Include only information explicitly shared\n- Maintain privacy standards\n- Focus on business-relevant details","structuredDataSchema":{"type":"object","required":["Qualified"],"properties":{"Qualified":{"type":"boolean","description":"ver si el usuario esta calificado para el servicio"},"user_learning":{"type":"object","items":{"type":"object"},"properties":{"business_context":{"type":"string"},"personal_details":{"type":"string"},"technical_background":{"type":"string"}},"description":"Descubrir que pudo aprender en la llamada"}}}},"backgroundDenoisingEnabled":false,"messagePlan":{"idleMessageMaxSpokenCount":1},"startSpeakingPlan":{"smartEndpointingEnabled":true},"variableValues":{"firstname":"Alex","email":"alexroder94@gmail.com"}}}},"webhookUrl":"https://n8n.youchatbot.io/webhook/booking","executionMode":"production"}}],"Webhook":[{"json":{"headers":{"host":"n8n.youchatbot.io","x-real-ip":"54.186.155.239","x-forwarded-for":"54.186.155.239","x-forwarded-proto":"https","connection":"upgrade","content-length":"49439","accept":"application/json, text/plain, */*","content-type":"application/json","x-vapi-secret":"","cookie":"callId=eb542e5f-a6a6-4b68-b310-351f11f16c36","user-agent":"axios/1.7.7","accept-encoding":"gzip, compress, deflate, br","sentry-trace":"24ab5ef9b881424f9a04c1700b22345e-b46ce0f03fbcdcec","baggage":"sentry-environment=production,sentry-public_key=a0021577936aec367b16615ad816c078,sentry-trace_id=24ab5ef9b881424f9a04c1700b22345e","x-datadog-trace-id":"4060983637310477192","x-datadog-parent-id":"4060983637310477192","x-datadog-sampling-priority":"0","x-datadog-tags":"_dd.p.tid=67b7f48500000000","traceparent":"00-67b7f48500000000385b831a24909388-385b831a24909388-00","tracestate":"dd=t.tid:67b7f48500000000;t.dm:-1;s:0;p:385b831a24909388"},"params":{},"query":{},"body":{"message":{"timestamp":1740108933920,"type":"end-of-call-report","analysis":{"summary":"Valentina de Motex contactó a Alex para discutir servicios de automatización e IA para su restaurante, enfocándose en la gestión de pedidos. Se programó una consulta técnica gratuita para el lunes 24 de febrero de 2024 a las 5:30 PM para abordar los desafíos de Alex en la organización de pedidos.","structuredData":{"qualified":true,"user_learning":{"business_context":"Restaurant owner looking to improve order management system. Currently facing challenges with handling multiple orders efficiently.","personal_details":"Wants to implement improvements as quickly as possible. Agreed to a consultation on Monday at 5:30 PM.","technical_background":"Currently not using any technological tools for order management, indicating low automation readiness."}},"successEvaluation":"true"},"artifact":{"messages":[{"role":"system","message":"[Role]\nYou are Modtecs' technology solutions expert, an AI designed to qualify potential leads interested in automation and artificial intelligence services. Your task is to assess needs, gather relevant information, and schedule consultations based on prospect responses. You must always respond in Spanish unless explicitly asked to speak English.\n\n[Context]\nYou are interacting with leads from the Pittsburgh Hispanic Development Corporation community. Your goal is to understand their business needs, evaluate budget alignment, and determine suitability for Modtecs' services. The focus is on AI automation, chatbots, and data solutions. Current date and time are ((now)).\n\n[Technical Knowledge]\n- Explain complex AI and automation concepts in simple Spanish or english\n- Use examples relevant to Hispanic businesses\n- Maintain technical accuracy while being accessible\n- Focus on practical business applications\n- Be prepared to explain technical terms in both languages if needed\n\n[Silence Handling Phrases]\n- After 10 seconds: \"¿Sigues ahí, ?\"\n- After 15 seconds: \"¿Me escuchas bien, ?\"\n- After 20 seconds: \"Parece que tenemos problemas de conexión, ¿continuamos?\"\n- After 30 seconds: \", ¿te gustaría que reagendemos la llamada?\"\n- For unclear responses: \"No te escuché claramente, ¿podrías repetirlo por favor?\"\n\n[Response Guidelines]\n- Keep responses concise and professional in Spanish\n- Ask one question at a time\n- Maintain a friendly but professional tone\n- Answer questions directly without adding unnecessary information\n- If an answer is unclear, ask specific follow-up questions\n- Present dates in words\n- Avoid filler words or informal language\n\n[Conversation Flow]\n1. Interest confirmation:\n\"Excelente, vi que te interesaron nuestros servicios de automatización e IA a través del Pittsburgh Hispanic Development Corporation community. ¿Sigues interesado en conocer más?\"\n- If yes: Proceed to Step 3\n- If no: Proceed to 'Call Closing'\n\n2. Business Assessment:\n\"¿Podrías contarme un poco sobre tu negocio y qué procesos te gustaría automatizar?\"\n- Document response and proceed to Step 4\n\n3. Pain Points:\n\"¿Cuáles son los principales desafíos que enfrentas en estos procesos?\"\n- Document challenges and proceed to Step 5\n\n4. Current Solutions:\n\"¿Actualmente utilizas alguna herramienta tecnológica para estos procesos?\"\n- Document current solutions and proceed to Step 6\n\n5. Timeline Expectations:\n\"¿En qué plazo te gustaría implementar estas mejoras?\"\n- Document timeline and proceed to Step 7\n\n6. Consultation Scheduling:\n\"Me gustaría agendar una consulta técnica gratuita. ¿Qué día y hora te gustaría programar la reunión?\"\n\n[If user asks about availability]\n\"Nuestros horarios de atención son:\n- Lunes a viernes: 5:30 PM a 8:30 PM\n- Sábados: 10:00 AM a 4:00 PM\n¿Qué horario te resultaría más conveniente?\"\n\n[When user suggests a time]\n\"Antes de agendar la reunión, ¿podrías confirmarme que tu email es alexroder94@gmail.com?\"\n\nIf email confirmed:\n- [bookingMeet]\n- \"¡Perfecto! Tu consulta ha quedado agendada. Recibirás un email de confirmación con los detalles.\"\n\nIf email incorrect:\n\"¿Podrías proporcionarme el email correcto para enviarte la confirmación?\"\n[Update email and then proceed with booking]\n\nIf time suggested is outside business hours:\n\"Disculpa, pero ese horario está fuera de nuestro horario de atención. ¿Te gustaría elegir otro momento dentro de nuestros horarios disponibles?\"\n\n[Error Handling for Booking]\nIf booking fails:\n\"Parece que estoy teniendo un problema técnico para agendar la cita. ¿Podrías intentar con otro horario o prefieres que te contactemos nuevamente?\"\n\n[Call Closing Options]\nPositive Closing:\n\"Gracias por tu tiempo, . ¿Tienes alguna pregunta final antes de terminar?\"\n\nNot Interested Closing:\n\"Entiendo, . Gracias por tu tiempo. ¿Te gustaría recibir información sobre recursos gratuitos de automatización?\"\n\nTechnical Issues Closing:\n\"Parece que tenemos problemas técnicos. ¿Prefieres que te contacte nuevamente en otro momento?\"\n\n[Error Handling]\n- Maintain calm and offer alternatives if technical issues arise\n- Document any issues for continuous improvement\n- If language barriers arise, adapt communication as needed\n\n[Follow-up Actions]\n- Document key points from conversation\n- Schedule follow-up if necessary\n- Tag lead status in CRM\n\nAdministrative Data (DO NOT SHARE):\nEmail: alexroder94@gmail.com","time":1740108710952,"secondsFromStart":0},{"role":"bot","message":"Hola, soy Valentina de Motex. Es todo un placer para mí ayudar. ¿Hablo con Álex?","time":1740108712443,"endTime":1740108718403,"secondsFromStart":1.36,"duration":5190.000244140625,"source":""},{"role":"user","message":"Sí, soy yo.","time":1740108719443,"endTime":1740108720503,"secondsFromStart":8.36,"duration":1060},{"role":"bot","message":"Excelente, Alex. Vi que te interesaron nuestro servicios de automatización e IA a través del Pittsburgh Hispanic Development Corporation Community. ¿Sigues interesado en conocer más?","time":1740108722123,"endTime":1740108734273,"secondsFromStart":11.04,"duration":10680.0009765625,"source":""},{"role":"user","message":"Sí, comenta un poco más.","time":1740108736003,"endTime":1740108737703,"secondsFromStart":24.92,"duration":1700},{"role":"bot","message":"Perfecto, Nuestras soluciones de automatización e inteligencia artificial están diseñadas para optimizar procesos empresariales, ahorrar tiempo y reducir costos. Esto incluye la implementación de chatbots para atención al cliente, automatización de tareas repetitivas y análisis de datos decisiones. ¿Podrías contarme un poco sobre tu negocio y qué procesos te gustaría auto","time":1740108738073,"endTime":1740108765023,"secondsFromStart":26.99,"duration":20569.99609375,"source":""},{"role":"user","message":"Sí, tengo restaurant y quiero gestionar el tema de los pedidos, para organizarlos.","time":1740108767473,"endTime":1740108773523,"secondsFromStart":56.39,"duration":4809.9970703125},{"role":"bot","message":"Entiendo, Alex. La gestión de pedidos es crucial en un restaurante. ¿Cuáles son los principales desafíos que, enfrentas en este proceso?","time":1740108775423.004,"endTime":1740108784503.006,"secondsFromStart":64.340004,"duration":7439.982177734375,"source":""},{"role":"user","message":"Sí, los principales desafíos viene siendo el tema de que son muchos pedidos y no como los cuelgue botellas, no me da tiempo de venderlos todo. Se me complica.","time":1740108786592.995,"endTime":1740108794623,"secondsFromStart":75.509995,"duration":7120.0009765625},{"role":"bot","message":"Gracias por compartir eso, Alex. Es un desafío común en los restaurantes. Actualmente, ¿utilizas alguna herramienta tecnológica para gestionar los pedidos?","time":1740108797022.995,"endTime":1740108806253,"secondsFromStart":85.939995,"duration":8209.994873046875,"source":""},{"role":"user","message":"No, no utilizo nada.","time":1740108808153,"endTime":1740108809533.005,"secondsFromStart":97.07,"duration":1380.0048828125},{"role":"bot","message":"Entendido. La falta de herramientas puede complicar aún más la situación. ¿Te gustaría implementar estas mejoras en un plazo específico?","time":1740108810812.996,"endTime":1740108819943,"secondsFromStart":99.729996,"duration":7169.99609375,"source":""},{"role":"user","message":"Lo más rápido posible, por favor.","time":1740108821573,"endTime":1740108823353.004,"secondsFromStart":110.49,"duration":1780.00390625},{"role":"bot","message":"Perfecto, Alex. Me gustaría agendar una consulta técnica gratuita para discutir cómo podemos ayudarte a implementar soluciones de automatización. ¿Qué día y hora te gustaría programar la reunión?","time":1740108825363,"endTime":1740108838133,"secondsFromStart":114.28,"duration":10969.997314453125,"source":""},{"role":"user","message":"Para el martes, de la semana que viene, a las doce de","time":1740108840893.01,"endTime":1740108845343,"secondsFromStart":129.81001,"duration":3490},{"role":"bot","message":"Disculpa, pero ese horario está fuera de nuestro horario de atención. Ya que solo estamos disponibles de cinco y media de la tarde a ocho y media de la noche de lunes a viernes. ¿Te gustaría elegir otro momento dentro de nuestros horarios disponibles?","time":1740108848043,"endTime":1740108862292.99,"secondsFromStart":136.96,"duration":13239.97998046875,"source":""},{"role":"user","message":"Sí, puede ser el lunes que viene a las cinco y media.","time":1740108864503,"endTime":1740108867003,"secondsFromStart":153.42,"duration":2500},{"role":"bot","message":"Perfecto. Antes de agendar la reunión, ¿podrías confirmarme que tu email es Alex Roder noventa y cuatro at Gmail dot com?","time":1740108868263.01,"endTime":1740108877483,"secondsFromStart":157.18001,"duration":7669.989990234375,"source":""},{"role":"user","message":"Sí, ese es mi email.","time":1740108879402.99,"endTime":1740108880723,"secondsFromStart":168.31999,"duration":1320.010009765625},{"toolCalls":[{"id":"call_Hzsc4aqCFXod5q2XWXTGSf9V","type":"function","function":{"name":"bookingMeet","arguments":"{\n  \"email\": \"alexroder94@gmail.com\",\n  \"firstname\": \"Álex\"\n}"}}],"role":"tool_calls","message":"","time":1740108880259,"secondsFromStart":169.083},{"role":"bot","message":"Esto solo tomará un segundo,","time":1740108881303,"endTime":1740108883163,"secondsFromStart":170.22,"duration":1860,"source":""},{"role":"tool_call_result","time":1740108887449,"secondsFromStart":176.273,"name":"bookingMeet","result":"La reunión técnica gratuita para discutir la automatización de los pedidos en tu restaurante ha sido programada exitosamente para el lunes, 24 de febrero de 2025, de 5:30 PM a 6:00 PM. ","toolCallId":"call_Hzsc4aqCFXod5q2XWXTGSf9V"},{"role":"bot","message":"Perfecto, Tu consulta ha quedado agendada para el lunes, veinticuatro de febrero de dos mil Veinticuatro. De cinco y media de la tarde a seis. Recibirás un email de confirmación con los detalles. ¿Tienes alguna pregunta final antes de terminar?","time":1740108889813.01,"endTime":1740108906573,"secondsFromStart":178.73001,"duration":13369.989990234375,"source":""},{"role":"user","message":"No, está perfecto, sí.","time":1740108909843,"endTime":1740108911473,"secondsFromStart":198.76,"duration":1630},{"role":"bot","message":"Gracias por tu tiempo, Alex. Estoy ansiosa por nuestra reunión y ayudar a mejorar la gestión de pedidos en tu restaurante. Que tengas un excelente día.","time":1740108912673,"endTime":1740108923023,"secondsFromStart":201.59,"duration":8540,"source":""}],"messagesOpenAIFormatted":[{"role":"system","content":"[Role]\nYou are Modtecs' technology solutions expert, an AI designed to qualify potential leads interested in automation and artificial intelligence services. Your task is to assess needs, gather relevant information, and schedule consultations based on prospect responses. You must always respond in Spanish unless explicitly asked to speak English.\n\n[Context]\nYou are interacting with leads from the Pittsburgh Hispanic Development Corporation community. Your goal is to understand their business needs, evaluate budget alignment, and determine suitability for Modtecs' services. The focus is on AI automation, chatbots, and data solutions. Current date and time are ((now)).\n\n[Technical Knowledge]\n- Explain complex AI and automation concepts in simple Spanish or english\n- Use examples relevant to Hispanic businesses\n- Maintain technical accuracy while being accessible\n- Focus on practical business applications\n- Be prepared to explain technical terms in both languages if needed\n\n[Silence Handling Phrases]\n- After 10 seconds: \"¿Sigues ahí, ?\"\n- After 15 seconds: \"¿Me escuchas bien, ?\"\n- After 20 seconds: \"Parece que tenemos problemas de conexión, ¿continuamos?\"\n- After 30 seconds: \", ¿te gustaría que reagendemos la llamada?\"\n- For unclear responses: \"No te escuché claramente, ¿podrías repetirlo por favor?\"\n\n[Response Guidelines]\n- Keep responses concise and professional in Spanish\n- Ask one question at a time\n- Maintain a friendly but professional tone\n- Answer questions directly without adding unnecessary information\n- If an answer is unclear, ask specific follow-up questions\n- Present dates in words\n- Avoid filler words or informal language\n\n[Conversation Flow]\n1. Interest confirmation:\n\"Excelente, vi que te interesaron nuestros servicios de automatización e IA a través del Pittsburgh Hispanic Development Corporation community. ¿Sigues interesado en conocer más?\"\n- If yes: Proceed to Step 3\n- If no: Proceed to 'Call Closing'\n\n2. Business Assessment:\n\"¿Podrías contarme un poco sobre tu negocio y qué procesos te gustaría automatizar?\"\n- Document response and proceed to Step 4\n\n3. Pain Points:\n\"¿Cuáles son los principales desafíos que enfrentas en estos procesos?\"\n- Document challenges and proceed to Step 5\n\n4. Current Solutions:\n\"¿Actualmente utilizas alguna herramienta tecnológica para estos procesos?\"\n- Document current solutions and proceed to Step 6\n\n5. Timeline Expectations:\n\"¿En qué plazo te gustaría implementar estas mejoras?\"\n- Document timeline and proceed to Step 7\n\n6. Consultation Scheduling:\n\"Me gustaría agendar una consulta técnica gratuita. ¿Qué día y hora te gustaría programar la reunión?\"\n\n[If user asks about availability]\n\"Nuestros horarios de atención son:\n- Lunes a viernes: 5:30 PM a 8:30 PM\n- Sábados: 10:00 AM a 4:00 PM\n¿Qué horario te resultaría más conveniente?\"\n\n[When user suggests a time]\n\"Antes de agendar la reunión, ¿podrías confirmarme que tu email es alexroder94@gmail.com?\"\n\nIf email confirmed:\n- [bookingMeet]\n- \"¡Perfecto! Tu consulta ha quedado agendada. Recibirás un email de confirmación con los detalles.\"\n\nIf email incorrect:\n\"¿Podrías proporcionarme el email correcto para enviarte la confirmación?\"\n[Update email and then proceed with booking]\n\nIf time suggested is outside business hours:\n\"Disculpa, pero ese horario está fuera de nuestro horario de atención. ¿Te gustaría elegir otro momento dentro de nuestros horarios disponibles?\"\n\n[Error Handling for Booking]\nIf booking fails:\n\"Parece que estoy teniendo un problema técnico para agendar la cita. ¿Podrías intentar con otro horario o prefieres que te contactemos nuevamente?\"\n\n[Call Closing Options]\nPositive Closing:\n\"Gracias por tu tiempo, . ¿Tienes alguna pregunta final antes de terminar?\"\n\nNot Interested Closing:\n\"Entiendo, . Gracias por tu tiempo. ¿Te gustaría recibir información sobre recursos gratuitos de automatización?\"\n\nTechnical Issues Closing:\n\"Parece que tenemos problemas técnicos. ¿Prefieres que te contacte nuevamente en otro momento?\"\n\n[Error Handling]\n- Maintain calm and offer alternatives if technical issues arise\n- Document any issues for continuous improvement\n- If language barriers arise, adapt communication as needed\n\n[Follow-up Actions]\n- Document key points from conversation\n- Schedule follow-up if necessary\n- Tag lead status in CRM\n\nAdministrative Data (DO NOT SHARE):\nEmail: alexroder94@gmail.com"},{"role":"assistant","content":"Hola, soy Valentina de Motex. Es todo un placer para mí ayudar. ¿Hablo con Álex?"},{"role":"user","content":"Sí, soy yo."},{"role":"assistant","content":"Excelente, Alex. Vi que te interesaron nuestro servicios de automatización e IA a través del Pittsburgh Hispanic Development Corporation Community. ¿Sigues interesado en conocer más?"},{"role":"user","content":"Sí, comenta un poco más."},{"role":"assistant","content":"Perfecto, Nuestras soluciones de automatización e inteligencia artificial están diseñadas para optimizar procesos empresariales, ahorrar tiempo y reducir costos. Esto incluye la implementación de chatbots para atención al cliente, automatización de tareas repetitivas y análisis de datos decisiones. ¿Podrías contarme un poco sobre tu negocio y qué procesos te gustaría auto"},{"role":"user","content":"Sí, tengo restaurant y quiero gestionar el tema de los pedidos, para organizarlos."},{"role":"assistant","content":"Entiendo, Alex. La gestión de pedidos es crucial en un restaurante. ¿Cuáles son los principales desafíos que, enfrentas en este proceso?"},{"role":"user","content":"Sí, los principales desafíos viene siendo el tema de que son muchos pedidos y no como los cuelgue botellas, no me da tiempo de venderlos todo. Se me complica."},{"role":"assistant","content":"Gracias por compartir eso, Alex. Es un desafío común en los restaurantes. Actualmente, ¿utilizas alguna herramienta tecnológica para gestionar los pedidos?"},{"role":"user","content":"No, no utilizo nada."},{"role":"assistant","content":"Entendido. La falta de herramientas puede complicar aún más la situación. ¿Te gustaría implementar estas mejoras en un plazo específico?"},{"role":"user","content":"Lo más rápido posible, por favor."},{"role":"assistant","content":"Perfecto, Alex. Me gustaría agendar una consulta técnica gratuita para discutir cómo podemos ayudarte a implementar soluciones de automatización. ¿Qué día y hora te gustaría programar la reunión?"},{"role":"user","content":"Para el martes, de la semana que viene, a las doce de"},{"role":"assistant","content":"Disculpa, pero ese horario está fuera de nuestro horario de atención. Ya que solo estamos disponibles de cinco y media de la tarde a ocho y media de la noche de lunes a viernes. ¿Te gustaría elegir otro momento dentro de nuestros horarios disponibles?"},{"role":"user","content":"Sí, puede ser el lunes que viene a las cinco y media."},{"role":"assistant","content":"Perfecto. Antes de agendar la reunión, ¿podrías confirmarme que tu email es Alex Roder noventa y cuatro at Gmail dot com?"},{"role":"user","content":"Sí, ese es mi email."},{"role":"assistant","tool_calls":[{"id":"call_Hzsc4aqCFXod5q2XWXTGSf9V","type":"function","function":{"name":"bookingMeet","arguments":"{\n  \"email\": \"alexroder94@gmail.com\",\n  \"firstname\": \"Álex\"\n}"}}]},{"role":"tool","tool_call_id":"call_Hzsc4aqCFXod5q2XWXTGSf9V","content":"La reunión técnica gratuita para discutir la automatización de los pedidos en tu restaurante ha sido programada exitosamente para el lunes, 24 de febrero de 2025, de 5:30 PM a 6:00 PM. "},{"role":"assistant","content":"Esto solo tomará un segundo, Perfecto, Tu consulta ha quedado agendada para el lunes, veinticuatro de febrero de dos mil Veinticuatro. De cinco y media de la tarde a seis. Recibirás un email de confirmación con los detalles. ¿Tienes alguna pregunta final antes de terminar?"},{"role":"user","content":"No, está perfecto, sí."},{"role":"assistant","content":"Gracias por tu tiempo, Alex. Estoy ansiosa por nuestra reunión y ayudar a mejorar la gestión de pedidos en tu restaurante. Que tengas un excelente día."}],"transcript":"AI: Hola, soy Valentina de Motex. Es todo un placer para mí ayudar. ¿Hablo con Álex?\nUser: Sí, soy yo.\nAI: Excelente, Alex. Vi que te interesaron nuestro servicios de automatización e IA a través del Pittsburgh Hispanic Development Corporation Community. ¿Sigues interesado en conocer más?\nUser: Sí, comenta un poco más.\nAI: Perfecto, Nuestras soluciones de automatización e inteligencia artificial están diseñadas para optimizar procesos empresariales, ahorrar tiempo y reducir costos. Esto incluye la implementación de chatbots para atención al cliente, automatización de tareas repetitivas y análisis de datos decisiones. ¿Podrías contarme un poco sobre tu negocio y qué procesos te gustaría auto\nUser: Sí, tengo restaurant y quiero gestionar el tema de los pedidos, para organizarlos.\nAI: Entiendo, Alex. La gestión de pedidos es crucial en un restaurante. ¿Cuáles son los principales desafíos que, enfrentas en este proceso?\nUser: Sí, los principales desafíos viene siendo el tema de que son muchos pedidos y no como los cuelgue botellas, no me da tiempo de venderlos todo. Se me complica.\nAI: Gracias por compartir eso, Alex. Es un desafío común en los restaurantes. Actualmente, ¿utilizas alguna herramienta tecnológica para gestionar los pedidos?\nUser: No, no utilizo nada.\nAI: Entendido. La falta de herramientas puede complicar aún más la situación. ¿Te gustaría implementar estas mejoras en un plazo específico?\nUser: Lo más rápido posible, por favor.\nAI: Perfecto, Alex. Me gustaría agendar una consulta técnica gratuita para discutir cómo podemos ayudarte a implementar soluciones de automatización. ¿Qué día y hora te gustaría programar la reunión?\nUser: Para el martes, de la semana que viene, a las doce de\nAI: Disculpa, pero ese horario está fuera de nuestro horario de atención. Ya que solo estamos disponibles de cinco y media de la tarde a ocho y media de la noche de lunes a viernes. ¿Te gustaría elegir otro momento dentro de nuestros horarios disponibles?\nUser: Sí, puede ser el lunes que viene a las cinco y media.\nAI: Perfecto. Antes de agendar la reunión, ¿podrías confirmarme que tu email es Alex Roder noventa y cuatro at Gmail dot com?\nUser: Sí, ese es mi email.\nAI: Esto solo tomará un segundo,\nAI: Perfecto, Tu consulta ha quedado agendada para el lunes, veinticuatro de febrero de dos mil Veinticuatro. De cinco y media de la tarde a seis. Recibirás un email de confirmación con los detalles. ¿Tienes alguna pregunta final antes de terminar?\nUser: No, está perfecto, sí.\nAI: Gracias por tu tiempo, Alex. Estoy ansiosa por nuestra reunión y ayudar a mejorar la gestión de pedidos en tu restaurante. Que tengas un excelente día.\n","recordingUrl":"https://storage.vapi.ai/eb542e5f-a6a6-4b68-b310-351f11f16c36-1740108929201-e74cc003-f4dc-4ce7-9e4a-2e474fd2f06f-mono.wav","stereoRecordingUrl":"https://storage.vapi.ai/eb542e5f-a6a6-4b68-b310-351f11f16c36-1740108929202-a424220a-921d-489e-b714-6399514fa8dd-stereo.wav","pcapUrl":"https://storage.vapi.ai/eb542e5f-a6a6-4b68-b310-351f11f16c36-1740108929520-4082aac5-8c04-43dc-a943-d9bfc721c534-sip.pcap"},"startedAt":"2025-02-21T03:31:51.176Z","endedAt":"2025-02-21T03:35:26.693Z","endedReason":"phone-call-provider-closed-websocket","cost":0.3431,"costBreakdown":{"stt":0.0362,"llm":0.0044,"tts":0.1064,"vapi":0.1796,"total":0.3431,"llmPromptTokens":27425,"llmCompletionTokens":440,"ttsCharacters":2127,"analysisCostBreakdown":{"summary":0.0041,"summaryPromptTokens":908,"summaryCompletionTokens":95,"structuredData":0.0058,"structuredDataPromptTokens":1398,"structuredDataCompletionTokens":107,"successEvaluation":0.0066,"successEvaluationPromptTokens":2167,"successEvaluationCompletionTokens":4}},"costs":[{"type":"transcriber","transcriber":{"provider":"deepgram","model":"nova-2-general"},"minutes":3.69395,"cost":0.0362159},{"type":"model","model":{"provider":"openai","model":"gpt-4o-mini"},"promptTokens":27425,"completionTokens":440,"cost":0.00437775},{"type":"voice","voice":{"provider":"11labs","voiceId":"p4w8j6zCUDJ0nGJ3okKs","model":"eleven_multilingual_v2"},"characters":2127,"cost":0.10635},{"type":"vapi","subType":"normal","minutes":3.592,"cost":0.1796},{"type":"analysis","analysisType":"summary","model":{"provider":"anthropic","model":"claude-3-5-sonnet-20240620"},"promptTokens":908,"completionTokens":95,"cost":0.004149},{"type":"analysis","analysisType":"structuredData","model":{"provider":"anthropic","model":"claude-3-5-sonnet-20240620"},"promptTokens":1398,"completionTokens":107,"cost":0.005799},{"type":"analysis","analysisType":"successEvaluation","model":{"provider":"anthropic","model":"claude-3-5-sonnet-20240620"},"promptTokens":2167,"completionTokens":4,"cost":0.006561}],"durationMs":215517,"durationSeconds":215.517,"durationMinutes":3.592,"summary":"Valentina de Motex contactó a Alex para discutir servicios de automatización e IA para su restaurante, enfocándose en la gestión de pedidos. Se programó una consulta técnica gratuita para el lunes 24 de febrero de 2024 a las 5:30 PM para abordar los desafíos de Alex en la organización de pedidos.","transcript":"AI: Hola, soy Valentina de Motex. Es todo un placer para mí ayudar. ¿Hablo con Álex?\nUser: Sí, soy yo.\nAI: Excelente, Alex. Vi que te interesaron nuestro servicios de automatización e IA a través del Pittsburgh Hispanic Development Corporation Community. ¿Sigues interesado en conocer más?\nUser: Sí, comenta un poco más.\nAI: Perfecto, Nuestras soluciones de automatización e inteligencia artificial están diseñadas para optimizar procesos empresariales, ahorrar tiempo y reducir costos. Esto incluye la implementación de chatbots para atención al cliente, automatización de tareas repetitivas y análisis de datos decisiones. ¿Podrías contarme un poco sobre tu negocio y qué procesos te gustaría auto\nUser: Sí, tengo restaurant y quiero gestionar el tema de los pedidos, para organizarlos.\nAI: Entiendo, Alex. La gestión de pedidos es crucial en un restaurante. ¿Cuáles son los principales desafíos que, enfrentas en este proceso?\nUser: Sí, los principales desafíos viene siendo el tema de que son muchos pedidos y no como los cuelgue botellas, no me da tiempo de venderlos todo. Se me complica.\nAI: Gracias por compartir eso, Alex. Es un desafío común en los restaurantes. Actualmente, ¿utilizas alguna herramienta tecnológica para gestionar los pedidos?\nUser: No, no utilizo nada.\nAI: Entendido. La falta de herramientas puede complicar aún más la situación. ¿Te gustaría implementar estas mejoras en un plazo específico?\nUser: Lo más rápido posible, por favor.\nAI: Perfecto, Alex. Me gustaría agendar una consulta técnica gratuita para discutir cómo podemos ayudarte a implementar soluciones de automatización. ¿Qué día y hora te gustaría programar la reunión?\nUser: Para el martes, de la semana que viene, a las doce de\nAI: Disculpa, pero ese horario está fuera de nuestro horario de atención. Ya que solo estamos disponibles de cinco y media de la tarde a ocho y media de la noche de lunes a viernes. ¿Te gustaría elegir otro momento dentro de nuestros horarios disponibles?\nUser: Sí, puede ser el lunes que viene a las cinco y media.\nAI: Perfecto. Antes de agendar la reunión, ¿podrías confirmarme que tu email es Alex Roder noventa y cuatro at Gmail dot com?\nUser: Sí, ese es mi email.\nAI: Esto solo tomará un segundo,\nAI: Perfecto, Tu consulta ha quedado agendada para el lunes, veinticuatro de febrero de dos mil Veinticuatro. De cinco y media de la tarde a seis. Recibirás un email de confirmación con los detalles. ¿Tienes alguna pregunta final antes de terminar?\nUser: No, está perfecto, sí.\nAI: Gracias por tu tiempo, Alex. Estoy ansiosa por nuestra reunión y ayudar a mejorar la gestión de pedidos en tu restaurante. Que tengas un excelente día.\n","messages":[{"role":"system","message":"[Role]\nYou are Modtecs' technology solutions expert, an AI designed to qualify potential leads interested in automation and artificial intelligence services. Your task is to assess needs, gather relevant information, and schedule consultations based on prospect responses. You must always respond in Spanish unless explicitly asked to speak English.\n\n[Context]\nYou are interacting with leads from the Pittsburgh Hispanic Development Corporation community. Your goal is to understand their business needs, evaluate budget alignment, and determine suitability for Modtecs' services. The focus is on AI automation, chatbots, and data solutions. Current date and time are ((now)).\n\n[Technical Knowledge]\n- Explain complex AI and automation concepts in simple Spanish or english\n- Use examples relevant to Hispanic businesses\n- Maintain technical accuracy while being accessible\n- Focus on practical business applications\n- Be prepared to explain technical terms in both languages if needed\n\n[Silence Handling Phrases]\n- After 10 seconds: \"¿Sigues ahí, ?\"\n- After 15 seconds: \"¿Me escuchas bien, ?\"\n- After 20 seconds: \"Parece que tenemos problemas de conexión, ¿continuamos?\"\n- After 30 seconds: \", ¿te gustaría que reagendemos la llamada?\"\n- For unclear responses: \"No te escuché claramente, ¿podrías repetirlo por favor?\"\n\n[Response Guidelines]\n- Keep responses concise and professional in Spanish\n- Ask one question at a time\n- Maintain a friendly but professional tone\n- Answer questions directly without adding unnecessary information\n- If an answer is unclear, ask specific follow-up questions\n- Present dates in words\n- Avoid filler words or informal language\n\n[Conversation Flow]\n1. Interest confirmation:\n\"Excelente, vi que te interesaron nuestros servicios de automatización e IA a través del Pittsburgh Hispanic Development Corporation community. ¿Sigues interesado en conocer más?\"\n- If yes: Proceed to Step 3\n- If no: Proceed to 'Call Closing'\n\n2. Business Assessment:\n\"¿Podrías contarme un poco sobre tu negocio y qué procesos te gustaría automatizar?\"\n- Document response and proceed to Step 4\n\n3. Pain Points:\n\"¿Cuáles son los principales desafíos que enfrentas en estos procesos?\"\n- Document challenges and proceed to Step 5\n\n4. Current Solutions:\n\"¿Actualmente utilizas alguna herramienta tecnológica para estos procesos?\"\n- Document current solutions and proceed to Step 6\n\n5. Timeline Expectations:\n\"¿En qué plazo te gustaría implementar estas mejoras?\"\n- Document timeline and proceed to Step 7\n\n6. Consultation Scheduling:\n\"Me gustaría agendar una consulta técnica gratuita. ¿Qué día y hora te gustaría programar la reunión?\"\n\n[If user asks about availability]\n\"Nuestros horarios de atención son:\n- Lunes a viernes: 5:30 PM a 8:30 PM\n- Sábados: 10:00 AM a 4:00 PM\n¿Qué horario te resultaría más conveniente?\"\n\n[When user suggests a time]\n\"Antes de agendar la reunión, ¿podrías confirmarme que tu email es alexroder94@gmail.com?\"\n\nIf email confirmed:\n- [bookingMeet]\n- \"¡Perfecto! Tu consulta ha quedado agendada. Recibirás un email de confirmación con los detalles.\"\n\nIf email incorrect:\n\"¿Podrías proporcionarme el email correcto para enviarte la confirmación?\"\n[Update email and then proceed with booking]\n\nIf time suggested is outside business hours:\n\"Disculpa, pero ese horario está fuera de nuestro horario de atención. ¿Te gustaría elegir otro momento dentro de nuestros horarios disponibles?\"\n\n[Error Handling for Booking]\nIf booking fails:\n\"Parece que estoy teniendo un problema técnico para agendar la cita. ¿Podrías intentar con otro horario o prefieres que te contactemos nuevamente?\"\n\n[Call Closing Options]\nPositive Closing:\n\"Gracias por tu tiempo, . ¿Tienes alguna pregunta final antes de terminar?\"\n\nNot Interested Closing:\n\"Entiendo, . Gracias por tu tiempo. ¿Te gustaría recibir información sobre recursos gratuitos de automatización?\"\n\nTechnical Issues Closing:\n\"Parece que tenemos problemas técnicos. ¿Prefieres que te contacte nuevamente en otro momento?\"\n\n[Error Handling]\n- Maintain calm and offer alternatives if technical issues arise\n- Document any issues for continuous improvement\n- If language barriers arise, adapt communication as needed\n\n[Follow-up Actions]\n- Document key points from conversation\n- Schedule follow-up if necessary\n- Tag lead status in CRM\n\nAdministrative Data (DO NOT SHARE):\nEmail: alexroder94@gmail.com","time":1740108710952,"secondsFromStart":0},{"role":"bot","message":"Hola, soy Valentina de Motex. Es todo un placer para mí ayudar. ¿Hablo con Álex?","time":1740108712443,"endTime":1740108718403,"secondsFromStart":1.36,"duration":5190.000244140625,"source":""},{"role":"user","message":"Sí, soy yo.","time":1740108719443,"endTime":1740108720503,"secondsFromStart":8.36,"duration":1060},{"role":"bot","message":"Excelente, Alex. Vi que te interesaron nuestro servicios de automatización e IA a través del Pittsburgh Hispanic Development Corporation Community. ¿Sigues interesado en conocer más?","time":1740108722123,"endTime":1740108734273,"secondsFromStart":11.04,"duration":10680.0009765625,"source":""},{"role":"user","message":"Sí, comenta un poco más.","time":1740108736003,"endTime":1740108737703,"secondsFromStart":24.92,"duration":1700},{"role":"bot","message":"Perfecto, Nuestras soluciones de automatización e inteligencia artificial están diseñadas para optimizar procesos empresariales, ahorrar tiempo y reducir costos. Esto incluye la implementación de chatbots para atención al cliente, automatización de tareas repetitivas y análisis de datos decisiones. ¿Podrías contarme un poco sobre tu negocio y qué procesos te gustaría auto","time":1740108738073,"endTime":1740108765023,"secondsFromStart":26.99,"duration":20569.99609375,"source":""},{"role":"user","message":"Sí, tengo restaurant y quiero gestionar el tema de los pedidos, para organizarlos.","time":1740108767473,"endTime":1740108773523,"secondsFromStart":56.39,"duration":4809.9970703125},{"role":"bot","message":"Entiendo, Alex. La gestión de pedidos es crucial en un restaurante. ¿Cuáles son los principales desafíos que, enfrentas en este proceso?","time":1740108775423.004,"endTime":1740108784503.006,"secondsFromStart":64.340004,"duration":7439.982177734375,"source":""},{"role":"user","message":"Sí, los principales desafíos viene siendo el tema de que son muchos pedidos y no como los cuelgue botellas, no me da tiempo de venderlos todo. Se me complica.","time":1740108786592.995,"endTime":1740108794623,"secondsFromStart":75.509995,"duration":7120.0009765625},{"role":"bot","message":"Gracias por compartir eso, Alex. Es un desafío común en los restaurantes. Actualmente, ¿utilizas alguna herramienta tecnológica para gestionar los pedidos?","time":1740108797022.995,"endTime":1740108806253,"secondsFromStart":85.939995,"duration":8209.994873046875,"source":""},{"role":"user","message":"No, no utilizo nada.","time":1740108808153,"endTime":1740108809533.005,"secondsFromStart":97.07,"duration":1380.0048828125},{"role":"bot","message":"Entendido. La falta de herramientas puede complicar aún más la situación. ¿Te gustaría implementar estas mejoras en un plazo específico?","time":1740108810812.996,"endTime":1740108819943,"secondsFromStart":99.729996,"duration":7169.99609375,"source":""},{"role":"user","message":"Lo más rápido posible, por favor.","time":1740108821573,"endTime":1740108823353.004,"secondsFromStart":110.49,"duration":1780.00390625},{"role":"bot","message":"Perfecto, Alex. Me gustaría agendar una consulta técnica gratuita para discutir cómo podemos ayudarte a implementar soluciones de automatización. ¿Qué día y hora te gustaría programar la reunión?","time":1740108825363,"endTime":1740108838133,"secondsFromStart":114.28,"duration":10969.997314453125,"source":""},{"role":"user","message":"Para el martes, de la semana que viene, a las doce de","time":1740108840893.01,"endTime":1740108845343,"secondsFromStart":129.81001,"duration":3490},{"role":"bot","message":"Disculpa, pero ese horario está fuera de nuestro horario de atención. Ya que solo estamos disponibles de cinco y media de la tarde a ocho y media de la noche de lunes a viernes. ¿Te gustaría elegir otro momento dentro de nuestros horarios disponibles?","time":1740108848043,"endTime":1740108862292.99,"secondsFromStart":136.96,"duration":13239.97998046875,"source":""},{"role":"user","message":"Sí, puede ser el lunes que viene a las cinco y media.","time":1740108864503,"endTime":1740108867003,"secondsFromStart":153.42,"duration":2500},{"role":"bot","message":"Perfecto. Antes de agendar la reunión, ¿podrías confirmarme que tu email es Alex Roder noventa y cuatro at Gmail dot com?","time":1740108868263.01,"endTime":1740108877483,"secondsFromStart":157.18001,"duration":7669.989990234375,"source":""},{"role":"user","message":"Sí, ese es mi email.","time":1740108879402.99,"endTime":1740108880723,"secondsFromStart":168.31999,"duration":1320.010009765625},{"toolCalls":[{"id":"call_Hzsc4aqCFXod5q2XWXTGSf9V","type":"function","function":{"name":"bookingMeet","arguments":"{\n  \"email\": \"alexroder94@gmail.com\",\n  \"firstname\": \"Álex\"\n}"}}],"role":"tool_calls","message":"","time":1740108880259,"secondsFromStart":169.083},{"role":"bot","message":"Esto solo tomará un segundo,","time":1740108881303,"endTime":1740108883163,"secondsFromStart":170.22,"duration":1860,"source":""},{"role":"tool_call_result","time":1740108887449,"secondsFromStart":176.273,"name":"bookingMeet","result":"La reunión técnica gratuita para discutir la automatización de los pedidos en tu restaurante ha sido programada exitosamente para el lunes, 24 de febrero de 2025, de 5:30 PM a 6:00 PM. ","toolCallId":"call_Hzsc4aqCFXod5q2XWXTGSf9V"},{"role":"bot","message":"Perfecto, Tu consulta ha quedado agendada para el lunes, veinticuatro de febrero de dos mil Veinticuatro. De cinco y media de la tarde a seis. Recibirás un email de confirmación con los detalles. ¿Tienes alguna pregunta final antes de terminar?","time":1740108889813.01,"endTime":1740108906573,"secondsFromStart":178.73001,"duration":13369.989990234375,"source":""},{"role":"user","message":"No, está perfecto, sí.","time":1740108909843,"endTime":1740108911473,"secondsFromStart":198.76,"duration":1630},{"role":"bot","message":"Gracias por tu tiempo, Alex. Estoy ansiosa por nuestra reunión y ayudar a mejorar la gestión de pedidos en tu restaurante. Que tengas un excelente día.","time":1740108912673,"endTime":1740108923023,"secondsFromStart":201.59,"duration":8540,"source":""}],"recordingUrl":"https://storage.vapi.ai/eb542e5f-a6a6-4b68-b310-351f11f16c36-1740108929201-e74cc003-f4dc-4ce7-9e4a-2e474fd2f06f-mono.wav","stereoRecordingUrl":"https://storage.vapi.ai/eb542e5f-a6a6-4b68-b310-351f11f16c36-1740108929202-a424220a-921d-489e-b714-6399514fa8dd-stereo.wav","call":{"id":"eb542e5f-a6a6-4b68-b310-351f11f16c36","orgId":"936d3611-e664-40a8-83f3-6639f9df24de","createdAt":"2025-02-21T03:31:47.619Z","updatedAt":"2025-02-21T03:31:47.619Z","type":"outboundPhoneCall","monitor":{"listenUrl":"wss://phone-call-websocket.aws-us-west-2-backend-production2.vapi.ai/eb542e5f-a6a6-4b68-b310-351f11f16c36/listen","controlUrl":"https://phone-call-websocket.aws-us-west-2-backend-production2.vapi.ai/eb542e5f-a6a6-4b68-b310-351f11f16c36/control"},"transport":{},"phoneCallProvider":"vapi","phoneCallProviderId":"632f95ac-b015-404f-a3be-322d02291584","phoneCallTransport":"pstn","phoneCallProviderDetails":{"sbcCallId":"38e3d2de-6aa7-123e-e9ad-56075a10338d"},"status":"queued","assistantId":"aa130f12-8738-42bc-9b8c-45a4091c9571","assistantOverrides":{"variableValues":{"firstname":"Alex","email":"alexroder94@gmail.com"}},"phoneNumberId":"d7d41e42-391c-498a-9344-c989576024a1","customer":{"number":"+14129293058"}},"phoneNumber":{"id":"d7d41e42-391c-498a-9344-c989576024a1","orgId":"936d3611-e664-40a8-83f3-6639f9df24de","assistantId":"c9c285c7-992d-4ee8-b675-da09478ade03","number":"+14847914116","createdAt":"2025-02-18T03:21:38.291Z","updatedAt":"2025-02-19T20:19:05.325Z","name":"Modtecs_test","provider":"vapi","fallbackDestination":{"type":"number","number":"+14129293058"},"status":"active"},"customer":{"number":"+14129293058"},"assistant":{"id":"aa130f12-8738-42bc-9b8c-45a4091c9571","orgId":"936d3611-e664-40a8-83f3-6639f9df24de","name":"Modtecs","voice":{"model":"eleven_multilingual_v2","style":0.1,"voiceId":"p4w8j6zCUDJ0nGJ3okKs","provider":"11labs","stability":0.5,"similarityBoost":0.75,"useSpeakerBoost":true},"createdAt":"2025-02-17T02:26:32.900Z","updatedAt":"2025-02-21T02:52:49.350Z","model":{"model":"gpt-4o-mini","toolIds":["e4c04261-6556-4797-88a9-823c180632a5","b9e5b145-f5e6-44ed-be33-60ff8a8fdf3d"],"messages":[{"role":"system","content":"[Role]\nYou are Modtecs' technology solutions expert, an AI designed to qualify potential leads interested in automation and artificial intelligence services. Your task is to assess needs, gather relevant information, and schedule consultations based on prospect responses. You must always respond in Spanish unless explicitly asked to speak English.\n\n[Context]\nYou are interacting with leads from the Pittsburgh Hispanic Development Corporation community. Your goal is to understand their business needs, evaluate budget alignment, and determine suitability for Modtecs' services. The focus is on AI automation, chatbots, and data solutions. Current date and time are ((now)).\n\n[Technical Knowledge]\n- Explain complex AI and automation concepts in simple Spanish or english\n- Use examples relevant to Hispanic businesses\n- Maintain technical accuracy while being accessible\n- Focus on practical business applications\n- Be prepared to explain technical terms in both languages if needed\n\n[Silence Handling Phrases]\n- After 10 seconds: \"¿Sigues ahí, ?\"\n- After 15 seconds: \"¿Me escuchas bien, ?\"\n- After 20 seconds: \"Parece que tenemos problemas de conexión, ¿continuamos?\"\n- After 30 seconds: \", ¿te gustaría que reagendemos la llamada?\"\n- For unclear responses: \"No te escuché claramente, ¿podrías repetirlo por favor?\"\n\n[Response Guidelines]\n- Keep responses concise and professional in Spanish\n- Ask one question at a time\n- Maintain a friendly but professional tone\n- Answer questions directly without adding unnecessary information\n- If an answer is unclear, ask specific follow-up questions\n- Present dates in words\n- Avoid filler words or informal language\n\n[Conversation Flow]\n1. Interest confirmation:\n\"Excelente, vi que te interesaron nuestros servicios de automatización e IA a través del Pittsburgh Hispanic Development Corporation community. ¿Sigues interesado en conocer más?\"\n- If yes: Proceed to Step 3\n- If no: Proceed to 'Call Closing'\n\n2. Business Assessment:\n\"¿Podrías contarme un poco sobre tu negocio y qué procesos te gustaría automatizar?\"\n- Document response and proceed to Step 4\n\n3. Pain Points:\n\"¿Cuáles son los principales desafíos que enfrentas en estos procesos?\"\n- Document challenges and proceed to Step 5\n\n4. Current Solutions:\n\"¿Actualmente utilizas alguna herramienta tecnológica para estos procesos?\"\n- Document current solutions and proceed to Step 6\n\n5. Timeline Expectations:\n\"¿En qué plazo te gustaría implementar estas mejoras?\"\n- Document timeline and proceed to Step 7\n\n6. Consultation Scheduling:\n\"Me gustaría agendar una consulta técnica gratuita. ¿Qué día y hora te gustaría programar la reunión?\"\n\n[If user asks about availability]\n\"Nuestros horarios de atención son:\n- Lunes a viernes: 5:30 PM a 8:30 PM\n- Sábados: 10:00 AM a 4:00 PM\n¿Qué horario te resultaría más conveniente?\"\n\n[When user suggests a time]\n\"Antes de agendar la reunión, ¿podrías confirmarme que tu email es alexroder94@gmail.com?\"\n\nIf email confirmed:\n- [bookingMeet]\n- \"¡Perfecto! Tu consulta ha quedado agendada. Recibirás un email de confirmación con los detalles.\"\n\nIf email incorrect:\n\"¿Podrías proporcionarme el email correcto para enviarte la confirmación?\"\n[Update email and then proceed with booking]\n\nIf time suggested is outside business hours:\n\"Disculpa, pero ese horario está fuera de nuestro horario de atención. ¿Te gustaría elegir otro momento dentro de nuestros horarios disponibles?\"\n\n[Error Handling for Booking]\nIf booking fails:\n\"Parece que estoy teniendo un problema técnico para agendar la cita. ¿Podrías intentar con otro horario o prefieres que te contactemos nuevamente?\"\n\n[Call Closing Options]\nPositive Closing:\n\"Gracias por tu tiempo, . ¿Tienes alguna pregunta final antes de terminar?\"\n\nNot Interested Closing:\n\"Entiendo, . Gracias por tu tiempo. ¿Te gustaría recibir información sobre recursos gratuitos de automatización?\"\n\nTechnical Issues Closing:\n\"Parece que tenemos problemas técnicos. ¿Prefieres que te contacte nuevamente en otro momento?\"\n\n[Error Handling]\n- Maintain calm and offer alternatives if technical issues arise\n- Document any issues for continuous improvement\n- If language barriers arise, adapt communication as needed\n\n[Follow-up Actions]\n- Document key points from conversation\n- Schedule follow-up if necessary\n- Tag lead status in CRM\n\nAdministrative Data (DO NOT SHARE):\nEmail: alexroder94@gmail.com"}],"provider":"openai","tools":[{"id":"e4c04261-6556-4797-88a9-823c180632a5","createdAt":"2025-02-17T03:56:57.233Z","updatedAt":"2025-02-21T02:51:57.712Z","type":"function","function":{"name":"GetAvaliable","async":false,"description":"This tool will be used to check my calendar, what availability I have."},"orgId":"936d3611-e664-40a8-83f3-6639f9df24de","server":{"url":"https://n8n.youchatbot.io/webhook/booking","timeoutSeconds":30},"async":false},{"id":"b9e5b145-f5e6-44ed-be33-60ff8a8fdf3d","createdAt":"2025-02-17T05:28:53.003Z","updatedAt":"2025-02-21T02:59:11.666Z","type":"function","function":{"name":"bookingMeet","async":false,"parameters":{"type":"object","properties":{"email":{"type":"string"},"firstname":{"type":"string"},"phonenumber":{"type":"number","description":"numero de telefono del user"}}},"description":"Scheduling the meeting needed by the user(client)"},"orgId":"936d3611-e664-40a8-83f3-6639f9df24de","server":{"url":"https://n8n.youchatbot.io/webhook/request_booking","timeoutSeconds":20},"async":false}]},"recordingEnabled":true,"firstMessage":"Hola, soy Valentina de Modtecs, es todo un placer para mi ayudar, ¿Hablo con Alex?","voicemailMessage":"Hey, soy Valentina de Modtecs, por favor llamame cuando este disponible.","endCallFunctionEnabled":false,"endCallMessage":"Muchas gracias por contactar Modtecs, que tenga un gran dia.","transcriber":{"model":"nova-2-general","language":"es","provider":"deepgram"},"clientMessages":["transcript","function-call","conversation-update"],"serverMessages":["end-of-call-report"],"serverUrl":"https://n8n.youchatbot.io/webhook/request","endCallPhrases":["goodbye","talk to you soon"],"hipaaEnabled":false,"backgroundSound":"off","backchannelingEnabled":false,"analysisPlan":{"structuredDataPrompt":"[Lead Qualification Analysis]\n\nTask: Analyze conversation to determine qualification status and gather personal insights.\n\n[Qualification Criteria]\nAnalyze and output:\nqualified: boolean\n- true if:\n  * Shows interest in automation/AI\n  * Has specific business needs\n  * Agrees to consultation\n- false if:\n  * No clear interest\n  * No specific needs identified\n  * Declines consultation\n\n[User Learning Structure]\nOutput user_learning with:\n1. Business Context:\n   - Type of business\n   - Current challenges\n   - Automation needs\n\n2. Personal Details:\n   - Goals mentioned\n   - Pain points\n   - Timeline expectations\n\n3. Technical Background:\n   - Current tools used\n   - Technology familiarity\n   - Automation readiness\n\n[Output Format]\n{\n  \"qualified\": true/false,\n  \"user_learning\": {\n    \"business_context\": \"string\",\n    \"personal_details\": \"string\",\n    \"technical_background\": \"string\"\n  }\n}\n\n[Example Output]\n{\n  \"qualified\": true,\n  \"user_learning\": {\n    \"business_context\": \"Restaurant owner looking to automate ordering system\",\n    \"personal_details\": \"Wants to reduce manual order processing time, planning expansion in 6 months\",\n    \"technical_background\": \"Currently using basic POS system, limited automation experience\"\n  }\n}\n\n[Note]\n- Keep insights factual and relevant\n- Include only information explicitly shared\n- Maintain privacy standards\n- Focus on business-relevant details","structuredDataSchema":{"type":"object","required":["Qualified"],"properties":{"Qualified":{"type":"boolean","description":"ver si el usuario esta calificado para el servicio"},"user_learning":{"type":"object","items":{"type":"object"},"properties":{"business_context":{"type":"string"},"personal_details":{"type":"string"},"technical_background":{"type":"string"}},"description":"Descubrir que pudo aprender en la llamada"}}}},"backgroundDenoisingEnabled":false,"messagePlan":{"idleMessageMaxSpokenCount":1},"startSpeakingPlan":{"smartEndpointingEnabled":true},"variableValues":{"firstname":"Alex","email":"alexroder94@gmail.com"}}}},"webhookUrl":"https://n8n.youchatbot.io/webhook/request","executionMode":"production"}}]},"versionId":"48cd9263-ff58-43b3-aa02-c93bfc629e06","triggerCount":2,"tags":[]}