docs/create-quickbooks-online-customers-with-sales-receipts-for-new-stripe-payments-zILBpX3TXUKNO8JX.json
{"createdAt":"2025-03-13T01:02:48.157Z","updatedAt":"2025-03-13T01:04:25.385Z","id":"zILBpX3TXUKNO8JX","name":"Create QuickBooks Online Customers With Sales Receipts For New Stripe Payments","active":false,"nodes":[{"parameters":{"method":"POST","url":"https://sandbox-quickbooks.api.intuit.com/v3/company/9341453851324714/salesreceipt?minorversion=73","authentication":"predefinedCredentialType","nodeCredentialType":"quickBooksOAuth2Api","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"Line\": [\n    {\n      \"Description\": \"{{ $json.data.object.description }}\",\n      \"DetailType\": \"SalesItemLineDetail\",\n      \"SalesItemLineDetail\": {\n        \"TaxCodeRef\": {\n          \"value\": \"NON\"\n        },\n        \"Qty\": 1,\n        \"UnitPrice\": {{ $json.data.object.amount_received / 100 }},\n        \"ItemRef\": {\n          \"name\": \"Subscription\", \n          \"value\": \"10\"\n        }\n      },\n      \"Amount\": {{ $json.data.object.amount / 100 }},\n      \"LineNum\": 1\n    }\n  ],\n  \"CustomerRef\": {\n    \"value\": {{ $input.all()[2].json.QueryResponse.Customer[0].BillAddr.Id }},\n    \"name\": \"{{ $input.all()[2].json.QueryResponse.Customer[0].DisplayName }}\"\n  },\n  \"CurrencyRef\": {\n    \"value\": \"{{ $json.data.object.currency.toUpperCase() }}\"\n  },\n  \"PrivateNote\": \"Payment from Stripe Payment Intent ID: {{ $json.data.object.id }}\"\n}","options":{}},"id":"d0995976-161d-40c7-b2ee-01c59af6a8d1","name":"POST Sales Receipt","type":"n8n-nodes-base.httpRequest","position":[1000,20],"executeOnce":true,"typeVersion":4.2},{"parameters":{"url":"=https://sandbox-quickbooks.api.intuit.com/v3/company/9341453851324714/query?query=select * from Customer Where PrimaryEmailAddr = '{{ $json.email }}'&minorversion=73\n\n","authentication":"predefinedCredentialType","nodeCredentialType":"quickBooksOAuth2Api","options":{}},"id":"0f489234-af1a-410b-9d84-705691aef4d6","name":"GET Quickbooks Customer","type":"n8n-nodes-base.httpRequest","position":[80,120],"typeVersion":4.2},{"parameters":{"resource":"customer","customerId":"={{ $json.data.object.customer }}"},"id":"43810984-e62e-4d4d-9c22-4322a91221f5","name":"Get Stripe Customer","type":"n8n-nodes-base.stripe","position":[-80,0],"typeVersion":1,"credentials":{"stripeApi":{"id":"C8WMXzw5GM3aR0ws","name":"Stripe account"}}},{"parameters":{"events":["payment_intent.succeeded"]},"id":"8ecad807-c496-4265-8cdd-06408d8b8600","name":"New Payment","type":"n8n-nodes-base.stripeTrigger","position":[-240,-120],"webhookId":"5cc15770-f762-4389-8372-1b2926de4570","typeVersion":1,"credentials":{"stripeApi":{"id":"C8WMXzw5GM3aR0ws","name":"Stripe account"}}},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"aef7393c-c4ff-4196-887d-6a9b057381f8","operator":{"type":"string","operation":"exists","singleValue":true},"leftValue":"={{ $json.QueryResponse.Customer[0].PrimaryEmailAddr.Address }}","rightValue":""}]},"options":{}},"id":"cca7e5a8-9f1b-483a-a783-88eea905c189","name":"If Customer Exists","type":"n8n-nodes-base.if","position":[240,240],"typeVersion":2.2},{"parameters":{},"id":"c4b0e450-27e8-4afb-a841-43649d29ceb0","name":"Use Stripe Customer","type":"n8n-nodes-base.merge","position":[560,260],"executeOnce":true,"typeVersion":3},{"parameters":{"operation":"create","displayName":"={{ $input.all()[0].json.name }}","additionalFields":{"Balance":"={{ $input.all()[0].json.balance }}","PrimaryEmailAddr":"={{ $input.all()[0].json.email }}"}},"id":"15bfe590-b4f0-46e9-b6bc-56ab844a3d0b","name":"Create QuickBooks Customer","type":"n8n-nodes-base.quickbooks","position":[780,260],"executeOnce":true,"typeVersion":1},{"parameters":{"numberInputs":3},"id":"31b0baa5-8da2-47be-a667-1b0c73bc45b8","name":"Merge Stripe and QuickBooks Data","type":"n8n-nodes-base.merge","position":[780,20],"typeVersion":3},{"parameters":{},"id":"15aac62a-2443-4098-901a-c40498b3dd65","name":"Merge Payment and QuickBooks Customer","type":"n8n-nodes-base.merge","position":[1000,260],"executeOnce":true,"typeVersion":3},{"parameters":{"method":"POST","url":"https://sandbox-quickbooks.api.intuit.com/v3/company/9341453851324714/salesreceipt?minorversion=73","authentication":"predefinedCredentialType","nodeCredentialType":"quickBooksOAuth2Api","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"Line\": [\n    {\n      \"Description\": \"{{ $json.data.object.description }}\",\n      \"DetailType\": \"SalesItemLineDetail\",\n      \"SalesItemLineDetail\": {\n        \"TaxCodeRef\": {\n          \"value\": \"NON\"\n        },\n        \"Qty\": 1,\n        \"UnitPrice\": {{ $json.data.object.amount_received / 100 }},\n        \"ItemRef\": {\n          \"name\": \"Subscription\", \n          \"value\": \"10\"\n        }\n      },\n      \"Amount\": {{ $json.data.object.amount / 100 }},\n      \"LineNum\": 1\n    }\n  ],\n  \"CustomerRef\": {\n    \"value\": {{ $input.all()[1].json.Id}},\n    \"name\": \"{{ $input.all()[1].json.DisplayName }}\"\n  },\n  \"CurrencyRef\": {\n    \"value\": \"{{ $json.data.object.currency.toUpperCase() }}\"\n  },\n  \"PrivateNote\": \"Payment from Stripe Payment Intent ID: {{ $json.data.object.id }}\"\n}","options":{}},"id":"f81eca4f-4134-4c3f-9e1a-b965590771f7","name":"POST Sales Receipt To QuickBooks","type":"n8n-nodes-base.httpRequest","position":[1220,260],"executeOnce":true,"typeVersion":4.2}],"connections":{"New Payment":{"main":[[{"node":"Get Stripe Customer","type":"main","index":0},{"node":"Merge Stripe and QuickBooks Data","type":"main","index":0},{"node":"Merge Payment and QuickBooks Customer","type":"main","index":0}]]},"If Customer Exists":{"main":[[{"node":"Merge Stripe and QuickBooks Data","type":"main","index":2}],[{"node":"Use Stripe Customer","type":"main","index":0}]]},"Get Stripe Customer":{"main":[[{"node":"GET Quickbooks Customer","type":"main","index":0},{"node":"Use Stripe Customer","type":"main","index":1}]]},"Use Stripe Customer":{"main":[[{"node":"Create QuickBooks Customer","type":"main","index":0}]]},"GET Quickbooks Customer":{"main":[[{"node":"If Customer Exists","type":"main","index":0},{"node":"Merge Stripe and QuickBooks Data","type":"main","index":1}]]},"Create QuickBooks Customer":{"main":[[{"node":"Merge Payment and QuickBooks Customer","type":"main","index":1}]]},"Merge Stripe and QuickBooks Data":{"main":[[{"node":"POST Sales Receipt","type":"main","index":0}]]},"Merge Payment and QuickBooks Customer":{"main":[[{"node":"POST Sales Receipt To QuickBooks","type":"main","index":0}]]}},"settings":{},"staticData":null,"meta":{"templateId":"2807","templateCredsSetupCompleted":true},"pinData":{"New Payment":[{"json":{"id":"evt_3Qjf7fJJNVDH5POn01Am9Q1x","data":{"object":{"id":"pi_3Qjf54D14htxZ8341jkWWJJs","amount":9500,"object":"payment_intent","review":null,"source":null,"status":"succeeded","created":1737456794,"invoice":"in_1Qje8QD14htxZ834S3Gh3Nn6","currency":"usd","customer":"cus_R4OkhTTT1ebzPl","livemode":false,"metadata":{},"shipping":null,"processing":null,"application":null,"canceled_at":null,"description":"Subscription update","next_action":null,"on_behalf_of":null,"client_secret":"pi_3Qjf54D14htxZ8341jkWWJJs_secret_FXltcZHFUDM8I4F0AQjRPE9Vz","latest_charge":"ch_3Qjf54D14htxZ8341xwQhggm","receipt_email":null,"transfer_data":null,"amount_details":{"tip":{}},"capture_method":"automatic","payment_method":"pm_1Qh6nED14htxZ834bTgSzUQy","transfer_group":null,"amount_received":9500,"amount_capturable":0,"last_payment_error":null,"setup_future_usage":null,"cancellation_reason":null,"confirmation_method":"automatic","payment_method_types":["amazon_pay","card","cashapp","link"],"statement_descriptor":null,"application_fee_amount":null,"payment_method_options":{"card":{"network":null,"installments":null,"mandate_options":null,"request_three_d_secure":"automatic"},"link":{"persistent_token":null},"cashapp":{},"amazon_pay":{"express_checkout_element_session_id":null}},"automatic_payment_methods":null,"statement_descriptor_suffix":null,"payment_method_configuration_details":null}},"type":"payment_intent.succeeded","object":"event","created":1737456956,"request":{"id":"req_vbXfG1vUORKZJ6","idempotency_key":"e63d5e07-f753-429c-bd06-c642e23d9ff8"},"livemode":false,"api_version":"2020-08-27","pending_webhooks":3}}],"Get Stripe Customer":[{"json":{"id":"cus_R4OkhTTT1ebzPl","name":"Test Usershvili","email":"Birds@Intuit.com","phone":null,"object":"customer","address":{"city":null,"line1":null,"line2":null,"state":null,"country":"GE","postal_code":null},"balance":0,"created":1729495354,"currency":"usd","discount":null,"livemode":false,"metadata":{},"shipping":null,"delinquent":false,"tax_exempt":"none","test_clock":null,"description":null,"default_source":null,"invoice_prefix":"F73B0901","default_currency":"usd","invoice_settings":{"footer":null,"custom_fields":null,"rendering_options":null,"default_payment_method":null},"preferred_locales":["en-GB"]}}]},"versionId":"e5a2057b-64ff-485b-a110-3f047be48571","triggerCount":0,"tags":[]}