docs/damceti-reports-google-analytics-JUgEmt94Jn7xxkXe.json
{"createdAt":"2025-02-09T19:29:24.393Z","updatedAt":"2025-02-10T03:30:47.669Z","id":"JUgEmt94Jn7xxkXe","name":"Damceti Reports Google Analytics","active":true,"nodes":[{"parameters":{},"id":"a408782f-80e9-4e9c-b7f7-07e591787d0e","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-80,340]},{"parameters":{"content":"## Property ID\n\n1. Create your [Google Analytics Credentials](https://docs.n8n.io/integrations/builtin/credentials/google/oauth-single-service/?utm_source=n8n_app&utm_medium=credential_settings&utm_campaign=create_new_credentials_modal)\n2. Enter your [property ID](https://developers.google.com/analytics/devguides/reporting/data/v1/property-id) or Choose from the List of Properties.","height":926,"width":1290,"color":4},"id":"a144a841-7f46-4f6e-9278-1c3d1bd517cc","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[120,160],"typeVersion":1},{"parameters":{"propertyId":{"__rl":true,"value":"475830842","mode":"id"},"dateRange":"last30days","metricsGA4":{"metricValues":[{"listName":"other","name":"screenPageViews"},{"listName":"other","name":"activeUsers"},{"listName":"other","name":"screenPageViewsPerUser"},{"listName":"other","name":"eventCount"}]},"dimensionsGA4":{"dimensionValues":[{"listName":"other","name":"unifiedScreenName"}]},"returnAll":true,"simple":false,"additionalFields":{"keepEmptyRows":true}},"id":"5bdde26c-1aa6-42c6-88b2-cd24fd2e6114","name":"Get Page Engagement Stats for this week","type":"n8n-nodes-base.googleAnalytics","position":[200,300],"typeVersion":2,"credentials":{"googleAnalyticsOAuth2":{"id":"YURkxTNSnF1V55aJ","name":"Google Analytics account"}}},{"parameters":{"propertyId":{"__rl":true,"value":"475830842","mode":"id"},"dateRange":"custom","startDate":"={{$today.minus({days: 14})}}","endDate":"={{$today.minus({days: 7})}}","metricsGA4":{"metricValues":[{"listName":"other","name":"screenPageViews"},{"listName":"other","name":"activeUsers"},{"listName":"other","name":"screenPageViewsPerUser"},{"listName":"other","name":"eventCount"}]},"dimensionsGA4":{"dimensionValues":[{"listName":"other","name":"unifiedScreenName"}]},"returnAll":true,"simple":false,"additionalFields":{"keepEmptyRows":true}},"id":"30782be4-31b6-40a1-b749-610279110031","name":"Get Page Engagement Stats for prior week","type":"n8n-nodes-base.googleAnalytics","position":[600,300],"typeVersion":2,"credentials":{"googleAnalyticsOAuth2":{"id":"YURkxTNSnF1V55aJ","name":"Google Analytics account"}}},{"parameters":{"propertyId":{"__rl":true,"value":"475830842","mode":"id"},"dateRange":"last30days","metricsGA4":{"metricValues":[{}]},"dimensionsGA4":{"dimensionValues":[{}]},"returnAll":true,"simple":false,"additionalFields":{}},"id":"368ec550-b437-4cb2-8fe1-aa71264fc11d","name":"Get Google Search Results for this week","type":"n8n-nodes-base.googleAnalytics","position":[1000,300],"typeVersion":2,"credentials":{"googleAnalyticsOAuth2":{"id":"YURkxTNSnF1V55aJ","name":"Google Analytics account"}}},{"parameters":{"propertyId":{"__rl":true,"value":"475830842","mode":"id"},"dateRange":"last30days","metricsGA4":{"metricValues":[{"listName":"other","name":"activeUsers"},{"listName":"other","name":"newUsers"},{"listName":"other","name":"engagementRate"},{"listName":"other","name":"engagedSessions"},{"listName":"other","name":"eventCount"},{"listName":"other"},{"listName":"other","name":"sessions"}]},"dimensionsGA4":{"dimensionValues":[{"listName":"other","name":"country"}]},"returnAll":true,"simple":false,"additionalFields":{"keepEmptyRows":true}},"id":"6a606172-3dc2-4ca5-8ac9-9970fd65d821","name":"Get Country views data for this week","type":"n8n-nodes-base.googleAnalytics","position":[600,500],"typeVersion":2,"credentials":{"googleAnalyticsOAuth2":{"id":"YURkxTNSnF1V55aJ","name":"Google Analytics account"}}},{"parameters":{"jsCode":"// Helper function to decode and parse a URL-encoded JSON string\nfunction decodeUrlString(urlString) {\n    try {\n        const decoded = JSON.parse(decodeURIComponent(urlString));\n        console.log('Decoded URL string:', JSON.stringify(decoded, null, 2));\n        return decoded;\n    } catch (error) {\n        console.log('Error decoding URL string:', error.message);\n        return [];\n    }\n}\n\n// Main function to aggregate data\nfunction aggregateData(items) {\n    // Extract each urlString from the input\n    const data = items[0]?.json; // Get the first JSON object from input\n\n    if (!data) {\n        console.log('No data found in input items.');\n        return {};\n    }\n\n    // Decode each urlString\n    const engagementStatsThisWeek = decodeUrlString(data.urlString1 || '');\n    const engagementStatsPriorWeek = decodeUrlString(data.urlString2 || '');\n    const searchResultsThisWeek = decodeUrlString(data.urlString3 || '');\n    const searchResultsLastWeek = decodeUrlString(data.urlString4 || '');\n    const countryViewsThisWeek = decodeUrlString(data.urlString5 || '');\n    const countryViewsLastWeek = decodeUrlString(data.urlString6 || '');\n\n    // Aggregate the decoded data into a structured object\n    const aggregatedData = {\n        engagementStats: {\n            thisMonth: engagementStatsThisWeek,\n            priorMonth: engagementStatsPriorWeek,\n        },\n        searchResults: {\n            thisMonth: searchResultsThisWeek,\n            lastMonth: searchResultsLastWeek,\n        },\n        countryViews: {\n            thisMonth: countryViewsThisWeek,\n            lastMonth: countryViewsLastWeek,\n        },\n    };\n\n    console.log('Final Aggregated Data:', JSON.stringify(aggregatedData, null, 2));\n    return aggregatedData;\n}\n\n// Get input data from all nodes\nconst items = $input.all();\nconsole.log('Input items to Aggregate Data:', JSON.stringify(items, null, 2));\n\n// Perform aggregation\nconst aggregatedResult = aggregateData(items);\n\n// Output the aggregated result for downstream processing\nreturn { json: aggregatedResult };\n"},"id":"70fdbed7-5195-494a-8fd8-e95c689b8ffb","name":"Aggregate Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[400,700]},{"parameters":{"propertyId":{"__rl":true,"value":"475830842","mode":"id"},"dateRange":"custom","startDate":"={{$today.minus({days: 14})}}","endDate":"={{$today.minus({days: 7})}}","metricsGA4":{"metricValues":[{}]},"dimensionsGA4":{"dimensionValues":[{}]},"returnAll":true,"simple":false,"additionalFields":{}},"id":"f3b582ef-afee-424d-aae2-3e3f6d2f1a90","name":"Get Google Search Results for prior week","type":"n8n-nodes-base.googleAnalytics","position":[200,500],"typeVersion":2,"credentials":{"googleAnalyticsOAuth2":{"id":"YURkxTNSnF1V55aJ","name":"Google Analytics account"}}},{"parameters":{"propertyId":{"__rl":true,"value":"475830842","mode":"id"},"dateRange":"custom","startDate":"={{$today.minus({days: 14})}}","endDate":"={{$today.minus({days: 7})}}","metricsGA4":{"metricValues":[{"listName":"other","name":"activeUsers"},{"listName":"other","name":"newUsers"},{"listName":"other","name":"engagementRate"},{"listName":"other","name":"engagedSessions"},{"listName":"other","name":"eventCount"},{"listName":"other"},{"listName":"other","name":"sessions"}]},"dimensionsGA4":{"dimensionValues":[{"listName":"other","name":"country"}]},"returnAll":true,"simple":false,"additionalFields":{"keepEmptyRows":true}},"id":"8cfe51fd-da4e-4cd2-a853-c28711070b5b","name":"Get Country views data for prior week","type":"n8n-nodes-base.googleAnalytics","position":[1000,500],"typeVersion":2,"credentials":{"googleAnalyticsOAuth2":{"id":"YURkxTNSnF1V55aJ","name":"Google Analytics account"}}},{"parameters":{"jsCode":"function transformToUrlString(items) {\n    // Debug logging\n    console.log('Input items:', JSON.stringify(items, null, 2));\n    \n    // Check if items is an array and has content\n    if (!Array.isArray(items) || items.length === 0) {\n        console.log('Items is not an array or is empty');\n        throw new Error('Invalid data structure');\n    }\n\n    // Check if first item exists and has json property\n    if (!items[0] || !items[0].json) {\n        console.log('First item is missing or has no json property');\n        throw new Error('Invalid data structure');\n    }\n\n    // Get the analytics data\n    const analyticsData = items[0].json;\n    \n    // Check if analyticsData has rows\n    if (!analyticsData || !Array.isArray(analyticsData.rows)) {\n        console.log('Analytics data is missing or has no rows array');\n        throw new Error('Invalid data structure');\n    }\n    \n    // Map each row to a simplified object\n    const simplified = analyticsData.rows.map(row => {\n        if (!row.dimensionValues?.[0]?.value || !row.metricValues?.length) {\n            console.log('Invalid row structure:', row);\n            throw new Error('Invalid row structure');\n        }\n        \n        return {\n            page: row.dimensionValues[0].value,\n            pageViews: parseInt(row.metricValues[0].value) || 0,\n            activeUsers: parseInt(row.metricValues[1].value) || 0,\n            viewsPerUser: parseFloat(row.metricValues[2].value) || 0,\n            eventCount: parseInt(row.metricValues[3].value) || 0\n        };\n    });\n    \n    // Convert to JSON string and encode for URL\n    return encodeURIComponent(JSON.stringify(simplified));\n}\n\n// Get input data and transform it\nconst urlString = transformToUrlString($input.all());\n\n// Return the result\nreturn { json: { urlString } };"},"id":"98bf432f-8e27-486e-bfb0-02b9557cda27","name":"Parse - Get Page Engagement This Week","type":"n8n-nodes-base.code","position":[400,300],"typeVersion":2},{"parameters":{"jsCode":"function transformToUrlString(items) {\n    // Debug logging\n    console.log('Input items:', JSON.stringify(items, null, 2));\n    \n    // Check if items is an array and has content\n    if (!Array.isArray(items) || items.length === 0) {\n        console.log('Items is not an array or is empty');\n        throw new Error('Invalid data structure');\n    }\n\n    // Check if first item exists and has json property\n    if (!items[0] || !items[0].json) {\n        console.log('First item is missing or has no json property');\n        throw new Error('Invalid data structure');\n    }\n\n    // Get the analytics data\n    const analyticsData = items[0].json;\n    \n    // Check if analyticsData has rows\n    if (!analyticsData || !Array.isArray(analyticsData.rows)) {\n        console.log('Analytics data is missing or has no rows array');\n        throw new Error('Invalid data structure');\n    }\n    \n    // Filter out invalid rows and map each valid row to a simplified object\n    const simplified = analyticsData.rows\n        .filter(row => {\n            // Check if row is valid and its properties exist\n            const isValid = row \n                && row.dimensionValues \n                && row.dimensionValues[0] \n                && row.dimensionValues[0].value \n                && row.metricValues \n                && row.metricValues.length > 0;\n            \n            if (!isValid) {\n                console.log('Ignoring invalid or null row:', row);\n            }\n            return isValid;\n        })\n        .map(row => ({\n            page: row.dimensionValues[0].value,\n            pageViews: parseInt(row.metricValues[0].value) || 0,\n            activeUsers: parseInt(row.metricValues[1]?.value) || 0,\n            viewsPerUser: parseFloat(row.metricValues[2]?.value) || 0,\n            eventCount: parseInt(row.metricValues[3]?.value) || 0\n        }));\n    \n    // Convert to JSON string and encode for URL\n    return encodeURIComponent(JSON.stringify(simplified));\n}\n\n// Get input data and transform it\nconst urlString = transformToUrlString($input.all());\n\n// Return the result\nreturn { json: { urlString } };\n"},"id":"6f0ff9be-f61f-4aca-9116-f323f3d7d340","name":"Parse - Get Page Engagement Prior Week","type":"n8n-nodes-base.code","position":[800,300],"typeVersion":2},{"parameters":{"jsCode":"function transformToUrlString(items) {\n    // Check if items is an array and get the JSON property\n    const data = items[0]?.json;\n\n    if (!data || !Array.isArray(data.rows)) {\n        console.log('No valid data found');\n        return encodeURIComponent(JSON.stringify([]));\n    }\n\n    try {\n        // Process each row, skipping invalid or null entries\n        const simplified = data.rows\n            .filter(row => {\n                // Skip null rows or rows without dimensionValues or metricValues\n                const isValid = row && row.dimensionValues && Array.isArray(row.metricValues);\n                if (!isValid) {\n                    console.log('Skipping invalid row:', row);\n                }\n                return isValid;\n            })\n            .map(row => ({\n                page: row.dimensionValues[0]?.value || 'Unknown',\n                activeUsers: parseInt(row.metricValues[0]?.value) || 0,\n                engagedSessions: parseInt(row.metricValues[1]?.value) || 0,\n                engagementRate: parseFloat(row.metricValues[2]?.value) || 0.0,\n                eventCount: parseInt(row.metricValues[3]?.value) || 0,\n                avgPosition: parseFloat(row.metricValues[4]?.value) || 0.0,\n                ctr: parseFloat(row.metricValues[5]?.value) || 0.0,\n                clicks: parseInt(row.metricValues[6]?.value) || 0,\n                impressions: parseInt(row.metricValues[7]?.value) || 0\n            }));\n\n        // Encode the simplified data as a URL-safe string\n        return encodeURIComponent(JSON.stringify(simplified));\n    } catch (error) {\n        console.log('Error processing data:', error.message);\n        throw new Error('Invalid data structure');\n    }\n}\n\n// Get the input data\nconst items = $input.all();\n\n// Process the data\nconst result = transformToUrlString(items);\n\n// Return the result\nreturn { json: { urlString: result } };\n"},"id":"02900615-227d-47a1-9990-23f1033b50c5","name":"Parse - Get Google Search This Week","type":"n8n-nodes-base.code","position":[1200,300],"typeVersion":2},{"parameters":{"jsCode":"function transformToUrlString(items) {\n    // Ensure the input is valid and contains data\n    const data = items[0]?.json;\n\n    if (!data || !Array.isArray(data.rows)) {\n        console.log('No valid data found');\n        return encodeURIComponent(JSON.stringify([]));\n    }\n\n    try {\n        // Process each row, skipping null or invalid rows\n        const simplified = data.rows\n            .filter(row => {\n                // Skip null rows\n                const isValid = row && row.dimensionValues && Array.isArray(row.metricValues);\n                if (!isValid) {\n                    console.log('Skipping invalid or null row:', row);\n                }\n                return isValid;\n            })\n            .map(row => ({\n                page: row.dimensionValues[0]?.value || 'Unknown',\n                activeUsers: parseInt(row.metricValues[0]?.value) || 0,\n                engagedSessions: parseInt(row.metricValues[1]?.value) || 0,\n                engagementRate: parseFloat(row.metricValues[2]?.value) || 0.0,\n                eventCount: parseInt(row.metricValues[3]?.value) || 0,\n                avgPosition: parseFloat(row.metricValues[4]?.value) || 0.0,\n                ctr: parseFloat(row.metricValues[5]?.value) || 0.0,\n                clicks: parseInt(row.metricValues[6]?.value) || 0,\n                impressions: parseInt(row.metricValues[7]?.value) || 0\n            }));\n\n        // If no valid rows, return an empty array\n        if (simplified.length === 0) {\n            console.log('No valid rows to process');\n            return encodeURIComponent(JSON.stringify([]));\n        }\n\n        // Encode the simplified data as a URL-safe string\n        return encodeURIComponent(JSON.stringify(simplified));\n    } catch (error) {\n        console.log('Error processing data:', error.message);\n        throw new Error('Invalid data structure');\n    }\n}\n\n// Get the input data\nconst items = $input.all();\n\n// Process the data\nconst result = transformToUrlString(items);\n\n// Return the result\nreturn { json: { urlString: result } };\n"},"id":"f4fdf871-ae27-403b-816e-065975a2f35a","name":"Parse - Get Google Search Prior Week","type":"n8n-nodes-base.code","position":[400,500],"typeVersion":2},{"parameters":{"jsCode":"function transformToUrlString(items) {\n    // In n8n, we need to check if items is an array and get the json property\n    const data = items[0].json;\n    \n    if (!data || !data.rows) {\n        console.log('No valid data found');\n        return encodeURIComponent(JSON.stringify([]));\n    }\n    \n    try {\n        // Process each row\n        const simplified = data.rows.map(row => ({\n            country: row.dimensionValues[0].value,\n            activeUsers: parseInt(row.metricValues[0].value) || 0,\n            newUsers: parseInt(row.metricValues[1].value) || 0,\n            engagementRate: parseFloat(row.metricValues[2].value) || 0,\n            engagedSessions: parseInt(row.metricValues[3].value) || 0,\n            eventCount: parseInt(row.metricValues[4].value) || 0,\n            totalUsers: parseInt(row.metricValues[5].value) || 0,\n            sessions: parseInt(row.metricValues[6].value) || 0\n        }));\n        \n        return encodeURIComponent(JSON.stringify(simplified));\n    } catch (error) {\n        console.log('Error processing data:', error);\n        throw new Error('Invalid data structure');\n    }\n}\n\n// Get the input data\nconst items = $input.all();\n\n// Process the data\nconst result = transformToUrlString(items);\n\n// Return the result\nreturn { json: { urlString: result } };"},"id":"b79b9586-14cf-4688-be30-abd69d6bd713","name":"Parse - Country Views This Week","type":"n8n-nodes-base.code","position":[800,500],"typeVersion":2},{"parameters":{"jsCode":"function transformToUrlString(items) {\n    // Ensure the input is valid and contains data\n    const data = items[0]?.json;\n\n    if (!data || !Array.isArray(data.rows)) {\n        console.log('No valid data found');\n        return encodeURIComponent(JSON.stringify([]));\n    }\n\n    try {\n        // Process each row, skipping invalid or null rows\n        const simplified = data.rows\n            .filter(row => {\n                // Skip null rows or rows without required properties\n                const isValid = row && row.dimensionValues && Array.isArray(row.metricValues);\n                if (!isValid) {\n                    console.log('Skipping invalid or null row:', row);\n                }\n                return isValid;\n            })\n            .map(row => ({\n                country: row.dimensionValues[0]?.value || 'Unknown',\n                activeUsers: parseInt(row.metricValues[0]?.value) || 0,\n                newUsers: parseInt(row.metricValues[1]?.value) || 0,\n                engagementRate: parseFloat(row.metricValues[2]?.value) || 0.0,\n                engagedSessions: parseInt(row.metricValues[3]?.value) || 0,\n                eventCount: parseInt(row.metricValues[4]?.value) || 0,\n                totalUsers: parseInt(row.metricValues[5]?.value) || 0,\n                sessions: parseInt(row.metricValues[6]?.value) || 0\n            }));\n\n        // If no valid rows, return an empty array\n        if (simplified.length === 0) {\n            console.log('No valid rows to process');\n            return encodeURIComponent(JSON.stringify([]));\n        }\n\n        // Encode the simplified data as a URL-safe string\n        return encodeURIComponent(JSON.stringify(simplified));\n    } catch (error) {\n        console.log('Error processing data:', error.message);\n        throw new Error('Invalid data structure');\n    }\n}\n\n// Get the input data\nconst items = $input.all();\n\n// Process the data\nconst result = transformToUrlString(items);\n\n// Return the result\nreturn { json: { urlString: result } };\n"},"id":"9c0320cc-5065-4aac-95d1-3781403eeca9","name":"Parse - Country Views Prior Week","type":"n8n-nodes-base.code","position":[1200,500],"typeVersion":2},{"parameters":{"assignments":{"assignments":[{"id":"93efb02f-f2f2-4e52-aa7a-3ccd1fb171cc","name":"urlString1","value":"={{ $('Parse - Get Page Engagement This Week').first().json.urlString }}","type":"string"},{"id":"5dea3377-0af2-48da-8666-5ee9452e25c5","name":"urlString2","value":"={{ $('Parse - Get Page Engagement Prior Week').first().json.urlString }}","type":"string"},{"id":"c6aa5d4d-d1e5-4493-96fd-60b2298ff6da","name":"urlString3","value":"={{ $('Parse - Get Google Search This Week').first().json.urlString }}","type":"string"},{"id":"711cb4fa-3e8c-4ad6-9b25-e2447d7492d1","name":"urlString4","value":"={{ $('Parse - Get Google Search Prior Week').first().json.urlString }}","type":"string"},{"id":"775bc64a-7986-48fb-a36d-4101158b83f0","name":"urlString5","value":"={{ $('Parse - Country Views This Week').first().json.urlString }}","type":"string"},{"id":"a6ae27a0-89b5-4a6f-8328-327750835c8d","name":"urlString6","value":"={{ $('Parse - Country Views Prior Week').first().json.urlString }}","type":"string"}]},"options":{}},"id":"ea85cd51-20b8-4338-a7cc-8302d3230224","name":"Set urlStrings","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[200,700]},{"parameters":{"jsCode":"const input = $input.first().json;\n\n// Extract data\nconst engagementStats = input.engagementStats || {};\nconst searchResults = input.searchResults || {};\nconst countryViews = input.countryViews || {};\n\n// Helper function to generate HTML for a table\nfunction generateTable(headers, rows, color) {\n    let table = `<table border=\"1\" style=\"border-collapse:collapse; width:100%; border:1px solid ${color}; box-shadow: 0 0 20px rgba(0,0,0,0.1); border-radius: 8px; overflow: hidden; margin-bottom: 20px;\">`;\n    // Add table headers\n    table += `<thead style=\"background-color:${color}; color:white;\"><tr>`;\n    headers.forEach(header => {\n        table += `<th style=\"padding:12px; text-align:left; border:1px solid ${color};\">${header}</th>`;\n    });\n    table += '</tr></thead>';\n    // Add table rows\n    table += '<tbody>';\n    rows.forEach(row => {\n        table += `<tr style=\"transition: background-color 0.3s;\">`;\n        row.forEach(cell => {\n            table += `<td style=\"padding:12px; border:1px solid ${color};\">${cell}</td>`;\n        });\n        table += '</tr>';\n    });\n    table += '</tbody></table>';\n    return table;\n}\n\n// Get today's date\nconst today = new Date();\nconst formattedDate = today.toLocaleDateString(undefined, {\n    year: 'numeric',\n    month: 'long',\n    day: 'numeric',\n});\n\n// Colors for each segment\nconst engagementColor = '#0ECCA9';  // Color principal de Modtecs\nconst searchColor = '#2D0388';      // Color secundario de Modtecs\nconst countryColor = '#00BCD4';     // Color brillante complementario\n\n// Generate HTML content\nconst title = `Report for ${formattedDate}`;\nlet htmlContent = `\n    <div style=\"text-align:center; margin-bottom: 30px;\">\n        <h1 style=\"color:#2D0388; font-size: 32px;\">MODTECS</h1>\n        <div style=\"width: 100px; height: 4px; background: linear-gradient(to right, #0ECCA9, #2D0388); margin: 10px auto;\"></div>\n        <h2 style=\"color:#333;\">${title}</h2>\n    </div>\n\n    <div style=\"margin-bottom: 30px; padding: 20px; background-color: #f5f5f5; border-radius: 8px;\">\n        <p style=\"color: #333; line-height: 1.6;\">\n            Este reporte mensual proporciona una visión detallada de las métricas de engagement, \n            resultados de búsqueda y vistas por país de nuestra plataforma. Los datos se comparan \n            con el mes anterior para mostrar tendencias y patrones de comportamiento de usuarios.\n        </p>\n    </div>`;\n\n// Engagement Stats Section\nif (engagementStats.thisMonth?.length || engagementStats.lastMonth?.length) {\n    htmlContent += `<h2 style=\"color:${engagementColor}; padding-bottom: 5px; border-bottom: 2px solid ${engagementColor};\">Engagement Stats</h2>`;\n    \n    if (engagementStats.thisMonth?.length) {\n        htmlContent += `<h3 style=\"color:#333;\">This Month</h3>`;\n        const headers = ['Page', 'Page Views', 'Active Users', 'Views per User', 'Event Count'];\n        const rows = engagementStats.thisMonth.map(stat => [\n            stat.page,\n            stat.pageViews,\n            stat.activeUsers,\n            stat.viewsPerUser.toFixed(2),\n            stat.eventCount,\n        ]);\n        htmlContent += generateTable(headers, rows, engagementColor);\n    }\n\n    if (engagementStats.lastMonth?.length) {\n        htmlContent += `<h3 style=\"color:#333;\">Last Month</h3>`;\n        const headers = ['Page', 'Page Views', 'Active Users', 'Views per User', 'Event Count'];\n        const rows = engagementStats.lastMonth.map(stat => [\n            stat.page,\n            stat.pageViews,\n            stat.activeUsers,\n            stat.viewsPerUser.toFixed(2),\n            stat.eventCount,\n        ]);\n        htmlContent += generateTable(headers, rows, engagementColor);\n    }\n}\n\n// Search Results Section\nif (searchResults.thisMonth?.length || searchResults.lastMonth?.length) {\n    htmlContent += `<h2 style=\"color:${searchColor}; padding-bottom: 5px; border-bottom: 2px solid ${searchColor};\">Search Results</h2>`;\n    \n    if (searchResults.thisMonth?.length) {\n        htmlContent += `<h3 style=\"color:#333;\">This Month</h3>`;\n        const headers = ['Page', 'Active Users', 'Engaged Sessions', 'Engagement Rate', 'Event Count', 'Avg Position', 'CTR', 'Clicks', 'Impressions'];\n        const rows = searchResults.thisMonth.map(result => [\n            result.page,\n            result.activeUsers,\n            result.engagedSessions,\n            result.engagementRate.toFixed(2),\n            result.eventCount,\n            result.avgPosition.toFixed(2),\n            result.ctr.toFixed(2),\n            result.clicks,\n            result.impressions,\n        ]);\n        htmlContent += generateTable(headers, rows, searchColor);\n    }\n\n    if (searchResults.lastMonth?.length) {\n        htmlContent += `<h3 style=\"color:#333;\">Last Month</h3>`;\n        const headers = ['Page', 'Active Users', 'Engaged Sessions', 'Engagement Rate', 'Event Count', 'Avg Position', 'CTR', 'Clicks', 'Impressions'];\n        const rows = searchResults.lastMonth.map(result => [\n            result.page,\n            result.activeUsers,\n            result.engagedSessions,\n            result.engagementRate.toFixed(2),\n            result.eventCount,\n            result.avgPosition.toFixed(2),\n            result.ctr.toFixed(2),\n            result.clicks,\n            result.impressions,\n        ]);\n        htmlContent += generateTable(headers, rows, searchColor);\n    }\n}\n\n// Country Views Section\nif (countryViews.thisMonth?.length || countryViews.lastMonth?.length) {\n    htmlContent += `<h2 style=\"color:${countryColor}; padding-bottom: 5px; border-bottom: 2px solid ${countryColor};\">Country Views</h2>`;\n    \n    if (countryViews.thisMonth?.length) {\n        htmlContent += `<h3 style=\"color:#333;\">This Month</h3>`;\n        const headers = ['Country', 'Active Users', 'New Users', 'Engagement Rate', 'Engaged Sessions', 'Event Count', 'Total Users', 'Sessions'];\n        const rows = countryViews.thisMonth.map(view => [\n            view.country,\n            view.activeUsers,\n            view.newUsers,\n            view.engagementRate.toFixed(2),\n            view.engagedSessions,\n            view.eventCount,\n            view.totalUsers,\n            view.sessions,\n        ]);\n        htmlContent += generateTable(headers, rows, countryColor);\n    }\n\n    if (countryViews.lastMonth?.length) {\n        htmlContent += `<h3 style=\"color:#333;\">Last Month</h3>`;\n        const headers = ['Country', 'Active Users', 'New Users', 'Engagement Rate', 'Engaged Sessions', 'Event Count', 'Total Users', 'Sessions'];\n        const rows = countryViews.lastMonth.map(view => [\n            view.country,\n            view.activeUsers,\n            view.newUsers,\n            view.engagementRate.toFixed(2),\n            view.engagedSessions,\n            view.eventCount,\n            view.totalUsers,\n            view.sessions,\n        ]);\n        htmlContent += generateTable(headers, rows, countryColor);\n    }\n}\n\n// Firma y marca de agua\nhtmlContent += `\n    <div style=\"margin-top: 50px; padding: 20px; border-top: 1px solid #eee;\">\n        <p style=\"color: #666; text-align: right;\">\n            Preparado por:<br>\n            <strong>Alex Rodriguez</strong><br>\n            SEO Modtecs<br> AI-Native Workflow Automation Architect<br>\n            <span style=\"font-size: 0.9em; color: #888;\">Building Solutions to Optimize your Personal and Professional Life</span>\n        </p>\n    </div>\n\n    <div style=\"position: fixed; bottom: 20px; right: 20px; opacity: 0.2; transform: rotate(-45deg);\">\n        <p style=\"font-size: 24px; color: #2D0388;\">MODTECS LLC</p>\n    </div>`;\n\n// Output the title and formatted HTML\nreturn {\n    json: {\n        title,\n        htmlContent,\n    }\n};"},"id":"6172c432-86ad-40ac-8118-933ecf0c0b82","name":"Format Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[860,900]},{"parameters":{"jsCode":"console.log($input.all());\nreturn $input.all();\n"},"id":"f190d8c4-fc6a-431f-bc4b-04ea4e21e9aa","name":"Input All","type":"n8n-nodes-base.code","typeVersion":2,"position":[600,700]},{"parameters":{"content":"## Format the data and Email","height":316,"width":725,"color":5},"id":"3d49b447-558d-40ca-b3ed-4aa64cf0f14f","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1460,780]},{"parameters":{"sendTo":"alexroder94@gmail.com","subject":"=Modtecs {{ $('Edit Fields').item.json.title }}","message":"={{ $('Edit Fields').item.json.htmlContent }}","options":{"appendAttribution":false,"attachmentsUi":{"attachmentsBinary":[{"property":"=data"}]},"senderName":"Modtecs Report Analytics"}},"id":"02c3e04d-8b3d-4c0b-bb6a-1e2eefa9d91d","name":"Email the Report","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1960,920],"webhookId":"80d4d964-449a-4599-b2de-bca9c8822bbd","credentials":{"gmailOAuth2":{"id":"TDGC962mg5h85KHo","name":"Gmail account"}}},{"parameters":{"rule":{"interval":[{"field":"months","triggerAtHour":8}]}},"id":"7441cdfe-1353-4211-a3d6-c6eeb2429309","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-80,520]},{"parameters":{"content":"## AlexRoder \n\nI’m Alex Rodriguez, an AI-Native Workflow Automation Architect Building Solutions to Optimize your Personal and Professional Life.\n\n[Info](https://youchatbot.io)","height":666,"width":232,"color":6},"id":"fa063493-fd75-4801-81d7-43837cb3ba6b","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-140,160]},{"parameters":{"method":"POST","url":"https://api.docraptor.com/docs","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{$json}}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1040,700],"id":"716b0180-9cf3-444a-b6f3-123c8d0702f7","name":"HTTP Request1","credentials":{"httpHeaderAuth":{"id":"X3A0DqywbHLd3dYY","name":"Header Auth account"},"httpBasicAuth":{"id":"WN98QUuf6HTFLVUj","name":"Unnamed credential 2"}}},{"parameters":{"assignments":{"assignments":[{"id":"91bf87eb-f6ac-4777-bc2f-07fe7a63c5f5","name":"title","value":"={{ $json.title }}","type":"string"},{"id":"55f60398-66ef-4714-a72a-8a86e272b65c","name":"htmlContent","value":"={{ $json.htmlContent }}","type":"string"},{"id":"b68e306b-0566-48fe-b301-f2e61a0fa902","name":"id","value":"={{ $json.id }}","type":"string"}]},"options":{"ignoreConversionErrors":true}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1520,920],"id":"613be224-0bf6-455d-953e-dbfaa32f6b3f","name":"Edit Fields"},{"parameters":{"name":"=Damceti Report {{ $now }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1JdkjEqGXFP64ZBO2pVEGwE4LF5dkLGWg","mode":"list","cachedResultName":"Reportes Google Analytics Damceti","cachedResultUrl":"https://drive.google.com/drive/folders/1JdkjEqGXFP64ZBO2pVEGwE4LF5dkLGWg"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1240,700],"id":"c077a1d4-cddd-47c6-b268-b5df6fa427db","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"5LP9aPOCoDSbZsTa","name":"Google Drive account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1740,920],"id":"253d49d2-1b2c-47e2-9063-26c97da1d1a9","name":"Google Drive1","credentials":{"googleDriveOAuth2Api":{"id":"5LP9aPOCoDSbZsTa","name":"Google Drive account"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[1240,920],"id":"d95f60a2-00d9-4b43-9df9-2597d6b812bf","name":"Merge"},{"parameters":{"jsCode":"const input = $input.first().json;\n\n// Extract data\nconst engagementStats = input.engagementStats || {};\nconst searchResults = input.searchResults || {};\nconst countryViews = input.countryViews || {};\n\n// Calculate summary metrics\nconst totalPageViews = engagementStats.thisMonth?.reduce((sum, stat) => sum + stat.pageViews, 0) || 0;\nconst totalActiveUsers = engagementStats.thisMonth?.reduce((sum, stat) => sum + stat.activeUsers, 0) || 0;\nconst averageEngagementRate = searchResults.thisMonth?.reduce((sum, result) => sum + result.engagementRate, 0) / (searchResults.thisMonth?.length || 1) || 0;\n\n// Helper function to format numbers\nfunction formatNumber(num) {\n    return new Intl.NumberFormat('en-US', { \n        maximumFractionDigits: 2,\n        minimumFractionDigits: 0\n    }).format(num);\n}\n\n// Helper function to generate HTML for a table\nfunction generateTable(headers, rows, color) {\n    let table = `<table style=\"width:100%; border-collapse:collapse; margin-bottom:15px;\">\n        <thead style=\"background-color:${color}; color:white;\">\n            <tr>`;\n    \n    headers.forEach(header => {\n        table += `<th style=\"padding:8px; text-align:left; border:1px solid ${color}; font-size:11px;\">${header}</th>`;\n    });\n    \n    table += `</tr></thead><tbody>`;\n    \n    rows.forEach(row => {\n        table += `<tr>`;\n        row.forEach(cell => {\n            table += `<td style=\"padding:6px; border:1px solid #ddd; font-size:11px;\">${cell}</td>`;\n        });\n        table += `</tr>`;\n    });\n    \n    table += `</tbody></table>`;\n    return table;\n}\n\nfunction getReportPeriod() {\n    const today = new Date();\n    const lastMonth = new Date(today.getFullYear(), today.getMonth() - 1);\n    \n    // Obtener el primer y último día del mes anterior\n    const firstDay = new Date(lastMonth.getFullYear(), lastMonth.getMonth(), 1);\n    const lastDay = new Date(today.getFullYear(), today.getMonth(), 0);\n    \n    // Formatear las fechas con opciones más detalladas\n    const monthYear = lastMonth.toLocaleString('default', { \n        month: 'long', \n        year: 'numeric'\n    });\n    \n    const formattedFirstDay = firstDay.toLocaleString('default', {\n        day: '2-digit',\n        month: 'short'\n    });\n    \n    const formattedLastDay = lastDay.toLocaleString('default', {\n        day: '2-digit',\n        month: 'short',\n        year: 'numeric'\n    });\n    \n    const generatedDate = new Date().toLocaleString('default', {\n        weekday: 'long',\n        year: 'numeric',\n        month: 'long',\n        day: 'numeric',\n        hour: '2-digit',\n        minute: '2-digit'\n    });\n\n    return {\n        monthYear,\n        fullPeriod: `${formattedFirstDay} - ${formattedLastDay}`,\n        generatedDate\n    };\n}\n\nconst reportDates = getReportPeriod();\n\n\nconst htmlContent = `\n<!DOCTYPE html>\n<html>\n<head>\n    <style>\n        body {\n            font-family: Arial, sans-serif;\n            line-height: 1.4;\n            color: #333;\n            padding: 15px;\n            font-size: 12px;\n        }\n\n        .header-container {\n            background: linear-gradient(135deg, #ffffff 0%, #f8f9fa 100%);\n            border-radius: 12px;\n            padding: 20px;\n            margin-bottom: 25px;\n            box-shadow: 0 2px 15px rgba(0,0,0,0.05);\n        }\n\n        .header {\n            text-align: center;\n            margin-bottom: 15px;\n        }\n\n        .header h1 {\n            color: #2D0388;\n            font-size: 24px;\n            margin: 0 0 5px 0;\n            font-weight: 700;\n            letter-spacing: 1px;\n        }\n\n        .header h2 {\n            font-size: 16px;\n            margin: 5px 0;\n            color: #333;\n        }\n\n        .divider {\n            width: 80px;\n            height: 3px;\n            background: linear-gradient(to right, #0ECCA9, #2D0388);\n            margin: 8px auto;\n            border-radius: 2px;\n        }\n\n        .period-badge {\n            background: linear-gradient(135deg, #2D0388 0%, #1a0255 100%);\n            color: white;\n            padding: 6px 20px;\n            border-radius: 20px;\n            display: inline-block;\n            margin: 10px 0;\n            font-size: 14px;\n            font-weight: 500;\n            box-shadow: 0 2px 10px rgba(45,3,136,0.2);\n        }\n\n        .report-details {\n            background: rgba(45,3,136,0.03);\n            border-radius: 6px;\n            padding: 10px;\n            margin-top: 15px;\n            display: flex;\n            justify-content: space-between;\n            align-items: center;\n            font-size: 11px;\n        }\n\n        .section {\n            margin-bottom: 15px;\n            background: white;\n            border-radius: 8px;\n            padding: 15px;\n            box-shadow: 0 1px 3px rgba(0,0,0,0.05);\n        }\n\n        .section-title {\n            color: #2D0388;\n            padding-bottom: 3px;\n            border-bottom: 2px solid #2D0388;\n            margin-bottom: 10px;\n            font-size: 14px;\n            font-weight: 600;\n        }\n\n        .intro-text {\n            background-color: #f5f5f5;\n            padding: 10px;\n            border-radius: 6px;\n            margin-bottom: 15px;\n            font-size: 11px;\n            line-height: 1.5;\n        }\n\n        .highlights-grid {\n    display: flex;\n    justify-content: space-between;\n    align-items: center;\n    background: white;\n    padding: 15px;\n    border-radius: 8px;\n    margin: 15px 0;\n    box-shadow: 0 1px 3px rgba(0,0,0,0.05);\n}\n\n.highlight-card {\n    flex: 1;\n    text-align: center;\n    padding: 0 20px;\n    position: relative;\n}\n\n.highlight-card:not(:last-child)::after {\n    content: \"\";\n    position: absolute;\n    right: 0;\n    top: 50%;\n    transform: translateY(-50%);\n    height: 70%;\n    width: 1px;\n    background: #eee;\n}\n\n.highlight-value {\n    font-size: 24px;\n    font-weight: bold;\n    color: #2D0388;\n    margin-bottom: 5px;\n}\n\n.highlight-label {\n    font-size: 11px;\n    color: #666;\n    text-transform: uppercase;\n    letter-spacing: 0.5px;\n}\n\n        table {\n            width: 100%;\n            border-collapse: collapse;\n            margin-bottom: 15px;\n            font-size: 11px;\n        }\n\n        th {\n            padding: 8px;\n            text-align: left;\n            border: 1px solid;\n            color: white;\n            font-weight: 500;\n        }\n\n        td {\n            padding: 6px;\n            border: 1px solid #ddd;\n        }\n\n        tr:nth-child(even) {\n            background-color: rgba(245,245,245,0.5);\n        }\n\n        .signature {\n            margin-top: 20px;\n            text-align: right;\n            color: #666;\n            border-top: 1px solid #eee;\n            padding-top: 10px;\n            font-size: 11px;\n        }\n\n        .signature strong {\n            color: #2D0388;\n            font-size: 12px;\n        }\n\n        .icon {\n            width: 12px;\n            height: 12px;\n            display: inline-block;\n            vertical-align: middle;\n            margin-right: 4px;\n        }\n\n        @media print {\n            body { padding: 10px; }\n            .header-container, .section { box-shadow: none; }\n        }\n    </style>\n</head>\n<body>\n    <div class=\"header-container\">\n        <div class=\"header\">\n            <h1>MODTECS</h1>\n            <div class=\"divider\"></div>\n            <h2>Analytics & Performance Report</h2>\n            \n            <div class=\"period-badge\">\n                ${reportDates.monthYear}\n            </div>\n\n            <div class=\"report-details\">\n                <div class=\"report-period\">\n                    <svg class=\"icon\" fill=\"#0ECCA9\" viewBox=\"0 0 24 24\">\n                        <path d=\"M19,4H17V3a1,1,0,0,0-2,0V4H9V3A1,1,0,0,0,7,3V4H5A3,3,0,0,0,2,7V19a3,3,0,0,0,3,3H19a3,3,0,0,0,3-3V7A3,3,0,0,0,19,4Z\"/>\n                    </svg>\n                    Coverage Period: ${reportDates.fullPeriod}\n                </div>\n                <div class=\"generated-info\">\n                    <svg class=\"icon\" fill=\"#2D0388\" viewBox=\"0 0 24 24\">\n                        <path d=\"M12,2A10,10,0,1,0,22,12,10,10,0,0,0,12,2Z\"/>\n                    </svg>\n                    Generated: ${reportDates.generatedDate}\n                </div>\n            </div>\n        </div>\n    </div>\n\n    <div class=\"intro-text\">\n    Este reporte mensual presenta el rendimiento digital de DAMCETI Travel Agency, incluyendo \n    las interacciones de usuarios con nuestros paquetes turísticos, búsquedas de destinos y \n    distribución geográfica de visitantes. El análisis corresponde al período de ${reportDates.fullPeriod}, \n    permitiendo optimizar nuestras ofertas y experiencia del cliente.\n</div>\n\n    <div class=\"section\">\n    <h2 class=\"section-title\">Monthly Highlights</h2>\n    <div class=\"highlights-grid\">\n        <div class=\"highlight-card\">\n            <div class=\"highlight-value\">${formatNumber(totalPageViews)}</div>\n            <div class=\"highlight-label\">Total Page Views</div>\n        </div>\n        <div class=\"highlight-card\">\n            <div class=\"highlight-value\">${formatNumber(totalActiveUsers)}</div>\n            <div class=\"highlight-label\">Active Users</div>\n        </div>\n        <div class=\"highlight-card\">\n            <div class=\"highlight-value\">${averageEngagementRate.toFixed(1)}%</div>\n            <div class=\"highlight-label\">Avg. Engagement Rate</div>\n        </div>\n    </div>\n</div>\n\n    <div class=\"section\">\n        <h2 class=\"section-title\" style=\"color: #0ECCA9; border-color: #0ECCA9;\">Engagement Stats</h2>\n        ${generateTable(\n            ['Page', 'Page Views', 'Active Users', 'Views/User', 'Events'],\n            engagementStats.thisMonth?.map(stat => [\n                stat.page,\n                formatNumber(stat.pageViews),\n                formatNumber(stat.activeUsers),\n                stat.viewsPerUser.toFixed(2),\n                formatNumber(stat.eventCount)\n            ]) || [],\n            '#0ECCA9'\n        )}\n    </div>\n\n    <div class=\"section\">\n        <h2 class=\"section-title\" style=\"color: #2D0388; border-color: #2D0388;\">Search Results</h2>\n        ${generateTable(\n            ['Page', 'Users', 'Eng. Sessions', 'Eng. Rate', 'CTR', 'Clicks'],\n            searchResults.thisMonth?.map(result => [\n                result.page,\n                formatNumber(result.activeUsers),\n                formatNumber(result.engagedSessions),\n                result.engagementRate.toFixed(1) + '%',\n                result.ctr.toFixed(1) + '%',\n                formatNumber(result.clicks)\n            ]) || [],\n            '#2D0388'\n        )}\n    </div>\n\n    <div class=\"section\">\n        <h2 class=\"section-title\" style=\"color: #00BCD4; border-color: #00BCD4;\">Country Views</h2>\n        ${generateTable(\n            ['Country', 'Active Users', 'New Users', 'Eng. Rate', 'Sessions'],\n            countryViews.thisMonth?.map(view => [\n                view.country,\n                formatNumber(view.activeUsers),\n                formatNumber(view.newUsers),\n                view.engagementRate.toFixed(1) + '%',\n                formatNumber(view.sessions)\n            ]) || [],\n            '#00BCD4'\n        )}\n    </div>\n\n    <div class=\"signature\">\n        Prepared by:<br>\n        <strong>Alex Rodriguez</strong><br>\n        AI-Native Workflow Automation Architect<br>\n        <span style=\"font-size: 10px; color: #888;\">Building Solutions to Optimize your Personal and Professional Life</span>\n    </div>\n</body>\n</html>`;\n\nconst data = {\n    test: false,\n    document_content: htmlContent,\n    type: \"pdf\",\n    javascript: true,\n    prince_options: {\n        media: \"screen\",\n        baseurl: \"https://modtecs.com\"\n    }\n};\n\nreturn JSON.parse(JSON.stringify(data));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[840,700],"id":"89dc7020-aa99-45e2-b870-7106965d0e5d","name":"Create pdf"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Get Page Engagement Stats for this week","type":"main","index":0}]]},"Get Country views data for this week":{"main":[[{"node":"Parse - Country Views This Week","type":"main","index":0}]]},"Get Google Search Results for this week":{"main":[[{"node":"Parse - Get Google Search This Week","type":"main","index":0}]]},"Get Page Engagement Stats for this week":{"main":[[{"node":"Parse - Get Page Engagement This Week","type":"main","index":0}]]},"Get Page Engagement Stats for prior week":{"main":[[{"node":"Parse - Get Page Engagement Prior Week","type":"main","index":0}]]},"Get Google Search Results for prior week":{"main":[[{"node":"Parse - Get Google Search Prior Week","type":"main","index":0}]]},"Get Country views data for prior week":{"main":[[{"node":"Parse - Country Views Prior Week","type":"main","index":0}]]},"Parse - Get Page Engagement This Week":{"main":[[{"node":"Get Page Engagement Stats for prior week","type":"main","index":0}]]},"Parse - Get Page Engagement Prior Week":{"main":[[{"node":"Get Google Search Results for this week","type":"main","index":0}]]},"Parse - Get Google Search This Week":{"main":[[{"node":"Get Google Search Results for prior week","type":"main","index":0}]]},"Parse - Get Google Search Prior Week":{"main":[[{"node":"Get Country views data for this week","type":"main","index":0}]]},"Parse - Country Views This Week":{"main":[[{"node":"Get Country views data for prior week","type":"main","index":0}]]},"Parse - Country Views Prior Week":{"main":[[{"node":"Set urlStrings","type":"main","index":0}]]},"Set urlStrings":{"main":[[{"node":"Aggregate Data","type":"main","index":0}]]},"Aggregate Data":{"main":[[{"node":"Input All","type":"main","index":0}]]},"Format Data":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Input All":{"main":[[{"node":"Format Data","type":"main","index":0},{"node":"Create pdf","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Google Drive1","type":"main","index":0}]]},"Email the Report":{"main":[[]]},"Google Drive":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Google Drive1":{"main":[[{"node":"Email the Report","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get Page Engagement Stats for this week","type":"main","index":0}]]},"Create pdf":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8715b229-8f8e-4911-92c9-e7537ee4de37","triggerCount":1,"tags":[]}