docs/dora-rag-agent-with-supabase-isnKj0fownLi2DWx.json
{"createdAt":"2025-03-09T20:55:54.606Z","updatedAt":"2025-03-10T22:12:26.706Z","id":"isnKj0fownLi2DWx","name":"Dora RAG Agent with Supabase","active":false,"nodes":[{"parameters":{"options":{}},"id":"21744a89-29a2-4424-ba45-c8276f3cefcb","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-1220,280],"credentials":{"openAiApi":{"id":"Xhw7jhGubqs4BVIn","name":"OpenAi ai_agent"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.sessionId }}"},"id":"7c80c5c2-fc24-4a79-ad64-6fa27a65be44","name":"Postgres Chat Memory","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1,"position":[-1040,280],"notesInFlow":false,"credentials":{"postgres":{"id":"KZzNFAsNcYpnW5dN","name":"Postgres Supabase AI-agent"}}},{"parameters":{"content":"## RAG AI Agent with Chat Interface","height":525,"width":933},"id":"c1bbc07d-fec0-4566-a11a-2b61454117e4","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1400,-100]},{"parameters":{"public":true,"initialMessages":"Hi there! 👋\nMy name is Alex from Modtecs. How can I assist you today?","options":{}},"id":"0b7e602e-8752-4d5e-80b7-be8805299b59","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-1360,40],"webhookId":"a90b6297-bd81-41f0-b26f-ce884f66ff2c"},{"parameters":{"promptType":"define","text":"={{ $('When chat message received').item.json.chatInput }}","options":{"systemMessage":"You are a legal assistant specialized in U.S. immigration law, with a focus on family-based petitions and applications. Your primary role is to provide accurate and concise information based on a comprehensive database of legal documents, including the Adjudicator’s Field Manual and the USCIS Policy Manual.\n\nKey Responsibilities:\n\nAnswer Questions: Respond to inquiries about various immigration processes, including family-based petitions, asylum, and other relevant categories.\nUse Exact Language: When providing information, use the exact wording and details from the source documents to ensure accuracy. This includes specific forms, laws, and policies.\nProvide Context: Offer brief explanations of the processes, but always reference the specific sections of the Adjudicator’s Field Manual or USCIS Policy Manual for detailed legal language.\nHighlight Changes: Clearly indicate any sections that have been superseded or updated, along with the relevant dates and new references.\nContextual Understanding:\n\nYou have access to a database of legal documents that detail the laws and regulations governing various immigration applications in the U.S.\nIf you encounter a question that you cannot answer based on the available information, acknowledge the limitation and suggest seeking professional legal advice.\nUser Interaction:\n\nMaintain a professional and empathetic tone, recognizing the sensitive nature of immigration cases.\nEncourage users to provide as much detail as possible about their situation to give the most accurate guidance.\nIf you need to clarify any aspect of the immigration process or have specific questions about the legal documents, feel free to ask."}},"id":"50c261db-a9c4-434a-aa1b-769d9edf961a","name":"RAG AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[-1040,40]},{"parameters":{"mode":"retrieve-as-tool","toolName":"LegalSystem","toolDescription":"Use this to get information about legal system ","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{}},"id":"8c3b3f42-573c-4f9b-8791-71cda3c39b3f","name":"Supabase Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[-780,220],"credentials":{"supabaseApi":{"id":"CuhGSK9VpbyZF6T4","name":"Supabase RAG"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-680,-20],"id":"b7957c5a-6c66-4ee4-8cc9-1384c0931a60","name":"Respond to Webhook"},{"parameters":{"operation":"pdf","options":{}},"id":"ebf4b526-407c-4b93-b4e4-14d0951d968e","name":"Extract PDF Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[220,620]},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"id":"6b11962a-f3a7-467f-95e8-26ca122029c4","name":"Aggregate","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[140,800]},{"parameters":{},"id":"10b5cd10-cfc0-42d7-9864-c2e1690893d0","name":"Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter","typeVersion":1,"position":[700,1060]},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"data"}]},"options":{}},"id":"17336f97-cdbc-4eec-b40f-4a7b67194c83","name":"Summarize","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[300,800]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('Set File ID1').item.json.file_type }}","rightValue":"application/pdf","operator":{"type":"string","operation":"equals"},"id":"6bfe1d9d-fd42-4451-9d93-1fe569b90c59"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"2ae7faa7-a936-4621-a680-60c512163034","leftValue":"={{ $('Set File ID1').item.json.file_type }}","rightValue":"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"fc193b06-363b-4699-a97d-e5a850138b0e","leftValue":"={{ $('Set File ID1').item.json.file_type }}","rightValue":"application/vnd.google-apps.document","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{"fallbackOutput":2}},"id":"b8815668-a226-4428-8001-fc14927df629","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-320,800]},{"parameters":{"operation":"xlsx","options":{}},"id":"97f3139c-d876-45b2-9741-20467d6d6fca","name":"Extract from Excel","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-20,800]},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.data || $json.text || $json.concatenated_data }}","options":{"metadata":{"metadataValues":[{"name":"=file_id","value":"={{ $('Set File ID1').first().json.file_id }}"}]}}},"id":"5bb5cbbc-2853-4b6a-a927-0567eff41a63","name":"Default Data Loader1","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[700,840]},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"4c90b467-cd1c-406e-af85-1c1e09e5d1f6","name":"Embeddings OpenAI2","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[540,840],"credentials":{"openAiApi":{"id":"Xhw7jhGubqs4BVIn","name":"OpenAi ai_agent"}}},{"parameters":{"content":"## Tool to Add a Google Drive File to Vector DB","height":667.1104380931955,"width":2352.5048970686776,"color":5},"id":"548321b1-fc78-45b2-a7b4-13b6c5fdd5c3","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1360,560]},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Set File ID1').item.json.file_id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"id":"adeec662-076f-4ecd-8359-9c22765b9914","name":"Download File1","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-540,800],"executeOnce":true,"credentials":{"googleDriveOAuth2Api":{"id":"5LP9aPOCoDSbZsTa","name":"Google Drive account"}}},{"parameters":{"operation":"text","options":{}},"id":"f71bce95-4c89-40dc-bdd2-5fa66392d635","name":"Extract Document Text1","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[220,1000],"alwaysOutputData":true},{"parameters":{"operation":"delete","tableId":"documents","filterType":"string","filterString":"=metadata->>file_id=like.*{{ $json.file_id }}*"},"id":"5df886b7-189f-4464-8023-6d1c325f3b4b","name":"Delete Old Doc Rows1","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-780,800],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"CuhGSK9VpbyZF6T4","name":"Supabase RAG"}}},{"parameters":{"assignments":{"assignments":[{"id":"10646eae-ae46-4327-a4dc-9987c2d76173","name":"file_id","value":"={{ $json.id }}","type":"string"},{"id":"f4536df5-d0b1-4392-bf17-b8137fb31a44","name":"file_type","value":"={{ $json.mimeType }}","type":"string"}]},"options":{}},"id":"5b0df6ea-1e62-4af2-a0fe-b77381e5d994","name":"Set File ID1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1020,800]},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"id":"a3e62b3d-e01e-4784-8b02-eacfb964dce8","name":"Insert into Supabase Vectorstore1","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[580,620],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"CuhGSK9VpbyZF6T4","name":"Supabase RAG"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1wppg3mDF8-z_TGOI-gEJ2f3k9rZv-8ME","mode":"list","cachedResultName":"Dora Contadora Business","cachedResultUrl":"https://drive.google.com/drive/folders/1wppg3mDF8-z_TGOI-gEJ2f3k9rZv-8ME"},"event":"fileCreated","options":{}},"id":"ca70bd40-965d-4d27-bbe6-b9e29dcd0509","name":"File Created2","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-1300,700],"credentials":{"googleDriveOAuth2Api":{"id":"5LP9aPOCoDSbZsTa","name":"Google Drive account"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1wppg3mDF8-z_TGOI-gEJ2f3k9rZv-8ME","mode":"list","cachedResultName":"Dora Contadora Business","cachedResultUrl":"https://drive.google.com/drive/folders/1wppg3mDF8-z_TGOI-gEJ2f3k9rZv-8ME"},"event":"fileUpdated","options":{}},"id":"ed7f6cff-a4fb-40e3-9b8e-423ad466e553","name":"File Updated2","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-1300,920],"credentials":{"googleDriveOAuth2Api":{"id":"5LP9aPOCoDSbZsTa","name":"Google Drive account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-840,340],"id":"b6fdfb8a-b2bd-4385-baf7-28ea78bf5e7c","name":"Embeddings OpenAI4","credentials":{"openAiApi":{"id":"Xhw7jhGubqs4BVIn","name":"OpenAi ai_agent"}}}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"RAG AI Agent","type":"ai_languageModel","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"RAG AI Agent","type":"ai_memory","index":0}]]},"When chat message received":{"main":[[{"node":"RAG AI Agent","type":"main","index":0}]]},"Supabase Vector Store":{"ai_vectorStore":[[]],"ai_tool":[[{"node":"RAG AI Agent","type":"ai_tool","index":0}]]},"RAG AI Agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Extract PDF Text":{"main":[[{"node":"Insert into Supabase Vectorstore1","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Summarize","type":"main","index":0}]]},"Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader1","type":"ai_textSplitter","index":0}]]},"Summarize":{"main":[[{"node":"Insert into Supabase Vectorstore1","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Extract PDF Text","type":"main","index":0}],[{"node":"Extract from Excel","type":"main","index":0}],[{"node":"Extract Document Text1","type":"main","index":0}]]},"Extract from Excel":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Default Data Loader1":{"ai_document":[[{"node":"Insert into Supabase Vectorstore1","type":"ai_document","index":0}]]},"Embeddings OpenAI2":{"ai_embedding":[[{"node":"Insert into Supabase Vectorstore1","type":"ai_embedding","index":0}]]},"Download File1":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Extract Document Text1":{"main":[[{"node":"Insert into Supabase Vectorstore1","type":"main","index":0}]]},"Delete Old Doc Rows1":{"main":[[{"node":"Download File1","type":"main","index":0}]]},"Set File ID1":{"main":[[{"node":"Delete Old Doc Rows1","type":"main","index":0}]]},"File Updated2":{"main":[[{"node":"Set File ID1","type":"main","index":0}]]},"File Created2":{"main":[[{"node":"Set File ID1","type":"main","index":0}]]},"Embeddings OpenAI4":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2f6c46ef-e011-469f-83b0-286de6ecc391","triggerCount":0,"tags":[{"createdAt":"2025-03-09T20:55:49.059Z","updatedAt":"2025-03-09T20:55:49.059Z","id":"PSzxqxK1fqjymxjo","name":"DORA"}]}