docs/image-generator-flux-hugging-face-TD3eeZwEO8ZI8V4o.json
{"createdAt":"2025-03-07T03:12:57.078Z","updatedAt":"2025-03-07T03:13:42.863Z","id":"TD3eeZwEO8ZI8V4o","name":"Image Generator Flux Hugging face","active":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"9ec60f33-b940-40a6-9f8a-cb944b7065f1","name":"stylePrompt","type":"string","value":"=rule of thirds, golden ratio, hyper-maximalist, vibrant neon, high-contrast, octane render, photorealism, 8k ::7 --ar 16:9 --s 1000\n\nDesign a fun, energetic scene filled with bold, neon colors, and playful shapes that pop off the screen. The image should evoke a sense of joy and movement, using fluid, organic forms and exaggerated, cartoon-like proportions. Focus on creating a lively atmosphere with contrasting, saturated tones and dynamic lighting. Use a mix of asymmetrical and balanced compositions to create a playful visual flow. Render in 8K with a hyper-maximalist approach using Octane Render for vibrant, high-gloss textures and photorealistic lighting effects. Include:"}]},"includeOtherFields":true,"options":{}},"id":"15e89bf4-89a1-4e4f-8f1e-75ce36fec8f7","name":"Vivid Pop Explosion","type":"n8n-nodes-base.set","position":[-260,720],"notesInFlow":true,"typeVersion":3.4,"notes":" "},{"parameters":{"assignments":{"assignments":[{"id":"9ec60f33-b940-40a6-9f8a-cb944b7065f1","name":"stylePrompt","type":"string","value":"=golden ratio, rule of thirds, cyberpunk, glitch art, octane render, cinematic realism, 8k ::7 --ar 16:9 --s 1000\n\nGenerate a futuristic, cyberpunk dystopia with metallic textures, digital glitches, and neon lights. Blend cold, dystopian structures with traces of organic life. Use photorealistic lighting and dynamic reflections to enhance the visual depth of the scene. Include:"}]},"includeOtherFields":true,"options":{}},"id":"594450d7-1155-41a6-89c2-e3a958eb98a1","name":"AI Dystopia","type":"n8n-nodes-base.set","position":[-260,360],"notesInFlow":true,"typeVersion":3.4,"notes":" "},{"parameters":{"assignments":{"assignments":[{"id":"9ec60f33-b940-40a6-9f8a-cb944b7065f1","name":"stylePrompt","type":"string","value":"=rule of thirds, asymmetric composition, glitch art, pixelation, VHS noise, octane render, unreal engine, 8k ::7 --ar 16:9 --s 1200\nDesign a glitchy, post-analog world with digital decay and broken visuals. Utilize pixelated elements, VHS noise, and neon glitches to create a fragmented aesthetic. Use bold, contrasting colors against muted backgrounds for a high-contrast, otherworldly feel. The composition should follow asymmetrical rules, focusing on chaotic yet intentional visual balance. Include:"}]},"includeOtherFields":true,"options":{}},"id":"8666c20f-a556-4276-88da-fb43c35d5fe5","name":"Post-Analog Glitchscape","type":"n8n-nodes-base.set","position":[-260,160],"notesInFlow":true,"typeVersion":3.4,"notes":" "},{"parameters":{"assignments":{"assignments":[{"id":"9ec60f33-b940-40a6-9f8a-cb944b7065f1","name":"stylePrompt","type":"string","value":"=asymmetric composition, golden ratio, neon colors, abstract forms, octane render, cinematic realism, unreal engine, 8k ::7 --ar 16:9 --s 1000\nCreate a bold, vivid composition using neon colors and fluid shapes that break away from reality. Focus on abstract forms, blending Fauvism's exaggerated color palette with modern digital art techniques. Use asymmetric composition and dynamic lighting. Render with a vibrant, high-energy aesthetic. Include:"}]},"includeOtherFields":true,"options":{}},"id":"623fe481-53d6-4b88-886e-77fe7c23ce18","name":"Neon Fauvism","type":"n8n-nodes-base.set","position":[-260,540],"notesInFlow":true,"typeVersion":3.4,"notes":" "},{"parameters":{"assignments":{"assignments":[{"id":"9ec60f33-b940-40a6-9f8a-cb944b7065f1","name":"stylePrompt","type":"string","value":"=Include: "}]},"includeOtherFields":true,"options":{}},"id":"cf90e535-058a-470a-acd3-a84c07301b85","name":"None","type":"n8n-nodes-base.set","position":[-260,900],"notesInFlow":true,"typeVersion":3.4,"notes":" "},{"parameters":{"respondWith":"text","responseBody":"=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Flux Image Generation Result</title>\n    <style>\n        body {\n            font-family: 'Open Sans', Tahoma, Geneva, Verdana, sans-serif;\n            display: flex;\n            flex-direction: column;\n            align-items: center;\n            justify-content: center;\n            min-height: 100vh;\n            background-color: #121212;\n            color: #e0e0e0;\n        }\n        .container {\n            margin-top: 2em;\n            width: 90%;\n            max-width: 670px; /* Increased the max-width for the main image area */\n            text-align: center;\n            background: #1e1e1e;\n            padding: 24px;\n            border-radius: 12px;\n            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);\n            margin-bottom: 24px;\n        }\n        .image-container {\n            margin-bottom: 20px;\n        }\n        .image-container img {\n            max-width: 100%;\n            height: auto;\n            border-radius: 12px;\n            border: 2px solid #333;\n        }\n        .style-text {\n            font-size: 18px;\n            margin-bottom: 20px;\n            color: #bbb;\n        }\n        .cta {\n            display: block;\n            width: 100%;\n            margin: 20px 0 0;\n            padding: 18px 0;\n            border: none;\n            border-radius: 6px;\n            text-decoration: none;\n            color: #fff;\n            background-color: #1C9985;\n            font-size: 18px;\n            font-weight: 400;\n            cursor: pointer;\n            transition: all 0.3s ease;\n        }\n        .cta:hover {\n            background-color: #20B69E;\n            transform: translateY(-2px);\n            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);\n        }\n        /* New section for recent renders */\n        .recent-renders {\n            display: flex;\n            justify-content: space-between;\n            flex-wrap: wrap;\n            gap: 16px;\n            margin-top: 24px;\n            max-width: 670px;\n        }\n        .recent-render img {\n            width: 100%;\n            max-width: 180px;\n            height: auto;\n            border-radius: 8px;\n            border: 2px solid #333;\n        }\n        .recent-render {\n            flex: 1;\n            max-width: 200px;\n            background-color: #2c2c2c;\n            padding: 10px;\n            border-radius: 10px;\n            margin-bottom: 3 rem;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <div class=\"image-container\">\n            <img src=\"https://pub-d2d94462851644a78ea607e05f8a2d25.r2.dev/fg-{{ $execution.id }}.jpg\" alt=\"Generated Image\" />\n        </div>\n        <div class=\"style-text\">Style: {{ $('Route by style').item.json.Style }}</div>\n        <a href=\"https://n8n.io/workflows/2417-flux-ai-image-generator?utm_source=30day\" class=\"cta\">Duplicate this AI template</a>\n    </div>\n    \n    <!-- New section to display the last 4 renders -->\n    <div class=\"recent-renders\">\n        <div class=\"recent-render\">\n            <img src=\"https://pub-d2d94462851644a78ea607e05f8a2d25.r2.dev/fg-{{ $execution.id.toNumber() - 1 }}.jpg\" alt=\"Recent Render 1\">\n        </div>\n        <div class=\"recent-render\">\n            <img src=\"https://pub-d2d94462851644a78ea607e05f8a2d25.r2.dev/fg-{{ $execution.id.toNumber() - 2 }}.jpg\" alt=\"Recent Render 2\">\n        </div>\n        <div class=\"recent-render\">\n            <img src=\"https://pub-d2d94462851644a78ea607e05f8a2d25.r2.dev/fg-{{ $execution.id .toNumber() - 3}}.jpg\" alt=\"Recent Render 3\">\n        </div>\n        <div class=\"recent-render\">\n            <img src=\"https://pub-d2d94462851644a78ea607e05f8a2d25.r2.dev/fg-{{ $execution.id.toNumber() - 4 }}.jpg\">\n        </div>\n    </div>\n</body>\n</html>\n","options":{}},"id":"f07325da-e241-4134-89ba-5b01a1a42ca2","name":"Serve webpage","type":"n8n-nodes-base.respondToWebhook","position":[820,320],"typeVersion":1.1},{"parameters":{"respondWith":"json","responseBody":"{\n  \"formSubmittedText\": \"Flux API failed. It does this ~10% of the time. Refresh and try again.\"\n}","options":{}},"id":"eaf54a50-d8d3-4cf5-8886-6e2ec6007e30","name":"Respond with error","type":"n8n-nodes-base.respondToWebhook","position":[820,560],"typeVersion":1.1},{"parameters":{"content":"### Set style prompt\nEach Edit fields node after the Switch sets `stylePrompt`, used in huggingface node.","height":107.99633347519193,"width":205.9419250888625,"color":7},"id":"1598b8fa-ebe0-43e0-84e4-6c77b6c6dd9f","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-660,180],"typeVersion":1},{"parameters":{"content":"### Run flux model\nIn `Call huggingface inference api` You can change `black-forest-labs/FLUX.1-schnell` in URL parameter to other models:\n- `black-forest-labs/FLUX.1-dev`\n- `Shakker-Labs/FLUX.1-dev-LoRA-AntiBlur`\n- `XLabs-AI/flux-RealismLora`\n- `ByteDance/Hyper-SD`\n\n[See more models on huggingface.co](https://huggingface.co/models?pipeline_tag=text-to-image&sort=trending)\n","height":226.2264013670822,"width":419.0156901664085,"color":7},"id":"7ea3aaba-c7d8-4491-8869-62fc1cd02b8f","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[80,580],"typeVersion":1},{"parameters":{"content":"### Host image on S3\n[Cloudflare](https://cloudflare.com) has free S3 compatible hosting. They call it \"R2\".","height":90.99855957953969,"width":247.37323750873333,"color":7},"id":"1686b9e1-2466-48ba-91e1-6e7204ce0610","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[480,180],"typeVersion":1},{"parameters":{"operation":"upload","bucketName":"flux-generator","fileName":"=fg-{{ $execution.id }}.jpg","additionalFields":{}},"id":"dce6a124-fd6f-43b8-936e-a077fb59951c","name":"Upload image to S3","type":"n8n-nodes-base.s3","position":[480,320],"typeVersion":1,"onError":"continueErrorOutput"},{"parameters":{"content":"### Respond to Form\nServe a webform with image on success. On error, send message to form.","height":90.99855957953969,"width":302.9292231993488,"color":7},"id":"5ae3b913-ab16-4740-84a3-c2e9930b8073","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[820,180],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"9ec60f33-b940-40a6-9f8a-cb944b7065f1","name":"stylePrompt","type":"string","value":"=golden ratio, rule of thirds, cyberpunk, glitch art, octane render, cinematic realism, 8k ::7 --ar 16:9 --s 1000\nCreate a hyper-realistic yet surreal landscape that bends reality, incorporating dreamlike elements and exaggerated proportions. Use vibrant, almost neon colors, and focus on a sense of wonder, play, and fantasy. Include:\n"}]},"includeOtherFields":true,"options":{}},"id":"44f0a9e5-fec2-4281-87f6-97b198a1a20c","name":"Hyper-Surreal Escape","type":"n8n-nodes-base.set","position":[-260,-20],"notesInFlow":true,"typeVersion":3.4,"notes":" "},{"parameters":{"content":"### Serve form to user\nCaptures `Prompt to flux` and `Style` from user.","height":103.99685726445023,"width":186.9444130878394,"color":7},"id":"6c9417ac-45a4-4b28-ae49-5f7871ac10cd","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[-960,180],"typeVersion":1},{"parameters":{"path":"flux4free","formTitle":"flux.schnell image generator","formDescription":"No ads, no BS. Uses hugginface inference API.","formFields":{"values":[{"fieldLabel":"Prompt to flux","fieldType":"textarea","placeholder":" An astronaut riding a horse in 35mm style","requiredField":true},{"fieldLabel":"Style","fieldType":"dropdown","fieldOptions":{"values":[{"option":"Hyper-Surreal Escape"},{"option":"Neon Fauvism"},{"option":"Post-Analog Glitchscape"},{"option":"AI Dystopia"},{"option":"Vivid Pop Explosion"}]}}]},"responseMode":"responseNode","options":{}},"id":"41ce5eae-1973-476d-8455-b37ff593bc39","name":"n8n Form Trigger","type":"n8n-nodes-base.formTrigger","position":[-920,400],"webhookId":"a35eb005-f795-4c85-9d00-0fe9797cb509","typeVersion":2.1},{"parameters":{"method":"POST","url":"https://api-inference.huggingface.co/models/black-forest-labs/FLUX.1-schnell","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"inputs","value":"=Depict {{ $json['Prompt to flux'] }}\n\nStyle: {{ $json.stylePrompt }}"}]},"options":{}},"id":"b85ce66b-f0e2-400a-8537-dda595d8afa9","name":"Call hugginface inference api","type":"n8n-nodes-base.httpRequest","position":[100,400],"notesInFlow":true,"typeVersion":4.2,"onError":"continueErrorOutput","notes":" "},{"parameters":{"content":"### Watch Set Up Video 👇\n[![Flux Generator](https://uploads.n8n.io/devrel/fluxgenerator.png#full-width)](https://youtu.be/Rv_1jt5WvtY)\n\n","height":337.24177957113216,"width":506.8102696237577,"color":7},"id":"813e2238-1e91-4265-ba5a-ea02f6b65a39","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[-1520,340],"typeVersion":1},{"parameters":{"content":"# flux image generator\nBuilt by [@maxtkacz](https://x.com/maxtkacz) as part of the [30 Day AI Sprint](https://30dayaisprint.notion.site/)\nCheck out the project's [Notion page](https://30dayaisprint.notion.site/Flux-image-generator-bc94a8d2de8447c6ab70aacf2c4179f2) for more details","height":134.27496896630808,"width":506.8102696237577,"color":7},"id":"9934d0fd-8033-4ba8-81fb-d0094f9be2eb","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[-1520,180],"typeVersion":1},{"parameters":{"rules":{"values":[{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.Style }}","rightValue":"Hyper-Surreal Escape"}]},"renameOutput":true,"outputKey":"Hyper-Surreal Escape"},{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"106969fa-994c-4b1e-b693-fc0b48ce5f3d","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.Style }}","rightValue":"Post-Analog Glitchscape"}]},"renameOutput":true,"outputKey":"Post-Analog Glitchscape"},{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"24318e7d-4dc1-4369-b045-bb7d0a484def","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.Style }}","rightValue":"AI Dystopia"}]},"renameOutput":true,"outputKey":"AI Dystopia"},{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"a80911ff-67fc-416d-b135-0401c336d6d8","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.Style }}","rightValue":"Neon Fauvism"}]},"renameOutput":true,"outputKey":"Neon Fauvism"},{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"7fdeec28-194e-415e-8da2-8bac90e4c011","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.Style }}","rightValue":"Vivid Pop Explosion"}]},"renameOutput":true,"outputKey":"Vivid Pop Explosion"}]},"options":{"fallbackOutput":"extra"}},"id":"f98ea4a3-56bc-46e6-950e-6e5ed402ddb9","name":"Route by style","type":"n8n-nodes-base.switch","position":[-640,380],"typeVersion":3.1}],"connections":{"None":{"main":[[{"node":"Call hugginface inference api","type":"main","index":0}]]},"AI Dystopia":{"main":[[{"node":"Call hugginface inference api","type":"main","index":0}]]},"Neon Fauvism":{"main":[[{"node":"Call hugginface inference api","type":"main","index":0}]]},"Route by style":{"main":[[{"node":"Hyper-Surreal Escape","type":"main","index":0}],[{"node":"Post-Analog Glitchscape","type":"main","index":0}],[{"node":"AI Dystopia","type":"main","index":0}],[{"node":"Neon Fauvism","type":"main","index":0}],[{"node":"Vivid Pop Explosion","type":"main","index":0}],[{"node":"None","type":"main","index":0}]]},"n8n Form Trigger":{"main":[[{"node":"Route by style","type":"main","index":0}]]},"Upload image to S3":{"main":[[{"node":"Serve webpage","type":"main","index":0}],[{"node":"Respond with error","type":"main","index":0}]]},"Vivid Pop Explosion":{"main":[[{"node":"Call hugginface inference api","type":"main","index":0}]]},"Hyper-Surreal Escape":{"main":[[{"node":"Call hugginface inference api","type":"main","index":0}]]},"Post-Analog Glitchscape":{"main":[[{"node":"Call hugginface inference api","type":"main","index":0}]]},"Call hugginface inference api":{"main":[[{"node":"Upload image to S3","type":"main","index":0}],[{"node":"Respond with error","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"d2fbaf5c-2181-43d5-a9c1-64f7de79370b","triggerCount":0,"tags":[]}