docs/image-analysis-credits-comayc-Uae0cDz4mjFqEbJo.json
{"createdAt":"2025-02-09T00:56:57.803Z","updatedAt":"2025-02-14T04:05:10.375Z","id":"Uae0cDz4mjFqEbJo","name":"Image analysis Credits COMAYC","active":false,"nodes":[{"parameters":{"operation":"resize","width":1024,"height":1024,"resizeOption":"onlyIfLarger","options":{}},"id":"82fc18ce-c34b-471e-96c8-3cbcebb9ac11","name":"Resize For AI1","type":"n8n-nodes-base.editImage","position":[-260,-580],"typeVersion":1},{"parameters":{"promptType":"define","text":"Document Analysis and Validation Protocol (Uruguay)\n\nSTEP 1 - DOCUMENT IDENTIFICATION\nFirst, identify the document type from these categories:\n\nA. Utility Bills:\n- UTE (Electricity invoice)\n- OSE (Water invoice)\n- ANTEL (Telecommunications invoice)\n\nB. Social Security:\n- BPS Receipt\n- Salary Receipt\n\nC. Banking:\n- Bank Statement\n- Payment Receipt\n\nSTEP 2 - DOCUMENT-SPECIFIC VALIDATION\n\nFOR UTE INVOICES:\nRequired Elements:\n- Invoice number\n- Customer number\n- Consumption details\n- Amount breakdown\nKey Identifiers:\n- UTE logo\n- kWh consumption\n- Power rate details\n\nFOR BPS RECEIPTS:\nRequired Elements:\n- Receipt number\n- Beneficiary ID\n- Nominal and liquid amounts\n- Deductions breakdown\nKey Identifiers:\n- BPS logo\n- SNIS/IASS deductions\n- Benefit type\n\n[Similar sections for other document types]\n\nSTEP 3 - QUALITY ASSESSMENT\nTechnical Requirements:\n- Resolution check\n- Format validation\n- Size verification\n- Color assessment\n\nCapture Quality:\n- Document completeness\n- Corner visibility\n- Background clarity\n- Text legibility\n\nRESPONSE FORMAT:\n{\n    \"documentAnalysis\": {\n        \"identified\": {\n            \"type\": \"string [UTE_INVOICE, BPS_RECEIPT, etc.]\",\n            \"confidence\": \"number (0-1)\"\n        },\n        \"quality\": {\n            \"isValid\": \"boolean\",\n            \"technicalIssues\": [\"array of strings\"],\n            \"captureIssues\": [\"array of strings\"]\n        },\n        \"validation\": {\n            \"requiredElements\": {\n                \"present\": [\"array of strings\"],\n                \"missing\": [\"array of strings\"]\n            },\n            \"overallStatus\": \"boolean\"\n        }\n    }\n}\n\nVALIDATION RULES:\n1. Each document type has specific required elements\n2. Quality requirements apply to all documents\n3. Missing required elements invalidate the document\n4. Document type must be identified before validation\n5. Unknown document types return type: \"UNKNOWN\"","hasOutputParser":true,"messages":{"messageValues":[{"message":"=Complete Guide for Financial Document Analysis in Uruguay\n\n1. Technical Image Requirements\nThe photo must meet:\nMinimum resolution of 600x750 pixels\nSize between 50KB and 10MB\nColor (not black and white)\nNo digital edits or alterations\nFormat JPG, PNG or PDF\n\n2. Capture Requirements\nFundamental Elements:\nComplete document visible in frame\nAll corners visible\nNo shadows hiding information\nNo reflections or glare\nClean, clear background\nCompletely legible text\n\n3. Critical Information to Identify\n\nA. Identification Data:\nCompany RUT\nInvoice/document number\nDocument type (invoice, e-ticket, salary receipt)\nIssue and expiration period\n\nB. Beneficiary/Client Information:\nFull name\nDocument number (CI/RUT)\nAddress\nPosition or role (for salary receipts)\n\nC. Key Amount Identification\nFor Salary Receipts:\nNOMINAL: Gross amount before deductions\nLIQUID: Final amount after all deductions\nBreakdown of:\n  - Base salary\n  - Supplements\n  - Overtime\n  - Annual bonus\n  - Other benefits\n\nDeductions and Retentions:\nSNIS (National Health System)\nIASS (Social Security Assistance Tax)\nLegal retentions\nOther specific deductions\n\nD. For Invoices:\nSubtotal\nItemized VAT\nFinal total\nPayment method\nPayment status\n\n4. Verification Elements\nClearly visible subtotals\nCorrect calculations between amounts\nCorresponding payment period\nIssue and due dates\nRequired signatures and stamps\n\n5. Accepted Document Types\nSalary receipts\nInvoices (e-Invoices)\nE-tickets\nPayment receipts\nAccount statements\nPayment certificates\nBank transfer receipts\n\n6. Authenticity Verification\nQR Code (if applicable)\nCAE Number\nDigital stamps\nAuthorized signatures\nInstitutional stamps\n\n7. Special Considerations\nFor multiple documents, photograph each page separately\nContinuous documents require complete capture\nDocuments with information on both sides require both photographs\nPrefer original digital versions when available\n\n8. Warnings and Restrictions\nDocuments not accepted if:\n  - Cut or partially visible\n  - With crossouts or manual corrections\n  - Expired or out of date\n  - With irrelevant sensitive personal information\n  - Illegible or blurry\n\n9. Final Validation Elements\nVerify all amounts match correctly\nConfirm dates are consistent\nEnsure all critical information is visible\nValidate deductions and retentions comply with current regulations\n\n10. Additional Required Information\nBilling period\nPayment method\nPaying entity\nControl or reference number\nIssuer contact information\n\nAnalyze the provided financial document image and return a JSON response following exactly this structure:\n1. Validate if the document is valid and meets quality requirements\n2. Extract all relevant information including amounts, dates, and identifiers\n3. Format the response according to the specified JSON schema\n4. Include any validation errors found\n\nThe response must include all required fields: is_valid, photo_quality, and document_data."},{"type":"HumanMessagePromptTemplate","messageType":"imageBinary"}]}},"id":"09ea84ac-6834-4786-93de-d83f98eae3ad","name":"Bill and charge Photo Validator","type":"@n8n/n8n-nodes-langchain.chainLlm","position":[-100,-580],"typeVersion":1.4},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{"responseFormat":"text"}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-100,-360],"id":"349ed132-662f-4da0-b083-d972bfc9f8c3","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"Xhw7jhGubqs4BVIn","name":"OpenAi ai_agent"}}},{"parameters":{"jsonSchemaExample":"{\n    \"output\": {\n        \"is_valid\": true,\n        \"photo_quality\": {\n            \"description\": \"The document image is clear and well-lit, showing a salary receipt from BPS with all corners visible and text legible\",\n            \"meets_requirements\": true,\n            \"resolution\": {\n                \"width\": 800,\n                \"height\": 1200\n            },\n            \"file_size\": 250\n        },\n        \"document_data\": {\n            \"document_type\": \"salary_receipt\",\n            \"control_number\": \"1111111\",\n            \"issue_date\": \"2024/11\",\n            \"period\": {\n                \"start_date\": \"2024-11-01\",\n                \"end_date\": \"2024-11-30\"\n            },\n            \"issuer\": {\n                \"name\": \"ABITAB S.A\",\n                \"rut\": \"26\"\n            },\n            \"recipient\": {\n                \"name\": \"ejemplo ejemplo\",\n                \"document_id\": \"111111111\"\n            },\n            \"amounts\": {\n                \"nominal\": 104441.00,\n                \"liquid\": 70605.00,\n                \"currency\": \"UYU\"\n            },\n            \"deductions\": [\n                {\n                    \"description\": \"SNIS 4.5%\",\n                    \"amount\": 4700.00,\n                    \"type\": \"health_insurance\"\n                },\n                {\n                    \"description\": \"IASS\",\n                    \"amount\": 5793.00,\n                    \"type\": \"tax\"\n                }\n            ],\n            \"payment_info\": {\n                \"method\": \"Efectivo\",\n                \"status\": \"Pending\",\n                \"payment_date\": \"2024-12-13\"\n            }\n        },\n        \"validation_errors\": []\n    }\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[60,-360],"id":"77061625-c139-4abf-b9cb-0117bcdf74c9","name":"Structured Output Parser"},{"parameters":{"functionCode":"function transformarYProcesarDatos(datosImagen) {\n    try {\n        // Funciones auxiliares\n        function calculoMargenUY(nominal, liquido) {\n            const minimoLegalUY = nominal * 0.35;\n            const diferencia = liquido - minimoLegalUY;\n            const margenMinimo = 3000;\n            return {\n                tieneMargen: diferencia > margenMinimo,\n                margenDisponible: diferencia\n            };\n        }\n\n        function obtenerMensajeSegunTipo(tipoUsuario, resultado) {\n            return resultado.tieneMargen \n                ? obtenerMensajeAprobado(tipoUsuario)\n                : obtenerMensajeRechazado(tipoUsuario);\n        }\n\n        function obtenerMensajeAprobado(tipoUsuario) {\n            if (tipoUsuario === 'empleado') {\n                return `Está en condiciones de solicitar un crédito. Por favor, envíenos fotos nítidas y legibles de la siguiente documentación:\\n\\n• 𝗖𝗲́𝗱𝘂𝗹𝗮 𝗱𝗲 𝗶𝗱𝗲𝗻𝘁𝗶𝗱𝗮𝗱 𝘃𝗶𝗴𝗲𝗻𝘁𝗲\\n• 𝗨́𝗹𝘁𝗶𝗺𝗼𝘀 𝗱𝗼𝘀 𝗿𝗲𝗰𝗶𝗯𝗼𝘀 𝗱𝗲 𝘀𝘂𝗲𝗹𝗱𝗼\\n• 𝗖𝗼𝗻𝘀𝘁𝗮𝗻𝗰𝗶𝗮 𝗱𝗲 𝗱𝗼𝗺𝗶𝗰𝗶𝗹𝗶𝗼 (𝗽𝘂𝗲𝗱𝗲 𝘀𝗲𝗿 𝘂𝗻 𝗿𝗲𝗰𝗶𝗯𝗼 𝗱𝗲 𝗨𝗧𝗘, 𝗢𝗦𝗘, 𝗔𝗡𝗧𝗘𝗟, 𝗲𝘀𝘁𝗮𝗱𝗼 𝗱𝗲 𝗰𝘂𝗲𝗻𝘁𝗮, 𝗲𝘁𝗰.) \\n\\n𝗨𝗻𝗮 𝘃𝗲𝘇 𝗿𝗲𝗰𝗶𝗯𝗶𝗱𝗼𝘀, 𝗽𝗿𝗼𝗰𝗲𝗱𝗲𝗿𝗲𝗺𝗼𝘀 𝗮 𝗲𝘃𝗮𝗹𝘂𝗮𝗿 𝘀𝘂 𝘀𝗼𝗹𝗶𝗰𝗶𝘁𝘂𝗱, 𝗱𝗲𝗻𝘁𝗿𝗼 𝗱𝗲𝗹 𝗵𝗼𝗿𝗮𝗿𝗶𝗼 𝗱𝗲 𝗮𝘁𝗲𝗻𝗰𝗶𝗼́𝗻 𝗮𝗹 𝗽𝘂́𝗯𝗹𝗶𝗰𝗼, 𝗹𝘂𝗻𝗲𝘀 𝗮 𝘃𝗶𝗲𝗿𝗻𝗲𝘀 𝗱𝗲 𝟵 𝗮 𝟭𝟳 𝗵𝗼𝗿𝗮𝘀.`;\n            } else {\n                return `Está en condiciones de solicitar un crédito. Por favor, envíenos fotos nítidas y legibles de la siguiente documentación:\\n\\n• 𝗖𝗲́𝗱𝘂𝗹𝗮 𝗱𝗲 𝗶𝗱𝗲𝗻𝘁𝗶𝗱𝗮𝗱 𝘃𝗶𝗴𝗲𝗻𝘁𝗲\\n• 𝗨́𝗹𝘁𝗶𝗺𝗼𝘀 𝗱𝗼𝘀 𝗿𝗲𝗰𝗶𝗯𝗼𝘀 𝗱𝗲 𝗹𝗮 𝗽𝗮𝘀𝗶𝘃𝗶𝗱𝗮𝗱\\n• 𝗖𝗼𝗻𝘀𝘁𝗮𝗻𝗰𝗶𝗮 𝗱𝗲 𝗱𝗼𝗺𝗶𝗰𝗶𝗹𝗶𝗼 (𝗽𝘂𝗲𝗱𝗲 𝘀𝗲𝗿 𝘂𝗻 𝗿𝗲𝗰𝗶𝗯𝗼 𝗱𝗲 𝗨𝗧𝗘, 𝗢𝗦𝗘, 𝗔𝗡𝗧𝗘𝗟, 𝗲𝘀𝘁𝗮𝗱𝗼 𝗱𝗲 𝗰𝘂𝗲𝗻𝘁𝗮, 𝗲𝘁𝗰.) \\n\\n𝗨𝗻𝗮 𝘃𝗲𝘇 𝗿𝗲𝗰𝗶𝗯𝗶𝗱𝗼𝘀, 𝗽𝗿𝗼𝗰𝗲𝗱𝗲𝗿𝗲𝗺𝗼𝘀 𝗮 𝗲𝘃𝗮𝗹𝘂𝗮𝗿 𝘀𝘂 𝘀𝗼𝗹𝗶𝗰𝗶𝘁𝘂𝗱, 𝗱𝗲𝗻𝘁𝗿𝗼 𝗱𝗲𝗹 𝗵𝗼𝗿𝗮𝗿𝗶𝗼 𝗱𝗲 𝗮𝘁𝗲𝗻𝗰𝗶𝗼́𝗻 𝗮𝗹 𝗽𝘂́𝗯𝗹𝗶𝗰𝗼, 𝗹𝘂𝗻𝗲𝘀 𝗮 𝘃𝗶𝗲𝗿𝗻𝗲𝘀 𝗱𝗲 𝟵 𝗮 𝟭𝟳 𝗵𝗼𝗿𝗮𝘀.`;\n            }\n        }\n\n        function obtenerMensajeRechazado(tipoUsuario) {\n            return `Gracias por su consulta. Por ahora no cuenta con el margen necesario, puede consultar más adelante.`;\n        }\n\n        // Verificar y extraer los datos\n        if (!datosImagen || !datosImagen.output || !datosImagen.output.output) {\n            throw new Error(\"Estructura de datos inválida o incompleta\");\n        }\n\n        const documentData = datosImagen.output.output.document_data;\n        const amounts = documentData.amounts;\n\n        // Extraer y validar montos\n        const montoNominal = parseFloat(amounts.nominal);\n        const montoLiquido = parseFloat(amounts.liquid);\n\n        if (isNaN(montoNominal) || isNaN(montoLiquido)) {\n            throw new Error(\"Los montos no son números válidos\");\n        }\n\n        // Validaciones adicionales\n        if (montoLiquido >= montoNominal) {\n            throw new Error(\"El monto líquido no puede ser mayor o igual al monto nominal\");\n        }\n\n        if (montoNominal < 0 || montoLiquido < 0) {\n            throw new Error(\"Los montos no pueden ser negativos\");\n        }\n\n        // Calcular margen y obtener mensaje\n        const resultado = calculoMargenUY(montoNominal, montoLiquido);\n        const tipoUsuario = documentData.issuer?.name?.toUpperCase().includes('BPS') ? 'jubilado' : 'empleado';\n        const mensajeRespuesta = obtenerMensajeSegunTipo(tipoUsuario, resultado);\n\n        // Retornar respuesta completa\n        return {\n            status: \"success\",\n            message: mensajeRespuesta,\n            data: {\n                tipoUsuario,\n                tieneMargen: resultado.tieneMargen,\n                margenDisponible: resultado.margenDisponible,\n                parametros: {\n                    parameters: tipoUsuario === 'jubilado' ? {\n                        montoNominal_jubilado: montoNominal.toString(),\n                        montoLiquido_jubilado: montoLiquido.toString()\n                    } : {\n                        montoNominal_empleado: montoNominal.toString(),\n                        montoLiquido_empleado: montoLiquido.toString()\n                    }\n                }\n            }\n        };\n\n    } catch (error) {\n        console.error(\"Error en el procesamiento:\", error);\n        return {\n            status: \"error\",\n            message: error.message,\n            debug: {\n                error: error.message,\n                stack: error.stack\n            }\n        };\n    }\n}\n\n// Código principal para n8n\nconst items = $input.all();\nif (items && items.length > 0 && items[0].json) {\n    const datosImagen = items[0].json;\n    return transformarYProcesarDatos(datosImagen);\n} else {\n    return {\n        status: \"error\",\n        message: \"No se encontraron datos en la entrada\",\n        debug: {\n            items: items\n        }\n    };\n}"},"name":"Code","type":"n8n-nodes-base.function","typeVersion":1,"position":[260,-580],"id":"c7cf9f58-0b8d-4ea5-ae1b-cbfc15b064e2","alwaysOutputData":false},{"parameters":{"updates":["messages"]},"id":"267dd971-f804-48bb-b6b8-63b5d060749d","name":"WhatsApp Trigger","type":"n8n-nodes-base.whatsAppTrigger","position":[-1580,-1000],"webhookId":"0b1b3a9b-2f6a-4f5a-8385-6365d96f4802","typeVersion":1,"credentials":{"whatsAppTriggerApi":{"id":"NTNSFB59yMTH3cRF","name":"WhatsApp OAuth account"}}},{"parameters":{"resource":"media","operation":"mediaUrlGet","mediaGetId":"={{ $json.video.id }}","requestOptions":{}},"id":"cdb29c6c-638e-4851-9cfe-c3afb9176898","name":"Get Video URL","type":"n8n-nodes-base.whatsApp","position":[-760,-1080],"typeVersion":1,"credentials":{"whatsAppApi":{"id":"XEUoaFzF7vLQoe9R","name":"WhatsApp account"}}},{"parameters":{"resource":"media","operation":"mediaUrlGet","mediaGetId":"={{ $json.image.id }}","requestOptions":{}},"id":"b438efe4-ce88-499d-aa5a-a965e05ccb8f","name":"Get Image URL","type":"n8n-nodes-base.whatsApp","position":[-800,-580],"typeVersion":1,"credentials":{"whatsAppApi":{"id":"XEUoaFzF7vLQoe9R","name":"WhatsApp account"}}},{"parameters":{"url":"={{ $json.url }}","authentication":"predefinedCredentialType","nodeCredentialType":"whatsAppApi","options":{}},"id":"67cbcc57-e357-4b01-b315-994d0e65afae","name":"Download Video","type":"n8n-nodes-base.httpRequest","position":[-600,-1080],"typeVersion":4.2,"credentials":{"whatsAppApi":{"id":"XEUoaFzF7vLQoe9R","name":"WhatsApp account"}}},{"parameters":{"url":"={{ $json.url }}","authentication":"predefinedCredentialType","nodeCredentialType":"whatsAppApi","options":{}},"id":"f5c8a5e7-ba9f-4f92-9936-753e9d1256f2","name":"Download Image","type":"n8n-nodes-base.httpRequest","position":[-640,-580],"typeVersion":4.2,"credentials":{"whatsAppApi":{"id":"XEUoaFzF7vLQoe9R","name":"WhatsApp account"}}},{"parameters":{"assignments":{"assignments":[{"id":"d990cbd6-a408-4ec4-a889-41be698918d9","name":"message_type","type":"string","value":"={{ $('Split Out Message Parts').item.json.type }}"},{"id":"23b785c3-f38e-4706-80b7-51f333bba3bd","name":"message_text","type":"string","value":"={{ $json.text }}"},{"id":"6e83f9a7-cf75-4182-b2d2-3151e8af76b9","name":"from","type":"string","value":"={{ $('WhatsApp Trigger').item.json.messages[0].from }}"},{"id":"da4b602a-28ca-4b0d-a747-c3d3698c3731","name":"message_caption","type":"string","value":"={{ $('Redirect Message Types').item.json.video && $('Redirect Message Types').item.json.video.caption || '' }}\n{{ $('Redirect Message Types').item.json.image && $('Redirect Message Types').item.json.image.caption || ''}}\n{{ $('Redirect Message Types').item.json.audio && $('Redirect Message Types').item.json.audio.caption || ''}}"}]},"options":{}},"id":"a61cfcb2-b12d-4b67-aad6-0705c6d05cb7","name":"Get User's Message","type":"n8n-nodes-base.set","position":[800,-540],"typeVersion":3.4},{"parameters":{"fieldToSplitOut":"messages","options":{}},"id":"dd9cd9a3-be98-498a-9382-51335ffb7a2a","name":"Split Out Message Parts","type":"n8n-nodes-base.splitOut","position":[-1360,-1000],"typeVersion":1},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ $json.type == 'audio' && Boolean($json.audio) }}","rightValue":"audio"}]},"renameOutput":true,"outputKey":"Audio Message"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"82aa5ff4-c9b6-4187-a27e-c7c5d9bfdda0","operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ $json.type == 'video' && Boolean($json.video) }}","rightValue":""}]},"renameOutput":true,"outputKey":"Video Message"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"05b30af4-967b-4824-abdc-84a8292ac0e5","operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ $json.type == 'image' && Boolean($json.image) }}","rightValue":""}]},"renameOutput":true,"outputKey":"Image Message"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"Text Message"}},"id":"eae6cdba-a573-4379-a886-e1d8b31fc72a","name":"Redirect Message Types","type":"n8n-nodes-base.switch","position":[-1140,-1020],"typeVersion":3.2},{"parameters":{"content":"### 3. Describe Video Messages 🎬\nFor video messages, one approach is to use a Multimodal Model that supports parsing video. Currently, Google Gemini is a well-tested service for this task. We'll need to use the HTTP request node as currrently n8n's LLM node doesn't currently support video binary types.","height":127.13555811277331,"width":492.5258918296896,"color":7},"id":"37021614-cf1c-4ebf-8065-33e6dcb3f7cf","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[-760,-1240],"typeVersion":1},{"parameters":{"content":"### 4. Analyse Image Messages 🏞️\nFor image messages, we can use GPT4o to explain what is going on in the message for our AI Agent.","height":97.23360184119679,"width":356.65822784810103,"color":7},"id":"c9de2fdd-0d56-4f4c-b69e-7e6ba45484bc","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[-800,-700],"typeVersion":1},{"parameters":{"content":"### 5. Text summarizer 📘\nFor text messages, we don't need to do much transformation but it's nice to summarize for easier understanding.","height":97.23360184119679,"width":428.24395857307246,"color":7},"id":"23250ee0-fc39-40c8-9cf4-4dd8ec84cb00","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[-800,-200],"typeVersion":1},{"parameters":{"amount":0},"id":"c74f7b10-a978-4806-86cd-80860ae8a695","name":"Get Text","type":"n8n-nodes-base.wait","position":[-800,-80],"webhookId":"99b49c83-d956-46d2-b8d3-d65622121ad9","typeVersion":1.1},{"parameters":{"promptType":"define","text":"Here is an image sent by the user. Describe the image and transcribe any text visible in the image.","messages":{"messageValues":[{"type":"HumanMessagePromptTemplate","messageType":"imageBinary"}]}},"id":"5d604699-214a-4c40-a243-1499f04b8995","name":"Image Explainer","type":"@n8n/n8n-nodes-langchain.chainLlm","position":[680,-60],"typeVersion":1.4},{"parameters":{"assignments":{"assignments":[{"id":"2ec0e573-373b-4692-bfae-86b6d3b9aa9a","name":"text","type":"string","value":"={{ $json.candidates[0].content.parts[0].text }}"}]},"options":{}},"id":"02215b7a-54bd-4d6a-ba2c-c4264049e0dc","name":"Format Response","type":"n8n-nodes-base.set","position":[180,-1080],"typeVersion":3.4},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-pro-002:generateContent","authentication":"predefinedCredentialType","nodeCredentialType":"googlePalmApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{\n{\n  \"contents\": [{\n    \"parts\":[\n      {\"text\": \"Describe this video\"},\n      {\"inlineData\": {\n        \"mimeType\": `video/${$binary.data.fileExtension}`,\n        \"data\": $input.item.binary.data.data }\n      }\n    ]\n  }]\n}\n}}","options":{}},"id":"6b4f2d5f-f18b-4eba-8e2b-bdda6a0166c9","name":"Google Gemini Video","type":"n8n-nodes-base.httpRequest","position":[-120,-1080],"typeVersion":4.2,"credentials":{"googlePalmApi":{"id":"HaVC7pJc5uUNt90e","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"modelName":"models/gemini-1.5-pro-002","options":{}},"id":"3977a797-2783-4f8d-85b4-8b62d349b775","name":"Google Gemini Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","position":[660,100],"typeVersion":1,"credentials":{"googlePalmApi":{"id":"HaVC7pJc5uUNt90e","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"modelName":"models/gemini-1.5-pro-002","options":{}},"id":"ec395e24-ee13-48c5-a48a-d146d2efafe9","name":"Google Gemini Chat Model2","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","position":[-180,120],"typeVersion":1,"credentials":{"googlePalmApi":{"id":"HaVC7pJc5uUNt90e","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"promptType":"define","text":"={{ $json.text.body || $json.text }}","messages":{"messageValues":[{"message":"Summarize the user's message succinctly."}]}},"id":"3ef67833-e2b4-47cc-90d1-49a6ce1a575c","name":"Text Summarizer","type":"@n8n/n8n-nodes-langchain.chainLlm","position":[-120,-80],"typeVersion":1.4},{"parameters":{"resource":"media","operation":"mediaUrlGet","mediaGetId":"={{ $json.audio.id }}","requestOptions":{}},"id":"92988af0-77e8-4581-bf09-6d1462f9413b","name":"Get Audio URL","type":"n8n-nodes-base.whatsApp","position":[-780,-1540],"typeVersion":1,"credentials":{"whatsAppApi":{"id":"XEUoaFzF7vLQoe9R","name":"WhatsApp account"}}},{"parameters":{"url":"={{ $json.url }}","authentication":"predefinedCredentialType","nodeCredentialType":"whatsAppApi","options":{}},"id":"4eacf14b-59a5-4ee9-9bde-79bb07fd9416","name":"Download Audio","type":"n8n-nodes-base.httpRequest","position":[-620,-1540],"typeVersion":4.2,"credentials":{"whatsAppApi":{"id":"XEUoaFzF7vLQoe9R","name":"WhatsApp account"}}},{"parameters":{"content":"### 2. Transcribe Audio Messages 💬\nFor audio messages or voice notes, we can use GPT4o to transcribe the message for our AI Agent.","height":97.23360184119679,"width":356.65822784810103,"color":7},"id":"6fa1012c-8823-4742-9923-928b8a80b578","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-780,-1660],"typeVersion":1},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-pro-002:generateContent","authentication":"predefinedCredentialType","nodeCredentialType":"googlePalmApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{\n{\n  \"contents\": [{\n    \"parts\":[\n      {\"text\": \"Transcribe this audio\"},\n      {\"inlineData\": {\n        \"mimeType\": `audio/${$binary.data.fileExtension}`,\n        \"data\": $input.item.binary.data.data }\n      }\n    ]\n  }]\n}\n}}","options":{}},"id":"1ee00124-48f9-4af4-8dce-c87a3df1366e","name":"Google Gemini Audio","type":"n8n-nodes-base.httpRequest","position":[-180,-1540],"typeVersion":4.2,"credentials":{"googlePalmApi":{"id":"HaVC7pJc5uUNt90e","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"assignments":{"assignments":[{"id":"2ec0e573-373b-4692-bfae-86b6d3b9aa9a","name":"text","type":"string","value":"={{ $json.candidates[0].content.parts[0].text }}"}]},"options":{}},"id":"70fb27d1-f86f-4c8f-a040-7ae76cdf74fd","name":"Format Response1","type":"n8n-nodes-base.set","position":[60,-1540],"typeVersion":3.4},{"parameters":{"sessionIdType":"customKey","sessionKey":"=whatsapp-modtecs-{{ $json.from }}"},"id":"a2462ef0-dd33-4c2a-ba76-2eaa10c3d5bc","name":"Window Buffer Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[1260,-320],"typeVersion":1.2},{"parameters":{},"id":"1003945d-ecc0-48bb-8477-a24af89f21fc","name":"Wikipedia","type":"@n8n/n8n-nodes-langchain.toolWikipedia","position":[1380,-340],"typeVersion":1},{"parameters":{"content":"## 6. Generate Response with AI Agent\n[Read more about the AI Agent node](https://docs.n8n.io/integrations/builtin/cluster-nodes/root-nodes/n8n-nodes-langchain.agent)\n\nNow that we'll able to handle all message types from WhatsApp, we could do pretty much anything we want with it by giving it our AI agent. Examples could include handling customer support, helping to book appointments or verifying documents.\n\nIn this demonstration, we'll just create a simple AI Agent which responds to our WhatsApp user's message and returns a simple response.","height":273.14522439585744,"width":500.7797468354428,"color":7},"id":"d61400bb-05ab-4573-ae20-7938232dbf2e","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[1100,-820],"typeVersion":1},{"parameters":{"operation":"send","phoneNumberId":"519630737907052","recipientPhoneNumber":"={{ $('WhatsApp Trigger').item.json.messages[0].from }}","textBody":"={{ $json.output }}","additionalFields":{},"requestOptions":{}},"id":"6f04fa68-64b7-433e-b2ac-86d43685ad1a","name":"Respond to User","type":"n8n-nodes-base.whatsApp","position":[1620,-440],"typeVersion":1,"credentials":{"whatsAppApi":{"id":"XEUoaFzF7vLQoe9R","name":"WhatsApp account"}}},{"parameters":{"promptType":"define","text":"=The user sent the following message\nmessage type: {{ $json.message_type }}\nmessage text or description:\n```{{ $json.message_text }}```\n{{ $json.message_caption ? `message caption: ${$json.message_caption.trim()}` : '' }}","options":{"systemMessage":"You are a financial assistance bot for COMAYC, a credit cooperative in Uruguay. You must ALWAYS RESPOND IN SPANISH regardless of how the user communicates with you. Your primary role is to help members and potential clients via WhatsApp with their credit inquiries and financial services offered by COMAYC.\n\nPrimary Instruction:\nIMPORTANT: All responses must be in Spanish, even if the user writes in English or any other language.\n\nKey Functions:\n- Provide information about COMAYC's credit services and requirements\n- Help evaluate credit eligibility based on salary receipts and financial documents\n- Guide users through the loan application process\n- Share information about COMAYC's locations and contact details\n- Explain membership benefits and requirements\n- Provide basic financial guidance within COMAYC's service framework\n\nGuidelines:\n- Always maintain a professional yet friendly tone in Spanish\n- Provide accurate information based on COMAYC's policies\n- Direct complex inquiries to COMAYC's office when necessary\n- Protect user privacy and handle financial information securely\n- Reference www.comayc.com for additional information\n- Operating hours: Monday to Friday, 9:00 AM to 5:00 PM\n\nResponse Style:\n- Clear and concise Spanish communication\n- Professional and helpful\n- Focus on COMAYC's services\n- Include relevant contact information when needed\n- Provide next steps or actionable information\n\nRemember: \n1. ALWAYS respond in Spanish\n2. You represent COMAYC\n3. Align responses with their values and services\n4. Maintain a helpful and professional demeanor\n5. If you receive messages in English or other languages, still respond in Spanish\n"}},"id":"b2bd27c8-05ac-4146-8edc-7ae75c9b521f","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[1160,-520],"typeVersion":1.6},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1060,-320],"id":"ac32b9cd-4cfa-4ed9-a3b8-a68b934b7423","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"Xhw7jhGubqs4BVIn","name":"OpenAi ai_agent"}}},{"parameters":{"operation":"send","phoneNumberId":"519630737907052","recipientPhoneNumber":"={{ $('WhatsApp Trigger').item.json.messages[0].from }}","textBody":"={{ $json.message }}","additionalFields":{},"requestOptions":{}},"id":"1e18e7e0-32ad-448c-b4f4-d11482ba5fc8","name":"Respond to User1","type":"n8n-nodes-base.whatsApp","position":[800,-820],"typeVersion":1,"credentials":{"whatsAppApi":{"id":"XEUoaFzF7vLQoe9R","name":"WhatsApp account"}}},{"parameters":{"assignments":{"assignments":[{"id":"23b785c3-f38e-4706-80b7-51f333bba3bd","name":"text","type":"string","value":"={{ $json.message }}"}]},"options":{}},"id":"a19fe7a6-8a39-4a04-afd7-0208c09e8207","name":"Get User's Message1","type":"n8n-nodes-base.set","position":[460,-580],"typeVersion":3.4}],"connections":{"Resize For AI1":{"main":[[{"node":"Bill and charge Photo Validator","type":"main","index":0}]]},"Bill and charge Photo Validator":{"main":[[{"node":"Code","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Bill and charge Photo Validator","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Bill and charge Photo Validator","type":"ai_outputParser","index":0}]]},"WhatsApp Trigger":{"main":[[{"node":"Split Out Message Parts","type":"main","index":0}]]},"Get Video URL":{"main":[[{"node":"Download Video","type":"main","index":0}]]},"Get Image URL":{"main":[[{"node":"Download Image","type":"main","index":0}]]},"Download Video":{"main":[[{"node":"Google Gemini Video","type":"main","index":0}]]},"Download Image":{"main":[[{"node":"Resize For AI1","type":"main","index":0}]]},"Split Out Message Parts":{"main":[[{"node":"Redirect Message Types","type":"main","index":0}]]},"Redirect Message Types":{"main":[[{"node":"Get Audio URL","type":"main","index":0}],[{"node":"Get Video URL","type":"main","index":0}],[{"node":"Get Image URL","type":"main","index":0}],[{"node":"Get Text","type":"main","index":0}]]},"Get Text":{"main":[[{"node":"Text Summarizer","type":"main","index":0}]]},"Image Explainer":{"main":[[]]},"Format Response":{"main":[[{"node":"Get User's Message","type":"main","index":0}]]},"Google Gemini Video":{"main":[[{"node":"Format Response","type":"main","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Image Explainer","type":"ai_languageModel","index":0}]]},"Google Gemini Chat Model2":{"ai_languageModel":[[{"node":"Text Summarizer","type":"ai_languageModel","index":0}]]},"Text Summarizer":{"main":[[{"node":"Get User's Message","type":"main","index":0}]]},"Get Audio URL":{"main":[[{"node":"Download Audio","type":"main","index":0}]]},"Download Audio":{"main":[[{"node":"Google Gemini Audio","type":"main","index":0}]]},"Google Gemini Audio":{"main":[[{"node":"Format Response1","type":"main","index":0}]]},"Code":{"main":[[{"node":"Get User's Message1","type":"main","index":0}]]},"Format Response1":{"main":[[{"node":"Get User's Message","type":"main","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Wikipedia":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AI Agent":{"main":[[{"node":"Respond to User","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Get User's Message":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Get User's Message1":{"main":[[{"node":"Get User's Message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"768b1f30-2f00-47de-bf7c-6abd6b3dfaaa","triggerCount":0,"tags":[]}