docs/main-workflow-save-github-zbbchwO1TKfnMF9B.json
{"createdAt":"2024-12-21T22:54:26.571Z","updatedAt":"2024-12-22T04:31:56.961Z","id":"zbbchwO1TKfnMF9B","name":"Main Workflow save github","active":true,"nodes":[{"parameters":{},"id":"663a890e-5444-4b34-bd1c-0e4913a00fc3","name":"On clicking 'execute'","type":"n8n-nodes-base.manualTrigger","position":[380,-20],"typeVersion":1},{"parameters":{"filters":{},"requestOptions":{}},"id":"b7790b1e-77a2-4065-a512-ac489befbbe8","name":"n8n","type":"n8n-nodes-base.n8n","position":[780,80],"typeVersion":1,"credentials":{"n8nApi":{"id":"7Nx3lyXbeCHnN3pg","name":"n8n account"}}},{"parameters":{"options":{}},"id":"4fbd92d1-61e6-4610-a543-f2c2e1abae4c","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[980,80],"typeVersion":3},{"parameters":{"rule":{"interval":[{"triggerAtHour":2}]}},"id":"2ec22a53-8252-49a2-9047-ba25d503b50e","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[380,180],"typeVersion":1.2},{"parameters":{"content":"## Backup to GitHub \nThis workflow will backup all instance workflows to GitHub every 24 hours.\n\nThe files are saved into folders using `YYYY/MM/` for the directory path and `ID.json` for the filename.\n\nThe Repo Owner, Repo Name and Main folder are set using the **Variables** feature but can be replaced with the `Config` node in the subworkflow. \n\nThe workflow runs calls itself to help reduce memory usage, Once the workflow has completed it will send an optional notification to Slack.\n\n### Time to Run\nTested with 1423 workflows on `1.44.1` it took under 30 minutes for the first run and under 12 minutes once the initial run is complete.","height":417,"width":385,"color":4},"id":"01bb8347-e18d-4f81-b9e5-5937808e7413","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-100,-100],"typeVersion":1},{"parameters":{"content":"## Main workflow loop","height":416.1856906618075,"width":1272.6408145680155,"color":3},"id":"ac8a2018-59b4-4314-8e0e-f8205c8783d9","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[340,-100],"typeVersion":1},{"parameters":{"workflowId":"=NLEdQQXIKlQ72u3W","mode":"each","options":{}},"id":"a8890c1b-097e-466f-8058-74787583b879","name":"Execute Workflow","type":"n8n-nodes-base.executeWorkflow","position":[1200,100],"typeVersion":1},{"parameters":{"chatId":"792267610","text":":information_source:  Starting Workflow Backup {{ $execution.id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[600,80],"id":"bc8fd874-528f-48fc-9735-fbc4423126c0","name":"Telegram","credentials":{"telegramApi":{"id":"gaOHgbat0CO2TRi9","name":"Telegram account"}}},{"parameters":{"chatId":"792267610","text":"✅ Backup has completed - {{ $('n8n').all().length }} workflows have been processed.","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1180,-80],"id":"1b86e4a2-88c7-4a85-b919-5116a84f869a","name":"Telegram1","credentials":{"telegramApi":{"id":"gaOHgbat0CO2TRi9","name":"Telegram account"}}},{"parameters":{"chatId":"792267610","text":"✅ Backup has completed - {{ $('n8n').all().length }} workflows have been processed.","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1460,140],"id":"df33658b-cecf-47df-be24-9f727507ba88","name":"Telegram2","credentials":{"telegramApi":{"id":"gaOHgbat0CO2TRi9","name":"Telegram account"}}}],"connections":{"n8n":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Telegram1","type":"main","index":0}],[{"node":"Execute Workflow","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"Telegram2","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"On clicking 'execute'":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"Telegram":{"main":[[{"node":"n8n","type":"main","index":0}]]},"Telegram2":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"45356f54-08ff-4f5a-8fe7-c9e5da5434fe","triggerCount":1,"tags":[]}