docs/make-update-n8n-automatically-tFcRNdVwdSMp45pk.json
{"createdAt":"2024-12-18T03:31:48.716Z","updatedAt":"2024-12-18T05:11:45.685Z","id":"tFcRNdVwdSMp45pk","name":"Make update n8n automatically","active":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[-260,-100],"id":"ac12b18e-3121-427c-acf2-b46aa58cb8b4"},{"parameters":{"command":"df -h && free -m && uptime"},"name":"Check System Status","type":"n8n-nodes-base.ssh","typeVersion":1,"position":[-60,-100],"id":"802ba539-69bf-4872-afb1-29ab4d9adf0d"},{"parameters":{"conditions":{"number":[{"value1":"={{parseInt($node[\"Check System Status\"].data.stdout.match(/\\d+(?=%)/)[0])}}","value2":90}]}},"name":"Check Disk Space","type":"n8n-nodes-base.if","typeVersion":1,"position":[140,-100],"id":"96ed2350-c607-4c1b-b5fe-79e15d74f5de"},{"parameters":{"authentication":"privateKey","command":"apt-get update > /dev/null && apt-get --just-print upgrade | grep \"Inst\""},"name":"Check Updates","type":"n8n-nodes-base.ssh","typeVersion":1,"position":[340,-100],"id":"2e1e1296-fd5d-41e3-89fa-aac0fdf42dc2"},{"parameters":{"conditions":{"string":[{"value1":"={{$node[\"Check Updates\"].data.stdout}}","operation":"isNotEmpty"}]}},"name":"Updates Available","type":"n8n-nodes-base.if","typeVersion":1,"position":[540,-100],"id":"1d457014-2b3d-424a-9013-14c2f19e6cd5"},{"parameters":{"authentication":"privateKey","command":"mkdir -p /backup/system && timestamp=$(date +%Y%m%d_%H%M%S) && echo \"[$timestamp] Iniciando backup\" >> /var/log/custom_updates.log && tar -czf /backup/system/pre_update_$timestamp.tar.gz /etc /var/www /home && echo \"[$timestamp] Backup completado\" >> /var/log/custom_updates.log"},"name":"Create Backup","type":"n8n-nodes-base.ssh","typeVersion":1,"position":[740,-100],"id":"b0abe444-2bad-48ae-af20-a34bf3241188"},{"parameters":{"authentication":"privateKey","command":"timestamp=$(date +%Y%m%d_%H%M%S) && echo \"[$timestamp] Iniciando actualización\" >> /var/log/custom_updates.log && apt-get update && DEBIAN_FRONTEND=noninteractive apt-get upgrade -y && DEBIAN_FRONTEND=noninteractive apt-get dist-upgrade -y && apt-get autoremove -y && apt-get autoclean && echo \"[$timestamp] Actualización completada\" >> /var/log/custom_updates.log"},"name":"Perform Update","type":"n8n-nodes-base.ssh","typeVersion":1,"position":[940,-100],"id":"0cde2fca-057c-47d8-9985-3c044bba3dc3"},{"parameters":{"authentication":"privateKey","command":"systemctl status nginx && systemctl status mysql && systemctl status php*"},"name":"Verify Services","type":"n8n-nodes-base.ssh","typeVersion":1,"position":[1140,-100],"id":"17c7930a-3266-4ec0-ace5-b069ed203854"},{"parameters":{"conditions":{"string":[{"value1":"={{$node[\"Verify Services\"].data.stdout}}","operation":"contains","value2":"active (running)"}]}},"name":"Check Services Status","type":"n8n-nodes-base.if","typeVersion":1,"position":[1340,-100],"id":"a3965e82-6ec8-4ae6-a546-1e011b017325"},{"parameters":{"authentication":"privateKey","command":"timestamp=$(date +%Y%m%d_%H%M%S) && echo \"[$timestamp] Restaurando backup\" >> /var/log/custom_updates.log && cd /backup/system && latest_backup=$(ls -t | head -n1) && tar -xzf $latest_backup -C / && systemctl restart nginx mysql php*"},"name":"Restore Backup","type":"n8n-nodes-base.ssh","typeVersion":1,"position":[1340,100],"id":"7a069aa2-cf72-4a28-8699-a137f0c6ff3a"},{"parameters":{"url":"https://api.telegram.org/botYOUR_BOT_TOKEN/sendMessage","options":{}},"name":"Success Notification","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[1540,-100],"id":"cea83ab1-3071-4d53-9ec6-8d6576b862a2"},{"parameters":{"url":"https://api.telegram.org/botYOUR_BOT_TOKEN/sendMessage","options":{}},"name":"Error Notification","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[1540,100],"id":"9d4cf213-fea2-4201-a0e4-110dd878da2a"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Check System Status","type":"main","index":0}]]},"Check System Status":{"main":[[{"node":"Check Disk Space","type":"main","index":0}]]},"Check Disk Space":{"main":[[{"node":"Check Updates","type":"main","index":0}]]},"Check Updates":{"main":[[{"node":"Updates Available","type":"main","index":0}]]},"Updates Available":{"main":[[{"node":"Create Backup","type":"main","index":0}]]},"Create Backup":{"main":[[{"node":"Perform Update","type":"main","index":0}]]},"Perform Update":{"main":[[{"node":"Verify Services","type":"main","index":0}]]},"Verify Services":{"main":[[{"node":"Check Services Status","type":"main","index":0}]]},"Check Services Status":{"main":[[{"node":"Success Notification","type":"main","index":0}],[{"node":"Restore Backup","type":"main","index":0}]]},"Restore Backup":{"main":[[{"node":"Error Notification","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"a626bd0c-dd19-4f99-b909-ef90ad9c4019","triggerCount":0,"tags":[]}