docs/mauri-codelight-s3pJKh3wVGW2qBnB.json
{"createdAt":"2025-01-28T23:12:30.558Z","updatedAt":"2025-01-31T22:51:18.298Z","id":"s3pJKh3wVGW2qBnB","name":"Mauri codelight","active":true,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bdc06348-a07e-4950-8ec9-98f6af890ef1","leftValue":"={{ $json.isoDate }}","rightValue":"={{ new Date().toISOString().split('T')[0] }}","operator":{"type":"string","operation":"contains"}},{"id":"83e0c756-d92d-4ed5-b188-b45072407199","leftValue":"={{ $json.query.link }}","rightValue":"={{ $json.link }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3420,100],"id":"ea9ac6d3-7ca8-4adc-a387-1195ca438d58","name":"If"},{"parameters":{"url":"={{ $json.query.link }}","options":{"allowUnauthorizedCerts":true,"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3040,100],"id":"e8053c89-6536-4ac5-b568-3d24bc6650a6","name":"HTTP Request"},{"parameters":{"resource":"assistant","assistantId":{"__rl":true,"value":"asst_l2cfvsBfSyR4sRUUHqXEO8gI","mode":"list","cachedResultName":"Article Summariser"},"prompt":"define","text":"=Full article: {{ $json.textContent }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.7,"position":[-2460,100],"id":"5cce3fb8-639e-4a6d-ac85-fe5b0aab4ffd","name":"Article summary","credentials":{"openAiApi":{"id":"Xhw7jhGubqs4BVIn","name":"OpenAi ai_agent"}}},{"parameters":{"resource":"assistant","assistantId":{"__rl":true,"value":"asst_diKkNWTJT7AixZ07W7WRsMLh","mode":"list","cachedResultName":"Create Image Prompt CODELIGHT"},"prompt":"define","text":"=Full article: {{ $('WebpageContentExtractor1').item.json.textContent }} \nArticle Summary: {{ $json.output }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.7,"position":[-5380,1200],"id":"44cfb0a6-8be3-4be2-936b-cd1ce2628094","name":"Image Creation","credentials":{"openAiApi":{"id":"Xhw7jhGubqs4BVIn","name":"OpenAi ai_agent"}}},{"parameters":{"resource":"image","prompt":"={{ $json.output }}","options":{"returnImageUrls":true}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.7,"position":[-4960,1200],"id":"b827c557-9140-43ff-84be-b2233bd3cb3a","name":"OpenAI","alwaysOutputData":false,"notesInFlow":false,"credentials":{"openAiApi":{"id":"Xhw7jhGubqs4BVIn","name":"OpenAi ai_agent"}}},{"parameters":{"authentication":"nocoDbApiToken","operation":"create","workspaceId":"w1felbpc","projectId":"pye5b0uzaqtaobe","table":"mprtsb8dvir4tq8","fieldsUi":{"fieldValues":[{"fieldName":"URL","fieldValue":"={{ $('If').item.json.query.link }}"},{"fieldName":"Article Summary","fieldValue":"={{ $('Article summary').item.json.output }}"},{"fieldName":"Platform","fieldValue":"Facebook & Instagram"},{"fieldName":"Post","fieldValue":"={{ $('Create Post Facebook Format').item.json.output }}"},{"fieldName":"Image Prompt","fieldValue":"={{ $('OpenAI').item.json.revised_prompt }}"},{"fieldName":"image binary","binaryData":true,"binaryProperty":"=data"}]}},"type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[-4200,1460],"id":"e68fe0bd-b4e1-45d6-86ba-8c43403a2d71","name":"NocoDB","credentials":{"nocoDbApiToken":{"id":"vJBHkyd7fFPAg8yF","name":"NocoDB Token account"}}},{"parameters":{"resume":"webhook","options":{"responseData":"OK Go!!!"}},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-2700,1420],"id":"bce299f0-fbe3-42fd-9499-4d71aebe66c7","name":"Wait","webhookId":"2b12aaa9-b8bf-4a4e-8d9a-4c3e139c7b94"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5c78b4d1-c263-42a5-af60-e4de9793aa09","leftValue":"={{ $json.query.response }}","rightValue":"Approved","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2540,1420],"id":"76469965-d0a4-4885-90ee-5d0aa13885a6","name":"If1"},{"parameters":{"authentication":"nocoDbApiToken","operation":"update","workspaceId":"w1felbpc","projectId":"pye5b0uzaqtaobe","table":"mprtsb8dvir4tq8","fieldsUi":{"fieldValues":[{"fieldName":"Status","fieldValue":"Approved"},{"fieldName":"Id","fieldValue":"={{ $('Merge').item.json.Id }}"}]}},"type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[-2300,1400],"id":"83fd3fa2-3246-4710-8296-99af64d4939a","name":"NocoDB1","credentials":{"nocoDbApiToken":{"id":"vJBHkyd7fFPAg8yF","name":"NocoDB Token account"}}},{"parameters":{"resource":"assistant","assistantId":{"__rl":true,"value":"asst_Wvrsr6z9lp254B0a7rrCG0Vl","mode":"list","cachedResultName":"Linkedin Post generator"},"prompt":"define","text":"=Article:  {{ $('WebpageContentExtractor1').item.json.content }}\n\nSummary: {{ $('Article summary').item.json.output }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.7,"position":[-920,1600],"id":"86121ed0-1092-4202-96b2-8498fc4bcb41","name":"Linkedin Post","credentials":{"openAiApi":{"id":"Xhw7jhGubqs4BVIn","name":"OpenAi ai_agent"}}},{"parameters":{"person":"EUPiw0PVXF","text":"={{ $('Linkedin Post').item.json.output }}","shareMediaCategory":"IMAGE","binaryPropertyName":"image_post_ready","additionalFields":{}},"type":"n8n-nodes-base.linkedIn","typeVersion":1,"position":[-100,1600],"id":"6bd5cc32-de49-4967-8fb9-8c5fad3004f3","name":"LinkedIn","credentials":{"linkedInOAuth2Api":{"id":"cSclYf3koPt1oF1D","name":"LinkedIn account Mauri"}}},{"parameters":{"resource":"assistant","assistantId":{"__rl":true,"value":"asst_8fGhVZOBp44llmMnb71KFTAF","mode":"list","cachedResultName":"Facebook Post Generator"},"prompt":"define","text":"=Article: {{ $('If').item.json.query.link }}\nSummary: {{ $('Article summary').item.json.output }}\nPost: {{ $('OpenAI').item.json.revised_prompt }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.7,"position":[-4740,1200],"id":"317672e8-dc96-4a08-8135-cb3dcd1d38d6","name":"Create Post Facebook Format","credentials":{"openAiApi":{"id":"Xhw7jhGubqs4BVIn","name":"OpenAi ai_agent"}}},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"v20.0","node":"={{ $json.instagram_business_account_id }}","edge":"media","options":{"queryParameters":{"parameter":[{"name":"caption","value":"={{ $json.instagram_post_caption }}"},{"name":"image_url","value":"={{ $json.image_url }}"}]}}},"id":"d0611a13-6187-4324-ab62-ea3fe5fbad3c","name":"Instagram prepare media","type":"n8n-nodes-base.facebookGraphApi","position":[-80,2240],"typeVersion":1,"credentials":{"facebookGraphApi":{"id":"Ec7P1V2WFh3HdXEH","name":"Facebook Graph account mauri"}}},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"v20.0","node":"={{ $('Instagram params').item.json.instagram_business_account_id }}","edge":"media_publish","options":{"queryParameters":{"parameter":[{"name":"creation_id","value":"={{ $json.id }}"}]}}},"id":"5f5ef0c8-4531-4f2a-b4d2-d25d108cea73","name":"Instagram publish media","type":"n8n-nodes-base.facebookGraphApi","position":[560,2160],"typeVersion":1,"credentials":{"facebookGraphApi":{"id":"Ec7P1V2WFh3HdXEH","name":"Facebook Graph account mauri"}}},{"parameters":{"content":"## Instagram POST","height":550,"width":2717.1829277627517,"color":4},"id":"e7cd7bd7-3ec8-4e47-8442-3b013208c5c6","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-1180,2080],"typeVersion":1},{"parameters":{"graphApiVersion":"v20.0","node":"={{ $json.id }}","options":{"fields":{"field":[{"name":"id"},{"name":"status"},{"name":"status_code"}]}}},"id":"3dbc8ec3-ddad-4b76-b614-862fc40f06d4","name":"Instagram check status of media uploaded before","type":"n8n-nodes-base.facebookGraphApi","position":[120,2240],"typeVersion":1,"credentials":{"facebookGraphApi":{"id":"Ec7P1V2WFh3HdXEH","name":"Facebook Graph account mauri"}}},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"0304efee-33b2-499e-bad1-9238c1fc2999","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.status_code }}","rightValue":"FINISHED"}]},"options":{}},"id":"60b72ccf-fc14-4555-ba7c-dd4dbb95ce3b","name":"If media status is finished","type":"n8n-nodes-base.if","position":[320,2240],"typeVersion":2.2},{"parameters":{"graphApiVersion":"v20.0","node":"={{ $('Instagram check status of media uploaded before').item.json.id }}","options":{"fields":{"field":[{"name":"id"},{"name":"status"},{"name":"status_code"}]}}},"id":"c8b8d093-0e73-403f-ad3f-86b0e71495b1","name":"Instagram check status of media published before","type":"n8n-nodes-base.facebookGraphApi","position":[780,2160],"typeVersion":1,"credentials":{"facebookGraphApi":{"id":"Ec7P1V2WFh3HdXEH","name":"Facebook Graph account mauri"}}},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"0304efee-33b2-499e-bad1-9238c1fc2999","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.status_code }}","rightValue":"PUBLISHED"}]},"options":{}},"id":"f7fb8e30-4b1a-42a6-ad41-07ea00cb4d65","name":"If media status is finished1","type":"n8n-nodes-base.if","position":[1000,2160],"typeVersion":2.2},{"parameters":{"chatId":"879691453","text":"Rama Falsa del post de instagram","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[560,2380],"id":"7861d07a-8e86-4de8-887c-2cf34d0f89a4","name":"Telegram1","credentials":{"telegramApi":{"id":"NJhLzwvr44AVljnz","name":"telegram Mauri"}}},{"parameters":{"assignments":{"assignments":[{"id":"1e380c14-e908-4eeb-90e0-957a422829d0","name":"instagram_business_account_id","type":"string","value":"17841471080925160"},{"id":"f35e3093-1bff-4cc6-a6c4-909dca314cc7","name":"instagram_post_caption","type":"string","value":"={{ $('Create a Post Instagram').item.json.output }}"},{"id":"0cfcaccf-fb07-4712-a6ea-26def95d80b4","name":"image_url","value":"={{ $json.data.url }}","type":"string"}]},"options":{}},"id":"e523b306-c583-4931-b7f8-d8cc351b6a14","name":"Instagram params","type":"n8n-nodes-base.set","position":[-280,2260],"typeVersion":3.4},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"v20.0","node":"me","edge":"photos","sendBinaryData":true,"binaryPropertyName":"file:image_post_ready","options":{"queryParameters":{"parameter":[{"name":"message","value":"={{ $json.Post }}"},{"name":"published","value":"true"}]}}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[-660,880],"id":"c9ee2596-07fa-401a-9224-be0b1b2d1526","name":"Facebook Graph API","credentials":{"facebookGraphApi":{"id":"Ec7P1V2WFh3HdXEH","name":"Facebook Graph account mauri"}}},{"parameters":{"chatId":"879691453","text":"=** Status Post Instagram\nID Post:  {{ $json.id }}\nStatus: {{ $json.status }}\nStatus Code: {{ $json.status_code }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1260,2140],"id":"d5876fb7-ac1e-4308-ad88-78242c49e57b","name":"Telegram2","credentials":{"telegramApi":{"id":"NJhLzwvr44AVljnz","name":"telegram Mauri"}}},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"0304efee-33b2-499e-bad1-9238c1fc2999","operator":{"type":"string","operation":"exists","singleValue":true},"leftValue":"={{ $json.id }}","rightValue":"={{ $json.id }}"},{"id":"397f1bde-6549-4892-af73-058a6c915ae6","leftValue":"={{ $json.post_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"d0421a29-cc65-4a8f-802a-46e163237aa7","name":"If media status is finished2","type":"n8n-nodes-base.if","position":[-380,840],"typeVersion":2.2},{"parameters":{"chatId":"879691453","text":"=** Status Post Facebook ** **ERROR**\nID :  {{ $json.id }}\nPost ID :{{ $json.post_id }}\n\nPost creado correctamente, aca te dejo la URL del post\nhttps://www.facebook.com/{{ $json.post_id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[40,940],"id":"7487f7dd-e5c9-4c20-9b77-285507a3cb0d","name":"Error Post Facebook","credentials":{"telegramApi":{"id":"NJhLzwvr44AVljnz","name":"telegram Mauri"}}},{"parameters":{"chatId":"879691453","text":"=** Status Post Facebook **\nID :  {{ $json.id }}\nPost ID :{{ $json.post_id }}\n\nPost creado correctamente, aca te dejo la URL del post\nhttps://www.facebook.com/{{ $json.post_id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[40,720],"id":"c5153d51-e7b1-4801-ad70-fd88ac0520ea","name":"Post Success Facebook","credentials":{"telegramApi":{"id":"NJhLzwvr44AVljnz","name":"telegram Mauri"}}},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"0304efee-33b2-499e-bad1-9238c1fc2999","operator":{"type":"string","operation":"exists","singleValue":true},"leftValue":"={{ $json.urn }}","rightValue":"={{ $json.id }}"}],"combinator":"and"},"options":{}},"id":"62beffb4-e04e-4131-9047-2183ebecaa7a","name":"If media status is finished3","type":"n8n-nodes-base.if","position":[140,1600],"typeVersion":2.2},{"parameters":{"chatId":"879691453","text":"=** Status Post Linkedin **\nID : {{ $json.urn }}\n\nPost creado correctamente","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[480,1520],"id":"9f1ff933-652e-473e-8404-343598873a6b","name":"Post Success LinkedIn","credentials":{"telegramApi":{"id":"NJhLzwvr44AVljnz","name":"telegram Mauri"}}},{"parameters":{"chatId":"879691453","text":"=** Status Post Linkedin ** **ERROR**","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[480,1720],"id":"08a55df7-92cb-4273-99d4-2b5cd4f3ddf8","name":"Error Post Linkedin","credentials":{"telegramApi":{"id":"NJhLzwvr44AVljnz","name":"telegram Mauri"}}},{"parameters":{"content":"## LinkedIn POST","height":551.7989643781872,"width":2719.359083465056,"color":5},"id":"955c4fcd-d07b-4aba-a2d9-022fe0a4bdfe","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-1180,1380],"typeVersion":1},{"parameters":{"content":"## Facebook POST","height":532.1717116956307,"width":2704.4292425010854,"color":3},"id":"1701a847-7ea2-4473-8941-c1e6c213dc28","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[-1180,640],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"b1f6b8a1-dc25-4b1e-9aa3-0c0e452ae2de","name":" client_id","type":"string","value":"960190648994209"},{"id":"9a63879a-c359-49ad-9fec-19c9e4c78dd6","name":" client_secret","type":"string","value":"aefd81add2764c4e75b14e2aa9e40cf3"},{"id":"6971a841-ed5e-4d96-bdab-1eaec2d51ccc","name":"user_access_token","type":"string","value":"EAANpSc6MyaEBO6kWDQo0BxF7ZAnf1xc5gvAKxsTTuP0HfsJO5VuuTVjSEVEveDlbhSntMQ1gViNGq9ZCfLJM6n91lSPgr2lIzULpt1qPY2QQTZB6LVBXse3pwkdmxRli2AycVUjVyN6lZCtdGTj0VtXCntyZAbGmNx8v7QsUO4pmoexK8X7npYJdL3cPBTEZAtOxg3CawBBCntZBZAb5lNtHjGPA"},{"id":"c75d5e50-62ea-4ee0-bfaa-5f79cf4d147e","name":"app_scoped_user_id","type":"string","value":"10162287391237248"}]},"options":{}},"id":"147ba2d8-de43-446f-bfc6-98aefbedf898","name":"Set Parameter","type":"n8n-nodes-base.set","position":[-1000,-880],"typeVersion":3.4},{"parameters":{"content":"## Set Required Facebook Parameter \n- client_id\n- client_secret\n- user_access_token\n- app-scoped-user-id (optional)\n\n## according to this doc\nhttps://developers.facebook.com/docs/facebook-login/guides/access-tokens/get-long-lived/\n\n## Resource\nhttps://medium.com/@blienart/get-a-permanent-facebook-page-access-token-a96470dc03ca","height":652,"width":320},"id":"7dbdce1a-9c44-4021-8327-ee72b46cce04","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[-1080,-1300],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"d23fb79c-6bdf-46de-a2da-f0c5cd1bab85","name":"access_token","value":"={{ $json.body.data[0].access_token }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-180,-880],"id":"5b6628d3-d283-4645-971c-4f50bb86d02b","name":"Edit Fields"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  //item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[80,-880],"id":"cfe1293c-0352-4974-b00d-c6c255e7dc77","name":"Code1"},{"parameters":{"content":"## Obtencion de un token de facebook por largo tiempo\n","height":940,"width":1800,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-1160,-1360],"typeVersion":1,"id":"abec3d3f-df19-4090-b191-dd072de70a58","name":"Sticky Note4"},{"parameters":{"url":"https://graph.facebook.com/v20.0/oauth/access_token","sendQuery":true,"queryParameters":{"parameters":[{"name":" grant_type","value":"fb_exchange_token"},{"name":" client_id","value":"={{ $json[' client_id'] }}"},{"name":" client_secret","value":"={{ $json[' client_secret'] }}"},{"name":" fb_exchange_token","value":"={{ $json.user_access_token }}"}]},"options":{"response":{"response":{"fullResponse":true}}}},"id":"62b3b468-cda8-4107-9a59-26c7a09bd5cb","name":"Get Long Lived FB User Token1","type":"n8n-nodes-base.httpRequest","position":[-680,-880],"typeVersion":4.2},{"parameters":{"method":"=GET","url":"=https://graph.facebook.com/v20.0/{{ $('Set Parameter').item.json.app_scoped_user_id }}/accounts?access_token={{ $json.body.access_token }}","sendQuery":true,"queryParameters":{"parameters":[{"name":" access_token","value":"={{ $json.body.access_token }}"}]},"options":{"response":{"response":{"fullResponse":true}}}},"id":"cc83b4a5-e342-4319-8d8e-4a9a5eadd676","name":"Get Long Lived FB Page Token1","type":"n8n-nodes-base.httpRequest","position":[-420,-880],"typeVersion":4.2},{"parameters":{"method":"=GET","url":"=https://graph.facebook.com/v20.0/{{ $('Set Parameter').item.json.app_scoped_user_id }}/accounts","sendQuery":true,"queryParameters":{"parameters":[{"name":" access_token","value":"={{ $json.body.access_token }}"}]},"options":{"response":{"response":{"fullResponse":true}}}},"id":"494e6f0f-116f-4840-b828-397afe8c8d99","name":"Get Long Lived FB Page Token OLD V","type":"n8n-nodes-base.httpRequest","position":[-420,-1180],"typeVersion":4.2},{"parameters":{"content":"## Summary the news\n","height":351.76727387348217,"width":1580.5818153162943,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3620,0],"id":"af8f271b-fe73-4725-9665-46ab297cb94f","name":"Sticky Note5"},{"parameters":{"content":"## This is for when you want to make a manual post.\nIt is required to add a prompt for the image and a base copy for the post.\n\n\nJust connect the previous node to this SET node and this one to the next node to create the image.","height":340,"width":560},"type":"n8n-nodes-base.stickyNote","position":[-6200,580],"typeVersion":1,"id":"b4d1dce8-e6ea-4cf2-a67a-ac4f3428ca03","name":"Sticky Note7"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-5540,-500],"id":"9d410baa-86d1-4380-8fbe-9bab5cf816ff","name":"When clicking ‘Test workflow’"},{"parameters":{"url":"={{ $('OpenAI').item.json.url }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"File","value":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-4360,1200],"id":"7d702084-f486-46d5-8d83-b8149a60e538","name":"Save image1"},{"parameters":{"assignments":{"assignments":[{"id":"ba4d238a-15c7-44e2-9677-ff366d8f7806","name":"output","value":"Remember the days when music on-the-go met the mobile phone? 📱🎶 The Samsung SPH-M100 launched in 2000 was a groundbreaking moment in tech history as the first phone to feature MP3 capabilities. This pioneering piece of innovation paved the way for the multimedia-rich smartphones we can't live without today.\\n\\nThe Samsung SPH-M100 stood out not just for its MP3 player, but also for its sleek design which was ahead of its time. It marked the dawn of mobile devices as multi-functional entertainment hubs, a concept that later revolutionized the industry with the advent of the iPhone in 2007.\\n\\nReflecting on this evolution, how did the integration of music players in phones change your mobile experience? Share your thoughts and take a nostalgic trip down memory lane!\\n\\n#SamsungSPHM100 #TechEvolution #RetroTech #MP3Revolution #MobileMusic #InnovationPioneers #2000sTech #TechNostalgia #Modtecs #SmartphoneHistory #2000sStyle #DigitalRevolution","type":"string"},{"id":"bdb736eb-1079-4acc-a3ac-829d5b6b4a49","name":"url","value":"https://oaidalleapiprodscus.blob.core.windows.net/private/org-NmR3bAauue1cUansR2kN2mY1/user-3i3iPVNQt3KkM0TVCfa5eLt3/img-Z3B0A65ihDB4iTZE4u4hOOU3.png?st=2025-01-12T21%3A43%3A46Z&se=2025-01-12T23%3A43%3A46Z&sp=r&sv=2024-08-04&sr=b&rscd=inline&rsct=image/png&skoid=d505667d-d6c1-4a0a-bac7-5c84a87759f8&sktid=a48cca56-e6da-484e-a814-9c849652bcb3&skt=2025-01-12T00%3A17%3A19Z&ske=2025-01-13T00%3A17%3A19Z&sks=b&skv=2024-08-04&sig=pNdRANdascaRFHI5EJpbrWyECQYWE8ktX5XjxHdD1sA%3D","type":"string"},{"id":"05f22be3-a918-46a0-8ef5-6caeaf0789dd","name":"Article summary","value":"=sumarizando articulo","type":"string"},{"id":"55cdd3e6-bc25-42ff-9dc4-cc3119521a21","name":"link","value":"=https://www.xataka.com/moviles/cuando-samsung-adelanto-a-nokia-motorola-primer-telefono-reproductor-mp3-mundo-asi-era-uproar","type":"string"},{"id":"44ce2856-85cc-46cf-96af-a8f7c0eb529b","name":"Image Promt","value":"promt image generado","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-5940,760],"id":"2f51a473-8a6f-4d14-b8a7-2164bea17a84","name":"Post Manual1"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"1MCTOcWaaui0BeOyEZTQ7_xm7hn-3tMMO","mode":"list","cachedResultName":"thecodelight.jpg","cachedResultUrl":"https://drive.google.com/file/d/1MCTOcWaaui0BeOyEZTQ7_xm7hn-3tMMO/view?usp=drivesdk"},"options":{"binaryPropertyName":"brand"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-5380,1500],"id":"8b8077be-2f07-45b5-92a4-41132ea4bd58","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"5LP9aPOCoDSbZsTa","name":"Google Drive account"}}},{"parameters":{"operation":"blur","blur":6,"sigma":4,"options":{}},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[-4160,1200],"id":"dee1ad09-f1a6-4387-ab49-0cd221191bd2","name":"Make Blur"},{"parameters":{"operation":"resize","dataPropertyName":"brand","width":140,"height":140,"options":{}},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[-5160,1500],"id":"1ed3140c-bfc6-4a36-8aa3-a36cc6165867","name":"Resize image"},{"parameters":{"operation":"composite","dataPropertyNameComposite":"brand","positionX":650,"positionY":900,"options":{}},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[-4960,1500],"id":"6e0332aa-8651-4a33-aa72-f4ae2dc211eb","name":"Merge image over"},{"parameters":{"driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"1lNisSp7LxG-yv67Oi1gDXFpSBTQCs8rp","mode":"list","cachedResultName":"IMG n8n Created ","cachedResultUrl":"https://drive.google.com/drive/folders/1lNisSp7LxG-yv67Oi1gDXFpSBTQCs8rp"},"options":{"simplifyOutput":true}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-4200,1760],"id":"b1003b2d-699a-4c14-89ff-4625dd828014","name":"Google Drive1","credentials":{"googleDriveOAuth2Api":{"id":"5LP9aPOCoDSbZsTa","name":"Google Drive account"}}},{"parameters":{"assignments":{"assignments":[{"id":"c8bb1450-e5a8-4277-8bad-2a394de95755","name":"=message","value":"={{ $('Edit Fields2').item.json.message }}","type":"string"},{"id":"66d536ec-5c09-405b-95fd-9397816556f8","name":"url","value":"={{ $json.url }}","type":"string"}]},"options":{"ignoreConversionErrors":true}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-880,720],"id":"746d579c-b6cb-42d4-9396-4310f36d3d63","name":"Edit Fields1"},{"parameters":{"html":"={{ $json.data }}"},"type":"n8n-nodes-webpage-content-extractor.webpageContentExtractor","typeVersion":1,"position":[-2740,100],"id":"5c4c7984-66fb-4f89-a77a-d3b4e0e8fbc4","name":"WebpageContentExtractor1"},{"parameters":{"content":"## Creation and update image with brand of company","height":1106.7631402189693,"width":1801.3286873786528,"color":2},"id":"7b587a96-3bbb-4f38-94b5-5dbd7ec3bb38","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-5600,960]},{"parameters":{"content":"## Aproveed and save at DB\n","height":1018.9881208211298,"width":1855.8263029500158,"color":6},"id":"9ba3ab38-2319-4295-8fd6-969b0d28a389","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3540,1040]},{"parameters":{"chatId":"879691453","text":"=Post: {{ $json.Post }}\n\nArticle Summary: {{ $json[\"Article Summary\"] }}\n\nOriginal URL: {{ $json.URL }}\n\nCocode DB Link that can be used to edit the post:\nhttps://app.nocodb.com/#/w1felbpc/pye5b0uzaqtaobe/mprtsb8dvir4tq8/mediaSocialList?rowId={{ $json.Id }}\n","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"✅ Approve","additionalFields":{"url":"={{ $execution.resumeUrl + '?response=Approved&title=' + encodeURIComponent($json.title) + '&link=' + encodeURIComponent($json.link) }}"}},{"text":"❌ Decline","additionalFields":{"url":"={{ $execution.resumeUrl + '?response=Declined&title=' + encodeURIComponent($json.title) + '&link=' + encodeURIComponent($json.link) }}"}}]}}]},"additionalFields":{"appendAttribution":false,"disable_web_page_preview":true,"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-2860,1420],"id":"692f389a-da09-4ad1-b50d-f5ae45584602","name":"Send post","credentials":{"telegramApi":{"id":"NJhLzwvr44AVljnz","name":"telegram Mauri"}}},{"parameters":{"operation":"sendPhoto","chatId":"879691453","binaryData":true,"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-4200,1600],"id":"82e8785b-57d9-47a5-ac65-c40df3e169d2","name":"Send Image Post","credentials":{"telegramApi":{"id":"NJhLzwvr44AVljnz","name":"telegram Mauri"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Google Drive1').item.json.id }}","mode":"id"},"options":{"binaryPropertyName":"image_post_ready"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-900,880],"id":"339f1c29-d4c6-4a5a-810e-0740e642311d","name":"Google Drive2","credentials":{"googleDriveOAuth2Api":{"id":"5LP9aPOCoDSbZsTa","name":"Google Drive account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Google Drive1').item.json.id }}","mode":"id"},"options":{"binaryPropertyName":"image_post_ready"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-420,1600],"id":"c3379229-4843-4968-b3da-4233819fe8a5","name":"Google Drive3","credentials":{"googleDriveOAuth2Api":{"id":"5LP9aPOCoDSbZsTa","name":"Google Drive account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Merge1').item.json.id_url_image }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-700,2260],"id":"4bc71bad-c53a-406c-a3ed-98f42b21cffc","name":"Google Drive4","credentials":{"googleDriveOAuth2Api":{"id":"5LP9aPOCoDSbZsTa","name":"Google Drive account"}}},{"parameters":{"method":"POST","url":"https://api.imgbb.com/1/upload","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"791cb3f85a1a06041840c41ca3e8a383"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"image","inputDataFieldName":"data"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-500,2260],"id":"351f3512-f258-450f-b0f3-3330a7d546a3","name":"POST imgBB save img1"},{"parameters":{"resource":"assistant","assistantId":{"__rl":true,"value":"asst_jCIGGglDg79CY2m52NTypz37","mode":"list","cachedResultName":"Instagram Post Generator"},"prompt":"define","text":"=Article: {{ $('WebpageContentExtractor1').item.json.content }}\nSummary: {{ $('Article summary').item.json.output }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.7,"position":[-1040,2260],"id":"a5573764-3a25-4554-a8bb-a8d321989ae9","name":"Create a Post Instagram","credentials":{"openAiApi":{"id":"SaBv7WVgrDu3Ao1X","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"1d82ed7e-389a-4313-bdc7-47d32c54e64b","name":"=id_url_image","value":"={{ $json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3440,1760],"id":"27b5648a-684e-465a-9a5a-a69daca4a0d2","name":"Edit Fields3"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","numberInputs":3,"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[-3120,1600],"id":"a6d39f14-fd60-4c27-a01b-60b6f47702d7","name":"Merge"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[-1960,1520],"id":"22c046bc-d108-4f3f-a08c-fd879c8fa368","name":"Merge1"},{"parameters":{"resume":"webhook","options":{"responseData":"Ok Go!!!"}},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-4300,-400],"id":"4024c59c-2885-455b-831f-e475b46f6a18","name":"Wait2","webhookId":"26fdc20a-59e0-4d62-a69b-2f8969e02e3f"},{"parameters":{"chatId":"879691453","text":"=Title: {{ $json.title }}\n\nLink: {{ $json.link }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"✅ Approve","additionalFields":{"url":"={{ $execution.resumeUrl + '?response=Approved&title=' + encodeURIComponent($json.title) + '&link=' + encodeURIComponent($json.link) }}"}},{"text":"❌ Decline","additionalFields":{"url":"={{ $execution.resumeUrl + '?response=Declined&Title=' + encodeURIComponent($json.title) + '&Link=' + encodeURIComponent($json.link) }}"}}]}}]},"additionalFields":{"appendAttribution":false,"disable_web_page_preview":true,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-4560,-400],"id":"0ec6e8e3-829a-4b5c-9a46-604bf752d62b","name":"Reading new1","credentials":{"telegramApi":{"id":"NJhLzwvr44AVljnz","name":"telegram Mauri"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b4b5e576-7f07-471a-a628-52c0d277c3ee","leftValue":"={{ $json.query.response }}","rightValue":"Approved","operator":{"type":"string","operation":"equals"}},{"id":"c7ae6bfc-05bc-440b-9daf-d6746aa76d62","leftValue":"={{ $json.query.link }}","rightValue":"={{ $json.query.link }}","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-4080,-300],"id":"49b37345-aa0f-43ed-bf2c-f22ef4e5fc71","name":"If3"},{"parameters":{"content":"## Find the news for aproved\n","height":571.327605151595,"width":1800,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-5660,-580],"typeVersion":1,"id":"ca32c18b-ffba-454a-aa8e-2dfc3da7935e","name":"Sticky Note10"},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 12 * * *"}]}},"id":"9d54390e-20ac-4985-9d25-3c94fbd633ea","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-5540,-260]},{"parameters":{"url":"={{ $json.link }}","options":{}},"id":"0e1198d6-d1da-44ce-822f-0c9e4616c0d4","name":"RSS Feed Read2","type":"n8n-nodes-base.rssFeedRead","position":[-4980,-400],"typeVersion":1},{"parameters":{"jsCode":"const sources = [\n    {\n        url: \"https://medium.com/feed/tag/{term}\",\n        term: \"automation\"\n    },\n    {\n        url: \"https://news.mit.edu/rss/topic/artificial-intelligence2\",\n        term: \"tech\"\n    },\n    {\n        url: \"https://blog.chatbotslife.com/feed\",\n        term: \"chatbots\"\n    },\n    {\n        url: \"https://medium.com/feed/n8n-io\",\n        term: \"automation\"\n    },\n    {\n        url: \"https://www.xataka.com/feedburner.xml\",\n        term: \"tech\"\n    },\n    {\n        url: \"https://www.theverge.com/rss/index.xml\",\n        term: \"tech\"\n    },\n    // Puedes agregar más fuentes aquí\n];\n\n// Usar timestamp para asegurar rotación en cada ejecución\nconst timestamp = new Date().getTime();\nconst index = Math.floor(timestamp / (1000 * 60)) % sources.length; // Cambia cada minuto\n\n// Alternativa: usar un número aleatorio\n// const index = Math.floor(Math.random() * sources.length);\n\nconst selectedSource = sources[index];\nconst finalUrl = selectedSource.url.replace(\"{term}\", selectedSource.term);\n\n// Para debug\nconsole.log('Selected source:', {\n    index,\n    url: finalUrl,\n    timestamp: new Date().toISOString()\n});\n\nreturn [{\n    json: {\n        link: finalUrl,\n        source: selectedSource.term, // Agregado para tracking\n        timestamp: new Date().toISOString() // Para verificar cuando se ejecutó\n    }\n}];"},"id":"bb772132-fdef-4a98-aad6-745056950b6d","name":"Code3","type":"n8n-nodes-base.code","typeVersion":2,"position":[-5220,-400]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"function htmlToMarkdown(html) {\n    if (!html) return '';\n    return html\n        .replace(/<b>(.*?)<\\/b>/g, '*$1*')\n        .replace(/<strong>(.*?)<\\/strong>/g, '*$1*')\n        .replace(/<i>(.*?)<\\/i>/g, '_$1_')\n        .replace(/<em>(.*?)<\\/em>/g, '_$1_')\n        .replace(/<a href=\"(.*?)\">(.*?)<\\/a>/g, '[$2]($1)')\n        .replace(/<br\\s*\\/?>/g, '\\n')\n        .replace(/<[^>]*>/g, '') \n        .replace(/[_*[\\]()~`>#+\\-=|{}.!]/g, '\\\\$&');\n}\n\n// Create a new object instead of modifying the input\nconst processedData = {\n    title: htmlToMarkdown($json.title || ''),\n    guid: htmlToMarkdown($json.guid || ''),\n    //description: htmlToMarkdown($json.description || ''),\n    content: htmlToMarkdown($json.content || ''),\n    pubDate: $json.pubDate,\n    link: $json.link\n    // Add any other fields you need\n};\n\n// Return the processed data\nreturn processedData;"},"id":"a642cbcb-5866-46e0-8377-e2cf6b1394c3","name":"Code4","type":"n8n-nodes-base.code","typeVersion":2,"position":[-4760,-400]}],"connections":{"If":{"main":[[{"node":"HTTP Request","type":"main","index":0}],[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"WebpageContentExtractor1","type":"main","index":0}]]},"Article summary":{"main":[[{"node":"Image Creation","type":"main","index":0}]]},"Image Creation":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Create Post Facebook Format","type":"main","index":0}]]},"NocoDB":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Wait":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"NocoDB1","type":"main","index":0}]]},"NocoDB1":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Create Post Facebook Format":{"main":[[{"node":"Save image1","type":"main","index":0}]]},"Instagram prepare media":{"main":[[{"node":"Instagram check status of media uploaded before","type":"main","index":0}]]},"Instagram publish media":{"main":[[{"node":"Instagram check status of media published before","type":"main","index":0}]]},"Instagram check status of media uploaded before":{"main":[[{"node":"If media status is finished","type":"main","index":0}]]},"If media status is finished":{"main":[[{"node":"Instagram publish media","type":"main","index":0}],[{"node":"Telegram1","type":"main","index":0}]]},"Instagram check status of media published before":{"main":[[{"node":"If media status is finished1","type":"main","index":0}]]},"If media status is finished1":{"main":[[{"node":"Telegram2","type":"main","index":0}]]},"Instagram params":{"main":[[{"node":"Instagram prepare media","type":"main","index":0}]]},"Facebook Graph API":{"main":[[{"node":"If media status is finished2","type":"main","index":0}]]},"If media status is finished2":{"main":[[{"node":"Post Success Facebook","type":"main","index":0}],[{"node":"Error Post Facebook","type":"main","index":0}]]},"If media status is finished3":{"main":[[{"node":"Post Success LinkedIn","type":"main","index":0}],[{"node":"Error Post Linkedin","type":"main","index":0}]]},"LinkedIn":{"main":[[{"node":"If media status is finished3","type":"main","index":0}]]},"Set Parameter":{"main":[[{"node":"Get Long Lived FB User Token1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Get Long Lived FB User Token1":{"main":[[{"node":"Get Long Lived FB Page Token1","type":"main","index":0}]]},"Get Long Lived FB Page Token1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Code3","type":"main","index":0}]]},"Save image1":{"main":[[{"node":"Make Blur","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"Resize image","type":"main","index":0}]]},"Make Blur":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Resize image":{"main":[[{"node":"Merge image over","type":"main","index":0}]]},"Merge image over":{"main":[[{"node":"NocoDB","type":"main","index":0},{"node":"Send Image Post","type":"main","index":0},{"node":"Google Drive1","type":"main","index":0}]]},"WebpageContentExtractor1":{"main":[[{"node":"Article summary","type":"main","index":0}]]},"Linkedin Post":{"main":[[{"node":"Google Drive3","type":"main","index":0}]]},"Send post":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Send Image Post":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Google Drive1":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Google Drive2":{"main":[[{"node":"Facebook Graph API","type":"main","index":0}]]},"Google Drive3":{"main":[[{"node":"LinkedIn","type":"main","index":0}]]},"Google Drive4":{"main":[[{"node":"POST imgBB save img1","type":"main","index":0}]]},"POST imgBB save img1":{"main":[[{"node":"Instagram params","type":"main","index":0}]]},"Create a Post Instagram":{"main":[[{"node":"Google Drive4","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Merge":{"main":[[{"node":"Send post","type":"main","index":0},{"node":"Merge1","type":"main","index":1}]]},"Merge1":{"main":[[{"node":"Create a Post Instagram","type":"main","index":0},{"node":"Linkedin Post","type":"main","index":0},{"node":"Google Drive2","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"If3","type":"main","index":0}]]},"Reading new1":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"If3":{"main":[[{"node":"If","type":"main","index":0}],[{"node":"Code3","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Code3","type":"main","index":0}]]},"RSS Feed Read2":{"main":[[{"node":"Code4","type":"main","index":0}]]},"Code3":{"main":[[{"node":"RSS Feed Read2","type":"main","index":0}]]},"Code4":{"main":[[{"node":"Reading new1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","executionTimeout":3600},"staticData":{"node:RSS Feed Trigger":{"lastItemDate":"2025-01-30T16:45:20.000Z"},"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c984a0c4-4f88-4f8d-90f2-56eb92787391","triggerCount":1,"tags":[{"createdAt":"2024-11-27T05:11:34.741Z","updatedAt":"2024-11-27T05:11:34.741Z","id":"lkTQ85NNYkbxB1mk","name":"Prod"}]}