docs/my-workflow-yywKxDiXAFGuuMl7.json
{"createdAt":"2025-01-22T03:40:17.525Z","updatedAt":"2025-01-25T04:13:32.318Z","id":"yywKxDiXAFGuuMl7","name":"My workflow","active":false,"nodes":[{"parameters":{"content":"**Replace password and username for Supabase**","height":80,"width":215,"color":3},"id":"55597ffa-efd4-4403-8908-f85cb44bca1f","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[1680,1620],"typeVersion":1},{"parameters":{"options":{}},"id":"aeae187e-3f3f-4f8c-a93c-4aab200a5650","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","position":[1380,1200],"webhookId":"6e95bc27-99a6-417c-8bf7-2831d7f7a4be","typeVersion":1.1},{"parameters":{"options":{}},"id":"0a7dd0b8-0fad-4769-90ce-622c4fafd829","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[1440,1480],"typeVersion":1,"credentials":{"openAiApi":{"id":"Xhw7jhGubqs4BVIn","name":"OpenAi ai_agent"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Get list of all tables in database","operation":"executeQuery","query":"SELECT table_schema, orders\nFROM information_schema.tables\nWHERE table_type = 'BASE TABLE' AND table_schema = 'public';","options":{}},"id":"0a12a036-d865-4db8-9ca6-48c01f252903","name":"DB Schema","type":"n8n-nodes-base.postgresTool","position":[1840,1460],"typeVersion":2.5,"credentials":{"postgres":{"id":"KZzNFAsNcYpnW5dN","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Get table definition to find all columns and types.","operation":"executeQuery","query":"SELECT \n    c.column_name,\n    c.data_type,\n    c.is_nullable,\n    c.column_default,\n    tc.constraint_type,\n    ccu.table_name AS referenced_table,\n    ccu.column_name AS referenced_column\nFROM \n    information_schema.columns c\nLEFT JOIN \n    information_schema.key_column_usage kcu \n    ON c.table_name = kcu.table_name \n    AND c.column_name = kcu.column_name\nLEFT JOIN \n    information_schema.table_constraints tc \n    ON kcu.constraint_name = tc.constraint_name\n    AND tc.constraint_type = 'FOREIGN KEY'\nLEFT JOIN\n    information_schema.constraint_column_usage ccu\n    ON tc.constraint_name = ccu.constraint_name\nWHERE \n    c.table_name = '{{ $fromAI(\"table_name\") }}' -- Your table name\n    AND c.table_schema = 'public' -- Ensure it's in the right schema\nORDER BY \n    c.ordinal_position;\n","options":{}},"id":"6281dbd7-55e5-49f2-9089-654b816b33da","name":"Get table definition","type":"n8n-nodes-base.postgresTool","position":[2000,1460],"typeVersion":2.5,"credentials":{"postgres":{"id":"KZzNFAsNcYpnW5dN","name":"Postgres account"}}},{"parameters":{"content":"**Finetune the prompt of assistant**","height":80,"width":215},"id":"da7bbb10-f71f-494c-a4e5-ae4e9ba141ea","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[1620,1080],"typeVersion":1},{"parameters":{"descriptionType":"manual","toolDescription":"Run custom SQL queries using knowledge about Output structure to provide needed response for user request.\nUse ->> operator to extract JSON data.","operation":"executeQuery","query":"{{ $fromAI(\"query\",\"SQL query for PostgreSQL DB in Supabase\") }}","options":{}},"id":"7a06e186-ecb2-44f5-832a-aafb4c99b226","name":"Run SQL Query","type":"n8n-nodes-base.postgresTool","position":[1680,1460],"typeVersion":2.5,"credentials":{"postgres":{"id":"KZzNFAsNcYpnW5dN","name":"Postgres account"}}},{"parameters":{"agent":"openAiFunctionsAgent","promptType":"define","text":"={{ $('When chat message received').item.json.chatInput }}","options":{"systemMessage":"You are DB assistant. You need to run queries in DB aligned with user requests.\n\nRun custom SQL query to aggregate data and response to user.\n\nFetch all data to analyse it for response if needed.\n"}},"id":"f4083cb8-3230-49d6-b82c-a02fef1c4090","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[1600,1200],"typeVersion":1.6}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"DB Schema":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Get table definition":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Run SQL Query":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"dfaa6848-1843-4206-87ff-9829648e724f","triggerCount":0,"tags":[]}