docs/my-workflow-4Xv8GoU0AhHakr99.json
{"createdAt":"2024-12-31T05:18:59.375Z","updatedAt":"2024-12-31T05:18:59.375Z","id":"4Xv8GoU0AhHakr99","name":"My workflow","active":false,"nodes":[{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"1txKgnUUxruBCQ2UIJBAZh17baND8dSVZ","mode":"list","cachedResultName":"brand creative test.png","cachedResultUrl":"https://drive.google.com/file/d/1txKgnUUxruBCQ2UIJBAZh17baND8dSVZ/view?usp=drivesdk"},"options":{"binaryPropertyName":"Fore-Ground"}},"id":"7bf86822-9499-41ce-bc3b-22da9e42c39c","name":"Google Drive","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[120,-300]},{"parameters":{"method":"POST","url":"https://api-inference.huggingface.co/models/black-forest-labs/FLUX.1-schnell","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"inputs","value":"=Depict  {{ $json.output['Image Prompt'] || $json.output[0]['Image Prompt'] }}"}]},"options":{"batching":{"batch":{"batchSize":1,"batchInterval":10000}}}},"id":"06285040-a376-4194-90ca-1bd4e464aa1d","name":"Call hugginface inference api","type":"n8n-nodes-base.httpRequest","position":[120,-120],"notesInFlow":true,"typeVersion":4.2,"onError":"continueErrorOutput","notes":" "},{"parameters":{"operation":"composite","dataPropertyNameComposite":"Fore-Ground","options":{}},"id":"d5f4f02b-71ea-4311-9ebf-c4c38d0232d7","name":"Edit Image","type":"n8n-nodes-base.editImage","typeVersion":1,"position":[880,0]},{"parameters":{},"id":"976d2fd7-c1e0-42aa-9763-71b7ae19f0ff","name":"Wikipedia","type":"@n8n/n8n-nodes-langchain.toolWikipedia","typeVersion":1,"position":[-240,360]},{"parameters":{"operation":"text","text":"={{ $json.output.Tip }} {{ $json.output['Did You Know Fact'] }}","fontSize":30,"positionX":220,"positionY":630,"lineLength":45,"options":{"font":"/usr/share/fonts/truetype/msttcorefonts/Comic_Sans_MS.ttf"}},"id":"46ae61f6-9ae5-4016-94c9-e4139b70da24","name":"Edit Image1","type":"n8n-nodes-base.editImage","typeVersion":1,"position":[1100,0]},{"parameters":{"operation":"text","text":"Call : 9026019566   Whatsapp : 8400210108   Website: anagataitsolutions.com","fontSize":24,"positionX":80,"positionY":1010,"options":{"font":"/usr/share/fonts/truetype/msttcorefonts/Arial.ttf","format":"png"}},"id":"bed82718-61b6-45d5-801f-65dba01f76a0","name":"Edit Image2","type":"n8n-nodes-base.editImage","typeVersion":1,"position":[1320,0]},{"parameters":{"name":"=Anagata Tip of the Day {{ $now }}.png","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1Z3krfd0QE5w4-aTfLRxekCqDls_LUfop","mode":"list","cachedResultName":"Tip of the day","cachedResultUrl":"https://drive.google.com/drive/folders/1Z3krfd0QE5w4-aTfLRxekCqDls_LUfop"},"options":{}},"id":"f673e2ae-1452-45ea-bdef-36ce49f483f7","name":"Google Drive1","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1740,0]},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"id":"7ed96005-df7f-43ed-894c-a365b8203a65","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":3,"position":[620,-280]},{"parameters":{"operation":"blur","sigma":4,"options":{}},"id":"4d0ff0ed-cdce-4e33-a9b8-fb22653dead1","name":"Edit Image3","type":"n8n-nodes-base.editImage","typeVersion":1,"position":[420,-120]},{"parameters":{"options":{}},"id":"51132576-5b5e-4a64-bb32-7d1070232934","name":"Auto-fixing Output Parser","type":"@n8n/n8n-nodes-langchain.outputParserAutofixing","typeVersion":1,"position":[-20,280]},{"parameters":{},"id":"a4327ce3-b340-4002-a19a-cf7ac0cfdc5c","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-580,40]},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"id":"bcbce23c-c6ac-43bb-b959-0a53391f2c37","name":"Merge1","type":"n8n-nodes-base.merge","typeVersion":3,"position":[720,240]},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"Topic\": \"Customer Support\",\n  \"Tip\": \"Customer Support me Automation se aap 30% tak salary cost bacha sakte hai.\",\n  \"Image Prompt\": \"A bustling Indian customer support call center with agents working at desks, speaking on headsets. The scene is vibrant and professional, showing a mix of technology and busy employees managing customer queries.\"\n}\n"},"id":"6d3f7e49-ac1d-4359-b844-336d9e1dbb75","name":"Structured Output Parser","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[240,480]},{"parameters":{"options":{"frequencyPenalty":0.2,"temperature":0.7}},"id":"79ccd24d-00fb-400a-a581-e761a5ba3067","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-400,380]},{"parameters":{"options":{"frequencyPenalty":0.2,"temperature":0.7}},"id":"2089ef90-e4b0-4777-81b0-c8b4b108680a","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[20,520]},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"1C1D-Md8fNZBveebGWd6w09l2oyj2M_XQ","mode":"list","cachedResultName":"farzi_paisa_bgm.mp3","cachedResultUrl":"https://drive.google.com/file/d/1C1D-Md8fNZBveebGWd6w09l2oyj2M_XQ/view?usp=drivesdk"},"options":{}},"id":"4147b588-9282-480c-8173-b7d35b61027d","name":"Google Drive2","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1940,0]},{"parameters":{},"id":"19f0b106-1e06-4501-bfb0-2d5404dd12fb","name":"Store Files","type":"n8n-nodes-auto-file-storer.autoFileStorer","typeVersion":1,"position":[2160,0]},{"parameters":{},"id":"c007d54f-e236-40e9-9af0-8ddf1b9ed838","name":"Store Files1","type":"n8n-nodes-auto-file-storer.autoFileStorer","typeVersion":1,"position":[1520,0]},{"parameters":{"model":"gpt-4o","options":{}},"id":"4b4b71e2-7c6b-4721-a033-ad6a3e30c38d","name":"OpenAI Chat Model2","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[2740,280]},{"parameters":{"fileSelector":"={{ $json.output.output_video }}","options":{}},"id":"44611350-e4ce-41b7-b8af-6e56c590305c","name":"Read/Write Files from Disk","type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[3640,0]},{"parameters":{"promptType":"define","text":"\"Create 1 ‘Did You Know?’ Instagram post idea for Anagata IT Solutions in an urban Hinglish style. Post should include a fun fact about how automation can help businesses improve productivity, efficiency, or customer engagement. Each post should have a short, catchy fact(you can use wikipedia to get information) written in Hinglish (mix of Hindi and English). Also, include an Image Prompt for each post.\n\nFor example:\n\nPost Topic: Automated Billing\nDid You Know Fact: \"Kya Apko pata hai? Automated billing se aapka time 30% bach sakta hai, aur payments time par milte hain!\"\nImage Prompt: \"A clean and modern digital illustration showing an automated billing process. A cheerful business owner with black hair and glasses is seated at a stylish office desk, looking at a computer screen displaying automated invoices being sent to customers. The background features a large window with sunlight streaming in, plants, and a wall clock showing punctuality.\"\n\nPost Topic: Website Speed Optimization\nDid You Know Fact: \"Kya aapko pata hai? Website ki speed ko optimize karne se conversions 20% tak badh sakti hain, aur is process ko automate bhi kar sakte ho!\"\nImage Prompt:A clean and modern digital illustration showing Before-and-after of a slow website vs. an optimized, fast-loading website.\nGive output in JSON format\n{\nPost Topic:\nDid You Know Fact:\nImage Prompt:}","hasOutputParser":true,"options":{"systemMessage":"You are a helpful assistant of Anagata IT Solutions.\nCompany Overview: Anagata IT Solutions specializes in advanced automation solutions for businesses, focusing on streamlining processes, enhancing efficiency, and driving growth using state-of-the-art tools and technologies.\n\nTarget Audience: The company serves Micro, Small, and Medium Enterprises (MSMEs) across India.\n\nServices Offered:\n\nMarketing Automation\nCRM and Sales Automation\nCustomer Support Solutions\nFinancial Process Automation\nOperations and Supply Chain Management\nIT and System Integration\nCore Values: Anagata emphasizes innovation, reliability, and client satisfaction.\n\nTeam Composition: The current team includes Sanjeev Kumar Singh, who is the founder.\n\nHiring Needs: Anagata IT Solutions is looking for a co-founder, as well as sales and developers to join the team.\n\nWebsite: The company's website is hosted at ai.anagataitsolutions.com.\n\nSocial Media Strategy: Anagata IT Solutions has indicated challenges with posting BTS and case studies daily on social media.\n\nBrand Promotion: The company is currently focusing on outreach to real estate agents through cold calls and bulk WhatsApp promotional messages to quickly close their first customer.\n\nFinancial Goals: Anagata IT Solutions needs to earn 15k in the next two days and is looking for a suitable offer or package.\n\nContent Creation: Anagata IT Solutions is creating a YouTube channel named Gochapachi, with a series called 'Business with Gochapachi,' aimed at teaching MSMEs how to leverage technology.\n\nWebsite Development: Anagata IT Solutions is using WordPress, Elementor, Elementor Pro, and ElementsKit to build a professional website focused on IT solutions for MSMEs. They want to include animations and custom illustrations.\n\nAutomation Tools: Anagata IT Solutions is using n8n for automating processes with WhatsApp and Airtable as a buffer for incoming messages.\n\nCurrent Projects: They are also creating an online blog page on Indian Law.\n\nTechnical Setup: Anagata IT Solutions is operating within a Docker container and has installed Twenty CRM for the company.\n\nCommunity Issues: Anagata IT Solutions is addressing a local issue in Lucknow related to public cleanliness due to pan masala disposal."}},"id":"ed9b4b0c-b3e0-47ba-b548-700757f3c8a5","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[-360,40]},{"parameters":{"command":"=ffmpeg -loop 1 -i /home/node/n8n_storage/reel_audio/FLUX.png -loop 1 -i /home/node/n8n_storage/reel_audio/119.jpg -i /home/node/n8n_storage/reel_audio/81761fae445deda654cc619e6c76caa8.mp3 \\\n-filter_complex \"[0:v]trim=duration=5[img1]; \\\n[1:v]trim=duration=5[img2]; \\\n[img1][img2]xfade=transition=slideleft:duration=2:offset=2,format=yuv420p[video]; \\\n[video]setpts=PTS-STARTPTS[v];[2:a]aresample=async=1[a]\" \\\n-map \"[v]\" -map \"[a]\" -shortest -r 30 /home/node/n8n_storage/reel_audio/Reel_{{ $now }}.mp4"},"id":"f453de3f-1fd2-460e-8c3d-c527b6f5dfc3","name":"Execute Command","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[3060,0]},{"parameters":{"text":"={{ $json.stderr }}","attributes":{"attributes":[{"name":"input_image","description":"location of input image"},{"name":"input_audio","description":"Location of input audio"},{"name":"output_video","description":"Location of output video"}]},"options":{}},"id":"4ffd52d0-cd30-43a1-9d39-35aa2ea00456","name":"Information Extractor","type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1,"position":[3280,0]},{"parameters":{"options":{}},"id":"d88c99a0-8a20-4959-9169-c5102075ed4f","name":"OpenAI Chat Model3","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[3520,300]},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"1kEtw6qnWoSLqjea9ZCNiPgwz1StevpZw","mode":"list","cachedResultName":"119.jpg","cachedResultUrl":"https://drive.google.com/file/d/1kEtw6qnWoSLqjea9ZCNiPgwz1StevpZw/view?usp=drivesdk"},"options":{}},"id":"950e789f-3d31-4688-b332-d6b972a2da0c","name":"Google Drive3","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2380,0]},{"parameters":{},"id":"74d133d4-31e5-4b98-92ff-3410e84d1914","name":"Store Files2","type":"n8n-nodes-auto-file-storer.autoFileStorer","typeVersion":1,"position":[2600,0]},{"parameters":{},"id":"ad08fd2f-0a44-4171-88bd-0b307cc4c5c3","name":"Explore Stored Files","type":"n8n-nodes-auto-file-storer.autoFileStorerExplorer","typeVersion":1,"position":[2820,0]},{"parameters":{"command":"ffmpeg -loop 1 -i base_image.png -loop 1 -i popup_image.png -i audio.mp3 \\\n-filter_complex \"[0:v][1:v]overlay=(W-w)/2:(H-h)/2:enable='between(t,1,3)'[popup]; \\\n[popup]fade=out:st=3:d=1[video]\" \\\n-map \"[video]\" -map 2:a -shortest -r 30 output.mp4\n"},"id":"c1cd1260-4b49-475f-808b-669d4905a929","name":"Execute Command1","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[3040,320]}],"connections":{"Google Drive":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Call hugginface inference api":{"main":[[{"node":"Edit Image3","type":"main","index":0}]]},"Edit Image":{"main":[[{"node":"Edit Image1","type":"main","index":0}]]},"Wikipedia":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Edit Image1":{"main":[[{"node":"Edit Image2","type":"main","index":0}]]},"Google Drive1":{"main":[[{"node":"Google Drive2","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Edit Image3":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Auto-fixing Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Edit Image","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Auto-fixing Output Parser","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Auto-fixing Output Parser","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Merge1","type":"main","index":1},{"node":"Google Drive","type":"main","index":0},{"node":"Call hugginface inference api","type":"main","index":0}]]},"Execute Command":{"main":[[{"node":"Information Extractor","type":"main","index":0}]]},"Information Extractor":{"main":[[{"node":"Read/Write Files from Disk","type":"main","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"Information Extractor","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"f0a5cb41-a1a2-4146-8d65-48e9b371c2cc","triggerCount":0,"tags":[]}