docs/my-workflow-2-ilQH8dtr0ljhBotu.json
{"createdAt":"2025-02-16T22:33:09.608Z","updatedAt":"2025-02-18T03:56:05.555Z","id":"ilQH8dtr0ljhBotu","name":"My workflow 2","active":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"form_tally","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-220,1160],"id":"50a09132-f290-448a-a06a-3972c9ed67f3","name":"Webhook","webhookId":"9dd6f1ca-9f47-4fe6-af8e-740366823398"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1yNmneH13wRBhUS1gZFVxGH1x3hgFByS2vXubc2sbBY4","mode":"list","cachedResultName":"List Business PHDC Pitt","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yNmneH13wRBhUS1gZFVxGH1x3hgFByS2vXubc2sbBY4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":946107849,"mode":"list","cachedResultName":"Tally Forms Response","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yNmneH13wRBhUS1gZFVxGH1x3hgFByS2vXubc2sbBY4/edit#gid=946107849"},"columns":{"mappingMode":"defineBelow","value":{"response_Id":"={{ $json.body.data.responseId }}","formName":"={{ $json.body.data.formName }}","name":"={{ $json.body.data.fields[0].value }}","nameCompany":"={{ $json.body.data.fields[1].value }}","websiteCompany":"={{ $json.body.data.fields[2].value }}","rolCompany":"={{ $json.body.data.fields[3].value }}","objetive":"={{ $json.body.data.fields[4].value }}","phone_number":"={{ $json.body.data.fields[5].value }}","IACall":"={{ $json.body.data.fields[6].options[0].text }}"},"matchingColumns":["response_Id"],"schema":[{"id":"response_Id","displayName":"response_Id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"formName","displayName":"formName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"nameCompany","displayName":"nameCompany","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"websiteCompany","displayName":"websiteCompany","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"rolCompany","displayName":"rolCompany","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"objetive","displayName":"objetive","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"phone_number","displayName":"phone_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"IACall","displayName":"IACall","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[0,1000],"id":"abc51ccd-0710-4313-a38e-9927cde6e42e","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"aEdSCFYMafgqbWmJ","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"25e99b1b-574a-427f-8e6c-ed5f12fb9f58","leftValue":"={{ $json.body.data.fields[6].value }}","rightValue":"=","operator":{"type":"array","operation":"exists","singleValue":true}},{"id":"657c1dd5-b340-46fd-a2dc-730bbcb02f24","leftValue":"={{ $json.body.data.fields[6].value }}","rightValue":"={{ $json.body.data.fields[6].options[0].id }}","operator":{"type":"array","operation":"contains","rightType":"any"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[0,1160],"id":"fb360f54-5455-4a41-864c-a0324924abcb","name":"If"},{"parameters":{"useJson":true,"claimsJson":"={\n  \"orgId\": \"936d3611-e664-40a8-83f3-6639f9df24de\",\n  \"exp\": {{ Math.floor(new Date().getTime()/ 1000) + 3600 }}\n}\n","options":{}},"type":"n8n-nodes-base.jwt","typeVersion":1,"position":[180,1000],"id":"697cd8ba-e9bd-4362-8ca0-ef2b35dc7a71","name":"JWT","credentials":{"jwtAuth":{"id":"wTrwCVpWM6SRvcM2","name":"JWT Auth account"}}},{"parameters":{"method":"POST","url":"https://api.vapi.ai/call","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"assistantId\": \"\",\n  \"assistant\": {},\n  \"squad\": {\n    \"members\": [\n      {\n        \"assistantId\": \"\"\n      }\n    ]\n  },\n  \"squadId\": \"\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[560,900],"id":"75835be7-612a-4d17-9574-6cbd9276ab33","name":"Start The Call"},{"parameters":{"url":"https://api.cal.com/v2/slots","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer cal_live_57be1afed1594ff0a1f1f81dd6d555c3"},{"name":"cal-api-version","value":"2024-08-13"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1300,560],"id":"ded255d5-14c8-459c-9d37-31004302b7ec","name":"HTTP Request"},{"parameters":{"method":"POST","url":"https://api.vapi.ai/call","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.token }}"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={\n  \"assistantId\": \"aa130f12-8738-42bc-9b8c-45a4091c9571\",\n  \"customer\": {\n    \"number\": \"{{ $('New Lead from Tally Form').item.json.body.data.fields[4].value }}\"\n  },\n  \"phoneNumber\": {\n      \"id\": \"d7d41e42-391c-498a-9344-c989576024a1\",\n      \"orgId\": \"936d3611-e664-40a8-83f3-6639f9df24de\",\n      \"provider\": \"vapi\",\n      \"number\": \"+14847914116\",\n      \"createdAt\": \"2025-02-18 02:11:09.533\",\n      \"updatedAt\": \"2025-02-18 02:11:09.686\",\n},\n  \"name\": \"\",\n  \n  \"assistantOverrides\": {\n    \"variableValues\": {\n      \"first_name\": \"{{ $('New Lead from Tally Form').item.json.body.data.fields[3].value }}\",\n      \"goal\": \"{{ $('New Lead from Tally Form').item.json.body.data.fields[2].value }}\",\n      \"record_id\": \"{{ $('Update CRM').item.json.id }}\",\n      \"email\": \"{{ $('Update CRM').item.json.fields['Email Address'] }}\"}\n  }\n}","options":{}},"id":"8bc08bec-b926-45b7-8dbb-0ef3d9c3a5cc","name":"Start Call","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[420,1200]},{"parameters":{"sendTo":"={{ $json['Email Address'] }}","subject":"Thanks for your interest","emailType":"text","message":"=Estimado/a {{ $json['Full Name'] }},\n\nGracias por tu interés en los servicios de automatización e IA de Modtecs. Entendemos que nuestra propuesta actual podría no ajustarse a tu presupuesto, sin embargo, nos gustaría ofrecerte una consulta estratégica gratuita (30 minutos) donde podremos:\n\n• Analizar los procesos actuales de tu negocio\n• Identificar oportunidades de automatización\n• Sugerir soluciones que se ajusten a tu presupuesto\n• Compartir casos de éxito similares a tu industria\n\nPuedes agendar tu consulta gratuita aquí: [Agenda](https://cal.com/modtecs/30min)\n\nEstamos comprometidos con el crecimiento tecnológico de la comunidad latina en Pittsburgh.\n\n¡Esperamos poder ayudarte!\n\nAlexander\nModtecs - Miembro PHDC","options":{"appendAttribution":false}},"id":"8e9d7074-40cb-458b-9846-d62909034b56","name":"Guide message","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[4800,1160],"webhookId":"4a8eb44e-fc4c-47de-962b-20d0e2444e5c","credentials":{"gmailOAuth2":{"id":"TDGC962mg5h85KHo","name":"Gmail account"}}},{"parameters":{},"id":"d8e899a4-2774-4b2f-a582-42de3f306a59","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3700,1240]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"66b3b75a-50ce-4b7f-a4f2-fbb9c9127653","leftValue":"={{ $json.body.message.analysis.successEvaluation }}\n","rightValue":"true","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"id":"5befb634-b997-4364-9281-e7b84a513e23","name":"Call Success?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3440,1020]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d1be90de-4520-44d1-87ad-53116a8d048e","leftValue":"={{ $json.body.message.analysis.structuredData.qualified }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"a0216029-3e8e-480a-ad6c-e2cfefde4006","name":"Qualified","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3900,1000]},{"parameters":{"assignments":{"assignments":[{"id":"aa9b1a78-f69e-49be-9056-33da52b51852","name":"data","value":"={{ $json.data.slots }}","type":"object"}]},"options":{}},"id":"f21addd8-1cd7-4ab7-ac86-068dccdf49c3","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1520,940]},{"parameters":{"fieldToSplitOut":"data","options":{}},"id":"b5536088-868a-49f6-bb78-77fdefb15dd5","name":"Split Out","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1700,940]},{"parameters":{},"id":"8961f47e-0d79-4cb3-b55b-6d5a69349112","name":"Limit","type":"n8n-nodes-base.limit","typeVersion":1,"position":[1860,940]},{"parameters":{"assignments":{"assignments":[{"id":"a3d7ebc1-4173-4a98-9edf-dd6fb2841a32","name":"toolcallid","value":"={{ $('Availability Tool Call').item.json.body.message.toolCalls[0].id }}","type":"string"},{"id":"a085b719-b23c-4151-b7b0-8b37888562a8","name":"availableslots","value":"={{ $json.message.content.availableSlots }}","type":"string"}]},"options":{}},"id":"90ad7024-ae20-4c85-b0f8-92692d08adc1","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2560,940]},{"parameters":{"url":"https://api.cal.com/v2/slots/available","sendQuery":true,"queryParameters":{"parameters":[{"name":"startTime","value":"=2025-12-21T14:19:00.000Z"},{"name":"endTime","value":"2025-01-30T14:19:00.000Z"},{"name":"eventTypeId","value":"1858334"},{"name":"duration","value":"30"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer cal_live_57be1afed1594ff0a1f1f81dd6d555c3"}]},"options":{}},"id":"0e7158fe-5396-4197-81d4-2d59fcfd42f5","name":"Get Availability (Cal.com)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1280,940]},{"parameters":{"method":"POST","url":"https://api.cal.com/v2/bookings","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer cal_live_57be1afed1594ff0a1f1f81dd6d555c3"},{"name":"cal-api-version","value":"2024-08-13"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"start\": \"{{ $json.message.content.UTC }}\",\n  \"eventTypeId\": 12345,\n  \"attendee\": {\n    \"name\": \"{{ $('Book Slot Tool Call').item.json.body.message.toolCalls[0].function.arguments.firstname }}\",\n    \"email\": \"{{ $('Book Slot Tool Call').item.json.body.message.toolCalls[0].function.arguments.email }}\",\n    \"timeZone\": \"America/New_York\"\n  },\n  \"location\": \"integrations:google:meet\"\n}","options":{}},"id":"af625b8a-077a-48e0-b9d9-5dae2991e821","name":"Create Booking","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1600,1260]},{"parameters":{"mode":"raw","jsonOutput":"={\n    \"results\": [\n        {\n            \"toolCallId\": \"{{ $('Book Slot Tool Call').item.json.body.message.toolCalls[0].id }}\",\n            \"result\": \"success\"\n        }\n    ]\n} ","options":{}},"id":"e33e7ad2-3e04-45e6-90fb-bc69deada57c","name":"Edit Fields2","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1820,1260]},{"parameters":{"options":{}},"id":"daf38daf-9bd7-4fb2-b5c7-b3a8734ac7bd","name":"Respond to Booking Tool","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[2040,1260]},{"parameters":{"respondWith":"json","responseBody":"={\n    \"results\": [\n        {\n            \"toolCallId\": \"{{ $json.toolcallid }}\",\n            \"result\": \"{{ $json.availableslots }}\"\n        }\n    ]\n} ","options":{}},"id":"58aec165-3458-45ca-9b4c-5be099abee05","name":"Respond to Availability Tool","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[2800,960]},{"parameters":{"content":"## 1. Make call based on new sign up\n","height":607.474884409438,"width":1218.34281545882},"id":"bc170d78-ee2b-4008-b6f1-afcada8abaf3","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-440,860]},{"parameters":{"content":"## 2. Tools for Vapi Assistant\n","height":611.542837904069,"width":2249.56902634784,"color":4},"id":"63761ffb-07e9-45cb-85ff-f859c4a5f79b","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[800,860]},{"parameters":{"content":"## 3. End of Call Reporting\n","height":607.474884409438,"width":1966.08408514009,"color":6},"id":"99dc420b-eb0e-472a-a10f-9d01a193b34f","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3080,860]},{"parameters":{"sendTo":"={{ $('Update Record').item.json.fields['Email Address'] }}","subject":"={{ $json.message.content.email.subject }}","emailType":"text","message":"={{ $json.message.content.email.body }}","options":{"appendAttribution":false}},"id":"d50fa174-391b-4926-a632-e34a790705db","name":"Email Personalized Email","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[4780,920],"webhookId":"980f857b-6973-4715-bcf7-802ea85dfe9f","credentials":{"gmailOAuth2":{"id":"TDGC962mg5h85KHo","name":"Gmail account"}}},{"parameters":{"httpMethod":"POST","path":"vapi_tool","responseMode":"responseNode","options":{}},"id":"6f397e93-cb51-4202-9bee-3fa4e4ca2521","name":"Availability Tool Call","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[1000,940],"webhookId":"bd4b0312-b9ce-473b-9f05-2f1d73d0d51a"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"={{ JSON.stringify($('Limit').item) }}"},{"content":"Return all the available slot times in a comma-separated list. Also assume that these times are in UTC and need to be converted to EST; all slots are on the same day\neg: \n{\n\"availableSlots\": \n\"January 6th 2025 at 10:00am, 11:00am, or 11:30am\"\n}"}]},"jsonOutput":true,"options":{}},"id":"1b76111a-124f-4da1-9efd-66cb2b939f31","name":"OpenAI","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.7,"position":[2080,940],"credentials":{"openAiApi":{"id":"Xhw7jhGubqs4BVIn","name":"OpenAi ai_agent"}}},{"parameters":{"httpMethod":"POST","path":"booking_slot","responseMode":"responseNode","options":{}},"id":"09fb24bb-8c75-4f61-86c1-af400d8fd778","name":"Book Slot Tool Call","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[1000,1260],"webhookId":"34a7aea6-c379-44fd-b285-5262ec77a88b"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"={{ $json.body.message.toolCalls[0].function.arguments.slot_to_be_booked }}"},{"content":"Convert time which is in EST to UTC.\n\nEg: {\n\"UTC\": \n\"2025-01-06T14:00:00.000Z\"\n}"}]},"jsonOutput":true,"options":{}},"id":"edb51a9c-df4c-4b1f-814f-dc232c60bd39","name":"OpenAI1","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.7,"position":[1220,1260],"credentials":{"openAiApi":{"id":"Xhw7jhGubqs4BVIn","name":"OpenAi ai_agent"}}},{"parameters":{"httpMethod":"POST","path":"call_reports","options":{}},"id":"a3b93dcc-4456-416f-a447-21ccbcccb15e","name":"End of Call Report","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[3220,1020],"webhookId":"d4a3bd02-775f-4ecb-b08e-95ac66dfcd9e"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=[Email Generation Instructions]\n\nTask: Generate a personalized follow-up email for {{ $json.fields['Full Name'] }} based on the call summary: {{ $('End of Call Report').item.json.body.message.analysis.summary }}\n\nKey Requirements:\n- Do not mention pricing or financial commitments\n- Must be in Spanish\n- Must maintain professional but warm tone\n- Must reference specific details from the call summary\n- Must include next steps with Cal.com booking link\n\nEmail Structure Guidelines:\n1. Opening: Personal greeting referencing specific business context\n2. Body:\n   - Reference key points from conversation\n   - Highlight identified automation opportunities\n   - Suggest relevant solutions based on their needs\n3. Call to Action:\n   - Include scheduling link for technical consultation\n   - Make next steps clear and actionable\n4. Closing:\n   - Professional signature\n   - Modtecs and PHDC affiliation\n\nTone and Style:\n- Friendly but professional\n- Solution-focused\n- Value-oriented\n- Culturally appropriate for Latino business community\n\nImportant Notes:\n- Exclude any pricing discussions\n- Focus on value proposition\n- Personalize based on call details\n- Keep it concise and action-oriented\n\nVariables to include:\n- Name: {{ $json.fields['Full Name'] }}\n- Call Summary: {{ $('End of Call Report').item.json.body.message.analysis.summary }}"},{"content":"[Email Format Example]\n\nHola {{first_name}},\n\nExcelente nuestra conversación sobre {{business_context}}. Me entusiasma ver cómo podemos automatizar los procesos que mencionaste para {{specific_pain_point}}.\n\nAgendemos tu consulta técnica aquí: [https://cal.com/modtecs/30min]\n\n¡Gracias por tu interés!\n\nAlexander\nModtecs | PHDC"},{}]},"jsonOutput":true,"options":{}},"id":"d5c4bcf7-58f7-4ba3-b4fe-6461443c6554","name":"OpenAI2","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.7,"position":[4400,920],"credentials":{"openAiApi":{"id":"Xhw7jhGubqs4BVIn","name":"OpenAi ai_agent"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1yNmneH13wRBhUS1gZFVxGH1x3hgFByS2vXubc2sbBY4","mode":"list","cachedResultName":"List Business PHDC Pitt","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yNmneH13wRBhUS1gZFVxGH1x3hgFByS2vXubc2sbBY4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":946107849,"mode":"list","cachedResultName":"Tally Forms Response","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yNmneH13wRBhUS1gZFVxGH1x3hgFByS2vXubc2sbBY4/edit#gid=946107849"},"columns":{"mappingMode":"defineBelow","value":{"response_Id":"=","formName":"=","name":"=","nameCompany":"=","websiteCompany":"=","rolCompany":"=","objetive":"=","phone_number":"=","IACall":"=","transcript":"{{ $json.body.message.artifact.transcript }}","Call Summary":"{{ $json.body.message.analysis.summary }}","recordId":"{{ $json.body.message.call.assistantOverrides.variableValues.record_id }}","Qualified":"{{ $json.body.message.analysis.structuredData.qualified }}"},"matchingColumns":["recordId"],"schema":[{"id":"response_Id","displayName":"response_Id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"formName","displayName":"formName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"nameCompany","displayName":"nameCompany","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"websiteCompany","displayName":"websiteCompany","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"rolCompany","displayName":"rolCompany","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"objetive","displayName":"objetive","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"phone_number","displayName":"phone_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"IACall","displayName":"IACall","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"user_learning","displayName":"user_learning","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"recordId","displayName":"recordId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"transcript","displayName":"transcript","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Call Summary","displayName":"Call Summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Qualified","displayName":"Qualified","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[4180,920],"id":"e9be7044-554c-4b11-9d89-f240e57e0188","name":"Google Sheets1","credentials":{"googleSheetsOAuth2Api":{"id":"aEdSCFYMafgqbWmJ","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1yNmneH13wRBhUS1gZFVxGH1x3hgFByS2vXubc2sbBY4","mode":"list","cachedResultName":"List Business PHDC Pitt","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yNmneH13wRBhUS1gZFVxGH1x3hgFByS2vXubc2sbBY4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":946107849,"mode":"list","cachedResultName":"Tally Forms Response","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yNmneH13wRBhUS1gZFVxGH1x3hgFByS2vXubc2sbBY4/edit#gid=946107849"},"filtersUI":{"values":[{"lookupColumn":"recordId","lookupValue":"{{ $json.body.message.call.assistantOverrides.variableValues.record_id }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[4180,1160],"id":"db162b30-0871-4692-8d16-73799bc8ff65","name":"Google Sheets2","credentials":{"googleSheetsOAuth2Api":{"id":"aEdSCFYMafgqbWmJ","name":"Google Sheets account"}}}],"connections":{"Webhook":{"main":[[{"node":"If","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"JWT","type":"main","index":0}]]},"If":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"JWT":{"main":[[{"node":"Start Call","type":"main","index":0}]]},"Call Success?":{"main":[[{"node":"Qualified","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Qualified":{"main":[[{"node":"Google Sheets1","type":"main","index":0}],[{"node":"Google Sheets2","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Limit":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Respond to Availability Tool","type":"main","index":0}]]},"Get Availability (Cal.com)":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Create Booking":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Respond to Booking Tool","type":"main","index":0}]]},"Availability Tool Call":{"main":[[{"node":"Get Availability (Cal.com)","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Book Slot Tool Call":{"main":[[{"node":"OpenAI1","type":"main","index":0}]]},"OpenAI1":{"main":[[{"node":"Create Booking","type":"main","index":0}]]},"End of Call Report":{"main":[[{"node":"Call Success?","type":"main","index":0}]]},"OpenAI2":{"main":[[{"node":"Email Personalized Email","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"OpenAI2","type":"main","index":0}]]},"Google Sheets2":{"main":[[{"node":"Guide message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"733801f3-c088-4fda-8b26-611a582bca3e","triggerCount":4,"tags":[]}