docs/my-workflow-2-ilQH8dtr0ljhBotu.json
{"createdAt":"2025-02-16T22:33:09.608Z","updatedAt":"2025-02-17T04:31:31.682Z","id":"ilQH8dtr0ljhBotu","name":"My workflow 2","active":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"form_tally","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-340,-80],"id":"50a09132-f290-448a-a06a-3972c9ed67f3","name":"Webhook","webhookId":"9dd6f1ca-9f47-4fe6-af8e-740366823398"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1yNmneH13wRBhUS1gZFVxGH1x3hgFByS2vXubc2sbBY4","mode":"list","cachedResultName":"List Business PHDC Pitt","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yNmneH13wRBhUS1gZFVxGH1x3hgFByS2vXubc2sbBY4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":946107849,"mode":"list","cachedResultName":"Tally Forms Response","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yNmneH13wRBhUS1gZFVxGH1x3hgFByS2vXubc2sbBY4/edit#gid=946107849"},"columns":{"mappingMode":"defineBelow","value":{"response_Id":"={{ $json.body.data.responseId }}","formName":"={{ $json.body.data.formName }}","name":"={{ $json.body.data.fields[0].value }}","nameCompany":"={{ $json.body.data.fields[1].value }}","websiteCompany":"={{ $json.body.data.fields[2].value }}","rolCompany":"={{ $json.body.data.fields[3].value }}","objetive":"={{ $json.body.data.fields[4].value }}","phone_number":"={{ $json.body.data.fields[5].value }}","IACall":"={{ $json.body.data.fields[6].options[0].text }}"},"matchingColumns":["response_Id"],"schema":[{"id":"response_Id","displayName":"response_Id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"formName","displayName":"formName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"nameCompany","displayName":"nameCompany","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"websiteCompany","displayName":"websiteCompany","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"rolCompany","displayName":"rolCompany","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"objetive","displayName":"objetive","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"phone_number","displayName":"phone_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"IACall","displayName":"IACall","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-120,-240],"id":"abc51ccd-0710-4313-a38e-9927cde6e42e","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"aEdSCFYMafgqbWmJ","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"25e99b1b-574a-427f-8e6c-ed5f12fb9f58","leftValue":"={{ $json.body.data.fields[6].value }}","rightValue":"=","operator":{"type":"array","operation":"exists","singleValue":true}},{"id":"657c1dd5-b340-46fd-a2dc-730bbcb02f24","leftValue":"={{ $json.body.data.fields[6].value }}","rightValue":"={{ $json.body.data.fields[6].options[0].id }}","operator":{"type":"array","operation":"contains","rightType":"any"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-120,-80],"id":"fb360f54-5455-4a41-864c-a0324924abcb","name":"If"},{"parameters":{"useJson":true,"claimsJson":"={\n  \"orgId\": \"936d3611-e664-40a8-83f3-6639f9df24de\",\n  \"exp\": {{ Math.floor(new Date().getTime()/ 1000) + 3600 }}\n}\n","options":{}},"type":"n8n-nodes-base.jwt","typeVersion":1,"position":[60,-240],"id":"697cd8ba-e9bd-4362-8ca0-ef2b35dc7a71","name":"JWT","credentials":{"jwtAuth":{"id":"wTrwCVpWM6SRvcM2","name":"JWT Auth account"}}},{"parameters":{"method":"POST","url":"https://api.vapi.ai/call","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"assistantId\": \"\",\n  \"assistant\": {},\n  \"squad\": {\n    \"members\": [\n      {\n        \"assistantId\": \"\"\n      }\n    ]\n  },\n  \"squadId\": \"\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[280,-240],"id":"75835be7-612a-4d17-9574-6cbd9276ab33","name":"HTTP Request"}],"connections":{"Webhook":{"main":[[{"node":"If","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"JWT","type":"main","index":0}]]},"If":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"JWT":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4ca1699c-5ac4-4777-9c2e-8859b79b3c01","triggerCount":0,"tags":[]}