docs/rag-agent-with-supabase-weSS9fyKu2ECHVmn.json
{"createdAt":"2025-02-12T12:22:54.278Z","updatedAt":"2025-02-24T23:36:33.088Z","id":"weSS9fyKu2ECHVmn","name":"RAG Agent with Supabase","active":false,"nodes":[{"parameters":{"options":{}},"id":"bd1e5fb2-543e-4c1c-9daa-e927e19f3789","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-1040,280],"credentials":{"openAiApi":{"id":"Xhw7jhGubqs4BVIn","name":"OpenAi ai_agent"}}},{"parameters":{"options":{}},"id":"752b6241-e3a3-4c32-bb59-35fcc1b501f3","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[180,140],"credentials":{"openAiApi":{"id":"Xhw7jhGubqs4BVIn","name":"OpenAi ai_agent"}}},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.data }}","options":{"metadata":{"metadataValues":[{"name":"=file_id","value":"={{ $('Set File ID').item.json.file_id }}"}]}}},"id":"5ecbe97f-7d4c-450d-bdff-093be09dc837","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[340,760]},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"33a960b8-6fa3-420f-bc45-d2495970f3bd","name":"Embeddings OpenAI1","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[180,760],"credentials":{"openAiApi":{"id":"Xhw7jhGubqs4BVIn","name":"OpenAi ai_agent"}}},{"parameters":{"name":"user_documents","description":"Contains all the user's documents that you can check for context to answer user questions."},"id":"e10738d5-93ef-419d-ac85-66ff2702375c","name":"Retrieve Documents","type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[-100,40]},{"parameters":{"content":"## Agent Tools for RAG","height":528.85546469693,"width":583.4552380860637,"color":4},"id":"ef087b98-1acf-4d5e-98a8-4b246c395d8f","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-300,-100]},{"parameters":{"content":"## Tool to Add a Google Drive File to Vector DB","height":671.8877842322804,"width":2070.8894079025763,"color":5},"id":"c7793c9d-b5e3-4361-a799-3b0f9382eb27","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1420,460]},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Set File ID').item.json.file_id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"id":"1a3a09e0-3899-48ab-acea-44513e26037d","name":"Download File","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-320,640],"executeOnce":true,"credentials":{"googleDriveOAuth2Api":{"id":"5LP9aPOCoDSbZsTa","name":"Google Drive account"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1SqAkf3rt2XSgrvHkPv-shY8XmF_dIRWz","mode":"list","cachedResultName":"COMAYC Fabian","cachedResultUrl":"https://drive.google.com/drive/folders/1SqAkf3rt2XSgrvHkPv-shY8XmF_dIRWz"},"event":"fileCreated","options":{}},"id":"65ed0d6e-6180-4176-a548-e5a22cd7604a","name":"File Created","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-1360,540],"credentials":{"googleDriveOAuth2Api":{"id":"5LP9aPOCoDSbZsTa","name":"Google Drive account"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1SqAkf3rt2XSgrvHkPv-shY8XmF_dIRWz","mode":"list","cachedResultName":"COMAYC Fabian","cachedResultUrl":"https://drive.google.com/drive/folders/1SqAkf3rt2XSgrvHkPv-shY8XmF_dIRWz"},"event":"fileUpdated","options":{}},"id":"f19c7cac-eb26-4217-a6fe-43117f26a647","name":"File Updated","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-1360,760],"credentials":{"googleDriveOAuth2Api":{"id":"5LP9aPOCoDSbZsTa","name":"Google Drive account"}}},{"parameters":{"operation":"text","options":{}},"id":"48cb4c97-612a-4696-ab9a-aad1ae2896d2","name":"Extract Document Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-60,640],"alwaysOutputData":true},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"0f523206-c26d-459e-998d-9b3ca070f267","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[-80,300],"credentials":{"openAiApi":{"id":"Xhw7jhGubqs4BVIn","name":"OpenAi ai_agent"}}},{"parameters":{},"id":"71eb2753-6ecb-4993-8255-2e9ca5283dbf","name":"Postgres Chat Memory","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1,"position":[-920,280],"notesInFlow":false,"credentials":{"postgres":{"id":"KZzNFAsNcYpnW5dN","name":"Postgres account"}}},{"parameters":{"options":{}},"id":"f9f46625-7c68-4f84-9918-ebac6dc89f24","name":"Recursive Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[340,960]},{"parameters":{"operation":"delete","tableId":"documents","filterType":"string","filterString":"=metadata->>file_id=like.*{{ $json.file_id }}*"},"id":"b880453f-e38f-40c2-8c9f-ab75d8d44055","name":"Delete Old Doc Rows","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-620,640],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"CuhGSK9VpbyZF6T4","name":"Supabase account"}}},{"parameters":{"assignments":{"assignments":[{"id":"10646eae-ae46-4327-a4dc-9987c2d76173","name":"file_id","value":"={{ $json.id }}","type":"string"}]},"options":{}},"id":"55890e10-6d76-4aa6-8cc9-82c7cb3833e8","name":"Set File ID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-940,640]},{"parameters":{"content":"## RAG AI Agent with Chat Interface","height":525,"width":933},"id":"c0099fb5-6803-4ce4-9125-fb4af9a124d0","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1420,-100]},{"parameters":{"public":true,"initialMessages":"Hi there! 👋\nMy name is Alex from Modtecs. How can I assist you today?","options":{}},"id":"85457d4a-5d84-4cf5-9997-0fb3eefb3b47","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-1360,40],"webhookId":"e985d15f-b2f6-456d-be15-97e0b1544a40"},{"parameters":{"promptType":"define","text":"={{ $('When chat message received').item.json.chatInput }}","options":{"systemMessage":"You are a personal assistant who helps answer questions from a corpus of documents when you don't know the answer yourself."}},"id":"fa1665dc-16f8-4d5b-9205-2f7302b699ad","name":"RAG AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[-1040,40]},{"parameters":{"tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"id":"3d8a7cd5-4adf-4dcc-b588-ac4d4dbf63c8","name":"Supabase Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[-100,160],"credentials":{"supabaseApi":{"id":"CuhGSK9VpbyZF6T4","name":"Supabase account"}}},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"id":"0efdc04d-05ab-46f4-8f44-43d4ef475c3d","name":"Insert into Supabase Vectorstore","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[220,540],"credentials":{"supabaseApi":{"id":"CuhGSK9VpbyZF6T4","name":"Supabase account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-660,40],"id":"fdbae246-ad81-4c35-b87c-0c1da37c5bbf","name":"Respond to Webhook"},{"parameters":{},"id":"0a679b5e-d694-49c3-8702-7d59fe60d093","name":"When clicking \"Execute Workflow\"","type":"n8n-nodes-base.manualTrigger","position":[-1320,1260],"typeVersion":1},{"parameters":{"fieldToSplitOut":"url","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[20,1260],"id":"7b379831-a00f-4415-8fbf-19d7186d8e6b","name":"Split Out1"},{"parameters":{"url":"https://comayc.com/","options":{}},"id":"fba7e221-aeb9-4f00-a57c-ea76bbd3a7e9","name":"List business PHDC","type":"n8n-nodes-base.httpRequest","position":[-1060,1260],"typeVersion":4.1},{"parameters":{"url":"={{ $json.url }}","options":{"batching":{"batch":{"batchSize":5,"batchInterval":2000}},"timeout":10000}},"id":"7cb3dfe4-5c20-49cd-aeca-5cb60a844aee","name":"List data business","type":"n8n-nodes-base.httpRequest","position":[180,1260],"typeVersion":4.1},{"parameters":{"operation":"extractHtmlContent","dataPropertyName":"=data","extractionValues":{"values":[{"key":"name","cssSelector":".listing-item-static article h3 a","returnValue":"attribute","attribute":"title","returnArray":true},{"key":"url","cssSelector":".listing-item-static article h3 a","returnValue":"attribute","attribute":"href","returnArray":true},{"key":"category","cssSelector":".listing-item-cat","returnArray":true},{"key":"id","cssSelector":".listing-item-static article .geodir-category-content h3 a","returnValue":"attribute","attribute":"data-company-id","returnArray":true}]},"options":{}},"id":"a44a019e-5645-4d3a-8097-e245dde98c7e","name":"Extract URL bussiness","type":"n8n-nodes-base.html","position":[-180,1260],"typeVersion":1},{"parameters":{"operation":"extractHtmlContent","dataPropertyName":"=data","extractionValues":{"values":[{"key":"business_info_name","cssSelector":"h1"},{"key":"business_info_category","cssSelector":".list-single-header-cat a"},{"key":"business_info_description","cssSelector":".list-single-main-item-title p"},{"key":"contact_phone","cssSelector":".list-author-widget-contacts li:contains('Phone') a"},{"key":"contact_email","cssSelector":".list-author-widget-contacts li:contains('Email') a"},{"key":"hours_day","cssSelector":".opening-hours ul li .opening-hours-day","returnArray":true},{"key":"hours_time","cssSelector":".opening-hours ul li .opening-hours-time","returnArray":true},{"key":"services_name","cssSelector":".team-info h3 a","returnArray":true},{"key":"services_description","cssSelector":".team-info p","returnArray":true},{"key":"business_info_url","cssSelector":"link[rel='canonical']","returnValue":"attribute","attribute":"href"},{"key":"business_info_id","cssSelector":"#contact_form input[name='cf_company_id']","returnValue":"attribute","attribute":"value"}]},"options":{}},"id":"4009eb2d-99f8-4f1b-bfbb-1f8b3af5b0ec","name":"Extract data bussiness","type":"n8n-nodes-base.html","position":[360,1260],"typeVersion":1},{"parameters":{"content":"## Scrape Website COMAYC","height":286,"width":2072,"color":4},"id":"a8f24866-2195-4dde-a977-dadeebd834d2","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[-1420,1180],"typeVersion":1},{"parameters":{"promptType":"define","text":"={{ $json[\"output.urls\"] }}","hasOutputParser":true,"options":{"systemMessage":"Parse this HTML and extract all relevant information from the website, including:\n1. Company information\n2. Services offered\n3. Contact and locations\n4. All news and events\n5. All history and description\n6. Social Networking\n7. Any other important information\n8. Extract all URLs that lead to other pages of the same company, mainly the home page.\n9. All Seccion About Us\n\nStructure the information in an organized and clear way."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-280,1840],"id":"f5bcbfa7-44b4-44f1-862f-f9af40f13622","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-320,2080],"id":"b1b4b33c-f633-4967-865f-6ac7aaeecc8c","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"Xhw7jhGubqs4BVIn","name":"OpenAi ai_agent"}}},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"company_info\": {\n    \"name\": \"\",\n    \"motto\": \"\",\n    \"overview\": \"\"\n  },\n  \"services\": {\n    \"main_services\": [\n      {\n        \"name\": \"\",\n        \"url\": \"\"\n      }\n    ]\n  },\n  \"contact\": {\n    \"address\": \"\",\n    \"phones\": [],\n    \"email\": \"\",\n    \"location\": {\n      \"map_url\": \"\"\n    }\n  },\n  \"news\": {\n    \"latest\": [\n      {\n        \"title\": \"\",\n        \"description\": \"\"\n      }\n    ]\n  },\n  \"history\": {\n    \"foundation_year\": \"\",\n    \"milestones\": [],\n    \"current_status\": \"\"\n  },\n  \"social_media\": {\n    \"facebook\": \"\",\n    \"other_networks\": []\n  },\n  \"urls\": {\n    \"main_pages\": [\n      {\n        \"name\": \"\",\n        \"url\": \"\"\n      }\n    ]\n  }\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-120,2080],"id":"3434f11f-5525-4585-9ee7-e91585519045","name":"Structured Output Parser"},{"parameters":{"fieldToSplitOut":"output.urls","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[140,1820],"id":"63269372-df35-4c9f-94be-11071337d02e","name":"Split Out","alwaysOutputData":true},{"parameters":{"fieldToSplitOut":"url","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[300,1820],"id":"510293d2-e92b-4b1b-bd73-cd01596f32cf","name":"Split Out2","alwaysOutputData":true},{"parameters":{"text":"={{ $json.data }}","schemaType":"fromJson","jsonSchemaExample":"{\n  \"urls\": [\"\"]\n}","options":{"systemPromptTemplate":"You are an expert extraction algorithm.\nOnly extract relevant URLs from the HTML content.\nRules:\n1. Only include URLs from the domain comayc.com\n2. Exclude duplicate URLs\n3. Ensure URLs are complete (with https://)\n4. Omit any social media or external URLs\n\nExtract all internal URLs that we can scrape later for more information."}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1,"position":[-1280,1600],"id":"5e78f2b3-704e-4ce1-b69c-cb1312120324","name":"Information Extractor"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1280,1800],"id":"5d57b498-7bc0-409d-b4a4-4b11b1ed5d82","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"Xhw7jhGubqs4BVIn","name":"OpenAi ai_agent"}}},{"parameters":{"numberInputs":4},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[100,1520],"id":"5b851e36-74c2-46b5-a572-27e2c89e6dfc","name":"Merge"},{"parameters":{"fieldToSplitOut":"[\"output.main_urls.home\"], url","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[300,1540],"id":"612f6270-acf7-411b-bdbd-3421e4639cb4","name":"Split Out7","alwaysOutputData":true},{"parameters":{"fieldToSplitOut":"output.urls","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-860,1600],"id":"6737ab69-6a55-4187-b913-45ca31f21cdc","name":"Split Out3","alwaysOutputData":true},{"parameters":{"url":"={{ $json[\"output.urls\"] }}","options":{"batching":{"batch":{"batchSize":1,"batchInterval":4000}},"allowUnauthorizedCerts":true,"response":{"response":{"neverError":true}},"timeout":10000}},"id":"f59fa7b1-73f1-4881-83b2-739487560019","name":"List data business1","type":"n8n-nodes-base.httpRequest","position":[-520,1600],"typeVersion":4.1,"alwaysOutputData":true}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"RAG AI Agent","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Retrieve Documents","type":"ai_languageModel","index":0}]]},"Retrieve Documents":{"ai_tool":[[{"node":"RAG AI Agent","type":"ai_tool","index":0}]]},"Download File":{"main":[[{"node":"Extract Document Text","type":"main","index":0}]]},"File Created":{"main":[[{"node":"Set File ID","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"Extract Document Text":{"main":[[{"node":"Insert into Supabase Vectorstore","type":"main","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Insert into Supabase Vectorstore","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Insert into Supabase Vectorstore","type":"ai_document","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"RAG AI Agent","type":"ai_memory","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Delete Old Doc Rows":{"main":[[{"node":"Download File","type":"main","index":0}]]},"Set File ID":{"main":[[{"node":"Delete Old Doc Rows","type":"main","index":0}]]},"File Updated":{"main":[[{"node":"Set File ID","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"RAG AI Agent","type":"main","index":0}]]},"Supabase Vector Store":{"ai_vectorStore":[[{"node":"Retrieve Documents","type":"ai_vectorStore","index":0}]]},"RAG AI Agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"When clicking \"Execute Workflow\"":{"main":[[{"node":"List business PHDC","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"List data business","type":"main","index":0}]]},"List business PHDC":{"main":[[{"node":"Information Extractor","type":"main","index":0}]]},"List data business":{"main":[[{"node":"Extract data bussiness","type":"main","index":0}]]},"Extract URL bussiness":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"AI Agent":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Split Out2","type":"main","index":0}]]},"Split Out2":{"main":[[]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"Information Extractor","type":"ai_languageModel","index":0}]]},"Information Extractor":{"main":[[{"node":"Split Out3","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Split Out7","type":"main","index":0}]]},"Split Out7":{"main":[[]]},"Split Out3":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"61af4ffb-d42f-4a3d-9cc7-b3f2abd20260","triggerCount":0,"tags":[]}