docs/rag-agent-with-supabase-weSS9fyKu2ECHVmn.json
{"createdAt":"2025-02-12T12:22:54.278Z","updatedAt":"2025-02-13T02:21:47.664Z","id":"weSS9fyKu2ECHVmn","name":"RAG Agent with Supabase","active":false,"nodes":[{"parameters":{"options":{}},"id":"bd1e5fb2-543e-4c1c-9daa-e927e19f3789","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-620,280],"credentials":{"openAiApi":{"id":"Xhw7jhGubqs4BVIn","name":"OpenAi ai_agent"}}},{"parameters":{"options":{}},"id":"752b6241-e3a3-4c32-bb59-35fcc1b501f3","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[200,220],"credentials":{"openAiApi":{"id":"Xhw7jhGubqs4BVIn","name":"OpenAi ai_agent"}}},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.data }}","options":{"metadata":{"metadataValues":[{"name":"=file_id","value":"={{ $('Set File ID').item.json.file_id }}"}]}}},"id":"5ecbe97f-7d4c-450d-bdff-093be09dc837","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[340,760]},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"33a960b8-6fa3-420f-bc45-d2495970f3bd","name":"Embeddings OpenAI1","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[180,760],"credentials":{"openAiApi":{"id":"Xhw7jhGubqs4BVIn","name":"OpenAi ai_agent"}}},{"parameters":{"name":"user_documents","description":"Contains all the user's documents that you can check for context to answer user questions."},"id":"e10738d5-93ef-419d-ac85-66ff2702375c","name":"Retrieve Documents","type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[-20,40]},{"parameters":{"content":"## Agent Tools for RAG","height":528.85546469693,"width":583.4552380860637,"color":4},"id":"ef087b98-1acf-4d5e-98a8-4b246c395d8f","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-200,-80]},{"parameters":{"content":"## Tool to Add a Google Drive File to Vector DB","height":671.8877842322804,"width":2070.8894079025763,"color":5},"id":"c7793c9d-b5e3-4361-a799-3b0f9382eb27","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1420,460]},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Set File ID').item.json.file_id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"id":"1a3a09e0-3899-48ab-acea-44513e26037d","name":"Download File","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-320,640],"executeOnce":true,"credentials":{"googleDriveOAuth2Api":{"id":"5LP9aPOCoDSbZsTa","name":"Google Drive account"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1SqAkf3rt2XSgrvHkPv-shY8XmF_dIRWz","mode":"list","cachedResultName":"COMAYC Fabian","cachedResultUrl":"https://drive.google.com/drive/folders/1SqAkf3rt2XSgrvHkPv-shY8XmF_dIRWz"},"event":"fileCreated","options":{}},"id":"65ed0d6e-6180-4176-a548-e5a22cd7604a","name":"File Created","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-1360,540],"credentials":{"googleDriveOAuth2Api":{"id":"5LP9aPOCoDSbZsTa","name":"Google Drive account"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1SqAkf3rt2XSgrvHkPv-shY8XmF_dIRWz","mode":"list","cachedResultName":"COMAYC Fabian","cachedResultUrl":"https://drive.google.com/drive/folders/1SqAkf3rt2XSgrvHkPv-shY8XmF_dIRWz"},"event":"fileUpdated","options":{}},"id":"f19c7cac-eb26-4217-a6fe-43117f26a647","name":"File Updated","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-1360,760],"credentials":{"googleDriveOAuth2Api":{"id":"5LP9aPOCoDSbZsTa","name":"Google Drive account"}}},{"parameters":{"operation":"text","options":{}},"id":"48cb4c97-612a-4696-ab9a-aad1ae2896d2","name":"Extract Document Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-60,640],"alwaysOutputData":true},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"0f523206-c26d-459e-998d-9b3ca070f267","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[20,320],"credentials":{"openAiApi":{"id":"Xhw7jhGubqs4BVIn","name":"OpenAi ai_agent"}}},{"parameters":{},"id":"71eb2753-6ecb-4993-8255-2e9ca5283dbf","name":"Postgres Chat Memory","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1,"position":[-480,280],"notesInFlow":false,"credentials":{"postgres":{"id":"KZzNFAsNcYpnW5dN","name":"Postgres account"}}},{"parameters":{"options":{}},"id":"f9f46625-7c68-4f84-9918-ebac6dc89f24","name":"Recursive Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[340,960]},{"parameters":{"operation":"delete","tableId":"documents","filterType":"string","filterString":"=metadata->>file_id=like.*{{ $json.file_id }}*"},"id":"b880453f-e38f-40c2-8c9f-ab75d8d44055","name":"Delete Old Doc Rows","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-620,640],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"CuhGSK9VpbyZF6T4","name":"Supabase account"}}},{"parameters":{"assignments":{"assignments":[{"id":"10646eae-ae46-4327-a4dc-9987c2d76173","name":"file_id","value":"={{ $json.id }}","type":"string"}]},"options":{}},"id":"55890e10-6d76-4aa6-8cc9-82c7cb3833e8","name":"Set File ID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-940,640]},{"parameters":{"content":"## RAG AI Agent with Chat Interface","height":464.8027193303974,"width":692.7866482806627},"id":"c0099fb5-6803-4ce4-9125-fb4af9a124d0","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-900,-20]},{"parameters":{"public":true,"options":{}},"id":"85457d4a-5d84-4cf5-9997-0fb3eefb3b47","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-840,60],"webhookId":"e985d15f-b2f6-456d-be15-97e0b1544a40"},{"parameters":{"promptType":"define","text":"={{ $('When chat message received').item.json.chatInput }}","options":{"systemMessage":"You are a personal assistant who helps answer questions from a corpus of documents when you don't know the answer yourself."}},"id":"fa1665dc-16f8-4d5b-9205-2f7302b699ad","name":"RAG AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[-520,60]},{"parameters":{"tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"id":"3d8a7cd5-4adf-4dcc-b588-ac4d4dbf63c8","name":"Supabase Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[-140,200],"credentials":{"supabaseApi":{"id":"CuhGSK9VpbyZF6T4","name":"Supabase account"}}},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"id":"0efdc04d-05ab-46f4-8f44-43d4ef475c3d","name":"Insert into Supabase Vectorstore","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[220,540],"credentials":{"supabaseApi":{"id":"CuhGSK9VpbyZF6T4","name":"Supabase account"}}}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"RAG AI Agent","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Retrieve Documents","type":"ai_languageModel","index":0}]]},"Retrieve Documents":{"ai_tool":[[{"node":"RAG AI Agent","type":"ai_tool","index":0}]]},"Download File":{"main":[[{"node":"Extract Document Text","type":"main","index":0}]]},"File Created":{"main":[[{"node":"Set File ID","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"Extract Document Text":{"main":[[{"node":"Insert into Supabase Vectorstore","type":"main","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Insert into Supabase Vectorstore","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Insert into Supabase Vectorstore","type":"ai_document","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"RAG AI Agent","type":"ai_memory","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Delete Old Doc Rows":{"main":[[{"node":"Download File","type":"main","index":0}]]},"Set File ID":{"main":[[{"node":"Delete Old Doc Rows","type":"main","index":0}]]},"File Updated":{"main":[[{"node":"Set File ID","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"RAG AI Agent","type":"main","index":0}]]},"Supabase Vector Store":{"ai_vectorStore":[[{"node":"Retrieve Documents","type":"ai_vectorStore","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"aab5cceb-a65e-446d-be0a-6c87db730983","triggerCount":0,"tags":[]}