docs/respond-message-get-xaakLWhalfZVHBvN.json
{"createdAt":"2024-11-29T05:21:37.371Z","updatedAt":"2025-03-06T02:23:08.315Z","id":"xaakLWhalfZVHBvN","name":"Respond message Get","active":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"respond","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1340,-220],"id":"a8d01b52-0a2e-4aad-981b-66f3cd2d7aa7","name":"Webhook","webhookId":"9550bfb8-77f3-413d-9bcf-3d89439b5c36"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"44186025-68b9-44ad-a6b5-a107e0dac51b","leftValue":"={{ $json.body.message.message.type }}","rightValue":"attachment","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1080,-220],"id":"ac7a3a26-4ea4-4ca7-85d9-c39066130600","name":"If"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.message.message.attachment.type }}","rightValue":"image","operator":{"type":"string","operation":"equals"},"id":"9612891a-7b30-4c5c-9e5e-3d5a32cd581c"}],"combinator":"and"},"renameOutput":true,"outputKey":"image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3b87ae77-0d0f-46d0-ad1f-097e8c009178","leftValue":"={{ $json.body.message.message.attachment.type }}","rightValue":"video","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"video"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ec4ff956-e36f-4400-99dc-389b2168afbe","leftValue":"={{ $json.body.message.message.attachment.type }}","rightValue":"audio","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6dd998b2-022a-433e-b450-77daa4e04f56","leftValue":"={{ $json.body.message.message.attachment.type }}","rightValue":"file","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"file"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-760,-260],"id":"ca5f444d-c452-41f9-9893-bd9c8a8579c2","name":"Switch"},{"parameters":{"operation":"resize","width":1024,"height":1024,"resizeOption":"onlyIfLarger","options":{}},"id":"c4d110ea-3300-4480-8c44-3dd54cf7b5df","name":"Resize For AI1","type":"n8n-nodes-base.editImage","position":[20,-840],"typeVersion":1},{"parameters":{"promptType":"define","text":"Document Analysis and Validation Protocol (Uruguay)\n\nSTEP 1 - DOCUMENT IDENTIFICATION\nFirst, identify the document type from these categories:\n\nA. Utility Bills:\n- UTE (Electricity invoice)\n- OSE (Water invoice)\n- ANTEL (Telecommunications invoice)\n\nB. Social Security:\n- BPS Receipt\n- Salary Receipt\n\nC. Banking:\n- Bank Statement\n- Payment Receipt\n\nSTEP 2 - DOCUMENT-SPECIFIC VALIDATION\n\nFOR UTE INVOICES:\nRequired Elements:\n- Invoice number\n- Customer number\n- Consumption details\n- Amount breakdown\nKey Identifiers:\n- UTE logo\n- kWh consumption\n- Power rate details\n\nFOR BPS RECEIPTS:\nRequired Elements:\n- Receipt number\n- Beneficiary ID\n- Nominal and liquid amounts\n- Deductions breakdown\nKey Identifiers:\n- BPS logo\n- SNIS/IASS deductions\n- Benefit type\n\n[Similar sections for other document types]\n\nSTEP 3 - QUALITY ASSESSMENT\nTechnical Requirements:\n- Resolution check\n- Format validation\n- Size verification\n- Color assessment\n\nCapture Quality:\n- Document completeness\n- Corner visibility\n- Background clarity\n- Text legibility\n\nRESPONSE FORMAT:\n{\n    \"documentAnalysis\": {\n        \"identified\": {\n            \"type\": \"string [UTE_INVOICE, BPS_RECEIPT, etc.]\",\n            \"confidence\": \"number (0-1)\"\n        },\n        \"quality\": {\n            \"isValid\": \"boolean\",\n            \"technicalIssues\": [\"array of strings\"],\n            \"captureIssues\": [\"array of strings\"]\n        },\n        \"validation\": {\n            \"requiredElements\": {\n                \"present\": [\"array of strings\"],\n                \"missing\": [\"array of strings\"]\n            },\n            \"overallStatus\": \"boolean\"\n        }\n    }\n}\n\nVALIDATION RULES:\n1. Each document type has specific required elements\n2. Quality requirements apply to all documents\n3. Missing required elements invalidate the document\n4. Document type must be identified before validation\n5. Unknown document types return type: \"UNKNOWN\"","hasOutputParser":true,"messages":{"messageValues":[{"message":"=Complete Guide for Financial Document Analysis in Uruguay\n\n1. Technical Image Requirements\nThe photo must meet:\nMinimum resolution of 600x750 pixels\nSize between 50KB and 10MB\nColor (not black and white)\nNo digital edits or alterations\nFormat JPG, PNG or PDF\n\n2. Capture Requirements\nFundamental Elements:\nComplete document visible in frame\nAll corners visible\nNo shadows hiding information\nNo reflections or glare\nClean, clear background\nCompletely legible text\n\n3. Critical Information to Identify\n\nA. Identification Data:\nCompany RUT\nInvoice/document number\nDocument type (invoice, e-ticket, salary receipt)\nIssue and expiration period\n\nB. Beneficiary/Client Information:\nFull name\nDocument number (CI/RUT)\nAddress\nPosition or role (for salary receipts)\n\nC. Key Amount Identification\nFor Salary Receipts:\nNOMINAL: Gross amount before deductions\nLIQUID: Final amount after all deductions\nBreakdown of:\n  - Base salary\n  - Supplements\n  - Overtime\n  - Annual bonus\n  - Other benefits\n\nDeductions and Retentions:\nSNIS (National Health System)\nIASS (Social Security Assistance Tax)\nLegal retentions\nOther specific deductions\n\nD. For Invoices:\nSubtotal\nItemized VAT\nFinal total\nPayment method\nPayment status\n\n4. Verification Elements\nClearly visible subtotals\nCorrect calculations between amounts\nCorresponding payment period\nIssue and due dates\nRequired signatures and stamps\n\n5. Accepted Document Types\nSalary receipts\nInvoices (e-Invoices)\nE-tickets\nPayment receipts\nAccount statements\nPayment certificates\nBank transfer receipts\n\n6. Authenticity Verification\nQR Code (if applicable)\nCAE Number\nDigital stamps\nAuthorized signatures\nInstitutional stamps\n\n7. Special Considerations\nFor multiple documents, photograph each page separately\nContinuous documents require complete capture\nDocuments with information on both sides require both photographs\nPrefer original digital versions when available\n\n8. Warnings and Restrictions\nDocuments not accepted if:\n  - Cut or partially visible\n  - With crossouts or manual corrections\n  - Expired or out of date\n  - With irrelevant sensitive personal information\n  - Illegible or blurry\n\n9. Final Validation Elements\nVerify all amounts match correctly\nConfirm dates are consistent\nEnsure all critical information is visible\nValidate deductions and retentions comply with current regulations\n\n10. Additional Required Information\nBilling period\nPayment method\nPaying entity\nControl or reference number\nIssuer contact information\n\nAnalyze the provided financial document image and return a JSON response following exactly this structure:\n1. Validate if the document is valid and meets quality requirements\n2. Extract all relevant information including amounts, dates, and identifiers\n3. Format the response according to the specified JSON schema\n4. Include any validation errors found\n\nThe response must include all required fields: is_valid, photo_quality, and document_data."},{"type":"HumanMessagePromptTemplate","messageType":"imageBinary"}]}},"id":"f8a075d0-ab78-471e-8a8e-b6527eac9546","name":"Bill and charge Photo Validator","type":"@n8n/n8n-nodes-langchain.chainLlm","position":[260,-840],"typeVersion":1.4},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{"responseFormat":"text"}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[220,-620],"id":"17943cce-5539-4cd5-8966-85f83d29d964","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"Xhw7jhGubqs4BVIn","name":"OpenAi ai_agent"}}},{"parameters":{"jsonSchemaExample":"{\n    \"output\": {\n        \"is_valid\": true,\n        \"photo_quality\": {\n            \"description\": \"The document image is clear and well-lit, showing a salary receipt from BPS with all corners visible and text legible\",\n            \"meets_requirements\": true,\n            \"resolution\": {\n                \"width\": 800,\n                \"height\": 1200\n            },\n            \"file_size\": 250\n        },\n        \"document_data\": {\n            \"document_type\": \"salary_receipt\",\n            \"control_number\": \"1111111\",\n            \"issue_date\": \"2024/11\",\n            \"period\": {\n                \"start_date\": \"2024-11-01\",\n                \"end_date\": \"2024-11-30\"\n            },\n            \"issuer\": {\n                \"name\": \"ABITAB S.A\",\n                \"rut\": \"26\"\n            },\n            \"recipient\": {\n                \"name\": \"ejemplo ejemplo\",\n                \"document_id\": \"111111111\"\n            },\n            \"amounts\": {\n                \"nominal\": 104441.00,\n                \"liquid\": 70605.00,\n                \"currency\": \"UYU\"\n            },\n            \"deductions\": [\n                {\n                    \"description\": \"SNIS 4.5%\",\n                    \"amount\": 4700.00,\n                    \"type\": \"health_insurance\"\n                },\n                {\n                    \"description\": \"IASS\",\n                    \"amount\": 5793.00,\n                    \"type\": \"tax\"\n                }\n            ],\n            \"payment_info\": {\n                \"method\": \"Efectivo\",\n                \"status\": \"Pending\",\n                \"payment_date\": \"2024-12-13\"\n            }\n        },\n        \"validation_errors\": []\n    }\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[420,-620],"id":"3be037e7-1eb4-4275-ae1d-0a1a3f6e624b","name":"Structured Output Parser"},{"parameters":{"functionCode":"function transformarYProcesarDatos(datosImagen) {\n    try {\n        // Funciones auxiliares\n        function calculoMargenUY(nominal, liquido) {\n            const minimoLegalUY = nominal * 0.35;\n            const diferencia = liquido - minimoLegalUY;\n            const margenMinimo = 3000;\n            return {\n                tieneMargen: diferencia > margenMinimo,\n                margenDisponible: diferencia\n            };\n        }\n\n        function obtenerMensajeSegunTipo(tipoUsuario, resultado) {\n            return resultado.tieneMargen \n                ? obtenerMensajeAprobado(tipoUsuario)\n                : obtenerMensajeRechazado(tipoUsuario);\n        }\n\n        function obtenerMensajeAprobado(tipoUsuario) {\n            if (tipoUsuario === 'empleado') {\n                return `Está en condiciones de solicitar un crédito. Por favor, envíenos fotos nítidas y legibles de la siguiente documentación:\\n\\n• 𝗖𝗲́𝗱𝘂𝗹𝗮 𝗱𝗲 𝗶𝗱𝗲𝗻𝘁𝗶𝗱𝗮𝗱 𝘃𝗶𝗴𝗲𝗻𝘁𝗲\\n• 𝗨́𝗹𝘁𝗶𝗺𝗼𝘀 𝗱𝗼𝘀 𝗿𝗲𝗰𝗶𝗯𝗼𝘀 𝗱𝗲 𝘀𝘂𝗲𝗹𝗱𝗼\\n• 𝗖𝗼𝗻𝘀𝘁𝗮𝗻𝗰𝗶𝗮 𝗱𝗲 𝗱𝗼𝗺𝗶𝗰𝗶𝗹𝗶𝗼 (𝗽𝘂𝗲𝗱𝗲 𝘀𝗲𝗿 𝘂𝗻 𝗿𝗲𝗰𝗶𝗯𝗼 𝗱𝗲 𝗨𝗧𝗘, 𝗢𝗦𝗘, 𝗔𝗡𝗧𝗘𝗟, 𝗲𝘀𝘁𝗮𝗱𝗼 𝗱𝗲 𝗰𝘂𝗲𝗻𝘁𝗮, 𝗲𝘁𝗰.) \\n\\n𝗨𝗻𝗮 𝘃𝗲𝘇 𝗿𝗲𝗰𝗶𝗯𝗶𝗱𝗼𝘀, 𝗽𝗿𝗼𝗰𝗲𝗱𝗲𝗿𝗲𝗺𝗼𝘀 𝗮 𝗲𝘃𝗮𝗹𝘂𝗮𝗿 𝘀𝘂 𝘀𝗼𝗹𝗶𝗰𝗶𝘁𝘂𝗱, 𝗱𝗲𝗻𝘁𝗿𝗼 𝗱𝗲𝗹 𝗵𝗼𝗿𝗮𝗿𝗶𝗼 𝗱𝗲 𝗮𝘁𝗲𝗻𝗰𝗶𝗼́𝗻 𝗮𝗹 𝗽𝘂́𝗯𝗹𝗶𝗰𝗼, 𝗹𝘂𝗻𝗲𝘀 𝗮 𝘃𝗶𝗲𝗿𝗻𝗲𝘀 𝗱𝗲 𝟵 𝗮 𝟭𝟳 𝗵𝗼𝗿𝗮𝘀.`;\n            } else {\n                return `Está en condiciones de solicitar un crédito. Por favor, envíenos fotos nítidas y legibles de la siguiente documentación:\\n\\n• 𝗖𝗲́𝗱𝘂𝗹𝗮 𝗱𝗲 𝗶𝗱𝗲𝗻𝘁𝗶𝗱𝗮𝗱 𝘃𝗶𝗴𝗲𝗻𝘁𝗲\\n• 𝗨́𝗹𝘁𝗶𝗺𝗼𝘀 𝗱𝗼𝘀 𝗿𝗲𝗰𝗶𝗯𝗼𝘀 𝗱𝗲 𝗹𝗮 𝗽𝗮𝘀𝗶𝘃𝗶𝗱𝗮𝗱\\n• 𝗖𝗼𝗻𝘀𝘁𝗮𝗻𝗰𝗶𝗮 𝗱𝗲 𝗱𝗼𝗺𝗶𝗰𝗶𝗹𝗶𝗼 (𝗽𝘂𝗲𝗱𝗲 𝘀𝗲𝗿 𝘂𝗻 𝗿𝗲𝗰𝗶𝗯𝗼 𝗱𝗲 𝗨𝗧𝗘, 𝗢𝗦𝗘, 𝗔𝗡𝗧𝗘𝗟, 𝗲𝘀𝘁𝗮𝗱𝗼 𝗱𝗲 𝗰𝘂𝗲𝗻𝘁𝗮, 𝗲𝘁𝗰.) \\n\\n𝗨𝗻𝗮 𝘃𝗲𝘇 𝗿𝗲𝗰𝗶𝗯𝗶𝗱𝗼𝘀, 𝗽𝗿𝗼𝗰𝗲𝗱𝗲𝗿𝗲𝗺𝗼𝘀 𝗮 𝗲𝘃𝗮𝗹𝘂𝗮𝗿 𝘀𝘂 𝘀𝗼𝗹𝗶𝗰𝗶𝘁𝘂𝗱, 𝗱𝗲𝗻𝘁𝗿𝗼 𝗱𝗲𝗹 𝗵𝗼𝗿𝗮𝗿𝗶𝗼 𝗱𝗲 𝗮𝘁𝗲𝗻𝗰𝗶𝗼́𝗻 𝗮𝗹 𝗽𝘂́𝗯𝗹𝗶𝗰𝗼, 𝗹𝘂𝗻𝗲𝘀 𝗮 𝘃𝗶𝗲𝗿𝗻𝗲𝘀 𝗱𝗲 𝟵 𝗮 𝟭𝟳 𝗵𝗼𝗿𝗮𝘀.`;\n            }\n        }\n\n        function obtenerMensajeRechazado(tipoUsuario) {\n            return `Gracias por su consulta. Por ahora no cuenta con el margen necesario, puede consultar más adelante.`;\n        }\n\n        // Verificar y extraer los datos\n        if (!datosImagen || !datosImagen.output || !datosImagen.output.output) {\n            throw new Error(\"Estructura de datos inválida o incompleta\");\n        }\n\n        const documentData = datosImagen.output.output.document_data;\n        const amounts = documentData.amounts;\n\n        // Extraer y validar montos\n        const montoNominal = parseFloat(amounts.nominal);\n        const montoLiquido = parseFloat(amounts.liquid);\n\n        if (isNaN(montoNominal) || isNaN(montoLiquido)) {\n            throw new Error(\"Los montos no son números válidos\");\n        }\n\n        // Validaciones adicionales\n        if (montoLiquido >= montoNominal) {\n            throw new Error(\"El monto líquido no puede ser mayor o igual al monto nominal\");\n        }\n\n        if (montoNominal < 0 || montoLiquido < 0) {\n            throw new Error(\"Los montos no pueden ser negativos\");\n        }\n\n        // Calcular margen y obtener mensaje\n        const resultado = calculoMargenUY(montoNominal, montoLiquido);\n        const tipoUsuario = documentData.issuer?.name?.toUpperCase().includes('BPS') ? 'jubilado' : 'empleado';\n        const mensajeRespuesta = obtenerMensajeSegunTipo(tipoUsuario, resultado);\n\n        // Retornar respuesta completa\n        return {\n            status: \"success\",\n            message: mensajeRespuesta,\n            data: {\n                tipoUsuario,\n                tieneMargen: resultado.tieneMargen,\n                margenDisponible: resultado.margenDisponible,\n                parametros: {\n                    parameters: tipoUsuario === 'jubilado' ? {\n                        montoNominal_jubilado: montoNominal.toString(),\n                        montoLiquido_jubilado: montoLiquido.toString()\n                    } : {\n                        montoNominal_empleado: montoNominal.toString(),\n                        montoLiquido_empleado: montoLiquido.toString()\n                    }\n                }\n            }\n        };\n\n    } catch (error) {\n        console.error(\"Error en el procesamiento:\", error);\n        return {\n            status: \"error\",\n            message: error.message,\n            debug: {\n                error: error.message,\n                stack: error.stack\n            }\n        };\n    }\n}\n\n// Código principal para n8n\nconst items = $input.all();\nif (items && items.length > 0 && items[0].json) {\n    const datosImagen = items[0].json;\n    return transformarYProcesarDatos(datosImagen);\n} else {\n    return {\n        status: \"error\",\n        message: \"No se encontraron datos en la entrada\",\n        debug: {\n            items: items\n        }\n    };\n}"},"name":"Code","type":"n8n-nodes-base.function","typeVersion":1,"position":[620,-840],"id":"c61ddac1-57e4-4735-b463-8b4268094d07","alwaysOutputData":false},{"parameters":{"url":"={{ $json.body.message.message.attachment.url }}","options":{}},"id":"05f1f86e-f8c0-455f-8844-746126c80805","name":"Download Image","type":"n8n-nodes-base.httpRequest","position":[-200,-840],"typeVersion":4.2},{"parameters":{"assignments":{"assignments":[{"id":"d990cbd6-a408-4ec4-a889-41be698918d9","name":"message_type","type":"string","value":"={{ $('Switch').item.json.body.message.message.type }}"},{"id":"23b785c3-f38e-4706-80b7-51f333bba3bd","name":"message_text","type":"string","value":"={{ $json.text }}"},{"id":"da4b602a-28ca-4b0d-a747-c3d3698c3731","name":"message_caption","type":"string","value":"={{ $('Switch').item.json.body.message.message.attachment }}"},{"id":"714e325f-aa72-43f0-bf79-1fbb1bc886cc","name":"userId","value":"={{ $('Webhook').item.json.body.contact.id }}","type":"string"},{"id":"296268a0-fd3e-47e6-95ae-d220ad95b444","name":"channelId","value":"={{ $('Webhook').item.json.body.message.channelId }}","type":"string"}]},"options":{}},"id":"3139b29a-5c8c-4f26-b323-2a4e21500c37","name":"Get User's Message","type":"n8n-nodes-base.set","position":[1400,-300],"typeVersion":3.4},{"parameters":{"content":"## 1. Analyse Image Messages 🏞️\n### For image messages, we can use GPT4o to explain what is going on in the message for our AI Agent.","height":537,"width":1497,"color":6},"id":"c0c81012-b94c-4622-9f26-c1e14aac3d18","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[-380,-940],"typeVersion":1},{"parameters":{"url":"={{ $json.body.message.message.attachment.url }}","options":{}},"id":"008bd99f-7e7c-49cb-9013-3a17354532bf","name":"Download Audio","type":"n8n-nodes-base.httpRequest","position":[-340,-220],"typeVersion":4.2},{"parameters":{"content":"## 2. Transcribe Audio Messages 💬\n### For audio messages or voice notes, we can use Gemini Google to transcribe the message for our AI Agent.","height":537,"width":1497,"color":5},"id":"e251d6b4-1771-4d3a-bcf1-220d27b97b74","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-380,-360],"typeVersion":1},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-pro-002:generateContent","authentication":"predefinedCredentialType","nodeCredentialType":"googlePalmApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{\n{\n  \"contents\": [{\n    \"parts\":[\n      {\"text\": \"Transcribe this audio\"},\n      {\"inlineData\": {\n        \"mimeType\": `audio/${$binary.data.fileExtension}`,\n        \"data\": $input.item.binary.data.data }\n      }\n    ]\n  }]\n}\n}}","options":{"batching":{"batch":{"batchSize":10}}}},"id":"e0552961-b2bf-416b-933b-7156bbc1e922","name":"Google Gemini Audio","type":"n8n-nodes-base.httpRequest","position":[-100,-220],"typeVersion":4.2,"credentials":{"googlePalmApi":{"id":"HaVC7pJc5uUNt90e","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"assignments":{"assignments":[{"id":"2ec0e573-373b-4692-bfae-86b6d3b9aa9a","name":"text","type":"string","value":"={{ $json.candidates[0].content.parts[0].text }}"}]},"options":{}},"id":"5b139a99-8f55-4c26-800b-74cb78f18803","name":"Format Response1","type":"n8n-nodes-base.set","position":[200,-220],"typeVersion":3.4},{"parameters":{"content":"## 5. Generate Response with AI Agent\n[Read more about the AI Agent node](https://docs.n8n.io/integrations/builtin/cluster-nodes/root-nodes/n8n-nodes-langchain.agent)\n\nNow that we'll able to handle all message types from WhatsApp, we could do pretty much anything we want with it by giving it our AI agent. Examples could include handling customer support, helping to book appointments or verifying documents.\n\nIn this demonstration, we'll just create a simple AI Agent which responds to our WhatsApp user's message and returns a simple response.","height":713,"width":481,"color":7},"id":"f5cbf6fe-abfb-4035-83a0-9c31f5f8b930","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[1900,-500],"typeVersion":1},{"parameters":{"promptType":"define","text":"=The user sent the following message\nmessage type: {{ $json.message_type }}\nmessage text or description:\n```{{ $json.message_text }}```\n{{ $json.message_caption ? `message caption: ${$json.message_caption.trim()}` : '' }}","options":{"systemMessage":"You are a financial assistance bot for COMAYC, a credit cooperative in Uruguay. ALWAYS RESPOND IN SPANISH.\n\nABOUT COMAYC:\n- Credit cooperative specializing in personal loans\n- Over 30 years of experience\n- Located in Uruguay\n- Focuses on helping members with financial solutions\n- Operates Monday to Friday, 9:00 AM to 5:00 PM\n\nDOCUMENT HANDLING RULES:\nWhen receiving analyzed information from previous nodes:\n\n1. For Document Analysis Results:\n- If valid: Proceed with credit evaluation\n- If invalid: Explain what documentation is missing or incorrect\n- Always verify amounts match COMAYC's loan criteria\n\n2. For Audio Transcription Results:\n- Acknowledge stated amounts\n- ALWAYS include: \"Para procesar su solicitud, necesitamos que nos envíe documentación oficial que respalde los montos mencionados (recibo de sueldo vigente)\"\n- Guide towards proper documentation submission\n\n3. For General Inquiries:\n- Provide relevant COMAYC information\n- Explain loan requirements\n- Direct to appropriate channels\n\nKEY RESPONSE ELEMENTS:\n- Always in Spanish\n- Professional and helpful tone\n- Clear next steps\n- Reference to documentation requirements when needed\n- Contact information when relevant\n\nRemember: Your responses should complement the technical analysis from previous nodes while maintaining COMAYC's service standards."}},"id":"eea591d6-4d57-4805-834a-a9ca632a7a88","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[2060,-200],"typeVersion":1.6},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2040,40],"id":"be9c6f31-d117-4993-adb2-66f8dc5b825d","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"Xhw7jhGubqs4BVIn","name":"OpenAi ai_agent"}}},{"parameters":{"assignments":{"assignments":[{"id":"23b785c3-f38e-4706-80b7-51f333bba3bd","name":"text","type":"string","value":"={{ $json.message }}"}]},"options":{}},"id":"087318f8-c246-4d7e-b12d-4f05684519d8","name":"Get User's Message1","type":"n8n-nodes-base.set","position":[820,-840],"typeVersion":3.4},{"parameters":{"content":"## 3. Read File Messages 💬\n### For File messages or text, we can use GPT4o to understand the message for our AI Agent.","height":557,"width":1517,"color":4},"id":"da65a2bf-62e6-4518-a117-1cc2f8e7ab02","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-380,240],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"2ec0e573-373b-4692-bfae-86b6d3b9aa9a","name":"text","type":"string","value":"={{ $json.message }}"}]},"options":{}},"id":"a359f78f-c6e2-431e-83cc-5b7951395142","name":"Format Response2","type":"n8n-nodes-base.set","position":[1400,-100],"typeVersion":3.4},{"parameters":{"url":"={{ $json.body.message.message.attachment.url }}","options":{}},"id":"7a2d70ed-8ef3-4994-9f22-d7a444f46cd9","name":"Download File","type":"n8n-nodes-base.httpRequest","position":[-280,400],"typeVersion":4.2},{"parameters":{"method":"POST","url":"=https://api.respond.io/v2/contact/id:{{ $('Get User\\'s Message').item.json.userId }}/message ","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6MTE2MTAsInNwYWNlSWQiOjg0ODMsIm9yZ0lkIjoyNTcxMzAsInR5cGUiOiJhcGkiLCJpYXQiOjE3NDEyMDIwMjl9.CGqiiLXyuAP0uUIRFjzRIUqfcNI3xmiShzvrkipeZaU"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"message.type","value":"text"},{"name":"message.text","value":"={{ $json.output }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2620,-200],"id":"0c4f7816-a89c-4eca-9447-950236f144b8","name":"Send Message Respond"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{"responseFormat":"text"}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[340,640],"id":"125a7cc9-aeb1-4919-b12c-b4801b11be01","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"Xhw7jhGubqs4BVIn","name":"OpenAi ai_agent"}}},{"parameters":{"jsonSchemaExample":"{\n    \"output\": {\n        \"is_valid\": true,\n        \"photo_quality\": {\n            \"description\": \"The document image is clear and well-lit, showing a salary receipt from BPS with all corners visible and text legible\",\n            \"meets_requirements\": true,\n            \"resolution\": {\n                \"width\": 800,\n                \"height\": 1200\n            },\n            \"file_size\": 250\n        },\n        \"document_data\": {\n            \"document_type\": \"salary_receipt\",\n            \"control_number\": \"1111111\",\n            \"issue_date\": \"2024/11\",\n            \"period\": {\n                \"start_date\": \"2024-11-01\",\n                \"end_date\": \"2024-11-30\"\n            },\n            \"issuer\": {\n                \"name\": \"ABITAB S.A\",\n                \"rut\": \"26\"\n            },\n            \"recipient\": {\n                \"name\": \"ejemplo ejemplo\",\n                \"document_id\": \"111111111\"\n            },\n            \"amounts\": {\n                \"nominal\": 104441.00,\n                \"liquid\": 70605.00,\n                \"currency\": \"UYU\"\n            },\n            \"deductions\": [\n                {\n                    \"description\": \"SNIS 4.5%\",\n                    \"amount\": 4700.00,\n                    \"type\": \"health_insurance\"\n                },\n                {\n                    \"description\": \"IASS\",\n                    \"amount\": 5793.00,\n                    \"type\": \"tax\"\n                }\n            ],\n            \"payment_info\": {\n                \"method\": \"Efectivo\",\n                \"status\": \"Pending\",\n                \"payment_date\": \"2024-12-13\"\n            }\n        },\n        \"validation_errors\": []\n    }\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[520,640],"id":"962a55e4-3059-4d9f-8929-f19e869bbd95","name":"Structured Output Parser1"},{"parameters":{"functionCode":"function transformarYProcesarDatos(datosImagen) {\n    try {\n        // Funciones auxiliares\n        function calculoMargenUY(nominal, liquido) {\n            const minimoLegalUY = nominal * 0.35;\n            const diferencia = liquido - minimoLegalUY;\n            const margenMinimo = 3000;\n            return {\n                tieneMargen: diferencia > margenMinimo,\n                margenDisponible: diferencia\n            };\n        }\n\n        function obtenerMensajeSegunTipo(tipoUsuario, resultado) {\n            return resultado.tieneMargen \n                ? obtenerMensajeAprobado(tipoUsuario)\n                : obtenerMensajeRechazado(tipoUsuario);\n        }\n\n        function obtenerMensajeAprobado(tipoUsuario) {\n            if (tipoUsuario === 'empleado') {\n                return `Está en condiciones de solicitar un crédito. Por favor, envíenos fotos nítidas y legibles de la siguiente documentación:\\n\\n• 𝗖𝗲́𝗱𝘂𝗹𝗮 𝗱𝗲 𝗶𝗱𝗲𝗻𝘁𝗶𝗱𝗮𝗱 𝘃𝗶𝗴𝗲𝗻𝘁𝗲\\n• 𝗨́𝗹𝘁𝗶𝗺𝗼𝘀 𝗱𝗼𝘀 𝗿𝗲𝗰𝗶𝗯𝗼𝘀 𝗱𝗲 𝘀𝘂𝗲𝗹𝗱𝗼\\n• 𝗖𝗼𝗻𝘀𝘁𝗮𝗻𝗰𝗶𝗮 𝗱𝗲 𝗱𝗼𝗺𝗶𝗰𝗶𝗹𝗶𝗼 (𝗽𝘂𝗲𝗱𝗲 𝘀𝗲𝗿 𝘂𝗻 𝗿𝗲𝗰𝗶𝗯𝗼 𝗱𝗲 𝗨𝗧𝗘, 𝗢𝗦𝗘, 𝗔𝗡𝗧𝗘𝗟, 𝗲𝘀𝘁𝗮𝗱𝗼 𝗱𝗲 𝗰𝘂𝗲𝗻𝘁𝗮, 𝗲𝘁𝗰.) \\n\\n𝗨𝗻𝗮 𝘃𝗲𝘇 𝗿𝗲𝗰𝗶𝗯𝗶𝗱𝗼𝘀, 𝗽𝗿𝗼𝗰𝗲𝗱𝗲𝗿𝗲𝗺𝗼𝘀 𝗮 𝗲𝘃𝗮𝗹𝘂𝗮𝗿 𝘀𝘂 𝘀𝗼𝗹𝗶𝗰𝗶𝘁𝘂𝗱, 𝗱𝗲𝗻𝘁𝗿𝗼 𝗱𝗲𝗹 𝗵𝗼𝗿𝗮𝗿𝗶𝗼 𝗱𝗲 𝗮𝘁𝗲𝗻𝗰𝗶𝗼́𝗻 𝗮𝗹 𝗽𝘂́𝗯𝗹𝗶𝗰𝗼, 𝗹𝘂𝗻𝗲𝘀 𝗮 𝘃𝗶𝗲𝗿𝗻𝗲𝘀 𝗱𝗲 𝟵 𝗮 𝟭𝟳 𝗵𝗼𝗿𝗮𝘀.`;\n            } else {\n                return `Está en condiciones de solicitar un crédito. Por favor, envíenos fotos nítidas y legibles de la siguiente documentación:\\n\\n• 𝗖𝗲́𝗱𝘂𝗹𝗮 𝗱𝗲 𝗶𝗱𝗲𝗻𝘁𝗶𝗱𝗮𝗱 𝘃𝗶𝗴𝗲𝗻𝘁𝗲\\n• 𝗨́𝗹𝘁𝗶𝗺𝗼𝘀 𝗱𝗼𝘀 𝗿𝗲𝗰𝗶𝗯𝗼𝘀 𝗱𝗲 𝗹𝗮 𝗽𝗮𝘀𝗶𝘃𝗶𝗱𝗮𝗱\\n• 𝗖𝗼𝗻𝘀𝘁𝗮𝗻𝗰𝗶𝗮 𝗱𝗲 𝗱𝗼𝗺𝗶𝗰𝗶𝗹𝗶𝗼 (𝗽𝘂𝗲𝗱𝗲 𝘀𝗲𝗿 𝘂𝗻 𝗿𝗲𝗰𝗶𝗯𝗼 𝗱𝗲 𝗨𝗧𝗘, 𝗢𝗦𝗘, 𝗔𝗡𝗧𝗘𝗟, 𝗲𝘀𝘁𝗮𝗱𝗼 𝗱𝗲 𝗰𝘂𝗲𝗻𝘁𝗮, 𝗲𝘁𝗰.) \\n\\n𝗨𝗻𝗮 𝘃𝗲𝘇 𝗿𝗲𝗰𝗶𝗯𝗶𝗱𝗼𝘀, 𝗽𝗿𝗼𝗰𝗲𝗱𝗲𝗿𝗲𝗺𝗼𝘀 𝗮 𝗲𝘃𝗮𝗹𝘂𝗮𝗿 𝘀𝘂 𝘀𝗼𝗹𝗶𝗰𝗶𝘁𝘂𝗱, 𝗱𝗲𝗻𝘁𝗿𝗼 𝗱𝗲𝗹 𝗵𝗼𝗿𝗮𝗿𝗶𝗼 𝗱𝗲 𝗮𝘁𝗲𝗻𝗰𝗶𝗼́𝗻 𝗮𝗹 𝗽𝘂́𝗯𝗹𝗶𝗰𝗼, 𝗹𝘂𝗻𝗲𝘀 𝗮 𝘃𝗶𝗲𝗿𝗻𝗲𝘀 𝗱𝗲 𝟵 𝗮 𝟭𝟳 𝗵𝗼𝗿𝗮𝘀.`;\n            }\n        }\n\n        function obtenerMensajeRechazado(tipoUsuario) {\n            return `Gracias por su consulta. Por ahora no cuenta con el margen necesario, puede consultar más adelante.`;\n        }\n\n        // Verificar y extraer los datos\n        if (!datosImagen || !datosImagen.output || !datosImagen.output.output) {\n            throw new Error(\"Estructura de datos inválida o incompleta\");\n        }\n\n        const documentData = datosImagen.output.output.document_data;\n        const amounts = documentData.amounts;\n\n        // Extraer y validar montos\n        const montoNominal = parseFloat(amounts.nominal);\n        const montoLiquido = parseFloat(amounts.liquid);\n\n        if (isNaN(montoNominal) || isNaN(montoLiquido)) {\n            throw new Error(\"Los montos no son números válidos\");\n        }\n\n        // Validaciones adicionales\n        if (montoLiquido >= montoNominal) {\n            throw new Error(\"El monto líquido no puede ser mayor o igual al monto nominal\");\n        }\n\n        if (montoNominal < 0 || montoLiquido < 0) {\n            throw new Error(\"Los montos no pueden ser negativos\");\n        }\n\n        // Calcular margen y obtener mensaje\n        const resultado = calculoMargenUY(montoNominal, montoLiquido);\n        const tipoUsuario = documentData.issuer?.name?.toUpperCase().includes('BPS') ? 'jubilado' : 'empleado';\n        const mensajeRespuesta = obtenerMensajeSegunTipo(tipoUsuario, resultado);\n\n        // Retornar respuesta completa\n        return {\n            status: \"success\",\n            message: mensajeRespuesta,\n            data: {\n                tipoUsuario,\n                tieneMargen: resultado.tieneMargen,\n                margenDisponible: resultado.margenDisponible,\n                parametros: {\n                    parameters: tipoUsuario === 'jubilado' ? {\n                        montoNominal_jubilado: montoNominal.toString(),\n                        montoLiquido_jubilado: montoLiquido.toString()\n                    } : {\n                        montoNominal_empleado: montoNominal.toString(),\n                        montoLiquido_empleado: montoLiquido.toString()\n                    }\n                }\n            }\n        };\n\n    } catch (error) {\n        console.error(\"Error en el procesamiento:\", error);\n        return {\n            status: \"error\",\n            message: error.message,\n            debug: {\n                error: error.message,\n                stack: error.stack\n            }\n        };\n    }\n}\n\n// Código principal para n8n\nconst items = $input.all();\nif (items && items.length > 0 && items[0].json) {\n    const datosImagen = items[0].json;\n    return transformarYProcesarDatos(datosImagen);\n} else {\n    return {\n        status: \"error\",\n        message: \"No se encontraron datos en la entrada\",\n        debug: {\n            items: items\n        }\n    };\n}"},"name":"Code1","type":"n8n-nodes-base.function","typeVersion":1,"position":[860,400],"id":"3d5e33b8-2ce4-4eed-a5fe-9b35637c8040","alwaysOutputData":false},{"parameters":{"operation":"pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-20,400],"id":"2437b9d2-27ba-4440-82a5-a049359808bd","name":"Extract from File"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{"responseFormat":"text"}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[500,20],"id":"493cdf35-c71b-44bd-ba89-9d908d433f5d","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"Xhw7jhGubqs4BVIn","name":"OpenAi ai_agent"}}},{"parameters":{"jsonSchemaExample":"{\n    \"output\": {\n        \"is_valid\": true,\n        \"photo_quality\": {\n            \"description\": \"The document image is clear and well-lit, showing a salary receipt from BPS with all corners visible and text legible\",\n            \"meets_requirements\": true,\n            \"resolution\": {\n                \"width\": 800,\n                \"height\": 1200\n            },\n            \"file_size\": 250\n        },\n        \"document_data\": {\n            \"document_type\": \"salary_receipt\",\n            \"control_number\": \"1111111\",\n            \"issue_date\": \"2024/11\",\n            \"period\": {\n                \"start_date\": \"2024-11-01\",\n                \"end_date\": \"2024-11-30\"\n            },\n            \"issuer\": {\n                \"name\": \"ABITAB S.A\",\n                \"rut\": \"26\"\n            },\n            \"recipient\": {\n                \"name\": \"ejemplo ejemplo\",\n                \"document_id\": \"111111111\"\n            },\n            \"amounts\": {\n                \"nominal\": 104441.00,\n                \"liquid\": 70605.00,\n                \"currency\": \"UYU\"\n            },\n            \"deductions\": [\n                {\n                    \"description\": \"SNIS 4.5%\",\n                    \"amount\": 4700.00,\n                    \"type\": \"health_insurance\"\n                },\n                {\n                    \"description\": \"IASS\",\n                    \"amount\": 5793.00,\n                    \"type\": \"tax\"\n                }\n            ],\n            \"payment_info\": {\n                \"method\": \"Efectivo\",\n                \"status\": \"Pending\",\n                \"payment_date\": \"2024-12-13\"\n            }\n        },\n        \"validation_errors\": []\n    }\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[680,20],"id":"1bfbae8e-a8a0-447c-80b1-a8339bdef112","name":"Structured Output Parser2"},{"parameters":{"functionCode":"function transformarYProcesarDatos(datosImagen) {\n    try {\n        // Funciones auxiliares\n        function calculoMargenUY(nominal, liquido) {\n            const minimoLegalUY = nominal * 0.35;\n            const diferencia = liquido - minimoLegalUY;\n            const margenMinimo = 3000;\n            return {\n                tieneMargen: diferencia > margenMinimo,\n                margenDisponible: diferencia\n            };\n        }\n\n        function obtenerMensajeSegunTipo(tipoUsuario, resultado) {\n            return resultado.tieneMargen \n                ? obtenerMensajeAprobado(tipoUsuario)\n                : obtenerMensajeRechazado(tipoUsuario);\n        }\n\n        function obtenerMensajeAprobado(tipoUsuario) {\n            if (tipoUsuario === 'empleado') {\n                return `Está en condiciones de solicitar un crédito. Por favor, envíenos fotos nítidas y legibles de la siguiente documentación:\\n\\n• 𝗖𝗲́𝗱𝘂𝗹𝗮 𝗱𝗲 𝗶𝗱𝗲𝗻𝘁𝗶𝗱𝗮𝗱 𝘃𝗶𝗴𝗲𝗻𝘁𝗲\\n• 𝗨́𝗹𝘁𝗶𝗺𝗼𝘀 𝗱𝗼𝘀 𝗿𝗲𝗰𝗶𝗯𝗼𝘀 𝗱𝗲 𝘀𝘂𝗲𝗹𝗱𝗼\\n• 𝗖𝗼𝗻𝘀𝘁𝗮𝗻𝗰𝗶𝗮 𝗱𝗲 𝗱𝗼𝗺𝗶𝗰𝗶𝗹𝗶𝗼 (𝗽𝘂𝗲𝗱𝗲 𝘀𝗲𝗿 𝘂𝗻 𝗿𝗲𝗰𝗶𝗯𝗼 𝗱𝗲 𝗨𝗧𝗘, 𝗢𝗦𝗘, 𝗔𝗡𝗧𝗘𝗟, 𝗲𝘀𝘁𝗮𝗱𝗼 𝗱𝗲 𝗰𝘂𝗲𝗻𝘁𝗮, 𝗲𝘁𝗰.) \\n\\n𝗨𝗻𝗮 𝘃𝗲𝘇 𝗿𝗲𝗰𝗶𝗯𝗶𝗱𝗼𝘀, 𝗽𝗿𝗼𝗰𝗲𝗱𝗲𝗿𝗲𝗺𝗼𝘀 𝗮 𝗲𝘃𝗮𝗹𝘂𝗮𝗿 𝘀𝘂 𝘀𝗼𝗹𝗶𝗰𝗶𝘁𝘂𝗱, 𝗱𝗲𝗻𝘁𝗿𝗼 𝗱𝗲𝗹 𝗵𝗼𝗿𝗮𝗿𝗶𝗼 𝗱𝗲 𝗮𝘁𝗲𝗻𝗰𝗶𝗼́𝗻 𝗮𝗹 𝗽𝘂́𝗯𝗹𝗶𝗰𝗼, 𝗹𝘂𝗻𝗲𝘀 𝗮 𝘃𝗶𝗲𝗿𝗻𝗲𝘀 𝗱𝗲 𝟵 𝗮 𝟭𝟳 𝗵𝗼𝗿𝗮𝘀.`;\n            } else {\n                return `Está en condiciones de solicitar un crédito. Por favor, envíenos fotos nítidas y legibles de la siguiente documentación:\\n\\n• 𝗖𝗲́𝗱𝘂𝗹𝗮 𝗱𝗲 𝗶𝗱𝗲𝗻𝘁𝗶𝗱𝗮𝗱 𝘃𝗶𝗴𝗲𝗻𝘁𝗲\\n• 𝗨́𝗹𝘁𝗶𝗺𝗼𝘀 𝗱𝗼𝘀 𝗿𝗲𝗰𝗶𝗯𝗼𝘀 𝗱𝗲 𝗹𝗮 𝗽𝗮𝘀𝗶𝘃𝗶𝗱𝗮𝗱\\n• 𝗖𝗼𝗻𝘀𝘁𝗮𝗻𝗰𝗶𝗮 𝗱𝗲 𝗱𝗼𝗺𝗶𝗰𝗶𝗹𝗶𝗼 (𝗽𝘂𝗲𝗱𝗲 𝘀𝗲𝗿 𝘂𝗻 𝗿𝗲𝗰𝗶𝗯𝗼 𝗱𝗲 𝗨𝗧𝗘, 𝗢𝗦𝗘, 𝗔𝗡𝗧𝗘𝗟, 𝗲𝘀𝘁𝗮𝗱𝗼 𝗱𝗲 𝗰𝘂𝗲𝗻𝘁𝗮, 𝗲𝘁𝗰.) \\n\\n𝗨𝗻𝗮 𝘃𝗲𝘇 𝗿𝗲𝗰𝗶𝗯𝗶𝗱𝗼𝘀, 𝗽𝗿𝗼𝗰𝗲𝗱𝗲𝗿𝗲𝗺𝗼𝘀 𝗮 𝗲𝘃𝗮𝗹𝘂𝗮𝗿 𝘀𝘂 𝘀𝗼𝗹𝗶𝗰𝗶𝘁𝘂𝗱, 𝗱𝗲𝗻𝘁𝗿𝗼 𝗱𝗲𝗹 𝗵𝗼𝗿𝗮𝗿𝗶𝗼 𝗱𝗲 𝗮𝘁𝗲𝗻𝗰𝗶𝗼́𝗻 𝗮𝗹 𝗽𝘂́𝗯𝗹𝗶𝗰𝗼, 𝗹𝘂𝗻𝗲𝘀 𝗮 𝘃𝗶𝗲𝗿𝗻𝗲𝘀 𝗱𝗲 𝟵 𝗮 𝟭𝟳 𝗵𝗼𝗿𝗮𝘀.`;\n            }\n        }\n\n        function obtenerMensajeRechazado(tipoUsuario) {\n            return `Gracias por su consulta. Por ahora no cuenta con el margen necesario, puede consultar más adelante.`;\n        }\n\n        // Verificar y extraer los datos\n        if (!datosImagen || !datosImagen.output || !datosImagen.output.output) {\n            throw new Error(\"Estructura de datos inválida o incompleta\");\n        }\n\n        const documentData = datosImagen.output.output.document_data;\n        const amounts = documentData.amounts;\n\n        // Extraer y validar montos\n        const montoNominal = parseFloat(amounts.nominal);\n        const montoLiquido = parseFloat(amounts.liquid);\n\n        if (isNaN(montoNominal) || isNaN(montoLiquido)) {\n            throw new Error(\"Los montos no son números válidos\");\n        }\n\n        // Validaciones adicionales\n        if (montoLiquido >= montoNominal) {\n            throw new Error(\"El monto líquido no puede ser mayor o igual al monto nominal\");\n        }\n\n        if (montoNominal < 0 || montoLiquido < 0) {\n            throw new Error(\"Los montos no pueden ser negativos\");\n        }\n\n        // Calcular margen y obtener mensaje\n        const resultado = calculoMargenUY(montoNominal, montoLiquido);\n        const tipoUsuario = documentData.issuer?.name?.toUpperCase().includes('BPS') ? 'jubilado' : 'empleado';\n        const mensajeRespuesta = obtenerMensajeSegunTipo(tipoUsuario, resultado);\n\n        // Retornar respuesta completa\n        return {\n            status: \"success\",\n            message: mensajeRespuesta,\n            data: {\n                tipoUsuario,\n                tieneMargen: resultado.tieneMargen,\n                margenDisponible: resultado.margenDisponible,\n                parametros: {\n                    parameters: tipoUsuario === 'jubilado' ? {\n                        montoNominal_jubilado: montoNominal.toString(),\n                        montoLiquido_jubilado: montoLiquido.toString()\n                    } : {\n                        montoNominal_empleado: montoNominal.toString(),\n                        montoLiquido_empleado: montoLiquido.toString()\n                    }\n                }\n            }\n        };\n\n    } catch (error) {\n        console.error(\"Error en el procesamiento:\", error);\n        return {\n            status: \"error\",\n            message: error.message,\n            debug: {\n                error: error.message,\n                stack: error.stack\n            }\n        };\n    }\n}\n\n// Código principal para n8n\nconst items = $input.all();\nif (items && items.length > 0 && items[0].json) {\n    const datosImagen = items[0].json;\n    return transformarYProcesarDatos(datosImagen);\n} else {\n    return {\n        status: \"error\",\n        message: \"No se encontraron datos en la entrada\",\n        debug: {\n            items: items\n        }\n    };\n}"},"name":"Code2","type":"n8n-nodes-base.function","typeVersion":1,"position":[960,-220],"id":"30a1b99b-cf64-4822-a141-5990081cfb48","alwaysOutputData":false},{"parameters":{"promptType":"define","text":"Document Analysis and Validation Protocol (Uruguay)\n\nSTEP 1 - DOCUMENT IDENTIFICATION\nFirst, identify the document type from these categories:\n\nA. Utility Bills:\n- UTE (Electricity invoice)\n- OSE (Water invoice)\n- ANTEL (Telecommunications invoice)\n\nB. Social Security:\n- BPS Receipt\n- Salary Receipt\n\nC. Banking:\n- Bank Statement\n- Payment Receipt\n\nSTEP 2 - DOCUMENT-SPECIFIC VALIDATION\n\nFOR UTE INVOICES:\nRequired Elements:\n- Invoice number\n- Customer number\n- Consumption details\n- Amount breakdown\nKey Identifiers:\n- UTE logo\n- kWh consumption\n- Power rate details\n\nFOR BPS RECEIPTS:\nRequired Elements:\n- Receipt number\n- Beneficiary ID\n- Nominal and liquid amounts\n- Deductions breakdown\nKey Identifiers:\n- BPS logo\n- SNIS/IASS deductions\n- Benefit type\n\n[Similar sections for other document types]\n\nSTEP 3 - QUALITY ASSESSMENT\nTechnical Requirements:\n- Resolution check\n- Format validation\n- Size verification\n- Color assessment\n\nCapture Quality:\n- Document completeness\n- Corner visibility\n- Background clarity\n- Text legibility\n\nRESPONSE FORMAT:\n{\n    \"documentAnalysis\": {\n        \"identified\": {\n            \"type\": \"string [UTE_INVOICE, BPS_RECEIPT, etc.]\",\n            \"confidence\": \"number (0-1)\"\n        },\n        \"quality\": {\n            \"isValid\": \"boolean\",\n            \"technicalIssues\": [\"array of strings\"],\n            \"captureIssues\": [\"array of strings\"]\n        },\n        \"validation\": {\n            \"requiredElements\": {\n                \"present\": [\"array of strings\"],\n                \"missing\": [\"array of strings\"]\n            },\n            \"overallStatus\": \"boolean\"\n        }\n    }\n}\n\nVALIDATION RULES:\n1. Each document type has specific required elements\n2. Quality requirements apply to all documents\n3. Missing required elements invalidate the document\n4. Document type must be identified before validation\n5. Unknown document types return type: \"UNKNOWN\"","hasOutputParser":true,"messages":{"messageValues":[{"message":"=Complete Guide for Financial Document Analysis in Uruguay\n\n1. Technical Image Requirements\nThe photo must meet:\nMinimum resolution of 600x750 pixels\nSize between 50KB and 10MB\nColor (not black and white)\nNo digital edits or alterations\nFormat JPG, PNG or PDF\n\n2. Capture Requirements\nFundamental Elements:\nComplete document visible in frame\nAll corners visible\nNo shadows hiding information\nNo reflections or glare\nClean, clear background\nCompletely legible text\n\n3. Critical Information to Identify\n\nA. Identification Data:\nCompany RUT [EXAMPLE FORMAT: 210088320014 EXCLUDE THIS EXAMPLE]\nInvoice/document number\nDocument type (invoice, e-ticket, salary receipt)\nIssue and expiration period\n\nB. Beneficiary/Client Information:\nFull name\nDocument number CI [Ejemplo formato: 9.999.999-9] EXCLUDE THIS EXAMPLE, WRITE JUST NUMBER\nAddress\nPosition or role (for salary receipts)\n\nC. Key Amount Identification\nFor Salary Receipts:\nNOMINAL: Gross amount before deductions\nLIQUID: Final amount after all deductions\nBreakdown of:\n  - Base salary\n  - Supplements\n  - Overtime\n  - Annual bonus\n  - Other benefits\n\nDeductions and Retentions:\nSNIS (National Health System)\nIASS (Social Security Assistance Tax)\nLegal retentions\nOther specific deductions\n\nD. For Invoices:\nSubtotal\nItemized VAT\nFinal total\nPayment method\nPayment status\n\n4. Verification Elements\nClearly visible subtotals\nCorrect calculations between amounts\nCorresponding payment period\nIssue and due dates\nRequired signatures and stamps\n\n5. Accepted Document Types\nSalary receipts\nInvoices (e-Invoices)\nE-tickets\nPayment receipts\nAccount statements\nPayment certificates\nBank transfer receipts\n\n6. Authenticity Verification\nQR Code (if applicable)\nCAE Number\nDigital stamps\nAuthorized signatures\nInstitutional stamps\n\n7. Special Considerations\nFor multiple documents, photograph each page separately\nContinuous documents require complete capture\nDocuments with information on both sides require both photographs\nPrefer original digital versions when available\n\n8. Warnings and Restrictions\nDocuments not accepted if:\n  - Cut or partially visible\n  - With crossouts or manual corrections\n  - Expired or out of date\n  - With irrelevant sensitive personal information\n  - Illegible or blurry\n\n9. Final Validation Elements\nVerify all amounts match correctly\nConfirm dates are consistent\nEnsure all critical information is visible\nValidate deductions and retentions comply with current regulations\n\n10. Additional Required Information\nBilling period\nPayment method\nPaying entity\nControl or reference number\nIssuer contact information\n\nAnalyze the provided financial document image and return a JSON response following exactly this structure:\n1. Validate if the document is valid and meets quality requirements\n2. Extract all relevant information including amounts, dates, and identifiers\n3. Format the response according to the specified JSON schema\n4. Include any validation errors found\n\nThe response must include all required fields: is_valid, photo_quality, and document_data."},{"type":"HumanMessagePromptTemplate","message":"={{ $json.text }}"}]}},"id":"6bc765a1-f0b8-40ee-92ae-628229ad47cc","name":"Bill and charge pdf Valide","type":"@n8n/n8n-nodes-langchain.chainLlm","position":[360,400],"typeVersion":1.4},{"parameters":{"content":"You are a financial assistance bot for COMAYC, a credit cooperative in Uruguay. You must ALWAYS RESPOND IN SPANISH regardless of how the user communicates with you. Your primary role is to help members and potential clients via WhatsApp with their credit inquiries and financial services offered by COMAYC.\n\nPrimary Instruction:\nIMPORTANT: All responses must be in Spanish, even if the user writes in English or any other language.\n\nKey Functions:\n- Provide information about COMAYC's credit services and requirements\n- Help evaluate credit eligibility based on salary receipts and financial documents\n- Guide users through the loan application process\n- Share information about COMAYC's locations and contact details\n- Explain membership benefits and requirements\n- Provide basic financial guidance within COMAYC's service framework\n\nGuidelines:\n- Always maintain a professional yet friendly tone in Spanish\n- Provide accurate information based on COMAYC's policies\n- Direct complex inquiries to COMAYC's office when necessary\n- Protect user privacy and handle financial information securely\n- Reference www.comayc.com for additional information\n- Operating hours: Monday to Friday, 9:00 AM to 5:00 PM\n\nResponse Style:\n- Clear and concise Spanish communication\n- Professional and helpful\n- Focus on COMAYC's services\n- Include relevant contact information when needed\n- Provide next steps or actionable information\n\nRemember: \n1. ALWAYS respond in Spanish\n2. You represent COMAYC\n3. Align responses with their values and services\n4. Maintain a helpful and professional demeanor\n5. If you receive messages in English or other languages, still respond in Spanish\n","height":913,"width":501,"color":7},"id":"87d4e0df-5b95-4592-add1-9e95ccd728f2","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[3280,-640],"typeVersion":1},{"parameters":{"content":"## 4. Format Response","height":700,"width":660,"color":2},"type":"n8n-nodes-base.stickyNote","position":[1200,-500],"typeVersion":1,"id":"01bd4a68-9025-40ff-85a6-adcd3d390c84","name":"Sticky Note2"},{"parameters":{"content":"## 6. Generate Response with AI Agent\n\nSend message to respond.io","height":713,"width":481,"color":2},"id":"89f5c2ab-8ee9-4648-b255-45b51ac2a5ed","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","position":[2440,-500],"typeVersion":1},{"parameters":{"promptType":"define","text":"Universal Document Analysis Protocol (Uruguay)\n\nSTEP 1: INPUT TYPE IDENTIFICATION\nIdentify the format of the input:\nA. Text/Transcription:\n- Natural language text\n- Transcribed audio\n- Chat/message content\n\nB. Structured Documents:\n- PDF documents\n- Digital invoices\n- Scanned documents\n- Images of documents\n\nC. Audio/Visual:\n- Audio recordings\n- Video content\n- Voice messages\n\nSTEP 2: CONTENT CLASSIFICATION\nCategorize the content type:\n\nA. Financial Documents:\n- Salary receipts\n- Bank statements\n- Payment vouchers\n- Invoices (UTE, OSE, ANTEL)\n- BPS documents\n\nB. Verbal Declarations:\n- Salary statements\n- Income declarations\n- Financial consultations\n\nC. Identity Documents:\n- CI information\n- RUT details\n- Corporate documentation\n\nSTEP 3: INFORMATION EXTRACTION\nKey Data Points to Extract:\n\nFinancial Amounts:\n- Nominal amounts\n- Liquid amounts\n- Total payments\n- Deductions\n- Taxes\n\nIdentification Data:\n- Document numbers\n- Personal IDs\n- Corporate RUTs\n- Reference numbers\n\nTemporal Information:\n- Issue dates\n- Due dates\n- Payment periods\n- Declaration dates\n\nSTEP 4: VALIDATION RULES\n\nGeneral Validation:\n1. Verify data consistency\n2. Check logical relationships between amounts\n3. Validate date formats and ranges\n4. Confirm ID number formats\n\nFormat-Specific Validation:\n- Text: Check for clarity and completeness\n- Audio: Verify audio quality and clarity\n- Documents: Validate required elements\n- Images: Assess readability and completeness\n\nSTEP 5: DOCUMENTATION REQUIREMENTS\n\nAlways verify and indicate:\n1. What supporting documents are needed\n2. Which declarations require official validation\n3. What additional information is missing\n4. Required format for documentation\n\nPROCESSING RULES:\n\n1. Data Extraction:\n- Convert all numerical values to standard format\n- Standardize currency notations\n- Format dates consistently\n- Normalize identification numbers\n\n2. Context Analysis:\n- Consider surrounding information\n- Identify relevant qualifiers\n- Note any conditions or exceptions\n- Flag ambiguous information\n\n3. Validation Priorities:\n- Focus on financial amounts\n- Verify identification data\n- Confirm temporal information\n- Check document authenticity indicators\n\n4. Error Handling:\n- Flag incomplete information\n- Identify unclear or ambiguous data\n- Mark missing required elements\n- Note quality issues\n\nIMPORTANT CONSIDERATIONS:\n\n1. Security:\n- Handle sensitive information appropriately\n- Mask personal identification data\n- Flag potential security concerns\n\n2. Compliance:\n- Follow Uruguayan documentation standards\n- Adhere to financial reporting requirements\n- Comply with data protection regulations\n\n3. Quality Assurance:\n- Verify data accuracy\n- Check for logical consistency\n- Validate calculations\n- Ensure completeness of analysis\n\n4. Documentation Requirements:\n- Always indicate need for official documentation\n- Specify required supporting documents\n- Note verification requirements\n- Include validation warnings","hasOutputParser":true,"messages":{"messageValues":[{"message":"=You are a financial text analyzer specialized in salary information extraction. \n\nWhen analyzing the transcribed text:\n\n1. Primary Task:\n- Identify and extract NOMINAL salary amount\n- Identify and extract LIQUID salary amount\n- Detect currency (default to UYU if not specified)\n\n2. Look for key phrases and contexts:\n- For NOMINAL: [\"nominal\", \"sueldo nominal\", \"bruto\", \"sueldo bruto\"]\n- For LIQUID: [\"líquido\", \"neto\", \"me queda\", \"en mano\", \"de bolsillo\"]\n\n3. Processing Rules:\n- Convert all textual numbers to numerical values\n- Remove currency symbols, dots, and formatting\n- Validate that nominal is greater than liquid\n- If multiple amounts are mentioned, take the most clearly stated ones\n- If amounts are unclear or ambiguous, mark as not found\n\n4. Validation Checks:\n- Verify both amounts are present\n- Ensure amounts are logical (nominal > liquid)\n- Check if amounts are within reasonable ranges\n- Flag any inconsistencies or unusual patterns\n\n5. Additional Context:\n- Identify any relevant payment periods mentioned\n- Note any additional financial information provided\n- Detect any conditions or special circumstances mentioned\n\nRemember:\n- Always maintain the original numerical values as stated\n- Flag any ambiguous or unclear amounts\n- Consider context when identifying amounts\n- Treat the information as preliminary and requiring documentation"},{"type":"HumanMessagePromptTemplate","message":"={{ $json.text }}"}]}},"id":"f21ad538-c2b4-48cb-a688-12e3601750ad","name":"Bill and charge Audio","type":"@n8n/n8n-nodes-langchain.chainLlm","position":[540,-220],"typeVersion":1.4}],"connections":{"Webhook":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Resize For AI1":{"main":[[{"node":"Bill and charge Photo Validator","type":"main","index":0}]]},"Bill and charge Photo Validator":{"main":[[{"node":"Code","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Bill and charge Photo Validator","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Bill and charge Photo Validator","type":"ai_outputParser","index":0}]]},"Code":{"main":[[{"node":"Get User's Message1","type":"main","index":0}]]},"Download Image":{"main":[[{"node":"Resize For AI1","type":"main","index":0}]]},"Get User's Message":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Download Audio":{"main":[[{"node":"Google Gemini Audio","type":"main","index":0}]]},"Google Gemini Audio":{"main":[[{"node":"Format Response1","type":"main","index":0}]]},"Format Response1":{"main":[[{"node":"Bill and charge Audio","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Send Message Respond","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Get User's Message1":{"main":[[{"node":"Get User's Message","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Download Image","type":"main","index":0}],[],[{"node":"Download Audio","type":"main","index":0}],[{"node":"Download File","type":"main","index":0}]]},"Format Response2":{"main":[[{"node":"Get User's Message","type":"main","index":0}]]},"Download File":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"Bill and charge pdf Valide","type":"ai_languageModel","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"Bill and charge pdf Valide","type":"ai_outputParser","index":0}]]},"Code1":{"main":[[{"node":"Format Response2","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Bill and charge pdf Valide","type":"main","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"Bill and charge Audio","type":"ai_languageModel","index":0}]]},"Structured Output Parser2":{"ai_outputParser":[[{"node":"Bill and charge Audio","type":"ai_outputParser","index":0}]]},"Bill and charge pdf Valide":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Format Response2","type":"main","index":0}]]},"Bill and charge Audio":{"main":[[{"node":"Code2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.youchatbot.io","x-real-ip":"54.169.155.20","x-forwarded-for":"54.169.155.20","x-forwarded-proto":"https","connection":"close","content-length":"1039","accept":"application/json, text/plain, */*","content-type":"application/json","x-webhook-signature":"irgGHka1ZUUQ1fLfICUddZLNgDhJUvEkJpe9dGdnZqs=","user-agent":"axios/1.7.9","accept-encoding":"gzip, compress, deflate, br","sentry-trace":"429dc2e4b7c1446c86ed9f77ab2b1366-ac421f5fc859b228","baggage":"sentry-environment=production,sentry-public_key=f872ea482f6f4ba1bdf13e0cb58c273f,sentry-trace_id=429dc2e4b7c1446c86ed9f77ab2b1366"},"params":{},"query":{},"body":{"event_type":"message.received","event_id":"15926be1-2df3-48e9-85a9-48265fa6136b","contact":{"id":259567361,"firstName":"AlexRoder","lastName":"","phone":"+14129293058","email":null,"language":"en","profilePic":"https://cdn.chatapi.net/app/contact/avatar/259567361.jpg","countryCode":"US","status":"open","assignee":{"id":null,"firstName":null,"lastName":null,"email":null},"created_at":1741199639,"lifecycle":""},"message":{"messageId":1741214819000000,"channelMessageId":"wamid.HBgLMTQxMjkyOTMwNTgVAgASGBQzQUMyNDE1QTRERDUyQTI4RDc3RAA=","contactId":259567361,"channelId":94038,"traffic":"incoming","timestamp":1741214819000,"message":{"type":"attachment","attachment":{"type":"audio","url":"https://cdn.chatapi.net/whatsapp_business/94038/259567361/f86bfebef25a56661b3206ea02cbc8fd/File.opus","isPending":false,"mimeType":"audio/ogg; codecs=opus","fileName":"File.ogg","ext":"opus","size":"30613","mime":"audio/ogg; codecs=opus"}}},"channel":{"id":94038,"name":"Okeybot","source":"whatsapp_business","meta":null,"created_at":1655495496}},"webhookUrl":"https://n8n.youchatbot.io/webhook/respond","executionMode":"production"}}]},"versionId":"30841b05-2dfe-45cd-8ad4-f71ae069ac83","triggerCount":1,"tags":[]}