docs/respond-message-get-xaakLWhalfZVHBvN.json
{"createdAt":"2024-11-29T05:21:37.371Z","updatedAt":"2024-12-24T00:20:22.574Z","id":"xaakLWhalfZVHBvN","name":"Respond message Get","active":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-340,-220],"id":"8fa8b485-9412-4d6f-8e0b-e284f1a9ff23","name":"When clicking ‘Test workflow’"},{"parameters":{"method":"POST","url":"=https://api.respond.io/v2/contact/{{ $json.ID }}/message","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Accept","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"type","value":"text"},{"name":"text","value":"Hola mundo"},{}]},"options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[160,-220],"id":"470f7ae5-8003-45ae-82df-84276059aec3","name":"HTTP Request","credentials":{"httpHeaderAuth":{"id":"X3A0DqywbHLd3dYY","name":"Header Auth account"}}},{"parameters":{"assignments":{"assignments":[{"id":"402e30f1-061e-4396-9927-40794c136012","name":"ID","value":"14129293058","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-60,-220],"id":"0f2ca2d6-89f8-4912-808e-9a300db36e9f","name":"Edit Fields"},{"parameters":{"url":"=https://api.respond.io/v2/contact/{{ $json.ID }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"identifier","value":"={{ $json.ID }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[160,20],"id":"9e4c5f80-b26d-43ff-9332-a690cda75069","name":"HTTP Request1","credentials":{"httpHeaderAuth":{"id":"X3A0DqywbHLd3dYY","name":"Header Auth account"}}}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"HTTP Request":{"main":[[]]},"Edit Fields":{"main":[[{"node":"HTTP Request","type":"main","index":0},{"node":"HTTP Request1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"e5ecd3a4-33bb-4267-bbe3-7ecd61eb174c","triggerCount":0,"tags":[]}