docs/save-workflows-everyday-on-github-produccion-LynQ2GmWtCkGQs5N.json
{"createdAt":"2025-01-25T02:14:21.937Z","updatedAt":"2025-02-01T22:55:39.977Z","id":"LynQ2GmWtCkGQs5N","name":"Save workflows everyday on Github PRODUCCION","active":true,"nodes":[{"parameters":{"options":{}},"id":"617ea82a-1e5e-4051-bd65-5d9391a9a136","name":"Set date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[280,200]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"c938c8c1-e576-4646-95f7-2b99e253eb25","name":"Format date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[480,200]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"}]},"options":{}},"id":"f5d9025a-8cae-4508-bc09-73f93c567168","name":"Set commit date","type":"n8n-nodes-base.set","typeVersion":2,"position":[680,200]},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"alexroderdev","mode":"name"},"repository":{"__rl":true,"value":"n8n_workflows","mode":"name"},"filePath":"=docs"},"id":"3774c38e-6e14-4f5a-9b7e-ef199fcc587a","name":"List files from repository [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[880,200],"alwaysOutputData":true,"credentials":{"githubApi":{"id":"v3iseuonNOSBuVoE","name":"GitHub account"}}},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"1b076cee-1612-46ca-98d3-9917c14b6f5d","name":"Combine file names [GITHUB]","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[1080,200]},{"parameters":{"filters":{},"requestOptions":{}},"id":"7848a2b3-8026-40c8-865a-1ed850fa3f53","name":"Retrieve workflows [N8N]","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[1280,200],"credentials":{"n8nApi":{"id":"7Nx3lyXbeCHnN3pg","name":"n8n account"}}},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"afdef44f-660f-4877-be93-d2a519551ffb","name":"Move JSON to binary","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[1480,200]},{"parameters":{"batchSize":1,"options":{}},"id":"dbdf9884-97da-4451-ac43-9d49714bc8af","name":"Split to single items","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[1880,200]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combine file names [GITHUB]'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"9604811a-ed95-47f0-97c7-7eca8281ec94","name":"Check if file exists in repository","type":"n8n-nodes-base.if","typeVersion":1,"position":[2140,180]},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"alexroderdev","mode":"list","cachedResultName":"alexroderdev","cachedResultUrl":"https://github.com/alexroderdev"},"repository":{"__rl":true,"value":"n8n_workflows","mode":"list","cachedResultName":"n8n_workflows","cachedResultUrl":"https://github.com/alexroderdev/n8n_workflows"},"filePath":"=docs/{{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"e3a3fcea-5fbb-421d-9e08-4e759bdabc57","name":"Update file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[2120,0],"credentials":{"githubApi":{"id":"v3iseuonNOSBuVoE","name":"GitHub account"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"alexroderdev","mode":"list","cachedResultName":"alexroderdev","cachedResultUrl":"https://github.com/alexroderdev"},"repository":{"__rl":true,"value":"n8n_workflows","mode":"list","cachedResultName":"n8n_workflows","cachedResultUrl":"https://github.com/alexroderdev/n8n_workflows"},"filePath":"=docs/{{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}","additionalParameters":{"committer":{"name":"AlexRoderDev","email":"alexroder94@gmail.com"}}},"id":"963beccd-a093-45f0-af63-4dae0c806c59","name":"Upload file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[2380,200],"credentials":{"githubApi":{"id":"v3iseuonNOSBuVoE","name":"GitHub account"}}},{"parameters":{"content":"## Set and format date/time\nThose nodes are responsible for setting a current date and time in format `dd-MM-yyyy/H:mm`. Date and time are used to compose commit messages in GitHub, for example: `backup-12-07-2023/14:18`.","height":339.42690909090965,"width":585.4045090909088,"color":4},"id":"54fc51a8-df53-4258-9d00-cb9d03db7db8","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[240,40]},{"parameters":{"content":"## Make a list of existing files\nReturn a list of existing files (backups) in GitHub repository. Data returned by those nodes is used by \"IF\" node (later in workflow) to check whether the backup files should be created or updated.","height":339.42690909090965,"width":389.89265454545443},"id":"bf000ff8-1448-45b2-bce4-3f07e1170809","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[840,40]},{"parameters":{"content":"## Retrieve workflows\nGet all workflows form your n8n instance. Remember that **your credentials need to point to the instance that you want to backup.**","height":339.42690909090965,"width":384.14708363636373},"id":"f2c255c1-cdfb-4612-9931-85a9a1b86f87","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1260,40]},{"parameters":{"content":"## Upload backup\nSplit JSON files into batches of 1, check if they were uploaded to repository before. If yes (true), upload the new version of the file. Otherwise (false) create the file in repository.","height":731.633426614796,"width":1230.7937247293924,"color":5},"id":"22f671c7-6b95-4af0-b976-22ee54702e37","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1740,-220]},{"parameters":{"chatId":"792267610 ","text":"={{ $json.message }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[3060,560],"id":"961db3e8-159c-4acf-a659-5a7f78d509a2","name":"Telegram","credentials":{"telegramApi":{"id":"gaOHgbat0CO2TRi9","name":"Telegram account"}}},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 0 * * *"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-40,200],"id":"b2a4b045-56da-428f-a098-b2c339d11a79","name":"Schedule Trigger"},{"parameters":{"jsCode":"// Ensure input is an array\nconst items = Array.isArray($input) ? $input : [$input];\nconst flatItems = items.flat(); // Flatten in case of nested arrays\n\nconst counters = {\n    totalFiles: flatItems.length,\n    newFiles: 0,\n    updatedFiles: 0,\n    errors: 0,\n    newFilesList: [],\n    updatedFilesList: []\n};\n\n// Count each type\nflatItems.forEach(item => {\n    if (item.error) {\n        counters.errors++;\n    } else if (item.isNew) {\n        counters.newFiles++;\n        counters.newFilesList.push(item.name || 'file');\n    } else {\n        counters.updatedFiles++;\n        counters.updatedFilesList.push(item.name || 'file');\n    }\n});\n\nconst message = `📊 Backup Summary:\n📁 Total files processed: ${counters.totalFiles}\n🆕 New files created: ${counters.newFiles}\n🔄 Files updated: ${counters.updatedFiles}\n❌ Errors found: ${counters.errors}`;\n\nreturn { message };"},"id":"5416c56a-7624-48ac-beb4-a8bbe06464e6","name":"Count success or failed","type":"n8n-nodes-base.code","typeVersion":2,"position":[2880,560]},{"parameters":{},"id":"84ecbb50-bee0-4500-bcfb-ad7fa9e044f7","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":3,"position":[3320,80],"alwaysOutputData":true},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Solo pasar el tipo y nombre del archivo\nreturn {\n    type: 'update', // o 'new' según corresponda\n    fileName: $input.first().json.content.name || 'unnamed'\n};"},"id":"706eedbc-4b56-46ac-8f46-a4c8aed3bf52","name":"Function (count update)","type":"n8n-nodes-base.code","typeVersion":2,"position":[2400,0]},{"parameters":{"jsCode":"// Solo pasar el tipo y nombre del archivo\nreturn {\n    type: 'new', // o 'new' según corresponda\n    fileName: $input.first().json.content.name || 'unnamed'\n};"},"id":"16dd2aaf-ce30-4c0b-a231-ce248c334ec2","name":"Function (Upload file)","type":"n8n-nodes-base.code","typeVersion":2,"position":[2580,180]},{"parameters":{"chatId":"792267610 ","text":"={{ $json.message }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[3640,240],"id":"85ebb994-ff22-4419-b628-5513d69f8506","name":"Telegram1","credentials":{"telegramApi":{"id":"gaOHgbat0CO2TRi9","name":"Telegram account"}}},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[3440,-180],"id":"4b029b22-204b-414b-b154-cc6bc177c5bd","name":"Limit"},{"parameters":{"fieldsToSummarize":{"values":[{"field":"type"}]},"fieldsToSplitBy":"type","options":{}},"type":"n8n-nodes-base.summarize","typeVersion":1,"position":[3000,-20],"id":"2afdc127-90dd-40f6-a429-8bf5caa586b9","name":"Summarize"},{"parameters":{"fieldsToSummarize":{"values":[{"field":"recommendation"}]},"fieldsToSplitBy":"recommendation","options":{}},"type":"n8n-nodes-base.summarize","typeVersion":1,"position":[2400,560],"id":"e82fcca3-1a6a-4165-9c60-808c5729975c","name":"Summarize1"},{"parameters":{"jsCode":"return [\n  {\n    \"recommendation\": \"CHALLENGE\"\n  },\n  {\n    \"recommendation\": \"DENY\"\n  },\n  {\n    \"recommendation\": \"DENY\"\n  }\n];"},"id":"30a9980b-a111-419b-8be3-3c900e2a32d5","name":"Count success or failed2","type":"n8n-nodes-base.code","typeVersion":2,"position":[2160,560]},{"parameters":{"jsCode":"// Get stats and ensure it's an array\nconst stats = Array.isArray($input) ? $input : [$input];\n\n// Count using reduce to be safer\nconst counts = stats.reduce((acc, item) => {\n    if (item.type === 'update') {\n        acc.updates = (item.count_type || 0);\n    }\n    if (item.type === 'new') {\n        acc.newFiles = (item.count_type || 0);\n    }\n    return acc;\n}, { updates: 0, newFiles: 0 });\n\n// Create single message\nreturn {\n    message: `📊 Backup Summary:\n📁 Total files processed: ${counts.updates + counts.newFiles}\n🆕 New files created: ${counts.newFiles}\n🔄 Files updated: ${counts.updates}`\n};"},"id":"5bd60b28-6970-48be-a54d-1bdfbdf213c4","name":"Count success or failed3","type":"n8n-nodes-base.code","typeVersion":2,"position":[3420,280]},{"parameters":{"fieldToSplitOut":"count_type","include":"allOtherFields","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[2560,-140],"id":"191d7f18-9286-4e5a-8d28-5619e09c18cc","name":"Split Out"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3680,-60],"id":"873c28f1-4124-4891-aa22-8f88d0bf818c","name":"Wait","webhookId":"fb3c5bb5-983c-4e90-84b1-51cd70bfc054"},{"parameters":{},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1040,1180],"id":"6f3946d6-53f6-4e2f-a9ac-fdbe192dc42a","name":"Sticky Note"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"update","rightValue":"={{ $json.type }}","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Update"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3d4e30c9-4533-4d7a-8956-437fd04f3030","leftValue":"new","rightValue":"{{ $json.type }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"NEW"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[2760,80],"id":"d8199d2f-a768-46a3-b072-04dae25f1952","name":"Switch"},{"parameters":{"fieldsToSummarize":{"values":[{"field":"type"}]},"fieldsToSplitBy":"type","options":{}},"type":"n8n-nodes-base.summarize","typeVersion":1,"position":[3000,200],"id":"9dbc480e-69a1-4161-bfda-c183c7f733d6","name":"Summarize2"},{"parameters":{"assignments":{"assignments":[{"id":"6a331c09-635c-4b8e-883b-99b9ab67c38f","name":"message","value":"=📊 Resumen de la actualización: ✨ Archivos nuevos: {{ $json.type }} 🔄 Archivos actualizados: {{ $json.type }} 📝 Total: {{ $json.type }} + {{ $json.type }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3540,80],"id":"6d06d646-f0ed-4f53-96b6-72dfcbfeff07","name":"Edit Fields"}],"connections":{"Set date":{"main":[[{"node":"Format date","type":"main","index":0}]]},"Format date":{"main":[[{"node":"Set commit date","type":"main","index":0}]]},"Set commit date":{"main":[[{"node":"List files from repository [GITHUB]","type":"main","index":0}]]},"List files from repository [GITHUB]":{"main":[[{"node":"Combine file names [GITHUB]","type":"main","index":0}]]},"Combine file names [GITHUB]":{"main":[[{"node":"Retrieve workflows [N8N]","type":"main","index":0}]]},"Retrieve workflows [N8N]":{"main":[[{"node":"Move JSON to binary","type":"main","index":0}]]},"Move JSON to binary":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Split to single items":{"main":[[{"node":"Check if file exists in repository","type":"main","index":0}]]},"Check if file exists in repository":{"main":[[{"node":"Update file [GITHUB]","type":"main","index":0}],[{"node":"Upload file [GITHUB]","type":"main","index":0}]]},"Update file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0},{"node":"Function (count update)","type":"main","index":0}]]},"Upload file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0},{"node":"Function (Upload file)","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Set date","type":"main","index":0}]]},"Count success or failed":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Function (count update)":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Function (Upload file)":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Limit":{"main":[[]]},"Telegram1":{"main":[[]]},"Summarize":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Count success or failed2":{"main":[[{"node":"Summarize1","type":"main","index":0}]]},"Count success or failed3":{"main":[[{"node":"Telegram1","type":"main","index":0}]]},"Wait":{"main":[[]]},"Split Out":{"main":[[]]},"Switch":{"main":[[{"node":"Summarize","type":"main","index":0}],[{"node":"Summarize2","type":"main","index":0}]]},"Summarize2":{"main":[[{"node":"Merge","type":"main","index":1}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"7c944ce9-2db2-4dfc-a921-300d574b00c7","triggerCount":1,"tags":[{"createdAt":"2024-11-27T05:11:34.741Z","updatedAt":"2024-11-27T05:11:34.741Z","id":"lkTQ85NNYkbxB1mk","name":"Prod"}]}