docs/scrape-and-summarize-webpages-with-ai-7HnGRQ8K7ZPdJAFy.json
{"createdAt":"2025-02-13T15:43:48.777Z","updatedAt":"2025-02-14T23:27:03.198Z","id":"7HnGRQ8K7ZPdJAFy","name":"Scrape and summarize webpages with AI","active":false,"nodes":[{"parameters":{},"id":"67850bd7-f9f4-4d5b-8c9e-bd1451247ba6","name":"When clicking \"Execute Workflow\"","type":"n8n-nodes-base.manualTrigger","position":[280,-460],"typeVersion":1},{"parameters":{"operation":"extractHtmlContent","dataPropertyName":"=data","extractionValues":{"values":[{"key":"name","cssSelector":".listing-item-static article h3 a","returnValue":"attribute","attribute":"title","returnArray":true},{"key":"url","cssSelector":".listing-item-static article h3 a","returnValue":"attribute","attribute":"href","returnArray":true},{"key":"category","cssSelector":".listing-item-cat","returnArray":true},{"key":"id","cssSelector":".listing-item-static article .geodir-category-content h3 a","returnValue":"attribute","attribute":"data-company-id","returnArray":true}]},"options":{}},"id":"ee634297-a456-4f70-a995-55b02950571e","name":"Extract essay names","type":"n8n-nodes-base.html","position":[820,240],"typeVersion":1},{"parameters":{"url":"=http://www.paulgraham.com/{{ $json.essay }}","options":{}},"id":"83d75693-dbb8-44c4-8533-da06f611c59c","name":"Fetch essay texts","type":"n8n-nodes-base.httpRequest","position":[1480,240],"typeVersion":4.1},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"title","cssSelector":"title"}]},"options":{}},"id":"151022b5-8570-4176-bf3f-137f27ac7036","name":"Extract title","type":"n8n-nodes-base.html","position":[1820,-60],"typeVersion":1},{"parameters":{"fields":{"values":[{"name":"title","stringValue":"={{ $json.title }}"},{"name":"summary","stringValue":"={{ $json.response.text }}"},{"name":"url","stringValue":"=http://www.paulgraham.com/{{ $('Limit to first 3').item.json.essay }}"}]},"include":"none","options":{}},"id":"07bcf095-3c4d-4a72-9bcb-341411750ff5","name":"Clean up","type":"n8n-nodes-base.set","position":[2480,220],"typeVersion":3},{"parameters":{"content":"## Scrape latest Paul Graham essays","height":285.66037735849045,"width":1071.752021563343},"id":"11285de0-3c5d-4296-a322-9b7585af9acc","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[540,160],"typeVersion":1},{"parameters":{"content":"## Summarize them with GPT","height":606.7924528301882,"width":465.3908355795153},"id":"c32f905d-dd7a-4b68-bbe0-dd8115ee0944","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[1740,160],"typeVersion":1},{"parameters":{"fieldToSplitOut":"essay","include":"selectedOtherFields","options":{}},"id":"29d264f4-df6d-4a41-ab38-58e1b1becc9a","name":"Split out into items","type":"n8n-nodes-base.splitOut","position":[1260,440],"typeVersion":1},{"parameters":{"maxItems":3},"id":"ccfa3a1d-f170-44b4-a1f2-3573c88cae98","name":"Limit to first 3","type":"n8n-nodes-base.limit","position":[1260,240],"typeVersion":1},{"parameters":{"options":{}},"id":"c3d05068-9d1a-4ef5-8249-e7384dc617ee","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","position":[1940,440],"typeVersion":1},{"parameters":{"options":{}},"id":"db75adad-cb16-4e72-b16e-34684a733b05","name":"Recursive Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","position":[1940,580],"typeVersion":1},{"parameters":{"options":{}},"id":"022cc091-9b4c-45c2-bc8e-4037ec2d0d60","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[1800,440],"typeVersion":1,"credentials":{"openAiApi":{"id":"Xhw7jhGubqs4BVIn","name":"OpenAi ai_agent"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"id":"cda47bb7-36c5-4d15-a1ef-0c66b1194825","name":"Merge","type":"n8n-nodes-base.merge","position":[2280,220],"typeVersion":3},{"parameters":{"operationMode":"documentLoader","options":{}},"id":"28144e4c-e425-428d-b3d1-f563bfd4e5b3","name":"Summarization Chain","type":"@n8n/n8n-nodes-langchain.chainSummarization","position":[1840,240],"typeVersion":2},{"parameters":{"url":"https://community.phdcincubator.org/","options":{}},"id":"0d9133f9-b6d3-4101-95c6-3cd24cdb70c3","name":"List categories business","type":"n8n-nodes-base.httpRequest","position":[600,240],"typeVersion":4.1},{"parameters":{"jsCode":"// Accedemos a los datos dentro de la propiedad json\nconst data = items[0].json;\n\nconst business = data.name.map((nombre, index) => {\n  return {\n    name: nombre,\n    url: data.url[index],\n    category: data.category[index].trim().replace(/\\s+/g, ' ').replace(/\\n/g, '').trim(),\n    id: data.id[index]\n  };\n});\n\nreturn { business };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1040,240],"id":"e11b5661-fd69-4927-a49d-0ec343bd04d9","name":"Code"},{"parameters":{"jsCode":"// Accedemos a los datos dentro de la propiedad json\nconst data = items[0].json;\n\nconst business = data.name.map((nombre, index) => {\n  return {\n    name: nombre,\n    url: data.url[index],\n    category: data.category[index].trim().replace(/\\s+/g, ' ').replace(/\\n/g, '').trim(),\n    id: data.id[index]\n  };\n});\n\nreturn { business };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[980,-460],"id":"b21e3c19-3845-4adc-9ab3-b3775368ea93","name":"Code1"},{"parameters":{"operation":"extractHtmlContent","dataPropertyName":"=data","extractionValues":{"values":[{"key":"name","cssSelector":".listing-item-static article h3 a","returnValue":"attribute","attribute":"title","returnArray":true},{"key":"url","cssSelector":".listing-item-static article h3 a","returnValue":"attribute","attribute":"href","returnArray":true},{"key":"category","cssSelector":".listing-item-cat","returnArray":true},{"key":"id","cssSelector":".listing-item-static article .geodir-category-content h3 a","returnValue":"attribute","attribute":"data-company-id","returnArray":true}]},"options":{}},"id":"a8c4e56f-eda3-4afe-9cf5-0bc2eb798359","name":"Extract data bussiness","type":"n8n-nodes-base.html","position":[760,-460],"typeVersion":1},{"parameters":{"fieldToSplitOut":"name, url, id","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[760,-260],"id":"25747c4a-0d59-468d-b441-5a2fb005107c","name":"Split Out"},{"parameters":{"fieldToSplitOut":"url","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[980,-700],"id":"7d32425f-da78-4094-9f5d-1a5c2dac992e","name":"Split Out1"},{"parameters":{"url":"={{ $json.url }}","options":{"batching":{"batch":{"batchSize":5,"batchInterval":2000}},"timeout":10000}},"id":"6a91bd32-9ccf-4582-adac-980d3dee5042","name":"List categories business2","type":"n8n-nodes-base.httpRequest","position":[1240,-700],"typeVersion":4.1},{"parameters":{"operation":"extractHtmlContent","dataPropertyName":"=data","extractionValues":{"values":[{"key":"business_info_name","cssSelector":"h1"},{"key":"business_info_category","cssSelector":".list-single-header-cat a"},{"key":"business_info_description","cssSelector":".list-single-main-item-title p"},{"key":"contact_phone","cssSelector":".list-author-widget-contacts li:contains('Phone') a"},{"key":"contact_email","cssSelector":".list-author-widget-contacts li:contains('Email') a"},{"key":"hours_day","cssSelector":".opening-hours ul li .opening-hours-day","returnArray":true},{"key":"hours_time","cssSelector":".opening-hours ul li .opening-hours-time","returnArray":true},{"key":"services_name","cssSelector":".team-info h3 a","returnArray":true},{"key":"services_description","cssSelector":".team-info p","returnArray":true}]},"options":{}},"id":"1ed452f2-e5e8-4345-baf6-db1f6f1a4708","name":"Extract data bussiness1","type":"n8n-nodes-base.html","position":[1480,-700],"typeVersion":1},{"parameters":{"jsCode":"// Procesar todos los negocios\nconst businessesData = items.map(item => {\n  const data = item.json;\n  \n  return {\n    business_info: {\n      name: data.business_info_name,\n      category: data.business_info_category,\n      description: data.business_info_description\n    },\n    contact: {\n      phone: data.contact_phone?.replace(/\\s+/g, ' ').trim(),\n      email: data.contact_email?.trim()\n    },\n    hours: data.hours_day?.map((day, index) => ({\n      day: day.trim(),\n      time: data.hours_time[index].trim()\n    })),\n    services: data.services_name?.map((name, index) => ({\n      name: name.trim(),\n      description: data.services_description[index].trim()\n    }))\n  };\n});\n\nreturn { json: { businesses: businessesData } };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1720,-700],"id":"d49c9911-674c-496c-a0c5-c9c6a0ffedd5","name":"Code2"},{"parameters":{"url":"https://community.phdcincubator.org/","options":{}},"id":"09caf5ff-f63e-4c36-a90b-4b28b20ad0d5","name":"List business PHDC","type":"n8n-nodes-base.httpRequest","position":[540,-460],"typeVersion":4.1},{"parameters":{"mode":"combineBySql","query":"SELECT \n    input1.id,\n    input1.name,\n    input1.url,\n    COALESCE(input2.business_info.category, input1.category) as category,\n    input2.business_info.description as description,\n    input2.contact.phone as phone,\n    input2.contact.email as email,\n    input2.hours,\n    input2.services\nFROM input1 \nLEFT JOIN input2 ON input1.name = input2.business_info.name"},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[2000,-480],"id":"45ef8c36-c66a-4c70-8c91-ef9b403d89f4","name":"Merge1"}],"connections":{"Merge":{"main":[[{"node":"Clean up","type":"main","index":0}]]},"Extract title":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Limit to first 3":{"main":[[{"node":"Fetch essay texts","type":"main","index":0}]]},"Fetch essay texts":{"main":[[{"node":"Extract title","type":"main","index":0},{"node":"Summarization Chain","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Summarization Chain","type":"ai_languageModel","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Summarization Chain","type":"ai_document","index":0}]]},"Extract essay names":{"main":[[{"node":"Code","type":"main","index":0}]]},"Summarization Chain":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Split out into items":{"main":[[{"node":"Limit to first 3","type":"main","index":0}]]},"When clicking \"Execute Workflow\"":{"main":[[{"node":"List business PHDC","type":"main","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"List categories business":{"main":[[{"node":"Extract essay names","type":"main","index":0}]]},"Extract data bussiness":{"main":[[{"node":"Code1","type":"main","index":0},{"node":"Split Out1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Split Out1":{"main":[[{"node":"List categories business2","type":"main","index":0}]]},"List categories business2":{"main":[[{"node":"Extract data bussiness1","type":"main","index":0}]]},"Extract data bussiness1":{"main":[[{"node":"Code2","type":"main","index":0}]]},"List business PHDC":{"main":[[{"node":"Extract data bussiness","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Merge1":{"main":[[]]}},"settings":{},"staticData":null,"meta":{"templateId":"1951","templateCredsSetupCompleted":true},"pinData":{},"versionId":"c19c5612-6638-4334-8ac7-b04014f4fc6e","triggerCount":0,"tags":[]}