docs/scrape-phdc,-save-google-sheet-7HnGRQ8K7ZPdJAFy.json
{"createdAt":"2025-02-13T15:43:48.777Z","updatedAt":"2025-02-27T00:41:59.612Z","id":"7HnGRQ8K7ZPdJAFy","name":"Scrape PHDC, save Google Sheet","active":false,"nodes":[{"parameters":{},"id":"67850bd7-f9f4-4d5b-8c9e-bd1451247ba6","name":"When clicking \"Execute Workflow\"","type":"n8n-nodes-base.manualTrigger","position":[280,-460],"typeVersion":1},{"parameters":{"content":"## Scrape latest Business PHDC Hispanic Pitt Corporation","height":286,"width":1312,"color":4},"id":"11285de0-3c5d-4296-a322-9b7585af9acc","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[180,-520],"typeVersion":1},{"parameters":{"fieldToSplitOut":"url","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[940,-460],"id":"7d32425f-da78-4094-9f5d-1a5c2dac992e","name":"Split Out1"},{"parameters":{"url":"https://community.phdcincubator.org/","options":{}},"id":"09caf5ff-f63e-4c36-a90b-4b28b20ad0d5","name":"List business PHDC","type":"n8n-nodes-base.httpRequest","position":[540,-460],"typeVersion":4.1},{"parameters":{"url":"={{ $json.url }}","options":{"batching":{"batch":{"batchSize":5,"batchInterval":2000}},"timeout":10000}},"id":"6a91bd32-9ccf-4582-adac-980d3dee5042","name":"List data business","type":"n8n-nodes-base.httpRequest","position":[1100,-460],"typeVersion":4.1},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1yNmneH13wRBhUS1gZFVxGH1x3hgFByS2vXubc2sbBY4","mode":"list","cachedResultName":"List Business PHDC Pitt","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yNmneH13wRBhUS1gZFVxGH1x3hgFByS2vXubc2sbBY4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":328620750,"mode":"list","cachedResultName":"Hoja 2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yNmneH13wRBhUS1gZFVxGH1x3hgFByS2vXubc2sbBY4/edit#gid=328620750"},"columns":{"mappingMode":"defineBelow","value":{"name":"={{ $json.business_info_name }}","category":"={{ $json.business_info_category }}","description":"={{ $json.business_info_description }}","contact_phone":"={{ $json.contact_phone }}","contact_email":"={{ $json.contact_email }}","id":"={{ $json.business_info_id }}","url":"={{ $json.business_info_url }}","services":"={{ $json.services_name.map(item => `• ${item.replace(/\"/g, '')}`).join('\\n') }}","services_description":"={{ $json.services_description.map(item => `• ${item.replace(/\"/g, '')}`).join('\\n')  }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"url","displayName":"url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"category","displayName":"category","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"contact_phone","displayName":"contact_phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"contact_email","displayName":"contact_email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"services","displayName":"services","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"services_description","displayName":"services_description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1660,-460],"id":"36d53eba-e585-409a-9aa3-5ddc2020cd89","name":"Google Sheets1","credentials":{"googleSheetsOAuth2Api":{"id":"aEdSCFYMafgqbWmJ","name":"Google Sheets account"}}},{"parameters":{"operation":"extractHtmlContent","dataPropertyName":"=data","extractionValues":{"values":[{"key":"name","cssSelector":".listing-item-static article h3 a","returnValue":"attribute","attribute":"title","returnArray":true},{"key":"url","cssSelector":".listing-item-static article h3 a","returnValue":"attribute","attribute":"href","returnArray":true},{"key":"category","cssSelector":".listing-item-cat","returnArray":true},{"key":"id","cssSelector":".listing-item-static article .geodir-category-content h3 a","returnValue":"attribute","attribute":"data-company-id","returnArray":true}]},"options":{}},"id":"a8c4e56f-eda3-4afe-9cf5-0bc2eb798359","name":"Extract URL bussiness","type":"n8n-nodes-base.html","position":[760,-460],"typeVersion":1},{"parameters":{"operation":"extractHtmlContent","dataPropertyName":"=data","extractionValues":{"values":[{"key":"business_info_name","cssSelector":"h1"},{"key":"business_info_category","cssSelector":".list-single-header-cat a"},{"key":"business_info_description","cssSelector":".list-single-main-item-title p"},{"key":"contact_phone","cssSelector":".list-author-widget-contacts li:contains('Phone') a"},{"key":"contact_email","cssSelector":".list-author-widget-contacts li:contains('Email') a"},{"key":"hours_day","cssSelector":".opening-hours ul li .opening-hours-day","returnArray":true},{"key":"hours_time","cssSelector":".opening-hours ul li .opening-hours-time","returnArray":true},{"key":"services_name","cssSelector":".team-info h3 a","returnArray":true},{"key":"services_description","cssSelector":".team-info p","returnArray":true},{"key":"business_info_url","cssSelector":"link[rel='canonical']","returnValue":"attribute","attribute":"href"},{"key":"business_info_id","cssSelector":"#contact_form input[name='cf_company_id']","returnValue":"attribute","attribute":"value"}]},"options":{}},"id":"1ed452f2-e5e8-4345-baf6-db1f6f1a4708","name":"Extract data bussiness","type":"n8n-nodes-base.html","position":[1300,-460],"typeVersion":1},{"parameters":{"content":"## Save Data Google Sheet","height":300,"width":360,"color":3},"type":"n8n-nodes-base.stickyNote","position":[1540,-520],"typeVersion":1,"id":"8a026c4e-13de-484b-881c-70ab8980e082","name":"Sticky Note2"}],"connections":{"When clicking \"Execute Workflow\"":{"main":[[{"node":"List business PHDC","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"List data business","type":"main","index":0}]]},"List business PHDC":{"main":[[{"node":"Extract URL bussiness","type":"main","index":0}]]},"List data business":{"main":[[{"node":"Extract data bussiness","type":"main","index":0}]]},"Extract URL bussiness":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Extract data bussiness":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]}},"settings":{},"staticData":null,"meta":{"templateId":"1951","templateCredsSetupCompleted":true},"pinData":{},"versionId":"d2ae692d-83a5-4298-9a94-312e507f12fc","triggerCount":0,"tags":[]}