docs/set-up-with-facebook-and-instagram-yteOy6qv04CqrZ23.json
{"createdAt":"2024-12-08T16:27:45.747Z","updatedAt":"2024-12-12T05:46:37.617Z","id":"yteOy6qv04CqrZ23","name":"Set up with Facebook and Instagram","active":false,"nodes":[{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"v20.0","node":"me","edge":"photos","options":{"queryParameters":{"parameter":[{"name":"message","value":"This a post by automation n8n v2"},{"name":"link","value":"www.modtecs.com"},{"name":"published","value":"true"},{"name":"url","value":"https://media.istockphoto.com/id/1445426863/vector/chat-bot-vector-logo-design-concept.jpg?s=612x612&w=0&k=20&c=XDdfzS4lNW9yxQ0BQGZq9KMLL4bJ8ywXlYdAhBSuoCA="}]}}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[800,-140],"id":"16fc920c-98df-4428-ba76-b6514fc5c534","name":"Facebook Graph API","credentials":{"facebookGraphApi":{"id":"ijHzHCO2bzoKXCD7","name":"Facebook Graph account"}}},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"v20.0","node":"={{ $json.instagram_business_account_id }}","edge":"media","options":{"queryParameters":{"parameter":[{"name":"image_url","value":"={{ $json.image_url }}"},{"name":"caption","value":"={{ $json.instagram_post_caption }}"}]}}},"id":"123c8cae-8355-487b-bcff-94f5c1479bc3","name":"Instagram prepare media","type":"n8n-nodes-base.facebookGraphApi","position":[180,600],"typeVersion":1,"credentials":{"facebookGraphApi":{"id":"ijHzHCO2bzoKXCD7","name":"Facebook Graph account"}}},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"v20.0","node":"={{ $('Instagram params').item.json.instagram_business_account_id }}","edge":"media_publish","options":{"queryParameters":{"parameter":[{"name":"creation_id","value":"={{ $json.id }}"}]}}},"id":"ff8150b1-07e1-4942-b071-9b62363f4954","name":"Instagram publish media","type":"n8n-nodes-base.facebookGraphApi","position":[720,520],"typeVersion":1,"credentials":{"facebookGraphApi":{"id":"ijHzHCO2bzoKXCD7","name":"Facebook Graph account"}}},{"parameters":{"content":"Choose the trigger you want for example trigger this workflow from another one","height":248.90655871788812},"id":"2769c3ae-3052-463c-92c1-83fe3d5f1585","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-320,540],"typeVersion":1},{"parameters":{"content":"Add your credential","height":430.4091991661993,"width":1329.8249455924943,"color":4},"id":"a8c51834-4d54-4bce-b726-84c29a3dbcdb","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[140,460],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"225df266-bf29-4415-b04c-2750cef4506a","name":"image_url","type":"string","value":"https://chat-gpt-mexico.mx/wp-content/uploads/2024/01/Creacion-de-imagenes-de-arte-generadas-por-IA.jpg"},{"id":"1e380c14-e908-4eeb-90e0-957a422829d0","name":"instagram_business_account_id","type":"string","value":"17841461291152241"},{"id":"f35e3093-1bff-4cc6-a6c4-909dca314cc7","name":"instagram_post_caption","type":"string","value":"This a post by automation n8n"}]},"options":{}},"id":"e85f2ac0-e3c6-48a2-93b5-10ce86dcbf05","name":"Instagram params","type":"n8n-nodes-base.set","position":[-20,600],"typeVersion":3.4},{"parameters":{"graphApiVersion":"v20.0","node":"=me","options":{"fields":{"field":[{"name":"name"},{"name":"connected_instagram_account"}]}}},"id":"4e663489-c795-49c1-b1b2-397f26fdd82e","name":"Node just for retrive id of instagram page","type":"n8n-nodes-base.facebookGraphApi","position":[-120,240],"typeVersion":1,"credentials":{"facebookGraphApi":{"id":"ijHzHCO2bzoKXCD7","name":"Facebook Graph account"}},"disabled":true},{"parameters":{"content":"You can use this node if you want to retrieve the instagram id. \n\nAdd it to the workflow ore use manually","height":289,"width":318,"color":5},"id":"6c111834-37a5-4ffb-a634-a023ab9fd6d0","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[-200,120],"typeVersion":1},{"parameters":{"content":"Here we have all parameters for posting in instagram image url, caption and instagram business profile id","height":310,"width":188,"color":3},"id":"6fb6e314-1747-4e0e-bd2f-64439fcf641e","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[-60,460],"typeVersion":1},{"parameters":{"content":"## Permissions\nPublishing relies on a combination of the following permissions. The exact combination depends on which endpoints your app uses. Refer to our endpoint references to determine which permissions each endpoint requires.\n\nads_management\nbusiness_management\ninstagram_basic\ninstagram_content_publish\npages_read_engagement\nIf your app will be used by app users who do not have a role on your app or a role in a Business that has claimed your app, you must request approval for each permission via App Review before non-role app users can grant them to your app.\n\n## Limitations\nJPEG is the only image format supported. Extended JPEG formats such as MPO and JPS are not supported.\nShopping tags are not supported.\nBranded content tags are not supported.\nFilters are not supported.\nPublishing to Instagram TV is not supported.\nFor additional limitations, refer to each endpoint's reference.\n\n## Rate Limit\nInstagram accounts are limited to 50 API-published posts within a rolling 24-hour period. Carousels count as a single post. This limit is enforced on the POST /{ig-user-id}/media_publish endpoint when attempting to publish a media container. We recommend that your app also enforce the publishing rate limit, especially if your app allows app users to schedule posts to be published in the future.\n\nTo check an Instagram Professional account's current rate limit usage, query the GET /{ig-user-id}/content_publishing_limit endpoint.","height":792,"width":439.10253951549294,"color":7},"id":"ec69e358-1681-4f51-9818-e70dbdcebfb7","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[-320,780],"typeVersion":1},{"parameters":{"content":"## Instagram single image Post Workflow with Facebook API\n\nthis is a workflow for post a single image on instagram\n\n\nP.S: if you want use instagram API you need just change the default url in node with graph.instagram.com","height":232.74275402436496,"width":365.0530681548117,"color":2},"id":"c5f413e3-9547-45b9-8fc1-1a4ea7c3e590","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[-740,280],"typeVersion":1},{"parameters":{"graphApiVersion":"v20.0","node":"={{ $json.id }}","options":{"fields":{"field":[{"name":"id"},{"name":"status"},{"name":"status_code"}]}}},"id":"a6397e04-83e4-467a-8d4b-130f2b99fdd6","name":"Instagram check status of media uploaded before","type":"n8n-nodes-base.facebookGraphApi","position":[360,600],"typeVersion":1,"credentials":{"facebookGraphApi":{"id":"ijHzHCO2bzoKXCD7","name":"Facebook Graph account"}}},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"0304efee-33b2-499e-bad1-9238c1fc2999","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.status_code }}","rightValue":"FINISHED"}]},"options":{}},"id":"6cabb1f0-0b00-47c5-b096-586f4627ad8d","name":"If media status is finished","type":"n8n-nodes-base.if","position":[520,600],"typeVersion":2.2},{"parameters":{"graphApiVersion":"v20.0","node":"={{ $('Instagram check status of media uploaded before').item.json.id }}","options":{"fields":{"field":[{"name":"id"},{"name":"status"},{"name":"status_code"}]}}},"id":"b36f56c7-2418-4b55-bb96-e9e0a0ebd51c","name":"Instagram check status of media published before","type":"n8n-nodes-base.facebookGraphApi","position":[920,520],"typeVersion":1,"credentials":{"facebookGraphApi":{"id":"ijHzHCO2bzoKXCD7","name":"Facebook Graph account"}}},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"0304efee-33b2-499e-bad1-9238c1fc2999","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.status_code }}","rightValue":"PUBLISHED"}]},"options":{}},"id":"775f4139-5a85-4191-ac0c-8318b3864395","name":"If media status is finished1","type":"n8n-nodes-base.if","position":[1120,520],"typeVersion":2.2},{"parameters":{"options":{}},"id":"d99d5fe8-e6a0-48a1-8d42-d4b74a645e3b","name":"Send Email","type":"n8n-nodes-base.emailSend","position":[720,740],"typeVersion":2.1},{"parameters":{"options":{}},"id":"c243a1c3-8d07-4b09-aed3-f981c1b9ba7f","name":"Send Email1","type":"n8n-nodes-base.emailSend","position":[1340,480],"typeVersion":2.1},{"parameters":{"options":{}},"id":"717b40d1-e219-4e50-a45e-ee74491bb72d","name":"Send Email2","type":"n8n-nodes-base.emailSend","position":[1340,640],"typeVersion":2.1},{"parameters":{"content":"You can send email for unsuccessful upload or what you want, you can trigger another workflow or another node","height":102.11100456713636,"color":3},"id":"19723a6e-8a9e-4f21-bbb5-4ad056d3310b","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[660,900],"typeVersion":1},{"parameters":{"content":"You can send email for unsuccessful publishing or what you want, you can trigger another workflow or another node","height":112.31608359812239,"color":3},"id":"afb5479b-f9e7-4215-b1df-8779770ca71c","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","position":[1520,640],"typeVersion":1},{"parameters":{"content":"You can send email for successfull publishing or what you want, you can trigger another workflow or another node","height":112.31608359812239,"color":3},"id":"8a5f7252-eaee-47bc-bc38-ecec7561bb43","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","position":[1520,480],"typeVersion":1},{"parameters":{"content":"## Facebook single image Post Workflow with Facebook API\n\nthis is a nodo for post a single on Facebook\n","height":232.74275402436496,"width":365.0530681548117,"color":2},"id":"b7640dfe-ccc8-4920-8e90-29987c7d504f","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","position":[720,-380],"typeVersion":1},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-280,620],"id":"e40defa5-b043-48fa-921d-b51c77ae5d93","name":"When clicking ‘Test workflow’"}],"connections":{"Instagram params":{"main":[[{"node":"Instagram prepare media","type":"main","index":0}]]},"Instagram prepare media":{"main":[[{"node":"Instagram check status of media uploaded before","type":"main","index":0}]]},"Instagram publish media":{"main":[[{"node":"Instagram check status of media published before","type":"main","index":0}]]},"If media status is finished":{"main":[[{"node":"Instagram publish media","type":"main","index":0}],[{"node":"Send Email","type":"main","index":0}]]},"If media status is finished1":{"main":[[{"node":"Send Email1","type":"main","index":0}],[{"node":"Send Email2","type":"main","index":0}]]},"Instagram check status of media uploaded before":{"main":[[{"node":"If media status is finished","type":"main","index":0}]]},"Instagram check status of media published before":{"main":[[{"node":"If media status is finished1","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Instagram params","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"e74d8d6e-4cb0-4946-bfe1-b0e852739230","triggerCount":0,"tags":[]}