docs/simplest-way-to-create-a-stripe-payment-link-yJ2lmn9XB9SYNlIC.json
{"createdAt":"2025-02-13T03:24:15.251Z","updatedAt":"2025-02-13T15:38:27.776Z","id":"yJ2lmn9XB9SYNlIC","name":"Simplest way to create a Stripe Payment Link","active":false,"nodes":[{"parameters":{"method":"POST","url":"https://api.stripe.com/v1/products","authentication":"predefinedCredentialType","nodeCredentialType":"stripeApi","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"name","value":"={{ $json.title }}"},{"name":"default_price_data[unit_amount]","value":"={{ $json.price }}"},{"name":"default_price_data[currency]","value":"={{ $json.currency }}"}]},"options":{}},"id":"4503cef2-4882-43c6-bdb9-b94c75da5776","name":"Create Stripe Product","type":"n8n-nodes-base.httpRequest","position":[820,260],"typeVersion":4.1,"credentials":{"stripeApi":{"id":"C8WMXzw5GM3aR0ws","name":"Stripe account"}}},{"parameters":{"method":"POST","url":"https://api.stripe.com/v1/payment_links","authentication":"predefinedCredentialType","nodeCredentialType":"stripeApi","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"line_items[0][price]","value":"={{ $json.default_price }}"},{"name":"line_items[0][quantity]","value":"1"}]},"options":{}},"id":"80306e70-b57f-4697-9a9f-1835d2525c2f","name":"Create payment link","type":"n8n-nodes-base.httpRequest","position":[1000,60],"typeVersion":4.1,"credentials":{"stripeApi":{"id":"C8WMXzw5GM3aR0ws","name":"Stripe account"}}},{"parameters":{"assignments":{"assignments":[{"id":"038b54b7-9559-444e-8653-c5256a5b784e","name":"currency","type":"string","value":"USD"},{"id":"e86962bb-7af4-41be-94f6-6ee6b8569eef","name":"price","type":"number","value":"={{ $json.price * 100}}"}]},"includeOtherFields":true,"include":"selected","includeFields":"title","options":{}},"id":"31d7450e-0f44-4c16-aec4-fe9213ff7c83","name":"Config","type":"n8n-nodes-base.set","position":[460,260],"notesInFlow":true,"typeVersion":3.3,"notes":"Setup your flow"},{"parameters":{"path":"my-form-id","formTitle":"Create a payment link Stripe","formFields":{"values":[{"fieldLabel":"title","requiredField":true},{"fieldLabel":"price","fieldType":"number","requiredField":true}]},"responseMode":"responseNode","options":{"appendAttribution":true,"buttonLabel":"Submit"}},"id":"10fb462a-8302-4281-9cd3-68bc00e69177","name":"Creation Form","type":"n8n-nodes-base.formTrigger","position":[160,260],"webhookId":"1c6fe52c-48ab-4688-b5ae-7e24361aa603","typeVersion":2},{"parameters":{"content":"## Fill the config node with currency\n\n","height":462,"width":275,"color":6},"id":"daf2d495-f31f-45e0-945a-a6e94be43b25","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[380,0],"typeVersion":1},{"parameters":{"content":"### Updated by the\n## [🤖 youchatbot.io](https://youchatbot.io)","height":346,"width":323,"color":7},"id":"9d298026-d858-4613-97c1-ac0cbd895ece","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[1540,-100],"typeVersion":1},{"parameters":{"respondWith":"redirect","redirectURL":"={{ $json.url }}","options":{}},"id":"5c8a17a3-7b2c-4760-a48a-02549f766967","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","position":[1660,40],"typeVersion":1},{"parameters":{"content":"# Setup\n### 1/ Add Your credentials\n## [Stripe](https://docs.n8n.io/integrations/builtin/credentials/stripe/)\n","height":562,"width":695,"color":4},"id":"a4da4c04-7dec-48a6-b616-2310bf6c4c50","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[760,-100],"typeVersion":1},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"12daf1d0-4282-4734-a88e-d2247b7e8a47","leftValue":"code","rightValue":"200","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"6a5beed4-1681-4202-b745-3dc3ab4e4445","leftValue":"code","rightValue":"200","operator":{"type":"string","operation":"notEquals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1000,260],"id":"cc79b6d3-c8e5-410d-aaf5-2f86c250b521","name":"If"},{"parameters":{"chatId":"792267610","text":"{{ $json }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1260,280],"id":"e97cd23d-f4e2-449e-9e5d-3e6b71ce1792","name":"Telegram","webhookId":"d17b235f-d1ff-41b2-aad2-4a1e12e80fa9","credentials":{"telegramApi":{"id":"NJhLzwvr44AVljnz","name":"telegram Mauri"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"12daf1d0-4282-4734-a88e-d2247b7e8a47","leftValue":"code","rightValue":"200","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"6a5beed4-1681-4202-b745-3dc3ab4e4445","leftValue":"code","rightValue":"200","operator":{"type":"string","operation":"notEquals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1240,60],"id":"8a84d8be-8e0f-4b23-ad9e-72ca38f19d7f","name":"If1"},{"parameters":{"content":"# Delete a product\n### 1/ Add Your credentials\n## [Stripe](https://docs.n8n.io/integrations/builtin/credentials/stripe/)\n","height":562,"width":695,"color":3},"id":"f9841255-7577-4867-9f96-07e142503349","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[760,500],"typeVersion":1},{"parameters":{"method":"DELETE","url":"https://api.stripe.com/v1/products/prod_RlQaJiXgHC5BXg","authentication":"predefinedCredentialType","nodeCredentialType":"stripeApi","options":{}},"id":"c026a241-4dbc-4093-a461-25d1e9f0e0fc","name":"Delete Stripe Product","type":"n8n-nodes-base.httpRequest","position":[840,660],"typeVersion":4.1,"credentials":{"stripeApi":{"id":"C8WMXzw5GM3aR0ws","name":"Stripe account"}}}],"connections":{"Config":{"main":[[{"node":"Create Stripe Product","type":"main","index":0}]]},"Creation Form":{"main":[[{"node":"Config","type":"main","index":0}]]},"Create payment link":{"main":[[{"node":"If1","type":"main","index":0}]]},"Create Stripe Product":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Create payment link","type":"main","index":0}],[{"node":"Telegram","type":"main","index":0}]]},"If1":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}],[{"node":"Telegram","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateId":"2195","templateCredsSetupCompleted":true},"pinData":{},"versionId":"31f5951e-f43b-4319-a8ab-21f81e9f4c9b","triggerCount":0,"tags":[]}