docs/social-media-post-automation-v3-prod-nCC95bGmaagnLvg3.json
{"createdAt":"2025-01-23T02:41:09.125Z","updatedAt":"2025-03-02T05:19:33.687Z","id":"nCC95bGmaagnLvg3","name":"Social Media Post Automation V3 PROD","active":true,"nodes":[{"parameters":{"url":"={{ $json.query.link }}","options":{"allowUnauthorizedCerts":true,"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-5020,660],"id":"153d9031-07f4-4a18-9334-1858e96fab90","name":"HTTP Request"},{"parameters":{"resource":"assistant","assistantId":{"__rl":true,"value":"asst_l2cfvsBfSyR4sRUUHqXEO8gI","mode":"list","cachedResultName":"Article Summariser"},"prompt":"define","text":"=Full article: {{ $json.textContent }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.7,"position":[-4440,660],"id":"cbb59e39-83e3-4353-bd6c-fef2eeba3b07","name":"Article summary","credentials":{"openAiApi":{"id":"SaBv7WVgrDu3Ao1X","name":"OpenAi account"}}},{"parameters":{"resource":"assistant","assistantId":{"__rl":true,"value":"asst_6B3WHTDPMRk43qTPgDI5oY1o","mode":"list","cachedResultName":"Create Image Prompt"},"prompt":"define","text":"=Full article: {{ $('WebpageContentExtractor1').item.json.textContent }} \nArticle Summary: {{ $json.output }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.7,"position":[-5380,1200],"id":"08de1264-62a5-43b9-88ca-0309c50ed38c","name":"Image Creation","credentials":{"openAiApi":{"id":"SaBv7WVgrDu3Ao1X","name":"OpenAi account"}}},{"parameters":{"resource":"image","prompt":"={{ $json.output }}","options":{"returnImageUrls":true}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.7,"position":[-4960,1200],"id":"3ca070fd-9849-438c-bdef-cfbb040c27f3","name":"OpenAI","alwaysOutputData":false,"notesInFlow":false,"credentials":{"openAiApi":{"id":"SaBv7WVgrDu3Ao1X","name":"OpenAi account"}}},{"parameters":{"authentication":"nocoDbApiToken","operation":"create","workspaceId":"w1felbpc","projectId":"pye5b0uzaqtaobe","table":"mprtsb8dvir4tq8","fieldsUi":{"fieldValues":[{"fieldName":"URL","fieldValue":"={{ $('If3').item.json.query.link }}"},{"fieldName":"Article Summary","fieldValue":"={{ $('Article summary').item.json.output }}"},{"fieldName":"Platform","fieldValue":"Facebook & Instagram"},{"fieldName":"Post","fieldValue":"={{ $('Create Post Facebook Format').item.json.output }}"},{"fieldName":"Image Prompt","fieldValue":"={{ $('OpenAI').item.json.revised_prompt }}"},{"fieldName":"image binary","binaryData":true,"binaryProperty":"=data"}]}},"type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[-4200,1460],"id":"7fd72913-e97e-49e6-8712-b1a8dfb8b7fa","name":"NocoDB","credentials":{"nocoDbApiToken":{"id":"vJBHkyd7fFPAg8yF","name":"NocoDB Token account"}}},{"parameters":{"resume":"webhook","options":{"responseData":"OK Go!!!"}},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-2880,1340],"id":"2b5a07f1-d2e2-4faa-b531-09fbe1d387e6","name":"Wait","webhookId":"f86f83c8-875f-40f6-bc6b-06bfb0eab44e"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5c78b4d1-c263-42a5-af60-e4de9793aa09","leftValue":"={{ $json.query.response }}","rightValue":"Approved","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2720,1340],"id":"dbe02031-afe4-4bd0-b7bb-89e14825ca60","name":"If1"},{"parameters":{"authentication":"nocoDbApiToken","operation":"update","workspaceId":"w1felbpc","projectId":"pye5b0uzaqtaobe","table":"mprtsb8dvir4tq8","fieldsUi":{"fieldValues":[{"fieldName":"Status","fieldValue":"Approved"},{"fieldName":"Id","fieldValue":"={{ $('Merge').item.json.Id }}"}]}},"type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[-2480,1320],"id":"bcd037f7-b983-49f1-90cc-62925f098a36","name":"NocoDB1","credentials":{"nocoDbApiToken":{"id":"vJBHkyd7fFPAg8yF","name":"NocoDB Token account"}}},{"parameters":{"resource":"assistant","assistantId":{"__rl":true,"value":"asst_Wvrsr6z9lp254B0a7rrCG0Vl","mode":"list","cachedResultName":"Linkedin Post generator"},"prompt":"define","text":"=Article:  {{ $('WebpageContentExtractor1').item.json.content }}\n\nSummary: {{ $('Article summary').item.json.output }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.7,"position":[-1500,1500],"id":"e2351558-f014-4336-9d84-99e925d1f51e","name":"Linkedin Post","credentials":{"openAiApi":{"id":"SaBv7WVgrDu3Ao1X","name":"OpenAi account"}}},{"parameters":{"person":"q0Oao2mg_Z","text":"={{ $('Linkedin Post').item.json.output }}","shareMediaCategory":"IMAGE","binaryPropertyName":"image_post_ready","additionalFields":{}},"type":"n8n-nodes-base.linkedIn","typeVersion":1,"position":[-680,1500],"id":"0a3798e5-d8d4-4c0e-bf53-9c82a6cfd67d","name":"LinkedIn","credentials":{"linkedInOAuth2Api":{"id":"XvGta3SUejWF85te","name":"LinkedIn account"}}},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"v20.0","node":"={{ $json.instagram_business_account_id }}","edge":"media","options":{"queryParameters":{"parameter":[{"name":"caption","value":"={{ $json.instagram_post_caption }}"},{"name":"image_url","value":"={{ $json.image_url }}"}]}}},"id":"73b8769a-b1a7-40de-864b-67cffba20688","name":"Instagram prepare media","type":"n8n-nodes-base.facebookGraphApi","position":[-660,2160],"typeVersion":1,"credentials":{"facebookGraphApi":{"id":"ijHzHCO2bzoKXCD7","name":"Facebook Graph PROD"}}},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"v20.0","node":"={{ $('Instagram params').item.json.instagram_business_account_id }}","edge":"media_publish","options":{"queryParameters":{"parameter":[{"name":"creation_id","value":"={{ $json.id }}"}]}}},"id":"8373496b-51a1-4043-8899-7b7eb359e623","name":"Instagram publish media","type":"n8n-nodes-base.facebookGraphApi","position":[-20,2060],"typeVersion":1,"credentials":{"facebookGraphApi":{"id":"ijHzHCO2bzoKXCD7","name":"Facebook Graph PROD"}}},{"parameters":{"content":"## Instagram POST","height":550,"width":2717.1829277627517,"color":4},"id":"851a14c0-7bec-4f49-95f9-b9b5756d69cf","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-1760,1980],"typeVersion":1},{"parameters":{"graphApiVersion":"v20.0","node":"={{ $json.id }}","options":{"fields":{"field":[{"name":"id"},{"name":"status"},{"name":"status_code"}]}}},"id":"1a2d881f-0066-49a3-8b4e-a4389036995f","name":"Instagram check status of media uploaded before","type":"n8n-nodes-base.facebookGraphApi","position":[-460,2160],"typeVersion":1,"credentials":{"facebookGraphApi":{"id":"ijHzHCO2bzoKXCD7","name":"Facebook Graph PROD"}}},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"0304efee-33b2-499e-bad1-9238c1fc2999","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.status_code }}","rightValue":"FINISHED"}]},"options":{}},"id":"8cdf7d34-a72f-4ec7-a7fc-ec039c613381","name":"If media status is finished","type":"n8n-nodes-base.if","position":[-260,2160],"typeVersion":2.2},{"parameters":{"graphApiVersion":"v20.0","node":"={{ $('Instagram check status of media uploaded before').item.json.id }}","options":{"fields":{"field":[{"name":"id"},{"name":"status"},{"name":"status_code"}]}}},"id":"37b53bee-8c24-4c8e-99d2-64a2352864f9","name":"Instagram check status of media published before","type":"n8n-nodes-base.facebookGraphApi","position":[200,2060],"typeVersion":1,"credentials":{"facebookGraphApi":{"id":"ijHzHCO2bzoKXCD7","name":"Facebook Graph PROD"}}},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"0304efee-33b2-499e-bad1-9238c1fc2999","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.status_code }}","rightValue":"PUBLISHED"}]},"options":{}},"id":"ad23aeab-a3a2-4acc-9cfc-488375a33e6a","name":"If media status is finished1","type":"n8n-nodes-base.if","position":[420,2060],"typeVersion":2.2},{"parameters":{"chatId":"792267610","text":"Rama Falsa del post de instagram","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-20,2280],"id":"62a4e225-d3ef-4a39-9b9b-436093d4b956","name":"Telegram1","webhookId":"90630b1b-4817-4deb-8457-435e47839aa3","credentials":{"telegramApi":{"id":"gaOHgbat0CO2TRi9","name":"Telegram account"}}},{"parameters":{"assignments":{"assignments":[{"id":"1e380c14-e908-4eeb-90e0-957a422829d0","name":"instagram_business_account_id","type":"string","value":"17841461291152241"},{"id":"f35e3093-1bff-4cc6-a6c4-909dca314cc7","name":"instagram_post_caption","type":"string","value":"={{ $('Create a Post Instagram').item.json.output }}"},{"id":"0cfcaccf-fb07-4712-a6ea-26def95d80b4","name":"image_url","value":"={{ $json.data.display_url }}","type":"string"}]},"options":{}},"id":"f5a2976c-fa5a-4b01-8a2a-b35fe2ab26a3","name":"Instagram params","type":"n8n-nodes-base.set","position":[-980,2160],"typeVersion":3.4},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"v20.0","node":"me","edge":"photos","sendBinaryData":true,"binaryPropertyName":"file:image_post_ready","options":{"queryParameters":{"parameter":[{"name":"message","value":"={{ $json.Post }}"},{"name":"published","value":"true"}]}}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[-1240,780],"id":"51c4c153-5c0a-4a4a-bbf7-6c5a7dac769b","name":"Facebook Graph API","credentials":{"facebookGraphApi":{"id":"ijHzHCO2bzoKXCD7","name":"Facebook Graph PROD"}}},{"parameters":{"chatId":"792267610","text":"=** Status Post Instagram\nID Post:  {{ $json.id }}\nStatus: {{ $json.status }}\nStatus Code: {{ $json.status_code }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[700,2000],"id":"3914662b-67e4-4ade-bf5d-21d06a68f603","name":"Telegram2","webhookId":"79bb97b8-8a06-434e-97ab-7f2975cb3ca9","credentials":{"telegramApi":{"id":"gaOHgbat0CO2TRi9","name":"Telegram account"}}},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"0304efee-33b2-499e-bad1-9238c1fc2999","operator":{"type":"string","operation":"exists","singleValue":true},"leftValue":"={{ $json.id }}","rightValue":"={{ $json.id }}"},{"id":"397f1bde-6549-4892-af73-058a6c915ae6","leftValue":"={{ $json.post_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"fe00eab4-0ca0-4500-9e7f-05fbfc9be030","name":"If media status is finished2","type":"n8n-nodes-base.if","position":[-960,740],"typeVersion":2.2},{"parameters":{"chatId":"792267610","text":"=** Status Post Facebook ** **ERROR**\nID :  {{ $json.id }}\nPost ID :{{ $json.post_id }}\n\nPost creado correctamente, aca te dejo la URL del post\nhttps://www.facebook.com/{{ $json.post_id }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-540,840],"id":"a57affda-172f-4b93-bb60-d8a91352d615","name":"Error Post Facebook","webhookId":"2a26b3a8-c6f0-4b87-9052-eee147565b7c","credentials":{"telegramApi":{"id":"gaOHgbat0CO2TRi9","name":"Telegram account"}}},{"parameters":{"chatId":"792267610","text":"=** Status Post Facebook **\nID :  {{ $json.id }}\nPost ID :{{ $json.post_id }}\n\nPost creado correctamente, aca te dejo la URL del post\nhttps://www.facebook.com/{{ $json.post_id }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-540,620],"id":"8bc9eaae-4b46-42b5-8993-6399296981bb","name":"Post Success Facebook","webhookId":"f50de24e-f533-4fb9-9391-61b57c839de3","credentials":{"telegramApi":{"id":"gaOHgbat0CO2TRi9","name":"Telegram account"}}},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"0304efee-33b2-499e-bad1-9238c1fc2999","operator":{"type":"string","operation":"exists","singleValue":true},"leftValue":"={{ $json.urn }}","rightValue":"={{ $json.id }}"}],"combinator":"and"},"options":{}},"id":"775fa2f5-a3d7-461c-a4db-d3d96287c519","name":"If media status is finished3","type":"n8n-nodes-base.if","position":[-440,1500],"typeVersion":2.2},{"parameters":{"chatId":"792267610","text":"=** Status Post Linkedin **\nID : {{ $json.urn }}\n\nPost creado correctamente","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-100,1420],"id":"f68efc4f-7dc3-449f-ade7-d1fc7f745316","name":"Post Success LinkedIn","webhookId":"f926e15f-bf1d-49d0-89bc-1b472550c3ef","credentials":{"telegramApi":{"id":"gaOHgbat0CO2TRi9","name":"Telegram account"}}},{"parameters":{"chatId":"792267610","text":"=** Status Post Linkedin ** **ERROR**","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-100,1620],"id":"105574bf-163b-4d4c-8cbf-1a12e3534ff9","name":"Error Post Linkedin","webhookId":"4cc7cb3d-a2b7-4e63-9d43-f2706423bc4c","credentials":{"telegramApi":{"id":"gaOHgbat0CO2TRi9","name":"Telegram account"}}},{"parameters":{"content":"## LinkedIn POST","height":551.7989643781872,"width":2719.359083465056,"color":7},"id":"0b8a197a-91c9-4005-9599-b65fc90f90d5","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-1760,1280],"typeVersion":1},{"parameters":{"content":"## Facebook POST","height":532.1717116956307,"width":2704.4292425010854,"color":5},"id":"97e7475c-3a6a-41b7-822b-144438ad5e1c","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[-1760,540],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"b1f6b8a1-dc25-4b1e-9aa3-0c0e452ae2de","name":" client_id","type":"string","value":"922253933198509"},{"id":"9a63879a-c359-49ad-9fec-19c9e4c78dd6","name":" client_secret","type":"string","value":"435ecaf66dce4754854769daca9a39a7"},{"id":"6971a841-ed5e-4d96-bdab-1eaec2d51ccc","name":"user_access_token","type":"string","value":"EAANGyPoUvK0BO8BTxuQyZCd11ZALyTrbghS7vdSS9ZCtUJD8F3wy8yHaZBy69sZAaKuqpN8j81prKfc2DVeCZCmAySd3KaaQ8Pd3oVfMqohYzw265nxqhjDseZBuA5opWfE3ygrhZCCFztpHW1lZA5jMnst5UYKPAvQV1ZBN2pwgUcTfl8nIPOKxjtdAi3YeFnmTiLZBBD7CiHoH1xCwIZCZAnwZDZD"},{"id":"c75d5e50-62ea-4ee0-bfaa-5f79cf4d147e","name":"app_scoped_user_id","type":"string","value":"532716476435274"}]},"options":{}},"id":"26847320-83ac-4d6c-b4ce-5bfc011e0ea9","name":"Set Parameter","type":"n8n-nodes-base.set","position":[-980,-880],"typeVersion":3.4},{"parameters":{"content":"## Set Required Facebook Parameter \n- client_id\n- client_secret\n- user_access_token\n- app-scoped-user-id (optional)\n\n## according to this doc\nhttps://developers.facebook.com/docs/facebook-login/guides/access-tokens/get-long-lived/\n\n## Resource\nhttps://medium.com/@blienart/get-a-permanent-facebook-page-access-token-a96470dc03ca","height":392,"width":560},"id":"aa1dc6bd-9c8a-4dfa-8c47-fd14661c62cb","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[-1320,-1300],"typeVersion":1},{"parameters":{"resource":"credential","name":"access_token","credentialTypeName":"=Bearer ","data":"={\n\"access_token\": \"Bearer {{ $json.access_token }}\"\n}","requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[380,-1000],"id":"186c5fc7-19cc-491e-8321-c5e32002592a","name":"n8n","alwaysOutputData":false,"retryOnFail":false,"notesInFlow":false,"credentials":{"n8nApi":{"id":"7Nx3lyXbeCHnN3pg","name":"n8n account"}}},{"parameters":{"assignments":{"assignments":[{"id":"d23fb79c-6bdf-46de-a2da-f0c5cd1bab85","name":"access_token","value":"={{ $json.body.data[0].access_token }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-180,-880],"id":"02782359-3efa-45fd-8090-df4f026eb0b4","name":"Edit Fields"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  //item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[80,-880],"id":"475c516e-b806-435a-a6f7-695886e4c305","name":"Code1"},{"parameters":{"content":"## Obtencion de un token de facebook por largo tiempo\n","height":940,"width":2020,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-1360,-1360],"typeVersion":1,"id":"ab987ff1-3679-4b55-a175-12a9352e5ba1","name":"Sticky Note4"},{"parameters":{"url":"https://graph.facebook.com/v20.0/oauth/access_token","sendQuery":true,"queryParameters":{"parameters":[{"name":" grant_type","value":"fb_exchange_token"},{"name":" client_id","value":"={{ $json[' client_id'] }}"},{"name":" client_secret","value":"={{ $json[' client_secret'] }}"},{"name":" fb_exchange_token","value":"={{ $json.user_access_token }}"}]},"options":{"response":{"response":{"fullResponse":true}}}},"id":"dcdcd29c-d76a-40bd-afb3-604b9ce51ced","name":"Get Long Lived FB User Token1","type":"n8n-nodes-base.httpRequest","position":[-680,-880],"typeVersion":4.2},{"parameters":{"method":"=GET","url":"=https://graph.facebook.com/v20.0/{{ $('Set Parameter').item.json.app_scoped_user_id }}/accounts?access_token={{ $json.body.access_token }}","sendQuery":true,"queryParameters":{"parameters":[{"name":" access_token","value":"={{ $json.body.access_token }}"}]},"options":{"response":{"response":{"fullResponse":true}}}},"id":"fba6b8ca-78b2-49a9-9b69-7d4033eb4308","name":"Get Long Lived FB Page Token1","type":"n8n-nodes-base.httpRequest","position":[-420,-880],"typeVersion":4.2},{"parameters":{"content":"## Summary the news\n","height":351.76727387348217,"width":1580.5818153162943,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-5600,560],"id":"f9efe65c-8cd4-4c96-8b06-e5b4ea060f66","name":"Sticky Note5"},{"parameters":{"content":"## This is for when you want to make a manual post.\nIt is required to add a prompt for the image and a base copy for the post.\n\n\nJust connect the previous node to this SET node and this one to the next node to create the image.","height":340,"width":560},"type":"n8n-nodes-base.stickyNote","position":[-6220,980],"typeVersion":1,"id":"f40ab1d4-087b-4c6b-9079-6b86ab787715","name":"Sticky Note7"},{"parameters":{"url":"={{ $('OpenAI').item.json.url }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"File","value":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-4360,1200],"id":"fa0073b8-1f79-4647-8b3f-fc17b18ab539","name":"Save image1"},{"parameters":{"assignments":{"assignments":[{"id":"ba4d238a-15c7-44e2-9677-ff366d8f7806","name":"output","value":"Remember the days when music on-the-go met the mobile phone? 📱🎶 The Samsung SPH-M100 launched in 2000 was a groundbreaking moment in tech history as the first phone to feature MP3 capabilities. This pioneering piece of innovation paved the way for the multimedia-rich smartphones we can't live without today.\\n\\nThe Samsung SPH-M100 stood out not just for its MP3 player, but also for its sleek design which was ahead of its time. It marked the dawn of mobile devices as multi-functional entertainment hubs, a concept that later revolutionized the industry with the advent of the iPhone in 2007.\\n\\nReflecting on this evolution, how did the integration of music players in phones change your mobile experience? Share your thoughts and take a nostalgic trip down memory lane!\\n\\n#SamsungSPHM100 #TechEvolution #RetroTech #MP3Revolution #MobileMusic #InnovationPioneers #2000sTech #TechNostalgia #Modtecs #SmartphoneHistory #2000sStyle #DigitalRevolution","type":"string"},{"id":"bdb736eb-1079-4acc-a3ac-829d5b6b4a49","name":"url","value":"https://oaidalleapiprodscus.blob.core.windows.net/private/org-NmR3bAauue1cUansR2kN2mY1/user-3i3iPVNQt3KkM0TVCfa5eLt3/img-Z3B0A65ihDB4iTZE4u4hOOU3.png?st=2025-01-12T21%3A43%3A46Z&se=2025-01-12T23%3A43%3A46Z&sp=r&sv=2024-08-04&sr=b&rscd=inline&rsct=image/png&skoid=d505667d-d6c1-4a0a-bac7-5c84a87759f8&sktid=a48cca56-e6da-484e-a814-9c849652bcb3&skt=2025-01-12T00%3A17%3A19Z&ske=2025-01-13T00%3A17%3A19Z&sks=b&skv=2024-08-04&sig=pNdRANdascaRFHI5EJpbrWyECQYWE8ktX5XjxHdD1sA%3D","type":"string"},{"id":"05f22be3-a918-46a0-8ef5-6caeaf0789dd","name":"Article summary","value":"=sumarizando articulo","type":"string"},{"id":"55cdd3e6-bc25-42ff-9dc4-cc3119521a21","name":"link","value":"=https://www.xataka.com/moviles/cuando-samsung-adelanto-a-nokia-motorola-primer-telefono-reproductor-mp3-mundo-asi-era-uproar","type":"string"},{"id":"44ce2856-85cc-46cf-96af-a8f7c0eb529b","name":"Image Promt","value":"promt image generado","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-5960,1160],"id":"b494b93b-4fab-4f07-8311-aa062b29cc90","name":"Post Manual1"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"17RS8vc-ysEiv0WtaN6Hlx-qnDmtYvBl4","mode":"list","cachedResultName":"Identidad Visual versión Horizontal colores.png","cachedResultUrl":"https://drive.google.com/file/d/17RS8vc-ysEiv0WtaN6Hlx-qnDmtYvBl4/view?usp=drivesdk"},"options":{"binaryPropertyName":"brand"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-5380,1500],"id":"268b2d1f-3d10-42c8-b165-ff444894e135","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"5LP9aPOCoDSbZsTa","name":"Google Drive account"}}},{"parameters":{"operation":"blur","blur":6,"sigma":4,"options":{}},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[-4160,1200],"id":"0f4bb4c8-0ece-4151-8429-4c71ac138edb","name":"Make Blur"},{"parameters":{"operation":"resize","dataPropertyName":"brand","width":140,"height":140,"options":{}},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[-5160,1500],"id":"0cbacca5-f458-48c8-bda5-c60d8496c4ec","name":"Resize image"},{"parameters":{"operation":"composite","dataPropertyNameComposite":"brand","positionX":650,"positionY":900,"options":{}},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[-4960,1500],"id":"1d5a66d5-eaa0-471e-b8cb-98933db84df8","name":"Merge image over"},{"parameters":{"driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"1lNisSp7LxG-yv67Oi1gDXFpSBTQCs8rp","mode":"list","cachedResultName":"IMG n8n Created ","cachedResultUrl":"https://drive.google.com/drive/folders/1lNisSp7LxG-yv67Oi1gDXFpSBTQCs8rp"},"options":{"simplifyOutput":false}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-4200,1780],"id":"a189a399-2462-4d5a-8789-78fda86b1247","name":"Google Drive1","credentials":{"googleDriveOAuth2Api":{"id":"5LP9aPOCoDSbZsTa","name":"Google Drive account"}}},{"parameters":{"assignments":{"assignments":[{"id":"c8bb1450-e5a8-4277-8bad-2a394de95755","name":"=message","value":"={{ $('Edit Fields2').item.json.message }}","type":"string"},{"id":"66d536ec-5c09-405b-95fd-9397816556f8","name":"url","value":"={{ $json.url }}","type":"string"}]},"options":{"ignoreConversionErrors":true}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1460,620],"id":"43539d70-e1c2-40d5-bcae-35aff6d8d237","name":"Edit Fields1"},{"parameters":{"method":"POST","url":"https://api.imgbb.com/1/upload","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"791cb3f85a1a06041840c41ca3e8a383"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"image","inputDataFieldName":"data"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-5380,1900],"id":"d0db2d61-5410-46a1-a14c-98394f58139e","name":"POST imgBB save img"},{"parameters":{"assignments":{"assignments":[{"id":"1d82ed7e-389a-4313-bdc7-47d32c54e64b","name":"=url_image","value":"={{ $json.data.url }}","type":"string"},{"id":"57cead92-9aa2-4c2d-84d8-470d0d57212f","name":"message","value":"={{ $('Create Post Facebook Format').item.json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-5200,1900],"id":"09da6cf7-f03e-4acc-9ef5-0455f693819d","name":"Edit Fields2"},{"parameters":{"html":"={{ $json.data }}"},"type":"n8n-nodes-webpage-content-extractor.webpageContentExtractor","typeVersion":1,"position":[-4740,660],"id":"21b72ae5-cd40-4beb-8964-65763640ea4b","name":"WebpageContentExtractor1"},{"parameters":{"content":"## Creation and update image with brand of company","height":1106.7631402189693,"width":1801.3286873786528,"color":2},"id":"be627baf-0920-43ce-9624-303616e0b590","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-5600,960]},{"parameters":{"content":"## Aproveed and save at DB\n","height":1099,"width":1856,"color":6},"id":"d18c8942-b50e-4512-adaf-6306fc0a2562","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3720,960]},{"parameters":{"chatId":"792267610","text":"=Post: {{ $json.Post }}\n\nArticle Summary: {{ $json[\"Article Summary\"] }}\n\nOriginal URL: {{ $json.URL }}\n","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"✅ Approve","additionalFields":{"url":"={{ $execution.resumeUrl + '?response=Approved&title=' + encodeURIComponent($json.title) + '&link=' + encodeURIComponent($json.link) }}"}},{"text":"❌ Decline","additionalFields":{"url":"={{ $execution.resumeUrl + '?response=Declined&title=' + encodeURIComponent($json.title) + '&link=' + encodeURIComponent($json.link) }}"}}]}}]},"additionalFields":{"appendAttribution":false,"disable_web_page_preview":true,"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-3040,1340],"id":"aad02872-b9f0-4e6f-acb7-025ee3ca18eb","name":"Send post","webhookId":"75ca7e0c-f126-44cf-87b5-8cd4415281bc","credentials":{"telegramApi":{"id":"gaOHgbat0CO2TRi9","name":"Telegram account"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"sendPhoto","chatId":"792267610","binaryData":true,"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-4200,1600],"id":"2b23e1e9-7e2a-438d-a366-e44eaa2d018e","name":"Send Image Post","webhookId":"d73ee0ec-bc62-4c96-a484-f68f9db76204","credentials":{"telegramApi":{"id":"gaOHgbat0CO2TRi9","name":"Telegram account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id_url_image }}","mode":"id"},"options":{"binaryPropertyName":"image_post_ready"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1480,780],"id":"b9f77228-6d0e-446b-ae39-5f2cd76e4665","name":"Google Drive2","credentials":{"googleDriveOAuth2Api":{"id":"5LP9aPOCoDSbZsTa","name":"Google Drive account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Merge1').item.json.url_image_drive }}","mode":"url","__regex":"https:\\/\\/(?:drive|docs)\\.google\\.com(?:\\/.*|)\\/d\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1340,2160],"id":"eaae4060-aaf3-4c04-8db0-6ef02edfaf0e","name":"Google Drive4","credentials":{"googleDriveOAuth2Api":{"id":"5LP9aPOCoDSbZsTa","name":"Google Drive account"}}},{"parameters":{"method":"POST","url":"https://api.imgbb.com/1/upload","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"791cb3f85a1a06041840c41ca3e8a383"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"image","inputDataFieldName":"data"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1160,2160],"id":"d8df60bd-4ce9-44d3-aaaa-4e8fce57854c","name":"POST imgBB save img1"},{"parameters":{"resource":"assistant","assistantId":{"__rl":true,"value":"asst_jCIGGglDg79CY2m52NTypz37","mode":"list","cachedResultName":"Instagram Post Generator"},"prompt":"define","text":"=Article: {{ $('WebpageContentExtractor1').item.json.content }}\nSummary: {{ $('Article summary').item.json.output }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.7,"position":[-1660,2160],"id":"592c7259-0fde-4ad2-8491-c535b51b6fcb","name":"Create a Post Instagram","credentials":{"openAiApi":{"id":"SaBv7WVgrDu3Ao1X","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"1d82ed7e-389a-4313-bdc7-47d32c54e64b","name":"=id_url_image","value":"={{ $json.id }}","type":"string"},{"id":"6d37a781-4fa8-406f-9790-e06bc08b7b98","name":"url_image_drive","value":"={{ $json.webViewLink }}","type":"string"},{"id":"fd3c8e6d-4f09-4390-affa-dca0408cead1","name":"","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3620,1680],"id":"4f12a4b1-f754-4a94-a933-24657cd46a81","name":"Edit Fields3"},{"parameters":{"resume":"webhook","options":{"responseData":"Ok Go!!!"}},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-4220,120],"id":"a63c905a-d6f7-4e5b-917b-c2eb64c59168","name":"Wait2","webhookId":"26fdc20a-59e0-4d62-a69b-2f8969e02e3f"},{"parameters":{"chatId":"792267610","text":"=Title: {{ $json.title }}\n\nLink: {{ $json.link }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"✅ Approve","additionalFields":{"url":"={{ $execution.resumeUrl + '?response=Approved&title=' + encodeURIComponent($json.title) + '&link=' + encodeURIComponent($json.link) }}"}},{"text":"❌ Decline","additionalFields":{"url":"={{ $execution.resumeUrl + '?response=Declined&Title=' + encodeURIComponent($json.title) + '&Link=' + encodeURIComponent($json.link) }}"}}]}}]},"additionalFields":{"appendAttribution":false,"disable_web_page_preview":true,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-4480,120],"id":"e914cecf-496d-4ab3-94fa-ee95d926c32e","name":"Reading new1","webhookId":"fe0f4d96-994f-4bcf-8606-b07ef0402f2f","credentials":{"telegramApi":{"id":"gaOHgbat0CO2TRi9","name":"Telegram account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b4b5e576-7f07-471a-a628-52c0d277c3ee","leftValue":"={{ $json.query.response }}","rightValue":"Approved","operator":{"type":"string","operation":"equals"}},{"id":"c7ae6bfc-05bc-440b-9daf-d6746aa76d62","leftValue":"={{ $json.query.link }}","rightValue":"={{ $json.query.link }}","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-4000,220],"id":"799bef1f-7f85-4147-bf0b-9d125a87029b","name":"If3"},{"parameters":{"content":"## Find the news for aproved\n","height":571.327605151595,"width":1800,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-5580,-60],"typeVersion":1,"id":"159ca145-ba03-4100-a41e-5e9efbcc7d36","name":"Sticky Note10"},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 11 * * *"}]}},"id":"5757aa74-0e4d-4557-b22e-1e05c0d2e275","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-5460,240]},{"parameters":{"url":"={{ $json.link }}","options":{}},"id":"a4ad7728-134d-40f4-b657-fb84fa007450","name":"RSS Feed Read2","type":"n8n-nodes-base.rssFeedRead","position":[-4900,120],"typeVersion":1},{"parameters":{},"id":"e4937fe9-373a-4f52-9af8-ee42a097f3c7","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-5460,60]},{"parameters":{"resource":"assistant","assistantId":{"__rl":true,"value":"asst_8fGhVZOBp44llmMnb71KFTAF","mode":"list","cachedResultName":"Facebook Post Generator"},"prompt":"define","text":"=Article: {{ $('If3').item.json.query.title }}\nSummary: {{ $('Article summary').item.json.output }}\nPost: {{ $('OpenAI').item.json.revised_prompt }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.7,"position":[-4740,1200],"id":"170bad4f-d5cf-4064-ae4c-746cccdd27f5","name":"Create Post Facebook Format","credentials":{"openAiApi":{"id":"SaBv7WVgrDu3Ao1X","name":"OpenAi account"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","numberInputs":3,"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[-3300,1520],"id":"0b03b65e-a4b1-4777-b92d-d72c96800d60","name":"Merge"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[-2160,1500],"id":"cb383273-ef93-4ba7-8653-ea4b0c7ebaf0","name":"Merge1"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Merge1').item.json.id_url_image }}","mode":"id"},"options":{"binaryPropertyName":"image_post_ready"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1000,1500],"id":"fd2d7013-5664-4e56-a39f-86f64edc0309","name":"Google Drive3","credentials":{"googleDriveOAuth2Api":{"id":"5LP9aPOCoDSbZsTa","name":"Google Drive account"}}},{"parameters":{"chatId":"792267610","text":"Rama Falsa del post de instagram","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[700,2200],"id":"e216cc78-5871-49cd-9d14-9f898dfa1495","name":"Telegram","webhookId":"3f4d9b18-196c-42ff-94fe-5bbb10c2eed1","credentials":{"telegramApi":{"id":"gaOHgbat0CO2TRi9","name":"Telegram account"}}},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-820,2160],"id":"0ef7bbf1-2a19-4e46-8266-69485df87728","name":"Wait1","webhookId":"6d3e7837-56dc-40a2-a34e-700b735c820d"},{"parameters":{"jsCode":"const sources = [\n    {\n        url: \"https://medium.com/feed/tag/n8n,ai-agents\",\n        term: \"n8n\"\n    },\n    {\n        url: \"https://towardsai.net/feed\",\n        term: \"tech\"\n    },\n    {\n        url: \"https://www.reddit.com/r/n8n/.rss\",\n        term: \"n8n\"\n    },\n    // Puedes agregar más fuentes aquí\n];\n\n// Usar timestamp para asegurar rotación en cada ejecución\nconst timestamp = new Date().getTime();\nconst index = Math.floor(timestamp / (1000 * 60)) % sources.length; // Cambia cada minuto\n\n// Alternativa: usar un número aleatorio\n// const index = Math.floor(Math.random() * sources.length);\n\nconst selectedSource = sources[index];\nconst finalUrl = selectedSource.url.replace(\"{term}\", selectedSource.term);\n\n// Para debug\nconsole.log('Selected source:', {\n    index,\n    url: finalUrl,\n    timestamp: new Date().toISOString()\n});\n\nreturn [{\n    json: {\n        link: finalUrl,\n        source: selectedSource.term, // Agregado para tracking\n        timestamp: new Date().toISOString() // Para verificar cuando se ejecutó\n    }\n}];"},"id":"cd82f93d-edef-4490-aa0e-e9ac1711a70d","name":"Select source","type":"n8n-nodes-base.code","typeVersion":2,"position":[-5140,120]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"function htmlToMarkdown(html) {\n    if (!html) return '';\n    return html\n        .replace(/<b>(.*?)<\\/b>/g, '*$1*')\n        .replace(/<strong>(.*?)<\\/strong>/g, '*$1*')\n        .replace(/<i>(.*?)<\\/i>/g, '_$1_')\n        .replace(/<em>(.*?)<\\/em>/g, '_$1_')\n        .replace(/<a href=\"(.*?)\">(.*?)<\\/a>/g, '[$2]($1)')\n        .replace(/<br\\s*\\/?>/g, '\\n')\n        .replace(/<[^>]*>/g, '') \n        .replace(/[_*[\\]()~`>#+\\-=|{}.!]/g, '\\\\$&');\n}\n\n// Create a new object instead of modifying the input\nconst processedData = {\n    title: htmlToMarkdown($json.title || ''),\n    guid: htmlToMarkdown($json.guid || ''),\n    //description: htmlToMarkdown($json.description || ''),\n    content: htmlToMarkdown($json.content || ''),\n    pubDate: $json.pubDate,\n    link: $json.link\n    // Add any other fields you need\n};\n\n// Return the processed data\nreturn processedData;"},"id":"f68bbaa7-c99a-43df-8680-2a40228db0f3","name":"Clean data","type":"n8n-nodes-base.code","typeVersion":2,"position":[-4680,120]}],"connections":{"HTTP Request":{"main":[[{"node":"WebpageContentExtractor1","type":"main","index":0}]]},"Article summary":{"main":[[{"node":"Image Creation","type":"main","index":0}]]},"Image Creation":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Create Post Facebook Format","type":"main","index":0}]]},"NocoDB":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Wait":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"NocoDB1","type":"main","index":0}]]},"NocoDB1":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Instagram prepare media":{"main":[[{"node":"Instagram check status of media uploaded before","type":"main","index":0}]]},"Instagram publish media":{"main":[[{"node":"Instagram check status of media published before","type":"main","index":0}]]},"Instagram check status of media uploaded before":{"main":[[{"node":"If media status is finished","type":"main","index":0}]]},"If media status is finished":{"main":[[{"node":"Instagram publish media","type":"main","index":0}],[{"node":"Telegram1","type":"main","index":0}]]},"Instagram check status of media published before":{"main":[[{"node":"If media status is finished1","type":"main","index":0}]]},"If media status is finished1":{"main":[[{"node":"Telegram2","type":"main","index":0}],[{"node":"Telegram","type":"main","index":0}]]},"Instagram params":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Facebook Graph API":{"main":[[{"node":"If media status is finished2","type":"main","index":0}]]},"If media status is finished2":{"main":[[{"node":"Post Success Facebook","type":"main","index":0}],[{"node":"Error Post Facebook","type":"main","index":0}]]},"If media status is finished3":{"main":[[{"node":"Post Success LinkedIn","type":"main","index":0}],[{"node":"Error Post Linkedin","type":"main","index":0}]]},"LinkedIn":{"main":[[{"node":"If media status is finished3","type":"main","index":0}]]},"Set Parameter":{"main":[[{"node":"Get Long Lived FB User Token1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"n8n","type":"main","index":0}]]},"Get Long Lived FB User Token1":{"main":[[{"node":"Get Long Lived FB Page Token1","type":"main","index":0}]]},"Get Long Lived FB Page Token1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Save image1":{"main":[[{"node":"Make Blur","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"Resize image","type":"main","index":0}]]},"Make Blur":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Resize image":{"main":[[{"node":"Merge image over","type":"main","index":0}]]},"Merge image over":{"main":[[{"node":"NocoDB","type":"main","index":0},{"node":"Send Image Post","type":"main","index":0},{"node":"Google Drive1","type":"main","index":0}]]},"POST imgBB save img":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"WebpageContentExtractor1":{"main":[[{"node":"Article summary","type":"main","index":0}]]},"Linkedin Post":{"main":[[{"node":"Google Drive3","type":"main","index":0}]]},"Send post":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Send Image Post":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Google Drive1":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Google Drive2":{"main":[[{"node":"Facebook Graph API","type":"main","index":0}]]},"Google Drive4":{"main":[[{"node":"POST imgBB save img1","type":"main","index":0}]]},"POST imgBB save img1":{"main":[[{"node":"Instagram params","type":"main","index":0}]]},"Create a Post Instagram":{"main":[[{"node":"Google Drive4","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Wait2":{"main":[[{"node":"If3","type":"main","index":0}]]},"If3":{"main":[[{"node":"HTTP Request","type":"main","index":0}],[{"node":"Select source","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Select source","type":"main","index":0}]]},"RSS Feed Read2":{"main":[[{"node":"Clean data","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Select source","type":"main","index":0}]]},"Reading new1":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"Create Post Facebook Format":{"main":[[{"node":"Save image1","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Send post","type":"main","index":0},{"node":"Merge1","type":"main","index":1}]]},"Merge1":{"main":[[{"node":"Create a Post Instagram","type":"main","index":0},{"node":"Linkedin Post","type":"main","index":0},{"node":"Google Drive2","type":"main","index":0}]]},"Google Drive3":{"main":[[{"node":"LinkedIn","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Instagram prepare media","type":"main","index":0}]]},"Select source":{"main":[[{"node":"RSS Feed Read2","type":"main","index":0}]]},"Clean data":{"main":[[{"node":"Reading new1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","executionTimeout":3600},"staticData":{"node:RSS Feed Trigger":{"lastItemDate":"2025-01-27T05:02:36.000Z"},"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0bcf0f88-1d21-4917-b4fd-641799bcda03","triggerCount":1,"tags":[{"createdAt":"2024-11-27T05:11:34.741Z","updatedAt":"2024-11-27T05:11:34.741Z","id":"lkTQ85NNYkbxB1mk","name":"Prod"}]}