docs/social-media-post-automation-v1-JtQoIZJRCaBK7m0Y.json
{"createdAt":"2024-12-08T16:27:47.695Z","updatedAt":"2024-12-12T16:43:58.920Z","id":"JtQoIZJRCaBK7m0Y","name":"Social Media Post Automation V1","active":false,"nodes":[{"parameters":{"pollTimes":{"item":[{}]},"feedUrl":"https://www.xataka.com/feedburner.xml"},"type":"n8n-nodes-base.rssFeedReadTrigger","typeVersion":1,"position":[-1020,-240],"id":"b6cf8834-268a-4f31-9dec-456044edf951","name":"RSS Feed Trigger"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bdc06348-a07e-4950-8ec9-98f6af890ef1","leftValue":"={{ $json.isoDate }}","rightValue":"={{ new Date().toISOString().split('T')[0] }}","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-720,-240],"id":"88c280df-545c-48b9-808e-d059630f1e5f","name":"If"},{"parameters":{"url":"={{ $json.link }}","options":{"allowUnauthorizedCerts":true,"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-340,-240],"id":"b0af6e2a-2e18-4d8a-b2d7-c87095c3f5c2","name":"HTTP Request"},{"parameters":{"html":"={{ $json.data }}"},"type":"n8n-nodes-webpage-content-extractor.WebpageContentExtractor","typeVersion":1,"position":[20,-240],"id":"3b90d11c-c64d-4d41-864c-4e8c71dd60a2","name":"WebpageContentExtractor"},{"parameters":{"resource":"assistant","assistantId":{"__rl":true,"value":"asst_l2cfvsBfSyR4sRUUHqXEO8gI","mode":"list","cachedResultName":"Article Summariser"},"prompt":"define","text":"=Full article: {{ $json.textContent }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.7,"position":[500,-240],"id":"da78e737-5993-4099-bf7d-56a9a6a19ba1","name":"Article summary","credentials":{"openAiApi":{"id":"SaBv7WVgrDu3Ao1X","name":"OpenAi account"}}},{"parameters":{"resource":"assistant","assistantId":{"__rl":true,"value":"asst_6B3WHTDPMRk43qTPgDI5oY1o","mode":"list","cachedResultName":"Create Image Prompt"},"prompt":"define","text":"=Full article:  {{ $('WebpageContentExtractor').item.json.textContent }} Article Summary: {{ $json.output }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.7,"position":[940,-240],"id":"f360f667-035d-47f2-bc2a-c1b70516c613","name":"Image Creation","credentials":{"openAiApi":{"id":"SaBv7WVgrDu3Ao1X","name":"OpenAi account"}}},{"parameters":{"resource":"image","prompt":"={{ $json.output }}","options":{"returnImageUrls":true}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.7,"position":[1420,-140],"id":"1cd46d78-f6e7-4cb5-afed-f76a4e9c787f","name":"OpenAI","alwaysOutputData":false,"notesInFlow":false,"credentials":{"openAiApi":{"id":"SaBv7WVgrDu3Ao1X","name":"OpenAi account"}}},{"parameters":{"authentication":"nocoDbApiToken","operation":"create","workspaceId":"w1felbpc","projectId":"pye5b0uzaqtaobe","table":"mprtsb8dvir4tq8","fieldsUi":{"fieldValues":[{"fieldName":"URL","fieldValue":"={{ $('RSS Feed Trigger').item.json.link }}"},{"fieldName":"Article Summary","fieldValue":"={{ $('Article summary').item.json.output }}"},{"fieldName":"Platform","fieldValue":"Facebook"},{"fieldName":"Post","fieldValue":"={{ $json.output }}"},{"fieldName":"Image URL","fieldValue":"={{ $('OpenAI').item.json.url }}"},{"fieldName":"Image Prompt","fieldValue":"={{ $('Image Creation').item.json.output }}"}]}},"type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[-1120,820],"id":"dc8dddcc-51d0-4692-893d-85524fd4bc4c","name":"NocoDB","credentials":{"nocoDbApiToken":{"id":"vJBHkyd7fFPAg8yF","name":"NocoDB Token account"}}},{"parameters":{"chatId":"792267610","text":"=FB Post:  {{ $json.Post }}\n\nArticle Summary: {{ $json['Article Summary'] }}\n\nOriginal URL: {{ $json.URL }}\n\nImage: {{ $json['Image URL'] }}\n\nCocode DB Link that can be used to edit the post:\nhttps://app.nocodb.com/#/w1felbpc/pye5b0uzaqtaobe/mprtsb8dvir4tq8/mediaSocialList?rowId={{ $json.Id }}\n\nPlease click [Approved]({{ $execution.resumeUrl }}?answer=Approved) or [Declined]({{ $execution.resumeUrl }}?answer=Declined)","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-900,820],"id":"75ad1142-1243-4913-98cd-2eece670d14e","name":"Telegram","credentials":{"telegramApi":{"id":"gaOHgbat0CO2TRi9","name":"Telegram account"}}},{"parameters":{"resume":"webhook","options":{"responseData":"OK Go!!!"}},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-680,820],"id":"eb2a3b77-54a1-46d5-bab8-9f0e4cbc1a96","name":"Wait","webhookId":"c8090b0b-a334-4399-9c5e-dc4474f06c45"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5c78b4d1-c263-42a5-af60-e4de9793aa09","leftValue":"={{ $json.query.answer }}","rightValue":"Approved","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-460,820],"id":"3861d7db-cadc-4e95-8bf8-ee91c26af659","name":"If1"},{"parameters":{"authentication":"nocoDbApiToken","operation":"update","workspaceId":"w1felbpc","projectId":"pye5b0uzaqtaobe","table":"mprtsb8dvir4tq8","fieldsUi":{"fieldValues":[{"fieldName":"Status","fieldValue":"Approved"},{"fieldName":"Id","fieldValue":"={{ $('NocoDB').item.json.Id }}"}]}},"type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[-160,820],"id":"bcdff4a8-51d3-4207-931e-fed97e765820","name":"NocoDB1","credentials":{"nocoDbApiToken":{"id":"vJBHkyd7fFPAg8yF","name":"NocoDB Token account"}}},{"parameters":{"resource":"assistant","assistantId":{"__rl":true,"value":"asst_Wvrsr6z9lp254B0a7rrCG0Vl","mode":"list","cachedResultName":"Linkedin Post generator"},"prompt":"define","text":"=Article:  {{ $('WebpageContentExtractor').item.json.textContent }}\n\nSummary: {{ $('Article summary').item.json.output }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.7,"position":[740,880],"id":"e0aab50d-84e3-4a7a-b30e-e8ec909150ae","name":"Linkedin Post","credentials":{"openAiApi":{"id":"SaBv7WVgrDu3Ao1X","name":"OpenAi account"}}},{"parameters":{"url":"={{ $('OpenAI').item.json.url }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"File","value":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1160,880],"id":"3bd05c26-6f39-41e3-ab8c-a7f3bb80a7b4","name":"Save image"},{"parameters":{"person":"q0Oao2mg_Z","text":"={{ $json.output }}","shareMediaCategory":"IMAGE","additionalFields":{}},"type":"n8n-nodes-base.linkedIn","typeVersion":1,"position":[1480,880],"id":"d9fd8609-5c21-46cf-abfe-77a5488b6bb6","name":"LinkedIn","credentials":{"linkedInOAuth2Api":{"id":"XvGta3SUejWF85te","name":"LinkedIn account"}}},{"parameters":{"resource":"assistant","assistantId":{"__rl":true,"value":"asst_jCIGGglDg79CY2m52NTypz37","mode":"list","cachedResultName":"Instagram Post Generator"},"prompt":"define","text":"=Article: {{ $('WebpageContentExtractor').item.json.textContent }}\nSummary: {{ $('Article summary').item.json.output }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.7,"position":[240,1460],"id":"9554a47b-738f-4017-837a-db01a761bdf5","name":"Create a Post Instagram","credentials":{"openAiApi":{"id":"SaBv7WVgrDu3Ao1X","name":"OpenAi account"}}},{"parameters":{"resource":"assistant","assistantId":{"__rl":true,"value":"asst_8fGhVZOBp44llmMnb71KFTAF","mode":"list","cachedResultName":"Facebook Post Generator"},"prompt":"define","text":"=Article:  {{ $('WebpageContentExtractor').item.json.textContent }}\nSummary: {{ $('Article summary').item.json.output }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.7,"position":[-1540,820],"id":"9b4c7ca7-514e-459a-ae04-826e25c4dd72","name":"Create Post Facebook Format","credentials":{"openAiApi":{"id":"SaBv7WVgrDu3Ao1X","name":"OpenAi account"}}},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"v20.0","node":"={{ $json.instagram_business_account_id }}","edge":"media","options":{"queryParameters":{"parameter":[{"name":"image_url","value":"={{ $('NocoDB').item.json['Image URL'] }}"},{"name":"caption","value":"={{ $json.instagram_post_caption }}"}]}}},"id":"76c2086b-878b-47c4-9539-b13399c0f3d5","name":"Instagram prepare media","type":"n8n-nodes-base.facebookGraphApi","position":[900,1460],"typeVersion":1,"credentials":{"facebookGraphApi":{"id":"ijHzHCO2bzoKXCD7","name":"Facebook Graph account"}}},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"v20.0","node":"={{ $('Instagram params').item.json.instagram_business_account_id }}","edge":"media_publish","options":{"queryParameters":{"parameter":[{"name":"creation_id","value":"={{ $json.id }}"}]}}},"id":"4cd45d9d-7448-4980-a7c0-c08274f01354","name":"Instagram publish media","type":"n8n-nodes-base.facebookGraphApi","position":[1600,1380],"typeVersion":1,"credentials":{"facebookGraphApi":{"id":"ijHzHCO2bzoKXCD7","name":"Facebook Graph account"}}},{"parameters":{"content":"## Instagram POST","height":430,"width":2430,"color":4},"id":"b4fb9a88-7b7b-4967-be8a-cdd7bc066816","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[180,1320],"typeVersion":1},{"parameters":{"graphApiVersion":"v20.0","node":"={{ $json.id }}","options":{"fields":{"field":[{"name":"id"},{"name":"status"},{"name":"status_code"}]}}},"id":"91f11a34-e3d9-4469-9482-17fc33d272c3","name":"Instagram check status of media uploaded before","type":"n8n-nodes-base.facebookGraphApi","position":[1120,1460],"typeVersion":1,"credentials":{"facebookGraphApi":{"id":"ijHzHCO2bzoKXCD7","name":"Facebook Graph account"}}},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"0304efee-33b2-499e-bad1-9238c1fc2999","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.status_code }}","rightValue":"FINISHED"}]},"options":{}},"id":"2bec6856-c470-466c-882e-c5b6b98c9ada","name":"If media status is finished","type":"n8n-nodes-base.if","position":[1360,1460],"typeVersion":2.2},{"parameters":{"graphApiVersion":"v20.0","node":"={{ $('Instagram check status of media uploaded before').item.json.id }}","options":{"fields":{"field":[{"name":"id"},{"name":"status"},{"name":"status_code"}]}}},"id":"3a165e85-23d8-4098-a31f-6b3141b2d88e","name":"Instagram check status of media published before","type":"n8n-nodes-base.facebookGraphApi","position":[1820,1380],"typeVersion":1,"credentials":{"facebookGraphApi":{"id":"ijHzHCO2bzoKXCD7","name":"Facebook Graph account"}}},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"0304efee-33b2-499e-bad1-9238c1fc2999","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.status_code }}","rightValue":"PUBLISHED"}]},"options":{}},"id":"fbff400d-2dba-44f3-93af-0f414d79dc94","name":"If media status is finished1","type":"n8n-nodes-base.if","position":[2040,1380],"typeVersion":2.2},{"parameters":{"chatId":"792267610","text":"Rama Falsa del post de instagram","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1600,1600],"id":"4ecafcd9-c06f-4648-9ac6-90962759e898","name":"Telegram1","credentials":{"telegramApi":{"id":"gaOHgbat0CO2TRi9","name":"Telegram account"}}},{"parameters":{"assignments":{"assignments":[{"id":"225df266-bf29-4415-b04c-2750cef4506a","name":"image_url","type":"string","value":"={{ $('NocoDB').item.json['Image URL'] }}"},{"id":"1e380c14-e908-4eeb-90e0-957a422829d0","name":"instagram_business_account_id","type":"string","value":"17841461291152241"},{"id":"f35e3093-1bff-4cc6-a6c4-909dca314cc7","name":"instagram_post_caption","type":"string","value":"={{ $json.output }}"}]},"options":{}},"id":"3b146f5c-8623-423b-bf59-bca720482136","name":"Instagram params","type":"n8n-nodes-base.set","position":[660,1460],"typeVersion":3.4},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"v20.0","node":"me","edge":"photos","options":{"queryParameters":{"parameter":[{"name":"message","value":"={{ $('NocoDB').item.json.Post }}"},{"name":"published","value":"true"},{"name":"url","value":"={{ $('NocoDB').item.json['Image URL'] }}"}]}}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[960,300],"id":"921f9128-50bc-47d9-8f2c-06333440ef52","name":"Facebook Graph API","credentials":{"facebookGraphApi":{"id":"ijHzHCO2bzoKXCD7","name":"Facebook Graph account"}}},{"parameters":{"chatId":"792267610","text":"=** Status Post Instagram\nID Post:  {{ $json.id }}\nStatus: {{ $json.status }}\nStatus Code: {{ $json.status_code }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2340,1360],"id":"7978671e-d73d-4284-a893-02dbd7638bb7","name":"Telegram2","credentials":{"telegramApi":{"id":"gaOHgbat0CO2TRi9","name":"Telegram account"}}},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"0304efee-33b2-499e-bad1-9238c1fc2999","operator":{"type":"string","operation":"exists","singleValue":true},"leftValue":"={{ $json.id }}","rightValue":"={{ $json.id }}"},{"id":"397f1bde-6549-4892-af73-058a6c915ae6","leftValue":"={{ $json.post_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"80e4ea2b-5f21-49cb-a8af-6372c069d0de","name":"If media status is finished2","type":"n8n-nodes-base.if","position":[1220,300],"typeVersion":2.2},{"parameters":{"chatId":"792267610","text":"=** Status Post Facebook ** **ERROR**\nID :  {{ $json.id }}\nPost ID :{{ $json.post_id }}\n\nPost creado correctamente, aca te dejo la URL del post\nhttps://www.facebook.com/{{ $json.post_id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1620,440],"id":"9f9b1eab-8541-4fc0-a412-7573eb8f397f","name":"Error Post Facebook","credentials":{"telegramApi":{"id":"gaOHgbat0CO2TRi9","name":"Telegram account"}}},{"parameters":{"chatId":"792267610","text":"=** Status Post Facebook **\nID :  {{ $json.id }}\nPost ID :{{ $json.post_id }}\n\nPost creado correctamente, aca te dejo la URL del post\nhttps://www.facebook.com/{{ $json.post_id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1620,200],"id":"6acfc4ee-a2c6-46c2-814a-3f1a4564ddd4","name":"Post Success Facebook","credentials":{"telegramApi":{"id":"gaOHgbat0CO2TRi9","name":"Telegram account"}}},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"0304efee-33b2-499e-bad1-9238c1fc2999","operator":{"type":"string","operation":"exists","singleValue":true},"leftValue":"={{ $json.urn }}","rightValue":"={{ $json.id }}"}],"combinator":"and"},"options":{}},"id":"b9fac7c2-c5a0-484b-95d8-7152d9c6379e","name":"If media status is finished3","type":"n8n-nodes-base.if","position":[1760,880],"typeVersion":2.2},{"parameters":{"chatId":"792267610","text":"=** Status Post Linkedin **\nID : {{ $json.urn }}\n\nPost creado correctamente","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2140,780],"id":"58fc5ba0-a469-48b9-8d57-f044b5328410","name":"Post Success LinkedIn","credentials":{"telegramApi":{"id":"gaOHgbat0CO2TRi9","name":"Telegram account"}}},{"parameters":{"chatId":"792267610","text":"=** Status Post Linkedin ** **ERROR**","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2140,1020],"id":"43403381-dd61-4368-ba78-bcb9688b4b9a","name":"Error Post Linkedin","credentials":{"telegramApi":{"id":"gaOHgbat0CO2TRi9","name":"Telegram account"}}},{"parameters":{"url":"={{ $json.url }}","options":{}},"id":"103bda87-cb0b-49e3-8cb6-3c86a9879761","name":"RSS Feed Read","type":"n8n-nodes-base.rssFeedRead","position":[1840,-760],"typeVersion":1},{"parameters":{},"id":"99c7f867-28cc-45f3-abca-d52d8f3772e8","name":"When clicking \"Execute Workflow\"","type":"n8n-nodes-base.manualTrigger","position":[1160,-840],"typeVersion":1},{"parameters":{"jsCode":"return [\n  {\n    json: {\n      url: 'https://medium.com/feed/n8n-io',\n    }\n  },\n  {\n    json: {\n      url: 'https://www.xataka.com/feedburner.xml',\n    }\n  },\n  {\n    json: {\n      url: 'https://rss.nytimes.com/services/xml/rss/nyt/Technology.xml',\n    }\n  }\n];"},"id":"a9d9b589-2670-477e-9801-cedaec3f513c","name":"Code","type":"n8n-nodes-base.code","position":[1380,-840],"typeVersion":1},{"parameters":{"options":{}},"id":"1608f77d-14fa-4764-a9fd-fc0a4e2c314f","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[1600,-840],"typeVersion":3},{"parameters":{"content":"## LinkedIn POST","height":470,"width":1990},"id":"49ffef76-6741-4098-9cea-65ef04150724","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[620,720],"typeVersion":1},{"parameters":{"content":"## Facebook POST","height":470,"width":1990,"color":3},"id":"989ec7ab-2136-4184-849a-aa53ac5f6737","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[620,160],"typeVersion":1}],"connections":{"RSS Feed Trigger":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"HTTP Request","type":"main","index":0}],[]]},"HTTP Request":{"main":[[{"node":"WebpageContentExtractor","type":"main","index":0}]]},"WebpageContentExtractor":{"main":[[{"node":"Article summary","type":"main","index":0}]]},"Article summary":{"main":[[{"node":"Image Creation","type":"main","index":0}]]},"Image Creation":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Create Post Facebook Format","type":"main","index":0}]]},"NocoDB":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"Telegram":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"NocoDB1","type":"main","index":0}]]},"NocoDB1":{"main":[[{"node":"Linkedin Post","type":"main","index":0},{"node":"Create a Post Instagram","type":"main","index":0},{"node":"Facebook Graph API","type":"main","index":0}]]},"Linkedin Post":{"main":[[{"node":"Save image","type":"main","index":0}]]},"Save image":{"main":[[{"node":"LinkedIn","type":"main","index":0}]]},"Create Post Facebook Format":{"main":[[{"node":"NocoDB","type":"main","index":0}]]},"Create a Post Instagram":{"main":[[{"node":"Instagram params","type":"main","index":0}]]},"Instagram prepare media":{"main":[[{"node":"Instagram check status of media uploaded before","type":"main","index":0}]]},"Instagram publish media":{"main":[[{"node":"Instagram check status of media published before","type":"main","index":0}]]},"Instagram check status of media uploaded before":{"main":[[{"node":"If media status is finished","type":"main","index":0}]]},"If media status is finished":{"main":[[{"node":"Instagram publish media","type":"main","index":0}],[{"node":"Telegram1","type":"main","index":0}]]},"Instagram check status of media published before":{"main":[[{"node":"If media status is finished1","type":"main","index":0}]]},"If media status is finished1":{"main":[[{"node":"Telegram2","type":"main","index":0}],[]]},"Instagram params":{"main":[[{"node":"Instagram prepare media","type":"main","index":0}]]},"Facebook Graph API":{"main":[[{"node":"If media status is finished2","type":"main","index":0}]]},"If media status is finished2":{"main":[[{"node":"Post Success Facebook","type":"main","index":0}],[{"node":"Error Post Facebook","type":"main","index":0}]]},"If media status is finished3":{"main":[[{"node":"Post Success LinkedIn","type":"main","index":0}],[{"node":"Error Post Linkedin","type":"main","index":0}]]},"LinkedIn":{"main":[[{"node":"If media status is finished3","type":"main","index":0}]]},"Code":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"RSS Feed Read":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"RSS Feed Read","type":"main","index":0}]]},"When clicking \"Execute Workflow\"":{"main":[[{"node":"Code","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"6745f2d2-10ed-4841-9c72-4fec437d8935","triggerCount":0,"tags":[]}