docs/social-media-post-automation-v2-final-9GTW4qbRQuG2bswt.json
{"createdAt":"2024-12-12T16:44:32.755Z","updatedAt":"2024-12-28T15:15:43.869Z","id":"9GTW4qbRQuG2bswt","name":"Social Media Post Automation V2 Final","active":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"hour":11}]},"feedUrl":"https://www.xataka.com/feedburner.xml"},"type":"n8n-nodes-base.rssFeedReadTrigger","typeVersion":1,"position":[-3340,-20],"id":"fa2d1720-25d0-41d8-a64a-f38cd92ed954","name":"RSS Feed Trigger"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bdc06348-a07e-4950-8ec9-98f6af890ef1","leftValue":"={{ $json.isoDate }}","rightValue":"={{ new Date().toISOString().split('T')[0] }}","operator":{"type":"string","operation":"contains"}},{"id":"83e0c756-d92d-4ed5-b188-b45072407199","leftValue":"={{ $json.query.link }}","rightValue":"={{ $json.link }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1580,0],"id":"54e5fb16-ee48-4264-8430-88e581d3c2c9","name":"If"},{"parameters":{"url":"={{ $json.query.link }}","options":{"allowUnauthorizedCerts":true,"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1200,0],"id":"aedb847c-f7ed-485b-9c0f-8665f6f1348a","name":"HTTP Request"},{"parameters":{"html":"={{ $json.data }}"},"type":"n8n-nodes-webpage-content-extractor.WebpageContentExtractor","typeVersion":1,"position":[-900,0],"id":"cce4c2b3-c03c-402a-bb13-3552f5d72fe6","name":"WebpageContentExtractor"},{"parameters":{"resource":"assistant","assistantId":{"__rl":true,"value":"asst_l2cfvsBfSyR4sRUUHqXEO8gI","mode":"list","cachedResultName":"Article Summariser"},"prompt":"define","text":"=Full article: {{ $json.textContent }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.7,"position":[-620,0],"id":"bc93e057-45b7-494c-aafc-fb2ba3f037e0","name":"Article summary","credentials":{"openAiApi":{"id":"SaBv7WVgrDu3Ao1X","name":"OpenAi account"}}},{"parameters":{"resource":"assistant","assistantId":{"__rl":true,"value":"asst_6B3WHTDPMRk43qTPgDI5oY1o","mode":"list","cachedResultName":"Create Image Prompt"},"prompt":"define","text":"=Full article:  {{ $('WebpageContentExtractor').item.json.textContent }} Article Summary: {{ $json.output }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.7,"position":[-1600,860],"id":"58e973e4-668f-4b01-b514-8a9a5cf09296","name":"Image Creation","credentials":{"openAiApi":{"id":"SaBv7WVgrDu3Ao1X","name":"OpenAi account"}}},{"parameters":{"resource":"image","prompt":"={{ $json.output }}","options":{"returnImageUrls":true}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.7,"position":[-1100,860],"id":"6874a582-09fb-48c1-bd95-a1c84c637ef0","name":"OpenAI","alwaysOutputData":false,"notesInFlow":false,"credentials":{"openAiApi":{"id":"SaBv7WVgrDu3Ao1X","name":"OpenAi account"}}},{"parameters":{"authentication":"nocoDbApiToken","operation":"create","workspaceId":"w1felbpc","projectId":"pye5b0uzaqtaobe","table":"mprtsb8dvir4tq8","fieldsUi":{"fieldValues":[{"fieldName":"URL","fieldValue":"={{ $('RSS Feed Trigger').item.json.link }}"},{"fieldName":"Article Summary","fieldValue":"={{ $('Article summary').item.json.output }}"},{"fieldName":"Platform","fieldValue":"Facebook"},{"fieldName":"Post","fieldValue":"={{ $json.output }}"},{"fieldName":"Image URL","fieldValue":"={{ $('OpenAI').item.json.url }}"},{"fieldName":"Image Prompt","fieldValue":"={{ $('Image Creation').item.json.output }}"}]}},"type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[-460,820],"id":"38a211d6-2a87-47c6-940c-e2ef81ce2980","name":"NocoDB","credentials":{"nocoDbApiToken":{"id":"vJBHkyd7fFPAg8yF","name":"NocoDB Token account"}}},{"parameters":{"chatId":"792267610","text":"=FB Post:  {{ $json.Post }}\n\nArticle Summary: {{ $json['Article Summary'] }}\n\nOriginal URL: {{ $json.URL }}\n\nImage: {{ $json['Image URL'] }}\n\nCocode DB Link that can be used to edit the post:\nhttps://app.nocodb.com/#/w1felbpc/pye5b0uzaqtaobe/mprtsb8dvir4tq8/mediaSocialList?rowId={{ $json.Id }}\n\nPlease click [Approved]({{ $execution.resumeUrl }}?answer=Approved) or [Declined]({{ $execution.resumeUrl }}?answer=Declined)","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-240,820],"id":"1170976b-b17b-446c-9478-3737a38a7d20","name":"Telegram","credentials":{"telegramApi":{"id":"gaOHgbat0CO2TRi9","name":"Telegram account"}}},{"parameters":{"resume":"webhook","options":{"responseData":"OK Go!!!"}},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-20,820],"id":"9da03454-d924-462e-a7ad-a385083c670b","name":"Wait","webhookId":"b4a10d4e-55a1-40ec-9bde-899208f0f34e"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5c78b4d1-c263-42a5-af60-e4de9793aa09","leftValue":"={{ $json.query.answer }}","rightValue":"Approved","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[200,820],"id":"57b68a53-f39f-451d-b225-3ce2f8af1af9","name":"If1"},{"parameters":{"authentication":"nocoDbApiToken","operation":"update","workspaceId":"w1felbpc","projectId":"pye5b0uzaqtaobe","table":"mprtsb8dvir4tq8","fieldsUi":{"fieldValues":[{"fieldName":"Status","fieldValue":"Approved"},{"fieldName":"Id","fieldValue":"={{ $('NocoDB').item.json.Id }}"}]}},"type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[500,820],"id":"dd86a9ee-c65d-474a-aaf2-eedfc296e48d","name":"NocoDB1","credentials":{"nocoDbApiToken":{"id":"vJBHkyd7fFPAg8yF","name":"NocoDB Token account"}}},{"parameters":{"resource":"assistant","assistantId":{"__rl":true,"value":"asst_Wvrsr6z9lp254B0a7rrCG0Vl","mode":"list","cachedResultName":"Linkedin Post generator"},"prompt":"define","text":"=Article:  {{ $('WebpageContentExtractor').item.json.textContent }}\n\nSummary: {{ $('Article summary').item.json.output }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.7,"position":[1400,880],"id":"42d33c4d-84c3-4fee-8ac5-83ebcd1cf96a","name":"Linkedin Post","credentials":{"openAiApi":{"id":"SaBv7WVgrDu3Ao1X","name":"OpenAi account"}}},{"parameters":{"url":"={{ $('OpenAI').item.json.url }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"File","value":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1860,880],"id":"1bb7ed6b-b850-4c21-9add-48fdb5154162","name":"Save image"},{"parameters":{"person":"q0Oao2mg_Z","text":"={{ $('Linkedin Post').item.json.output }}","shareMediaCategory":"IMAGE","additionalFields":{}},"type":"n8n-nodes-base.linkedIn","typeVersion":1,"position":[2140,880],"id":"ac880133-94e3-4ab0-a44d-655ba0298d80","name":"LinkedIn","credentials":{"linkedInOAuth2Api":{"id":"XvGta3SUejWF85te","name":"LinkedIn account"}}},{"parameters":{"resource":"assistant","assistantId":{"__rl":true,"value":"asst_jCIGGglDg79CY2m52NTypz37","mode":"list","cachedResultName":"Instagram Post Generator"},"prompt":"define","text":"=Article: {{ $('WebpageContentExtractor').item.json.textContent }}\nSummary: {{ $('Article summary').item.json.output }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.7,"position":[900,1460],"id":"fba920c3-f405-42e7-a1f0-5cf2179b628c","name":"Create a Post Instagram","credentials":{"openAiApi":{"id":"SaBv7WVgrDu3Ao1X","name":"OpenAi account"}}},{"parameters":{"resource":"assistant","assistantId":{"__rl":true,"value":"asst_8fGhVZOBp44llmMnb71KFTAF","mode":"list","cachedResultName":"Facebook Post Generator"},"prompt":"define","text":"=Article:  {{ $('Post Manual').item.json.textContent }}\nSummary: {{ $('Post Manual').item.json.item.json.output }}\nPost: {{ $('Post Manual').item.json.post }}\n\nHow do you plan to embrace the future of automation in 2025?","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.7,"position":[-820,860],"id":"5cdde41e-3045-4011-bedd-78401571b514","name":"Create Post Facebook Format","credentials":{"openAiApi":{"id":"SaBv7WVgrDu3Ao1X","name":"OpenAi account"}}},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"v20.0","node":"={{ $json.instagram_business_account_id }}","edge":"media","options":{"queryParameters":{"parameter":[{"name":"image_url","value":"={{ $('NocoDB').item.json['Image URL'] }}"},{"name":"caption","value":"={{ $json.instagram_post_caption }}"}]}}},"id":"cc0f46f4-2c74-4b51-a01f-e7fabce33d8e","name":"Instagram prepare media","type":"n8n-nodes-base.facebookGraphApi","position":[1560,1460],"typeVersion":1,"credentials":{"facebookGraphApi":{"id":"ijHzHCO2bzoKXCD7","name":"Facebook Graph PROD"}}},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"v20.0","node":"={{ $('Instagram params').item.json.instagram_business_account_id }}","edge":"media_publish","options":{"queryParameters":{"parameter":[{"name":"creation_id","value":"={{ $json.id }}"}]}}},"id":"a610062f-12ed-42e9-8654-0e4983107bd2","name":"Instagram publish media","type":"n8n-nodes-base.facebookGraphApi","position":[2260,1380],"typeVersion":1,"credentials":{"facebookGraphApi":{"id":"ijHzHCO2bzoKXCD7","name":"Facebook Graph PROD"}}},{"parameters":{"content":"## Instagram POST","height":430,"width":2430,"color":4},"id":"a152f971-d8fb-43c7-ac60-28d347515a9a","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[780,1300],"typeVersion":1},{"parameters":{"graphApiVersion":"v20.0","node":"={{ $json.id }}","options":{"fields":{"field":[{"name":"id"},{"name":"status"},{"name":"status_code"}]}}},"id":"835ca242-36ba-4a18-babe-bb1b446b55cf","name":"Instagram check status of media uploaded before","type":"n8n-nodes-base.facebookGraphApi","position":[1780,1460],"typeVersion":1,"credentials":{"facebookGraphApi":{"id":"ijHzHCO2bzoKXCD7","name":"Facebook Graph PROD"}}},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"0304efee-33b2-499e-bad1-9238c1fc2999","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.status_code }}","rightValue":"FINISHED"}]},"options":{}},"id":"adcc1c29-7daf-43de-ae19-06a8fec22737","name":"If media status is finished","type":"n8n-nodes-base.if","position":[2020,1460],"typeVersion":2.2},{"parameters":{"graphApiVersion":"v20.0","node":"={{ $('Instagram check status of media uploaded before').item.json.id }}","options":{"fields":{"field":[{"name":"id"},{"name":"status"},{"name":"status_code"}]}}},"id":"6d5c16ac-fe4f-4670-a5b9-83bd9157f71f","name":"Instagram check status of media published before","type":"n8n-nodes-base.facebookGraphApi","position":[2480,1380],"typeVersion":1,"credentials":{"facebookGraphApi":{"id":"ijHzHCO2bzoKXCD7","name":"Facebook Graph PROD"}}},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"0304efee-33b2-499e-bad1-9238c1fc2999","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.status_code }}","rightValue":"PUBLISHED"}]},"options":{}},"id":"d53e369f-e12d-40ba-9a79-59c05f51c058","name":"If media status is finished1","type":"n8n-nodes-base.if","position":[2700,1380],"typeVersion":2.2},{"parameters":{"chatId":"792267610","text":"Rama Falsa del post de instagram","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2260,1600],"id":"2c2aa8de-6e3d-48de-8814-7cb4e0c3c291","name":"Telegram1","credentials":{"telegramApi":{"id":"gaOHgbat0CO2TRi9","name":"Telegram account"}}},{"parameters":{"assignments":{"assignments":[{"id":"225df266-bf29-4415-b04c-2750cef4506a","name":"image_url","type":"string","value":"={{ $('NocoDB').item.json['Image URL'] }}"},{"id":"1e380c14-e908-4eeb-90e0-957a422829d0","name":"instagram_business_account_id","type":"string","value":"17841461291152241"},{"id":"f35e3093-1bff-4cc6-a6c4-909dca314cc7","name":"instagram_post_caption","type":"string","value":"={{ $json.output }}"}]},"options":{}},"id":"9197d4a5-a55a-4124-897d-3f6c12ff272b","name":"Instagram params","type":"n8n-nodes-base.set","position":[1320,1460],"typeVersion":3.4},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"v20.0","node":"me","edge":"photos","options":{"queryParameters":{"parameter":[{"name":"message","value":"={{ $('NocoDB').item.json.Post }}"},{"name":"published","value":"true"},{"name":"url","value":"={{ $('NocoDB').item.json['Image URL'] }}"}]}}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[1620,300],"id":"0d29dec1-e739-47b6-a192-6a05e4c4300a","name":"Facebook Graph API","credentials":{"facebookGraphApi":{"id":"ijHzHCO2bzoKXCD7","name":"Facebook Graph PROD"}}},{"parameters":{"chatId":"792267610","text":"=** Status Post Instagram\nID Post:  {{ $json.id }}\nStatus: {{ $json.status }}\nStatus Code: {{ $json.status_code }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[3000,1360],"id":"5494e400-4477-4cb3-8e60-433fd76b22c1","name":"Telegram2","credentials":{"telegramApi":{"id":"gaOHgbat0CO2TRi9","name":"Telegram account"}}},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"0304efee-33b2-499e-bad1-9238c1fc2999","operator":{"type":"string","operation":"exists","singleValue":true},"leftValue":"={{ $json.id }}","rightValue":"={{ $json.id }}"},{"id":"397f1bde-6549-4892-af73-058a6c915ae6","leftValue":"={{ $json.post_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"2cbba4b0-8330-47f8-a462-fd756b5d0e8c","name":"If media status is finished2","type":"n8n-nodes-base.if","position":[1880,300],"typeVersion":2.2},{"parameters":{"chatId":"792267610","text":"=** Status Post Facebook ** **ERROR**\nID :  {{ $json.id }}\nPost ID :{{ $json.post_id }}\n\nPost creado correctamente, aca te dejo la URL del post\nhttps://www.facebook.com/{{ $json.post_id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2280,440],"id":"05749412-b150-420f-be22-1360f76cc022","name":"Error Post Facebook","credentials":{"telegramApi":{"id":"gaOHgbat0CO2TRi9","name":"Telegram account"}}},{"parameters":{"chatId":"792267610","text":"=** Status Post Facebook **\nID :  {{ $json.id }}\nPost ID :{{ $json.post_id }}\n\nPost creado correctamente, aca te dejo la URL del post\nhttps://www.facebook.com/{{ $json.post_id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2280,200],"id":"5ad18447-ef4b-481b-be7d-38d76260045e","name":"Post Success Facebook","credentials":{"telegramApi":{"id":"gaOHgbat0CO2TRi9","name":"Telegram account"}}},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"0304efee-33b2-499e-bad1-9238c1fc2999","operator":{"type":"string","operation":"exists","singleValue":true},"leftValue":"={{ $json.urn }}","rightValue":"={{ $json.id }}"}],"combinator":"and"},"options":{}},"id":"f978e01d-05dd-4d51-aef0-3ff6f02adcdc","name":"If media status is finished3","type":"n8n-nodes-base.if","position":[2420,880],"typeVersion":2.2},{"parameters":{"chatId":"792267610","text":"=** Status Post Linkedin **\nID : {{ $json.urn }}\n\nPost creado correctamente","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2800,780],"id":"8c5f1e6e-0e1f-4cb5-b90d-f12c9da24238","name":"Post Success LinkedIn","credentials":{"telegramApi":{"id":"gaOHgbat0CO2TRi9","name":"Telegram account"}}},{"parameters":{"chatId":"792267610","text":"=** Status Post Linkedin ** **ERROR**","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2800,1020],"id":"f5fb7983-206b-4880-9ed0-d707fc6171ee","name":"Error Post Linkedin","credentials":{"telegramApi":{"id":"gaOHgbat0CO2TRi9","name":"Telegram account"}}},{"parameters":{"url":"={{ $json.url }}","options":{}},"id":"a39fa2ea-a8b7-47ef-80a2-85976108d880","name":"RSS Feed Read","type":"n8n-nodes-base.rssFeedRead","position":[-2860,-460],"typeVersion":1},{"parameters":{"jsCode":"return [\n  {\n    json: {\n      url: 'https://www.xataka.com/feedburner.xml',\n    }\n  },\n  {\n    json: {\n      url: 'https://medium.com/feed/n8n-io',\n    }\n  },\n  {\n    json: {\n      url: 'https://rss.nytimes.com/services/xml/rss/nyt/Technology.xml',\n    }\n  }\n];"},"id":"6a65218f-6370-4bb0-b55b-5146a25766c0","name":"Code","type":"n8n-nodes-base.code","position":[-3460,-480],"typeVersion":1},{"parameters":{"batchSize":2,"options":{}},"id":"8751ae92-0e6b-49f6-a89e-eb222b35f470","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[-3240,-480],"typeVersion":3},{"parameters":{"content":"## LinkedIn POST","height":470,"width":1990,"color":5},"id":"af4333cf-81b9-4975-bcc5-c0af9a2c347c","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[1180,720],"typeVersion":1},{"parameters":{"content":"## Facebook POST","height":470,"width":1990,"color":3},"id":"1ab8f492-1baa-454b-97f3-51463ab1977d","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[1180,180],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"b1f6b8a1-dc25-4b1e-9aa3-0c0e452ae2de","name":" client_id","type":"string","value":"922253933198509"},{"id":"9a63879a-c359-49ad-9fec-19c9e4c78dd6","name":" client_secret","type":"string","value":"435ecaf66dce4754854769daca9a39a7"},{"id":"6971a841-ed5e-4d96-bdab-1eaec2d51ccc","name":"user_access_token","type":"string","value":"EAANGyPoUvK0BO8BTxuQyZCd11ZALyTrbghS7vdSS9ZCtUJD8F3wy8yHaZBy69sZAaKuqpN8j81prKfc2DVeCZCmAySd3KaaQ8Pd3oVfMqohYzw265nxqhjDseZBuA5opWfE3ygrhZCCFztpHW1lZA5jMnst5UYKPAvQV1ZBN2pwgUcTfl8nIPOKxjtdAi3YeFnmTiLZBBD7CiHoH1xCwIZCZAnwZDZD"},{"id":"c75d5e50-62ea-4ee0-bfaa-5f79cf4d147e","name":"app_scoped_user_id","type":"string","value":"532716476435274"}]},"options":{}},"id":"c690a9ab-1341-4bce-aee0-a040c50d67bf","name":"Set Parameter","type":"n8n-nodes-base.set","position":[600,-1040],"typeVersion":3.4},{"parameters":{"content":"## Set Required Facebook Parameter \n- client_id\n- client_secret\n- user_access_token\n- app-scoped-user-id (optional)\n\n## according to this doc\nhttps://developers.facebook.com/docs/facebook-login/guides/access-tokens/get-long-lived/\n\n## Resource\nhttps://medium.com/@blienart/get-a-permanent-facebook-page-access-token-a96470dc03ca","height":652,"width":320},"id":"7d7fcd9d-0840-4995-8659-e4b8aeef9256","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[500,-1460],"typeVersion":1},{"parameters":{"resource":"credential","name":"access_token","credentialTypeName":"=Bearer ","data":"={\n\"access_token\": \"Bearer {{ $json.access_token }}\"\n}","requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[1960,-1160],"id":"35c8cb7f-8a4b-40ee-88cb-da245724658a","name":"n8n","alwaysOutputData":false,"retryOnFail":false,"notesInFlow":false,"credentials":{"n8nApi":{"id":"7Nx3lyXbeCHnN3pg","name":"n8n account"}}},{"parameters":{"assignments":{"assignments":[{"id":"d23fb79c-6bdf-46de-a2da-f0c5cd1bab85","name":"access_token","value":"={{ $json.body.data[0].access_token }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1400,-1040],"id":"26f26c1a-66fc-49e1-b798-4274632cd794","name":"Edit Fields"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  //item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1660,-1040],"id":"9e9880fe-088c-48c1-8558-c36cfb2a8162","name":"Code1"},{"parameters":{"content":"## Obtencion de un token de facebook por largo tiempo\n","height":940,"width":1800,"color":4},"type":"n8n-nodes-base.stickyNote","position":[440,-1520],"typeVersion":1,"id":"b5ea3791-5782-4c01-9b89-bdeab30111df","name":"Sticky Note4"},{"parameters":{"url":"https://graph.facebook.com/v20.0/oauth/access_token","sendQuery":true,"queryParameters":{"parameters":[{"name":" grant_type","value":"fb_exchange_token"},{"name":" client_id","value":"={{ $json[' client_id'] }}"},{"name":" client_secret","value":"={{ $json[' client_secret'] }}"},{"name":" fb_exchange_token","value":"={{ $json.user_access_token }}"}]},"options":{"response":{"response":{"fullResponse":true}}}},"id":"e428738f-a6eb-469e-97b2-de52327aa673","name":"Get Long Lived FB User Token1","type":"n8n-nodes-base.httpRequest","position":[900,-1040],"typeVersion":4.2},{"parameters":{"method":"=GET","url":"=https://graph.facebook.com/v20.0/{{ $('Set Parameter').item.json.app_scoped_user_id }}/accounts?access_token={{ $json.body.access_token }}","sendQuery":true,"queryParameters":{"parameters":[{"name":" access_token","value":"={{ $json.body.access_token }}"}]},"options":{"response":{"response":{"fullResponse":true}}}},"id":"8272a1c3-0556-4944-bc14-69605b3d086a","name":"Get Long Lived FB Page Token1","type":"n8n-nodes-base.httpRequest","position":[1160,-1040],"typeVersion":4.2},{"parameters":{"method":"=GET","url":"=https://graph.facebook.com/v20.0/{{ $('Set Parameter').item.json.app_scoped_user_id }}/accounts","sendQuery":true,"queryParameters":{"parameters":[{"name":" access_token","value":"={{ $json.body.access_token }}"}]},"options":{"response":{"response":{"fullResponse":true}}}},"id":"afc67212-80dd-4ad6-a95a-6807caf91356","name":"Get Long Lived FB Page Token OLD V","type":"n8n-nodes-base.httpRequest","position":[1160,-1340],"typeVersion":4.2},{"parameters":{"resume":"webhook","options":{"responseData":"Ok Go!!!"}},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-2820,-20],"id":"e530502f-250e-4d0e-9b17-4656250c586f","name":"Wait1","webhookId":"5121c4d2-5c6b-4e13-829b-50fc3094e019"},{"parameters":{"chatId":"792267610","text":"=Title: {{ $json.title }}\nLink: {{ $json.link }}\n\nPlease click [Approved]({{ $execution.resumeUrl }}?answer=Approved&title={{ $json.title }}&link={{ $json.link }}) or [Declined]({{ $execution.resumeUrl }}?answer=Declined&title={{ $json.title }}&link={{ $json.link }})\n","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-3080,-20],"id":"ee3bebc6-1d37-40eb-b3a4-ad6b75269e6e","name":"Reading new","credentials":{"telegramApi":{"id":"gaOHgbat0CO2TRi9","name":"Telegram account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b4b5e576-7f07-471a-a628-52c0d277c3ee","leftValue":"={{ $json.query.answer }}","rightValue":"Approved","operator":{"type":"string","operation":"equals"}},{"id":"c7ae6bfc-05bc-440b-9daf-d6746aa76d62","leftValue":"={{ $json.query.link }}","rightValue":"={{ $json.query.link }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2560,-20],"id":"48188816-6743-4028-bc08-f3b6ec5d591c","name":"If2"},{"parameters":{"chatId":"792267610","text":"=Title: {{ $json.title }}\nLink: {{ $json.link }}\n\nPlease click [Approved]({{ $execution.resumeUrl }}?answer=Approved&title={{ $json.title }}&link={{ $json.link }}) or [Declined]({{ $execution.resumeUrl }}?answer=Declined&title={{ $json.title }}&link={{ $json.link }})\n","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-2560,-460],"id":"f72b54c7-5ce4-4146-a282-83a85ab2baf3","name":"Reading new1","credentials":{"telegramApi":{"id":"gaOHgbat0CO2TRi9","name":"Telegram account"}}},{"parameters":{"resume":"webhook","options":{"responseData":"success"}},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-2260,-460],"id":"4bd62817-d7e0-404b-ba1e-5ab7e8b6bfca","name":"Wait3","webhookId":"5121c4d2-5c6b-4e13-829b-50fc3094e019"},{"parameters":{"content":"## Summary the news\n","height":360,"width":1560,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1780,-100],"id":"783fd2db-caa9-447f-9b9c-d08d09098f74","name":"Sticky Note5"},{"parameters":{"content":"## Find the news for aproved\n","height":940,"width":1800,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-3660,-600],"typeVersion":1,"id":"fd93444f-be42-4283-9b86-3cf74a1c2589","name":"Sticky Note6"},{"parameters":{"assignments":{"assignments":[{"id":"1e8e41d8-3b2a-4f03-bee6-b151af16c731","name":"output","value":"Create a professional holiday-themed image that reflects the spirit of the season while highlighting Modtecs' commitment to automation and quality. Include elements such as festive decorations, a modern office setting, and symbols of innovation (like gears or digital elements). The Modtecs logo should be prominently displayed, conveying a message of celebration and forward-thinking.","type":"string"},{"id":"ba4d238a-15c7-44e2-9677-ff366d8f7806","name":"post","value":"Season's Greetings from Modtecs!  As we celebrate this festive season, we want to take a moment to express our heartfelt gratitude to all our clients, partners, and team members. At Modtecs, we believe in the power of automation to enhance efficiency and deliver exceptional quality in everything we do.  This year, we have successfully automated our processes, allowing us to provide you with even better service and results. Our commitment to innovation and excellence has enabled us to achieve remarkable outcomes, and we are excited to continue this journey with you.  May this holiday season bring you joy, peace, and prosperity. We look forward to a new year filled with opportunities and continued collaboration.  Happy Holidays from the entire Modtecs team! Together, let’s embrace the future of automation and quality.","type":"string"},{"id":"6798cda0-dcde-4daf-a794-4762cba36fad","name":"textContent","value":"","type":"string"},{"id":"bdb736eb-1079-4acc-a3ac-829d5b6b4a49","name":"item.json.output","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1260,600],"id":"5d4f9911-33e9-4ce6-9fd6-e6d43e5b5b0f","name":"Post Manual"},{"parameters":{"content":"## This is for when you want to make a manual post.\nIt is required to add a prompt for the image and a base copy for the post.\n\n\nJust connect the previous node to this SET node and this one to the next node to create the image.","height":340,"width":560},"type":"n8n-nodes-base.stickyNote","position":[-1300,400],"typeVersion":1,"id":"5407f9b7-f117-471e-9e73-9141bf884dcc","name":"Sticky Note7"}],"connections":{"RSS Feed Trigger":{"main":[[{"node":"Reading new","type":"main","index":0}]]},"If":{"main":[[{"node":"HTTP Request","type":"main","index":0}],[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"WebpageContentExtractor","type":"main","index":0}]]},"WebpageContentExtractor":{"main":[[{"node":"Article summary","type":"main","index":0}]]},"Article summary":{"main":[[{"node":"Image Creation","type":"main","index":0}]]},"Image Creation":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Create Post Facebook Format","type":"main","index":0}]]},"NocoDB":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"Telegram":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"NocoDB1","type":"main","index":0}]]},"NocoDB1":{"main":[[{"node":"Facebook Graph API","type":"main","index":0},{"node":"Create a Post Instagram","type":"main","index":0},{"node":"Linkedin Post","type":"main","index":0}]]},"Linkedin Post":{"main":[[{"node":"Save image","type":"main","index":0}]]},"Save image":{"main":[[{"node":"LinkedIn","type":"main","index":0}]]},"Create Post Facebook Format":{"main":[[{"node":"NocoDB","type":"main","index":0}]]},"Create a Post Instagram":{"main":[[{"node":"Instagram params","type":"main","index":0}]]},"Instagram prepare media":{"main":[[{"node":"Instagram check status of media uploaded before","type":"main","index":0}]]},"Instagram publish media":{"main":[[{"node":"Instagram check status of media published before","type":"main","index":0}]]},"Instagram check status of media uploaded before":{"main":[[{"node":"If media status is finished","type":"main","index":0}]]},"If media status is finished":{"main":[[{"node":"Instagram publish media","type":"main","index":0}],[{"node":"Telegram1","type":"main","index":0}]]},"Instagram check status of media published before":{"main":[[{"node":"If media status is finished1","type":"main","index":0}]]},"If media status is finished1":{"main":[[{"node":"Telegram2","type":"main","index":0}],[]]},"Instagram params":{"main":[[{"node":"Instagram prepare media","type":"main","index":0}]]},"Facebook Graph API":{"main":[[{"node":"If media status is finished2","type":"main","index":0}]]},"If media status is finished2":{"main":[[{"node":"Post Success Facebook","type":"main","index":0}],[{"node":"Error Post Facebook","type":"main","index":0}]]},"If media status is finished3":{"main":[[{"node":"Post Success LinkedIn","type":"main","index":0}],[{"node":"Error Post Linkedin","type":"main","index":0}]]},"LinkedIn":{"main":[[{"node":"If media status is finished3","type":"main","index":0}]]},"Code":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"RSS Feed Read":{"main":[[{"node":"Reading new1","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"RSS Feed Read","type":"main","index":0}]]},"Set Parameter":{"main":[[{"node":"Get Long Lived FB User Token1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"n8n","type":"main","index":0}]]},"Get Long Lived FB User Token1":{"main":[[{"node":"Get Long Lived FB Page Token1","type":"main","index":0}]]},"Get Long Lived FB Page Token1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"If2","type":"main","index":0}]]},"Reading new":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"If2":{"main":[[{"node":"If","type":"main","index":0}],[{"node":"Code","type":"main","index":0}]]},"Reading new1":{"main":[[{"node":"Wait3","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"If","type":"main","index":0}]]},"Post Manual":{"main":[[]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:RSS Feed Trigger":{"lastItemDate":"2024-12-24T20:01:30.000Z"}},"meta":null,"pinData":{},"versionId":"91cf405b-d217-4b2e-b725-e53e672840c3","triggerCount":1,"tags":[{"createdAt":"2024-11-27T05:11:34.741Z","updatedAt":"2024-11-27T05:11:34.741Z","id":"lkTQ85NNYkbxB1mk","name":"Prod"}]}