docs/upload-to-instagram-and-tiktok-from-google-drive-SSWc9eS7UtCpRgIg.json
{"createdAt":"2025-02-22T21:27:25.990Z","updatedAt":"2025-02-27T00:59:25.917Z","id":"SSWc9eS7UtCpRgIg","name":"Upload to Instagram and Tiktok from Google Drive","active":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{},"event":"fileCreated","options":{}},"id":"14f93cdb-72cb-419a-b8d7-a68ae9383290","name":"Google Drive Trigger","type":"n8n-nodes-base.googleDriveTrigger","position":[820,560],"typeVersion":1,"credentials":{"googleDriveOAuth2Api":{"id":"5LP9aPOCoDSbZsTa","name":"Google Drive account"}}},{"parameters":{"authentication":"oAuth2","operation":"download","fileId":{"__rl":true,"mode":"","value":"={{ $json.id || $json.data[0].id }}"},"options":{}},"id":"d4ab0d11-b110-46fa-9cd2-6091737c302e","name":"Google Drive","type":"n8n-nodes-base.googleDrive","position":[1000,560],"retryOnFail":true,"typeVersion":1,"waitBetweenTries":5000,"credentials":{"googleDriveOAuth2Api":{"id":"5LP9aPOCoDSbZsTa","name":"Google Drive account"}}},{"parameters":{},"id":"fde9df88-3f9e-4732-bb1c-72eb33ce6826","name":"Error Trigger","type":"n8n-nodes-base.errorTrigger","position":[1160,900],"typeVersion":1},{"parameters":{"text":"=🔔 ERROR SUBIENDO VIDEOS","additionalFields":{"appendAttribution":false}},"id":"ecfe1ad1-6887-492b-a2f7-f9b6c43f9b91","name":"Telegram","type":"n8n-nodes-base.telegram","position":[1620,880],"webhookId":"f6729386-9905-45f1-800f-4fe01a06ac9c","retryOnFail":true,"typeVersion":1.2,"waitBetweenTries":5000,"credentials":{"telegramApi":{"id":"gaOHgbat0CO2TRi9","name":"Telegram account"}}},{"parameters":{"conditions":{"options":{"version":1,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"9fadb3fd-2547-42bd-8f40-f410a97dcf57","operator":{"type":"string","operation":"notContains"},"leftValue":"={{ $json.trigger.error.message }}","rightValue":"The DNS server returned an error, perhaps the server is offline"}]},"options":{}},"id":"6ed274c7-726f-40aa-92b0-70768dc053a5","name":"If","type":"n8n-nodes-base.if","position":[1360,900],"typeVersion":2.1},{"parameters":{"content":"## Description\nThis automation allows you to upload a video to a configured Google Drive folder, and it will automatically create descriptions and upload it to Instagram and TikTok.\n\n## How to Use\n1. Generate an API token at upload-post.com and add to Upload to Tiktok and Upload to Instagram nodes\n2. Configure your Google Drive folder\n3. Customize the OpenAI prompt for your specific use case\n4. Optional: Configure Telegram for error notifications\n\n## Requirements\n- upload-post.com account\n- Google Drive account\n- OpenAI API key\n","height":260,"width":860},"id":"dd4b2dfa-ccba-45d8-b388-755888343b4c","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[800,240],"typeVersion":1},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"id":"299e3e95-dbcb-4798-b843-a4424ce3f3bf","name":"Get Audio from Video","type":"@n8n/n8n-nodes-langchain.openAi","position":[1440,560],"notesInFlow":true,"retryOnFail":true,"typeVersion":1,"waitBetweenTries":5000,"credentials":{"openAiApi":{"id":"SaBv7WVgrDu3Ao1X","name":"OpenAi account"}},"notes":"Extract the audio from video for generate the description"},{"parameters":{"fileName":"={{ $json.originalFilename.replaceAll(\" \", \"_\") }}","options":{}},"id":"da9048ce-542e-44e0-ba67-ab853822c428","name":"Read video from Google Drive","type":"n8n-nodes-base.writeBinaryFile","position":[1180,560],"typeVersion":1},{"parameters":{"modelId":{"__rl":true,"mode":"list","value":"gpt-4o","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"You are an expert assistant in creating engaging social media video titles.","role":"system"},{"content":"=I'm going to upload a video to social media. Here are some examples of descriptions that have worked well on Instagram:\n\nFollow and save for later. Discover InfluencersDe, the AI tool that automates TikTok creation and publishing to drive traffic to your website. Perfect for entrepreneurs and brands.\n#digitalmarketing #ugc #tiktok #ai #influencersde #contentcreation\n\nDiscover the video marketing revolution with InfluencersDe!\n.\n.\n.\n#socialmedia #videomarketing #ai #tiktok #influencersde #growthhacking\n\nDon't miss InfluencersDe, the tool that transforms your marketing strategy with just one click!\n.\n.\n.\n#ugc #ai #tiktok #digitalmarketing #influencersde #branding\n\nCan you create another title for the Instagram post based on this recognized audio from the video?\n\nAudio: {{ $('Get Audio from Video').item.json.text }}\n\nIMPORTANT: Reply only with the description, don't add anything else."}]},"options":{}},"id":"5977baf1-d4a2-439f-aafe-14745201d3d8","name":"Generate Description for Videos  in Tiktok and Instagram","type":"@n8n/n8n-nodes-langchain.openAi","position":[1660,560],"notesInFlow":true,"retryOnFail":true,"typeVersion":1.4,"waitBetweenTries":5000,"credentials":{"openAiApi":{"id":"SaBv7WVgrDu3Ao1X","name":"OpenAi account"}},"notes":"Request to OpenAi for generate description with the audio extracted from the video"},{"parameters":{"filePath":"={{ $('Read video from Google Drive').item.json.originalFilename.replaceAll(\" \", \"_\") }}","dataPropertyName":"datavideo"},"id":"a139c8b0-b934-492b-8f85-e42c9c345af4","name":"Read Video from Google Drive","type":"n8n-nodes-base.readBinaryFile","position":[2220,340],"typeVersion":1},{"parameters":{"filePath":"={{ $('Read video from Google Drive').item.json.originalFilename.replaceAll(\" \", \"_\") }}","dataPropertyName":"datavideo"},"id":"63230edb-8346-4441-929f-1f6403507501","name":"Read Video from Google Drive2","type":"n8n-nodes-base.readBinaryFile","position":[2220,700],"typeVersion":1},{"parameters":{"method":"POST","url":"https://api.upload-post.com/api/upload","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"title","value":"={{ $('Generate Description for Videos  in Tiktok and Instagram').item.json.message.content.replaceAll(\"\\\"\", \"\") }}"},{"name":"platform[]","value":"tiktok"},{"parameterType":"formBinaryData","name":"video","inputDataFieldName":"datavideo"},{"name":"user","value":"Add user generated in upload-post"}]},"options":{}},"id":"5d6e26ef-1bb4-43d6-a282-151c95856905","name":"Upload Video and Description to Tiktok","type":"n8n-nodes-base.httpRequest","position":[2480,340],"notesInFlow":true,"typeVersion":4.2,"credentials":{"httpHeaderAuth":{"id":"X3A0DqywbHLd3dYY","name":"Header Auth account"}},"notes":"Generate in upload-post.com the token and add to the credentials in the header-> Authorization: Apikey (token here)"},{"parameters":{"method":"POST","url":"https://api.upload-post.com/api/upload","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"title","value":"={{ $('Generate Description for Videos  in Tiktok and Instagram').item.json.message.content.replaceAll(\"\\\"\", \"\") }}"},{"name":"platform[]","value":"instagram"},{"parameterType":"formBinaryData","name":"video","inputDataFieldName":"datavideo"},{"name":"user","value":"Add user generated in upload-post"}]},"options":{}},"id":"ed785663-50e4-43cc-9dc0-a340d0360b38","name":"Upload Video and Description to Instagram","type":"n8n-nodes-base.httpRequest","position":[2500,700],"notesInFlow":true,"typeVersion":4.2,"notes":"Generate in upload-post.com the token and add to the credentials in the header-> Authorization: Apikey (token here)"}],"connections":{"If":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"Read video from Google Drive","type":"main","index":0}]]},"Error Trigger":{"main":[[{"node":"If","type":"main","index":0}]]},"Get Audio from Video":{"main":[[{"node":"Generate Description for Videos  in Tiktok and Instagram","type":"main","index":0}]]},"Google Drive Trigger":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Read Video from Google Drive":{"main":[[{"node":"Upload Video and Description to Tiktok","type":"main","index":0}]]},"Read video from Google Drive":{"main":[[{"node":"Get Audio from Video","type":"main","index":0}]]},"Read Video from Google Drive2":{"main":[[{"node":"Upload Video and Description to Instagram","type":"main","index":0}]]},"Generate Description for Videos  in Tiktok and Instagram":{"main":[[{"node":"Read Video from Google Drive","type":"main","index":0},{"node":"Read Video from Google Drive2","type":"main","index":0}]]}},"settings":{},"staticData":null,"meta":{"templateId":"2894"},"pinData":{},"versionId":"83dd1fca-58d1-4efe-b889-6572fdcc6f76","triggerCount":0,"tags":[]}