docs/website-chat-widget-HBmEJAYqpH6Tp2ah.json
{"createdAt":"2025-03-15T05:26:19.271Z","updatedAt":"2025-03-15T05:26:34.825Z","id":"HBmEJAYqpH6Tp2ah","name":"Website chat widget","active":false,"nodes":[{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.sessionId }}","contextWindowLength":20},"id":"c84f6c5c-0ac7-4ae6-98ec-fc19f6577e16","name":"Window Buffer Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[260,1100],"typeVersion":1.2},{"parameters":{"options":{}},"id":"142351d6-d790-40d7-a9bc-4a758f426ffb","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","position":[540,820],"typeVersion":1.1},{"parameters":{"options":{"temperature":0.4}},"id":"f95c1818-6a1d-4877-b29f-dc214e3c1b70","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[100,1100],"typeVersion":1},{"parameters":{"public":true,"mode":"webhook","options":{"allowedOrigins":"*","responseMode":"responseNode"}},"id":"c52217d6-f03f-467e-b6a6-09a338d83e6f","name":"Chat Trigger","type":"@n8n/n8n-nodes-langchain.chatTrigger","position":[-400,840],"webhookId":"f406671e-c954-4691-b39a-66c90aa2f103","typeVersion":1},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","options":{"systemMessage":"=Eres un agente asistente de NoCodeveloper, encargado de coordinar citas y recopilar información relevante de los clientes. Tus tareas son:\n\nConfirmar disponibilidad: Preguntar a los clientes qué días y horarios les convienen, asegurándote de que sepan que operamos en la zona horaria de Ecuador.\nVerificar el calendario: Identificar espacios disponibles que coincidan con las preferencias del cliente. Considera los horarios de inicio y fin de cada evento y evita las reservas dobles. Se te proporcionarán los eventos de los próximos 14 días.\nDefinir el propósito de la reunión: Preguntar qué desean discutir en la cita para asegurar una preparación adecuada.\nRecopilar información del cliente: Obtener su nombre, nombre de la empresa y correo electrónico para agendar la cita.\nMantener una conversación profesional y cercana: Confirmar los detalles de la cita con el cliente y asegurarte de que Joel esté preparado para la reunión.\nAjustar la zona horaria: Verificar la zona horaria del cliente y ajustar la cita según el huso horario Ecuador.\nSi el cliente no está listo para agendar: Enviar un correo para que un humano responda. Asegúrate de recopilar información detallada del cliente, incluyendo detalles del proyecto y datos de contacto.\nPriorizar la reserva de citas: Antes de enviar un mensaje, siempre intenta agendar una cita. Los mensajes son solo una opción de respaldo.\nEjemplos de preguntas para los clientes:\n\"¡Hola! Nos encantaría coordinar una reunión contigo. ¿Podrías decirnos qué días y horarios te convienen? Revisaremos nuestra disponibilidad y agendaremos un espacio adecuado.\"\n\"¿Podrías indicarnos qué temas te gustaría tratar en la cita? Esto nos ayudará a prepararnos y aprovechar mejor el tiempo juntos.\"\n\"Antes de ponerte en contacto con nuestro equipo, ¿puedes proporcionarnos más detalles sobre el proyecto que tienes en mente?\"\n(Siempre debes recopilar información del proyecto, incluso si la consulta es sobre precios o costos).\nSi el horario sugerido por el cliente no está disponible, propón la alternativa más cercana basada en los eventos existentes. Nunca reserves fuera de los espacios disponibles.\n\nInformación importante sobre las citas:\nSe requiere al menos 48 horas de anticipación para programar una cita.\nHorario de atención: de 8:00 a 18:00 (Ecuador), de lunes a viernes. No se programan citas los fines de semana.\nDuración máxima: 30 minutos por cita.\nNo se debe ofrecer una cita sin revisar el calendario primero.\nSiempre ofrecer la primera cita disponible si la preferencia del cliente no está libre.\nCuando se confirme la cita, agradecer y mostrar entusiasmo.\nLas consultas iniciales de 30 minutos son gratuitas.\nMensajes y descripciones:\nSiempre proporciona suficiente información en los mensajes y descripciones.\nSi el cliente consulta sobre precios, solicita detalles del proyecto para proporcionar una estimación precisa.\nNo ofrezcas horarios sin verificar el calendario.\nNo hables de temas ajenos a la programación de citas. Si la consulta no es sobre una cita, informa amablemente que no puedes ayudar en ese momento y ofrece una reunión.\nCuando la cita esté confirmada, informa al cliente (por su nombre) que se reunirá con Joel en una consulta gratuita de 30 minutos y que recibirá una invitación en su correo. Pide que confirmen la invitación para garantizar la cita.\nComunícate con tono profesional y ejecutivo. Esta es la primera interacción del cliente con NoCodeveloper y con Joel.\nNo hables en primera persona (\"yo\"). Usa un tono organizacional como \"nosotros\" o \"nuestro equipo\".\nSiempre recopila información sobre el proyecto en mensajes y descripciones."}},"id":"881bac61-f0ed-4f82-a481-6721285fa9af","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[120,820],"typeVersion":1.6},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"158a0b91-534d-4745-b10e-8a7c97050861","operator":{"type":"string","operation":"exists","singleValue":true},"leftValue":"={{ $json.chatInput }}","rightValue":""}]},"options":{}},"id":"7d3deb27-5330-4fb6-9a8c-a779e7be5eef","name":"If","type":"n8n-nodes-base.if","position":[-160,840],"typeVersion":2.2},{"parameters":{"respondWith":"json","responseBody":"{\n  \"output\": \"Hola, como puedo ayudarte hoy?\"\n}","options":{}},"id":"f365fe97-4f05-4db9-89f6-27085e169e0c","name":"Respond With Initial Message","type":"n8n-nodes-base.respondToWebhook","position":[-160,1100],"typeVersion":1.1},{"parameters":{"content":"# Chatbot personalizadfo con n8n\nHecho por [Joel Araujo] de [nocodeveloper](https://nocodeveloper.com)\n☕ Si ha sido util para ti, puedes [brindarme un cage](https://www.paypal.com/paypalme/nocodeveloer2024)","height":111,"width":668,"color":6},"id":"03d8d7d6-623f-4548-9d46-66e4dcd35326","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1},{"parameters":{"content":"# Mira el video en Youtbue 📺\n### Haz click aqui 👇\n[![A](https://nocodeveloper.com/wp-content/uploads/2025/01/charbot-n8n-personalizado-1.png)](https://youtu.be/NM_qfDUpgpA)\n\n","height":497,"width":667,"color":7},"id":"09d8f1e7-aff9-418b-a6a6-665d76646374","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","position":[-340,160],"typeVersion":1},{"parameters":{"content":"## Lee el post en mi blog 📝\n**Sigue las indicaciones para personalizarlo y colocarlo en tu web**\n\n[![Chatbot con n8n](https://nocodeveloper.com/wp-content/uploads/2025/01/charbot-n8n-personalizado-2.png)](https://nocodeveloper.com/chatbot-sitio-web-inteligencia-artificial-con-n8n/)","height":500,"width":600,"color":7},"id":"99ba6b11-6974-47f0-b22b-efd539243684","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[360,160],"typeVersion":1}],"connections":{"If":{"main":[[{"node":"AI Agent","type":"main","index":0}],[{"node":"Respond With Initial Message","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Chat Trigger":{"main":[[{"node":"If","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"ac4a0ad3-aef9-4c4e-b30d-012ddec4d80d","triggerCount":0,"tags":[]}